[2017-05-19 10:24] rultor commented on #1147
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2017-05-19 10:35] rultor commented on #1147
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11714-302663758) (spent 13min)

[code]

[2017-05-19 10:49] yegor256 commented on #1147
@rultor release, tag is `1.64.1`

[2017-05-19 10:51] rultor commented on #1147
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11714-302671896)

[2017-05-19 11:47] rultor commented on #1147
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11714-302671896) (took me 56min)

[2017-05-19 11:52] yegor256 commented on #1147
@g4s8

[2017-05-19 11:52] 0crat commented on #1147
@yegor256 please, pay attention to this issue

[2017-05-20 00:53] jayvdb opened #1177 "gpgconf: command not found"
On https://github.com/coala/coala-bears/pull/1743 , we are seeing `gpgconf: command not found` appear twice when rultor is asked to merge the PR.

[2017-05-20 00:53] 0crat commented on #1177
@yegor256 please, pay attention to this issue

[2017-05-22 09:55] jayvdb commented on #1136
fwiw, here are some other tools which could be used

- https://github.com/chrisledet/rebasebot
- https://github.com/nicolai86/github-rebase-bot
- https://github.com/salemove/github-review-helper (fixes GitHub rebases)
- https://github.com/wojtekmach/mr-rebase (experimental)
- https://github.com/greenkeeper-keeper/hapi-greenkeeper-keeper (squashing)

[2017-05-22 10:00] jayvdb opened #1178 "Failing CI on GitHub commits for over a year"
https://github.com/yegor256/rultor/commits/master every commit is red.  No green ticks.
This is **very** bad software engineering practise, as it makes it very unlikely that new failures will be noticed.

If there are tests which are reliably failing on a specific environment, issues should be raised about the problem, and the skip tested on that environment.

[2017-05-22 10:00] 0crat commented on #1178
@yegor256 please, pay attention to this issue

[2017-05-22 21:24] jayvdb commented on #1177
The relevant code is:

[code]

[2017-05-22 21:34] jayvdb commented on #1177
`gpgconf` is in the latest docker image:
[code]

[2017-05-22 22:19] jayvdb opened #1179 "Test coverage should be tracked to reach 80%"
`est/001.est` mentions `8: Achieve 80% test coverage`, but there is no recording of the current test coverage, and no obvious plan to reach that goal.

I recommend using https://codecov.io , configured to fail PRs which reduce the test coverage by more than 1%

[2017-05-22 22:19] 0crat commented on #1179
@yegor256 please, pay attention to this issue

[2017-05-22 22:39] jayvdb commented on #1179
According to cobertura, test line coverage is 59%, but branch coverage is only 18%.

`com.rultor.agents.req` is highest, with 49% branch coverage.

[2017-05-22 22:44] jayvdb commented on #1177
fwiw, after a little digging for https://github.com/yegor256/rultor/issues/1179, I can confirm that `Decrypt.commands()` has good coverage, but that doesnt mean that the commands are actually executed on the host.

[2017-05-23 06:29] yegor256 commented on #1178
@jayvdb indeed, this is not good. We will try to fix that ASAP. Thanks.

[2017-05-23 06:43] yegor256 commented on #1177
@jayvdb this is definitely a bug on the server, which hosts Docker. Give me a few minutes...

[2017-05-23 06:56] yegor256 commented on #1177
@jayvdb I can't understand what needs to be done in order to install `gpgconf` on Ubuntu 16.04. Googling now... Maybe you know?

[2017-05-23 06:58] yegor256 commented on #1177
@jayvdb I belive it's fixed now, after I installed `gnupg2` on all servers. Please check.

[2017-05-23 09:18] jayvdb opened #1180 "bc: command not found"
After working around the problems of https://github.com/yegor256/rultor/issues/1177 , [the log](http://www.rultor.com/t/11716-303335831) includes

[code]

[2017-05-23 09:18] 0crat commented on #1180
@yegor256 please, pay attention to this issue

[2017-05-23 09:30] jayvdb commented on #1177
OK, rultor is now merging for us.

But I feel that the problem is not really solved with 6afc944fe70.
It is a bit of a shock that rultor itself is not running inside a container of some sort.
And somehow a recent deployment of rultor didnt include running acceptance tests.

This hit has rather hard, as the breakage occurred during a release, and while a PyCon sprint was occurring.  Three days with

[2017-05-23 09:45] Hrabovszki1023 commented on #1177
THX @yegor256!

I am Using - image: "yegor256/java-maven" and had the same problem. (-> FROM rultor).
Now it works again.

Zoltán

[2017-05-23 16:09] yegor256 commented on #1177
@jayvdb you're asking very good questions. Can we please close this issue as fixed and create a new one (or a few), where those problems will be discussed and solved. We definitely need proper solutions for them, in order to avoid those situations in the future.

[2017-05-23 16:11] yegor256 commented on #1180
@jayvdb thanks for reporting, I believe it's fixed. Please check.

[2017-05-23 16:23] jayvdb opened #1181 "Verify rultor works on the host environment"
As https://github.com/yegor256/rultor/issues/1177 and https://github.com/yegor256/rultor/issues/1180 show, server upgrades are not reliable, and dont fail explicitly reverting back to a known good state.

Some ideas on how to improve the situation were floated at https://github.com/yegor256/rultor/issues/1177#issuecomment-303343638 , specifically

- containerising rultor itself with tests run in t

[2017-05-23 16:23] 0crat commented on #1181
@yegor256 please, pay attention to this issue

[2017-05-23 16:23] #1177 closed

[2017-05-23 16:23] 0crat commented on #1177
Oops! Job `gh:yegor256/rultor#1177` was not in scope

[2017-05-23 18:54] #1180 closed

[2017-05-23 18:54] 0crat commented on #1180
Oops! Job `gh:yegor256/rultor#1180` was not in scope

[2017-05-26 06:36] jayvdb opened #1182 "rultor tries to merge closed PR"
I left a comment on https://github.com/coala/coala-bears/pull/166 now, a year after it was closed , and rultor replies to an old comment from over a year ago.

[2017-05-26 06:36] 0crat commented on #1182
@yegor256 please, pay attention to this issue

[2017-05-29 09:58] Slach opened #1183 "how to redefine entrypoint for my own docker container in .rultor.yml ?"
i try following in my .rultor.yml
[code]
can i configure rultor to use different entrypoint for my owned docker container not main/entry.sh ?

[2017-05-29 09:58] 0crat commented on #1183
@yegor256 please, pay attention to this issue

[2017-05-29 21:06] yegor256 commented on #1183
@Slach I don't think it's possible. This `entry.sh` has all the code we need to run inside the container. You have to put your code into the `.rultor.yml` and it will be executed inside your container. Put it into `install` section and everything will work. Or you need something very special? What is the use case?

[2017-05-29 21:06] yegor256 commented on #1182
@jayvdb you think it should not reply if the ticket/PR is too old? :) Why so?

[2017-05-30 00:52] jayvdb commented on #1182
@yegor256 , please look at coala/coala-bears#166 before asking silly questions.

[2017-05-31 07:42] Slach commented on #1183
ok. i try explain what i need
i need use rultor with my public docker container based on golang:alpine image (withour maven and php)

@yegor256 could you explain this document?
http://doc.rultor.com/docker.html
when i run
[code]
i just run bash inside created docker container with rultor image
i don't have my source inside container
and not see /home/r folder inside container

how i can reproduce

[2017-06-01 10:56] extsoft commented on #1171
@yegor256 this is not relevant anymore.

[2017-06-01 10:56] #1171 closed

[2017-06-01 10:56] 0crat commented on #1171
Oops! Job `gh:yegor256/rultor#1171` was not in scope

[2017-06-02 09:36] yegor256 commented on #1182
@jayvdb this most probably happened because that comment was missed. This may happen sometimes since GitHub API is not really 100% stable. Sometimes it fails and we're not getting notifications about some messages. It's not possible to fix this anyhow, I believe. It may just happen sometimes. I'm very sorry for asking that silly question, my bad!

[2017-06-02 14:20] Slach opened #1184 "Why rultor use .rultor.yml from base branch and not use it from branch inside pull request"
see https://github.com/Slach/test_tasks/pull/5#issuecomment-305800306
i added sudo to my rultor.yml
but when rulton run install
he used old instruction without sudo
why?

[2017-06-02 14:20] 0crat commented on #1184
@yegor256 please, pay attention to this issue

[2017-06-02 16:40] driver733 commented on #1184
@Slach rultor uses `.rultor.yml` only from master branch, so in order to get rultor to behave differently you have to manually commit and push a new (corrected) version of `.rultor.yml` file to the master branch.

[2017-06-09 06:06] yegor256 commented on #1184
@Slach this is how it was before, but we reverted it all back in https://github.com/yegor256/rultor/issues/1039 For security reasons.

[2017-06-09 06:21] 0crat commented on #1184
@yegor256 please, pay attention to this issue

[2017-06-09 06:29] yegor256 commented on #1184
@Slach this code doesn't do anything, but it should actually fetch and merge: https://github.com/yegor256/rultor/blob/1.64.1/src/main/java/com/rultor/profiles/Profiles.java#L96-L99

[2017-06-09 06:47] yegor256 commented on #1183
@Slach when Rultor starts a new Docker container it does it [like this](http://www.rultor.com/t/11921-307089834):

[code]

Pay attention, that `/main` directory doesn't exist in the container. It is mounted to it. In other words, it stays on our server, _outside_ of the container. The container just mounts it to itself. The source code is in this directory.

Also, pay attention to the `-w=/main` f

[2017-06-09 10:41] Slach commented on #1183
thanks a lot for your feedback,
i figured out how to it works, i had just don't know what version
i add install section to my

how i can make pull request to add your reply for my ticket to improve documentation here
http://doc.rultor.com/docker.html ?

[2017-06-18 12:28] driver733 opened #1185 ""Could not find goal 'install-origin'""
Rultor started to fail all of a sudden.
`Could not find goal 'install-origin' in plugin org.apache.maven.plugins:maven-install-plugin:2.5.2 among available goals install, help, install-file -> 1m[Help 1]m`

[Full log](http://www.rultor.com/t/12012-309273523)

Everything was working fine [before](http://www.rultor.com/t/11958-308211089) (when the Maven command was`install-file`)

p.s. I am using de

[2017-06-18 12:28] 0crat commented on #1185
@yegor256 please, pay attention to this issue

[2017-06-18 12:36] driver733 commented on #1185
Nevermind.
The error was in my config file

[2017-06-18 12:36] #1185 closed

[2017-06-18 12:36] 0crat commented on #1185
Oops! Job `gh:yegor256/rultor#1185` was not in scope

[2017-06-25 14:09] smallcreep opened #1187 "Add Git Lfs Support"
Add [Git Lfs](https://git-lfs.github.com/) Support

[2017-06-25 14:09] 0crat commented on #1187
@yegor256 please, pay attention to this issue

[2017-06-28 12:43] fabriciofx opened #1190 "Branch name problems (invalid)"
looks like Rultor is having problems because of the name of your branch: #251. The PR that has caused this problem can see [here](https://github.com/yegor256/cactoos/pull/252).

[2017-06-28 12:43] 0crat commented on #1190
@yegor256 please, pay attention to this issue

[2017-06-28 20:29] driver733 opened #1191 "Rultor fails when newline char is used in a command"
When the newline character is used in any of the script commands Rultor fails with an error:
`... is not a valid repository/tag: invalid reference format.`
[Rultor build log](http://www.rultor.com/t/12177-311771053)

[2017-06-28 21:24] driver733 opened #1192 "Cache folders/files (m2, etc.) (similar to TravisCI)"
I would like to suggest a feature that would allow to cache the specified folders and/or files. (similar to what TravisCI allows to do). This feature is very convenient since it allows to cache m2 folder and, as a result, dramatically decrease the build time. In addition to that it frees up a lot of space in the build log.

As an example, by cacheing the m2 folder in dropbox for one of my pet proj

[2017-06-29 07:48] yegor256 commented on #1145
@ashwini0529 you can see how I deploy my Jekyll site without Rultor to GItHub Pages: http://www.yegor256.com/2014/06/24/jekyll-github-deploy.html

[2017-07-03 11:06] tannakartikey opened #1193 "Rultor fails to create script.sh with particular character in script"
I have used the command `Xvfb :99 &` in my `.rultor.yml` to send the process in the background.
This is the error I am getting because of it:
 ```/home/r/script.sh: line 9: syntax error near unexpected token `;'```
Build log: http://www.rultor.com/t/12220-312615627

Rultor converts the command to `Xvfb :99 &amp;` while parsing YAML to XML which should be the reason of the failure.

[2017-07-03 11:06] 0crat commented on #1193
@yegor256 please, pay attention to this issue

[2017-07-03 14:31] tannakartikey commented on #1193
@yegor256  I have identified the problem.The command `Xvfb :99 &` was causing the failure.

[2017-07-03 14:46] yegor256 commented on #1193
@tannakartikey yes, please, change the title and the description

[2017-07-04 03:06] tannakartikey opened #1195 "Added Postgres to the Dockerfile"
For the application which requires a database to run tests, it would be great if the Postgresql is added to the default container.

[2017-07-04 03:06] 0crat commented on #1195
@yegor256 please, pay attention to this issue

[2017-07-10 18:30] yegor256 commented on #1195
@tannakartikey feel free to submit a pull request

[2017-07-10 18:32] tannakartikey commented on #1195
It's sent. Pls find it at https://github.com/yegor256/rultor/pull/1196

On 11-Jul-2017 12:00 AM, "Yegor Bugayenko" <notifications@github.com> wrote:

@tannakartikey <https://github.com/tannakartikey> feel free to submit a
pull request

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/yegor256/rultor/issues/1195#issuecomment-3

[2017-07-11 12:30] tannakartikey opened #1197 "Build number generation should be explained in the doc"
@yegor256 here, https://github.com/yegor256/rultor/issues/896#issuecomment-122089899, you have explained how the build number is generated.

The information is not covered in the doc. I think it should be covered in http://doc.rultor.com/basics.html so that document readers can understand how Rultor works.

[2017-07-11 12:30] 0crat commented on #1197
@yegor256 please, pay attention to this issue

[2017-07-11 12:39] tannakartikey opened #1198 "Build log should point to the comment which gave command"
In each build log, the first line states from where the build was triggered
e.g. This build log was produced by [rultor.com](http://doc.rultor.com) for tannakartikey/currents#13

The URL should point to the talk on the Issue/PR page.
As Rultor might have been given commands multiple times from the same Issue/PR.

The build log URL includes the talk number, but tracking which talk is responsible fo

[2017-07-11 12:39] 0crat commented on #1198
@yegor256 please, pay attention to this issue

[2017-07-18 09:29] yegor256 commented on #1198
@tannakartikey this totally makes sense. Would you be interested in contributing with a pull request?

[2017-07-18 09:30] yegor256 commented on #1146
@pa9ey sounds like an interesting idea, let's keep thinking about it.

[2017-07-18 09:30] tannakartikey commented on #1198
Yes, I am. But this will be my first time with Java. So might take a while.

On 18-Jul-2017 2:59 PM, "Yegor Bugayenko" <notifications@github.com> wrote:

@tannakartikey <https://github.com/tannakartikey> this totally makes sense.
Would you be interested in contributing with a pull request?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https

[2017-07-18 09:44] yegor256 commented on #1197
@tannakartikey definitely! Would be great if you can contribute with a PR!

[2017-07-18 17:43] adtac commented on #1151
@yegor256 any updates?

[2017-07-20 08:30] yegor256 commented on #1151
@adtac fixed in b3e58634d Let me try to release it

[2017-07-20 08:31] yegor256 commented on #1151
@adtac documented in 4c1e0948c

[2017-07-20 08:34] yegor256 commented on #1151
@rultor release, tag is `1.65`

[2017-07-20 08:40] rultor commented on #1151
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12418-316635715)

[2017-07-20 08:43] yegor256 commented on #1151
@rultor status

[2017-07-20 08:43] rultor commented on #1151
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12418-316635715)

[2017-07-20 08:44] rultor commented on #1151
@yegor256 This is what's going on here:

 * no new requests registered
 * build is not running

More information about Rultor commands you can get [here](http://doc.rultor.com/commands.html).

[2017-07-20 08:49] yegor256 commented on #1151
@rultor release, tag is `1.65`

[2017-07-20 08:50] rultor commented on #1151
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12418-316639402)

[2017-07-20 08:56] yegor256 commented on #1151
@rultor stop

[2017-07-20 08:59] rultor commented on #1151
@yegor256 OK, I'll try to stop current task.

[2017-07-20 08:59] rultor commented on #1151
@adtac @yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12418-316641283) (spent 9min)

[code]

[2017-07-20 09:00] yegor256 commented on #1151
@rultor release, tag is `1.65`

[2017-07-20 09:02] rultor commented on #1151
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12418-316642194)

[2017-07-20 09:19] rultor commented on #1151
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12418-316642194) (took me 16min)

[2017-07-20 09:20] yegor256 commented on #1151
@adtac seems to be working, try it out

[2017-07-20 09:59] yegor256 opened #1199 "replace Guava with Cactoos"
Let's get rid of Guava entirely and migrate to Cactoos: www.cactoos.org

[2017-07-20 10:09] yegor256 opened #1200 "sentry"
Let's add sentry.io for error tracking.

[2017-07-20 10:10] yegor256 commented on #1200
@0crat assign me

[2017-07-20 10:10] yegor256 commented on #1200
@rultor release, tag is `1.66`

[2017-07-20 10:10] 0crat commented on #1200
@yegor256 Job `gh:yegor256/rultor#1200` assigned to @yegor256, please go ahead.

[2017-07-20 10:11] rultor commented on #1200
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12421-316659634)

[2017-07-20 10:29] rultor commented on #1200
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12421-316659634) (took me 17min)

[2017-07-20 10:30] #1200 closed

[2017-07-20 10:30] 0crat commented on #1200
Job `gh:yegor256/rultor#1200` is out of scope.

[2017-07-20 10:30] 0crat commented on #1200
+30 points just awarded to @yegor256, total is +180

[2017-07-20 10:48] yegor256 opened #1201 "remove HN updater"
It's doesn't work anyway, let's remove it

[2017-07-20 10:52] yegor256 commented on #1201
@rultor release, tag is `1.66.1`

[2017-07-20 10:53] rultor commented on #1201
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12423-316668257)

[2017-07-20 11:09] rultor commented on #1201
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12423-316668257) (took me 16min)

[2017-07-20 11:10] #1201 closed

[2017-07-20 11:10] 0crat commented on #1201
Oops! Job `gh:yegor256/rultor#1201` was not in scope

[2017-07-26 19:27] g4s8 opened #1202 "HTTPS is not supported"
Build logs may contain confidential information.
It's not secure to send them in plain text via internet, it would be better to use https.

BTW you can get free certificate here: https://letsencrypt.org/

[2017-07-26 19:27] 0crat commented on #1202
@yegor256 please, pay attention to this issue

[2017-07-26 19:29] g4s8 commented on #1202
@0crat hello

[2017-07-26 19:29] 0crat commented on #1202
@g4s8 Hey, what's up, how is it going?

[2017-07-27 08:17] yegor256 commented on #1202
@g4s8 it's $20/mo at Heroku. Definitely worth it, but a bit later. Thanks.

[2017-07-27 08:17] yegor256 commented on #1202
@0crat in

[2017-07-27 08:17] 0crat commented on #1202
@yegor256 Job `gh:yegor256/rultor#1202` is in scope.

[2017-07-27 08:18] yegor256 commented on #1202
@0crat assign me

[2017-07-27 08:18] 0crat commented on #1202
+15 points just awarded to @g4s8, total is [+165](http://www.0crat.com/u/g4s8).

[2017-07-27 08:18] 0crat commented on #1202
@yegor256 Job `gh:yegor256/rultor#1202` assigned to @yegor256, please go ahead.

[2017-07-28 14:18] adtac commented on #1151
@yegor256 I can confirm this works pretty nicely :)

Closing this issue.

[2017-07-28 14:18] #1151 closed

[2017-07-28 14:18] 0crat commented on #1151
Oops! Job `gh:yegor256/rultor#1151` was not in scope

[2017-07-28 16:04] yegor256 opened #1203 "Illegal character at TkAuth"
[code]

[2017-07-28 16:18] yegor256 commented on #1151
@adtac thanks :)

[2017-08-17 15:52] adtac opened #1205 "rultor is replying to an irrelevant user"
https://github.com/coala/coala/pull/4637

rultor is replying to an user called `@jeff` - he is not a part of our org and he certainly didn't call a `@rultor merge`. User `@gureks` called rultor but then deleted his comment.

[2017-08-17 15:52] 0crat commented on #1205
@yegor256 please, pay attention to this issue

[2017-08-17 17:21] 0crat commented on #1205
Job `gh:yegor256/rultor#1205` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-17 17:21] yegor256 commented on #1205
@rultor release, tag is `1.66.2`

[2017-08-17 17:22] rultor commented on #1205
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12715-323138542)

[2017-08-17 17:40] rultor commented on #1205
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12715-323138542) (took me 17min)

[2017-08-17 17:41] yegor256 commented on #1205
@adtac thanks for reporting that, definitely a bug on our side. It's fixed in e7bb099 Please close the ticket if it's OK.

[2017-08-21 13:25] yegor256 opened #1206 "Problems parsing JSON"
[code]

[2017-08-21 14:28] yegor256 commented on #1206
temporary bug in GitHub

[2017-08-21 14:28] #1206 closed

[2017-08-21 14:28] 0crat commented on #1206
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-22 08:25] filfreire commented on #1199
I volunteer to work on this 👍

[2017-08-22 08:29] filfreire opened #1207 "remove dependency on Apache commons-io"
Remove Apache commons-io dependency and replace it with Cactoos or Jcabi equivalents.

[2017-08-22 08:29] 0crat commented on #1207
@yegor256 please, pay attention to this issue

[2017-08-22 08:36] filfreire commented on #1207
I volunteer to work on this 👍

[2017-08-22 08:54] yegor256 commented on #1207
@0crat assign @filfreire

[2017-08-22 08:54] 0crat commented on #1207
@yegor256 Job `gh:yegor256/rultor#1207` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @filfreire is not a member of this project yet, but can request to join. @filfreire check your [Zerocracy profile](http://www.0crat.com/u/filfreire) and follow the instructions.

[2017-08-24 07:40] yegor256 opened #1209 "ConcurrentModificationException in TkTicks"
[code]

[2017-08-24 07:40] yegor256 commented on #1209
@0crat assign @filfreire

[2017-08-24 07:40] 0crat commented on #1209
@yegor256 Job `gh:yegor256/rultor#1209` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @filfreire is not a member of this project yet, but can request to join. @filfreire check your [Zerocracy profile](http://www.0crat.com/u/filfreire) and follow the instructions.

[2017-08-24 07:41] 0crat commented on #1209
+15 points just awarded to @yegor256, total is [+2280](http://www.0crat.com/u/yegor256).

[2017-08-24 15:49] filfreire opened #1211 "Fix StartsRequestITCase"
Fix test: `StartsRequestITCase.composesCorrectDeployRequest:126 » NodeNotFound XPath 'aut...`

More information:
[code]

[2017-08-24 15:49] 0crat commented on #1211
@yegor256 please, pay attention to this issue

[2017-08-24 15:51] filfreire commented on #1209
Working on this issue in https://github.com/yegor256/rultor/pull/1210

[2017-08-24 17:09] yegor256 commented on #1211
@0crat assign @filfreire

[2017-08-24 17:10] 0crat commented on #1211
@yegor256 Job `gh:yegor256/rultor#1211` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @filfreire is not a member of this project yet, but can request to join. @filfreire check your [Zerocracy profile](http://www.0crat.com/u/filfreire) and follow the instructions.

[2017-08-30 07:50] filfreire commented on #1211
Closed related PR https://github.com/yegor256/rultor/pull/1212

[2017-08-30 07:50] #1211 closed

[2017-08-30 07:51] 0crat commented on #1211
Job `gh:yegor256/rultor#1211` is now out of scope.

[2017-08-30 07:51] 0crat commented on #1211
+30 points just awarded to @filfreire, total is [+30](http://www.0crat.com/u/filfreire).

[2017-09-08 16:56] filfreire commented on #1209
Solved in PR https://github.com/yegor256/rultor/pull/1210

[2017-09-08 16:57] filfreire commented on #1209
@yegor256 I believe we can close this issue.

[2017-09-11 13:46] yegor256 commented on #1209
@filfreire thanks!

[2017-09-11 13:46] #1209 closed

[2017-09-11 13:46] 0crat commented on #1209
Job `gh:yegor256/rultor#1209` is now out of scope.

[2017-09-11 13:47] 0crat commented on #1209
+30 points just awarded to @filfreire, total is [+60](http://www.0crat.com/u/filfreire).

[2017-09-12 09:58] yegor256 opened #1214 "organization requires all members to have two-factor authentication"
[code]

[2017-09-12 11:32] yegor256 commented on #1214
@rultor release, tag is `1.66.3`

[2017-09-12 11:54] rultor commented on #1214
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12963-328825313)

[2017-09-12 12:52] rultor commented on #1214
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12963-328825313) (took me 57min)

[2017-09-12 18:18] #1214 closed

[2017-09-12 18:19] 0crat commented on #1214
Oops! Job `gh:yegor256/rultor#1214` was not in scope

[2017-10-01 19:30] filfreire commented on #1199
@yegor256 assign me this issue

[2017-10-03 15:41] yegor256 commented on #1199
@0crat assign @filfreire

[2017-10-03 15:41] 0crat commented on #1199
@yegor256 Job `gh:yegor256/rultor#1199` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @filfreire is not a member of this project yet, but can request to join. @filfreire check your [Zerocracy profile](http://www.0crat.com/u/filfreire) and follow the instructions.

[2017-10-03 15:41] 0crat commented on #1199
+15 points just awarded to @yegor256, total is [+3645](http://www.0crat.com/u/yegor256).

[2017-10-03 16:00] filfreire opened #1215 "Link Rultor to GitCop"
Link rultor to https://gitcop.com/

[2017-10-03 16:00] 0crat commented on #1215
@yegor256 please, pay attention to this issue

[2017-10-03 16:00] filfreire commented on #1215
@yegor256 follow-up

[2017-10-03 18:23] yegor256 commented on #1215
@filfreire I tried, but their configuration options look very strange. I can't really put a regex there. Try it yourself.

[2017-10-08 19:41] filfreire opened #1216 "Add CONTRIBUTING.md file"
Tasks:
- Follow Github guideline https://github.com/blog/1184-contributing-guidelines of having a separate contributing file
- Replace "How to contribute" section's content with a link to CONTRIBUTING.md

[2017-10-08 19:41] 0crat commented on #1216
@yegor256 please, pay attention to this issue

[2017-10-08 19:56] filfreire commented on #1215
@yegor256 closing this issue, given the problems we had using GitCop as reported in https://github.com/yegor256/tacit/issues/84

[2017-10-08 19:56] #1215 closed

[2017-10-08 19:56] 0crat commented on #1215
Oops! Job `gh:yegor256/rultor#1215` was not in scope

[2017-10-09 11:53] yegor256 commented on #1216
@0crat assign @filfreire

[2017-10-09 11:54] 0crat commented on #1216
@yegor256 Job `gh:yegor256/rultor#1216` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-09 11:55] 0crat commented on #1216
Bug was reported: +15 points just awarded to @filfreire, total is [+150](http://www.0crat.com/u/filfreire).

[2017-10-09 18:20] filfreire commented on #1216
@yegor256 PR https://github.com/yegor256/rultor/pull/1217 closes this issue

[2017-10-09 18:20] #1216 closed

[2017-10-09 18:22] filfreire commented on #1199
@yegor256 this issue is not forgotten on my side, I'm working on it in
https://github.com/filfreire/rultor/tree/1199dev

[2017-10-09 18:33] 0crat commented on #1216
Job `gh:yegor256/rultor#1216` is now out of scope.

[2017-10-09 18:47] yegor256 commented on #1216
@filfreire thanks!

[2017-10-09 18:47] yegor256 commented on #1199
@filfreire thanks!

[2017-10-13 08:40] filfreire opened #1218 "Add label hacktoberfest to some issues"
@yegor256 I suggest you pick a few issues from backlog (https://github.com/yegor256/rultor/issues) that have not been assigned to anyone to be solved in the context of https://hacktoberfest.digitalocean.com/

[2017-10-13 08:40] 0crat commented on #1218
@yegor256 please, pay attention to this issue

[2017-10-13 13:58] yegor256 commented on #1218
@filfreire good idea, thanks, let me label a few tickets now

[2017-10-13 14:03] #1205 closed

[2017-10-13 14:03] 0crat commented on #1205
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:03] 0crat commented on #1203
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:04] 0crat commented on #1203
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:05] 0crat commented on #1203
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:05] 0crat commented on #1203
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-23 08:17] devbridie opened #1219 "Researching Build Breakage"
Dear developers of the rultor project,

We are MSc students from the Delft University of Technology doing research on why builds break in open source projects. To do this, we are analyzing Travis build statistics and build history of rultor.

By analyzing the build history of rultor, we found the following:
* The project has 27% failing builds in the history
* The project has a average amount of b

[2017-10-23 08:17] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-23 09:17] filfreire commented on #1219
@yegor256 please pay attention to this issue.

0crat is throwing this error
[code]

[2017-10-23 09:18] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-23 09:45] filfreire commented on #1218
@yegor256 closing this issue

[2017-10-23 09:45] #1218 closed

[2017-10-23 09:45] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-23 10:19] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-23 10:46] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-23 11:19] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. 1.0-SNAPSHOT 85e7bf1 2017-10-23T11:13:49

[2017-10-23 11:47] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. 1.0-SNAPSHOT 85e7bf1 2017-10-23T11:13:49

[2017-10-23 12:20] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. 1.0-SNAPSHOT 85e7bf1 2017-10-23T11:13:49

[2017-10-23 12:47] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 13:21] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 13:48] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 14:22] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 14:49] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 15:22] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 15:50] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 16:23] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 16:51] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 17:25] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 17:52] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 18:26] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 18:52] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 19:27] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 19:53] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 20:28] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 20:55] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 21:29] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 21:56] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 22:30] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 23:31] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-23 23:58] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-24 00:32] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-24 00:59] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-24 01:33] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-24 02:00] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-24 02:34] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-24 03:01] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-24 03:35] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-24 04:02] 0crat commented on #1218
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-24 04:36] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

 My version: `%s`, `%s`, `%s`. Cc @yegor256 1.0-SNAPSHOT 39785cc 2017-10-23T12:21:13

[2017-10-24 05:37] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

My version: `1.0-SNAPSHOT`, `9fb2741`, `2017-10-24T04:52:27` /cc @yegor256

[2017-10-24 06:37] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

My version: `1.0-SNAPSHOT`, `9fb2741`, `2017-10-24T04:52:27` /cc @yegor256

[2017-10-24 07:38] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

My version: `1.0-SNAPSHOT`, `9fb2741`, `2017-10-24T04:52:27` /cc @yegor256

[2017-10-24 08:38] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

My version: `1.0-SNAPSHOT`, `9fb2741`, `2017-10-24T04:52:27` /cc @yegor256

[2017-10-24 09:39] 0crat commented on #1219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

My version: `1.0-SNAPSHOT`, `9fb2741`, `2017-10-24T04:52:27` /cc @yegor256

[2017-10-31 14:28] jloisel opened #1220 "GPG Issue"
See: https://github.com/jloisel/elastic-crud/issues/10

It was working fine back in february this year. No configuration has been changed:

gpg: starting migration from earlier GnuPG versions
gpg: porting secret keys from '/home/r/secring.gpg' to gpg-agent
gpg: key 46A2D06531F96DB0: secret key imported
gpg: migration succeeded
gpg: signing failed: Inappropriate ioctl for device
gpg: signing failed

[2017-11-01 08:50] yegor256 commented on #1220
@jloisel this could be just a temporary network issue. Just try again please.

[2017-11-01 08:52] 0crat commented on #1203
Job `gh:yegor256/rultor#1203` is in scope.

[2017-11-01 08:52] 0crat commented on #1203
Bug was reported: +15 points just awarded to @yegor256, total is [+4805](http://www.0crat.com/u/yegor256).

[2017-11-01 08:52] 0crat commented on #1197
Job `gh:yegor256/rultor#1197` is in scope.

[2017-11-01 08:53] 0crat commented on #1193
Job `gh:yegor256/rultor#1193` is in scope.

[2017-11-01 08:53] yegor256 commented on #1192
@driver733 in order to do that, you just have to create your own Docker image and configure it in `.rultor.yml`. This image will contain everything you need to "cache".

[2017-11-01 08:54] 0crat commented on #1191
Job `gh:yegor256/rultor#1191` is in scope.

[2017-11-01 08:54] 0crat commented on #1190
Job `gh:yegor256/rultor#1190` is in scope.

[2017-11-01 08:56] 0crat commented on #1179
Job `gh:yegor256/rultor#1179` is in scope.

[2017-11-01 08:56] yegor256 commented on #1179
Let's use jacoco instead of cobertura, see how it's done here, for example: https://github.com/yegor256/jpeek/blob/0.8/pom.xml#L214-L282

[2017-11-01 08:57] 0crat commented on #1164
Job `gh:yegor256/rultor#1164` is in scope.

[2017-11-01 08:58] yegor256 commented on #1147
@g4s8 this issue is gone

[2017-11-01 08:58] #1147 closed

[2017-11-01 08:58] #1118 closed

[2017-11-01 08:58] 0crat commented on #1147
Oops! There is no order for job `gh:yegor256/rultor#1147`.

[2017-11-01 08:58] 0crat commented on #1147
Oops! Job `gh:yegor256/rultor#1147` is not in scope.

[2017-11-01 08:59] 0crat commented on #1118
Oops! There is no order for job `gh:yegor256/rultor#1118`.

[2017-11-01 08:59] 0crat commented on #1118
Oops! Job `gh:yegor256/rultor#1118` is not in scope.

[2017-11-01 08:59] yegor256 commented on #1145
@ashwini0529 is this still an issue? If not, please close this ticket.

[2017-11-01 09:01] yegor256 commented on #1149
@trajano the idea of `release` command is to give you an isolated branch and then turn everything you create there into a Git "tag". If you don't want that, use `deploy`. It accepts (must accept) parameters without any issues. If it doesn't, please create a new ticket.

[2017-11-01 09:01] #1149 closed

[2017-11-01 09:01] 0crat commented on #1149
Oops! There is no order for job `gh:yegor256/rultor#1149`.

[2017-11-01 09:01] 0crat commented on #1149
Oops! Job `gh:yegor256/rultor#1149` is not in scope.

[2017-11-01 09:02] yegor256 commented on #1150
@trajano is this still an issue? If not, please close this ticket. Otherwise, let's continue the discussion, but please start your messages with my name, so I don't lose them.

[2017-11-01 09:04] 0crat commented on #1121
Job `gh:yegor256/rultor#1121` is in scope.

[2017-11-01 09:04] yegor256 commented on #1113
@amihaiemil is this still an issue? If not, please close this ticket.

[2017-11-01 09:04] yegor256 commented on #1120
@codejanovic is this still an issue? If not, please close this ticket.

[2017-11-01 09:07] amihaiemil commented on #1113
@yegor256 It was just a refactoring idea, which you guys didn't like :(
Closing :D

[2017-11-01 09:07] #1113 closed

[2017-11-01 09:08] 0crat commented on #1113
Oops! There is no order for job `gh:yegor256/rultor#1113`.

[2017-11-01 09:08] 0crat commented on #1113
Oops! Job `gh:yegor256/rultor#1113` is not in scope.

[2017-11-01 11:09] trajano commented on #1150
Closing since I stopped using rultor already.

[2017-11-01 11:09] #1150 closed

[2017-11-01 11:10] 0crat commented on #1150
Oops! There is no order for job `gh:yegor256/rultor#1150`.

[2017-11-01 11:10] 0crat commented on #1150
Oops! Job `gh:yegor256/rultor#1150` is not in scope.

[2017-11-02 09:21] jloisel commented on #1220
I've managed to release it by myself, i'll try the next time I need to release it. Thanks for your time.

[2017-11-02 09:21] #1220 closed

[2017-11-02 09:22] 0crat commented on #1220
Oops! There is no order for job `gh:yegor256/rultor#1220`.

[2017-11-02 09:22] 0crat commented on #1220
Oops! Job `gh:yegor256/rultor#1220` is not in scope.

[2017-11-14 14:35] 0crat commented on #1202
@yegor256 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:36] 0crat commented on #1207
@filfreire this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:36] 0crat commented on #1199
@filfreire this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:38] 0crat commented on #1202
@yegor256 resigned from `gh:yegor256/rultor#1202`, please stop working.

[2017-11-14 14:38] 0crat commented on #1207
@filfreire resigned from `gh:yegor256/rultor#1207`, please stop working.

[2017-11-14 14:38] 0crat commented on #1199
@filfreire resigned from `gh:yegor256/rultor#1199`, please stop working.

[2017-11-14 14:38] 0crat commented on #1202
Oops! Job `gh:yegor256/rultor#1202` is not assigned to anyone.

[2017-11-14 14:38] 0crat commented on #1207
Oops! Job `gh:yegor256/rultor#1207` is not assigned to anyone.

[2017-11-14 14:39] 0crat commented on #1199
Oops! Job `gh:yegor256/rultor#1199` is not assigned to anyone.

[2017-11-14 14:39] 0crat commented on #1202
Oops! Job `gh:yegor256/rultor#1202` is not assigned to anyone.

[2017-11-14 14:39] 0crat commented on #1207
Oops! Job `gh:yegor256/rultor#1207` is not assigned to anyone.

[2017-11-14 14:39] 0crat commented on #1199
Oops! Job `gh:yegor256/rultor#1199` is not assigned to anyone.

[2017-11-14 14:39] 0crat commented on #1202
Oops! Job `gh:yegor256/rultor#1202` is not assigned to anyone.

[2017-11-14 14:39] 0crat commented on #1207
Oops! Job `gh:yegor256/rultor#1207` is not assigned to anyone.

[2017-11-14 14:39] 0crat commented on #1199
Oops! Job `gh:yegor256/rultor#1199` is not assigned to anyone.

[2017-11-16 20:06] 0crat commented on #1202
Job `gh:yegor256/rultor#1202` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-16 20:07] 0crat commented on #1199
Job `gh:yegor256/rultor#1199` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-16 20:07] 0crat commented on #1197
Job `gh:yegor256/rultor#1197` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-16 20:07] 0crat commented on #1193
Job `gh:yegor256/rultor#1193` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-16 20:08] 0crat commented on #1191
Job `gh:yegor256/rultor#1191` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-16 20:08] 0crat commented on #1179
Job `gh:yegor256/rultor#1179` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-16 20:08] 0crat commented on #1164
Job `gh:yegor256/rultor#1164` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-16 20:09] 0crat commented on #1141
Job `gh:yegor256/rultor#1141` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-16 20:09] 0crat commented on #1121
Job `gh:yegor256/rultor#1121` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-20 01:38] jayvdb opened #1221 "gpg: decryption failed: bad key"
The repository [`coala/coala-bears`](https://github.com/coala/coala-bears) stopped working four days ago.  Our issue about it is https://github.com/coala/coala/issues/4876

Examples
- https://github.com/coala/coala-bears/pull/2077#issuecomment-344900199
- https://github.com/coala/coala-bears/pull/2127#issuecomment-344763554
- https://github.com/coala/coala-bears/pull/2133#issuecomment-345448020

T

[2017-11-20 01:38] 0crat commented on #1221
@yegor256 please, pay attention to this issue

[2017-11-20 01:41] jayvdb commented on #1221
Note that this has not yet been seen on our other repositories.  Only this one so far.

[2017-11-20 01:42] jayvdb commented on #1138
Note i've raised https://github.com/yegor256/rultor/issues/1221 about a similar problem.

[2017-11-20 09:19] yegor256 commented on #1221
@jayvdb looks like the passphrase `coala/coala-bears` is really invalid. Maybe you encrypted your artifacts for a different repository, while trying to use them here?

[2017-11-20 16:51] Makman2 commented on #1221
I'm not an expert in encryption and decryption and the rultor docs aren't that detailed. Does it mean that rultor generates a key-set online for each repository?
If I understand it correctly, when you do `rultor encrypt -p my/repo file`, it does
- Query rultor online to generate/get the public key registered for the given repository
- Encrypts the given file
On merging, the bot then
- Fetches inte

[2017-11-21 19:58] 0crat commented on #1197
@filfreire this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-21 20:00] 0crat commented on #1193
@filfreire this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-21 20:00] 0crat commented on #1191
@filfreire this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-21 20:00] 0crat commented on #1164
@filfreire this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-21 20:00] 0crat commented on #1141
@filfreire this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-21 20:01] 0crat commented on #1121
@filfreire this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-22 08:14] tannakartikey commented on #1197
@yegor256 it is resolved and merged with https://github.com/yegor256/rultor/pull/1204 but the [site](http://doc.rultor.com/basics.html) is not updated yet.
I think it will update with the next release. Can we close the issue?

[2017-11-24 20:19] 0crat commented on #1197
@filfreire this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-24 20:19] 0crat commented on #1193
@filfreire this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-24 20:19] 0crat commented on #1191
@filfreire this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-24 20:19] 0crat commented on #1179
@filfreire this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-24 20:19] 0crat commented on #1164
@filfreire this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-24 20:19] 0crat commented on #1141
@filfreire this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-24 20:19] 0crat commented on #1121
@filfreire this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-26 20:01] 0crat commented on #1199
@filfreire resigned from `gh:yegor256/rultor#1199`, please stop working.

[2017-11-26 20:01] 0crat commented on #1197
@filfreire resigned from `gh:yegor256/rultor#1197`, please stop working.

[2017-11-26 20:01] 0crat commented on #1193
@filfreire resigned from `gh:yegor256/rultor#1193`, please stop working.

[2017-11-26 20:01] 0crat commented on #1191
@filfreire resigned from `gh:yegor256/rultor#1191`, please stop working.

[2017-11-26 20:28] 0crat commented on #1179
@filfreire resigned from `gh:yegor256/rultor#1179`, please stop working.

[2017-11-26 20:29] 0crat commented on #1164
@filfreire resigned from `gh:yegor256/rultor#1164`, please stop working.

[2017-11-26 20:29] 0crat commented on #1141
@filfreire resigned from `gh:yegor256/rultor#1141`, please stop working.

[2017-11-26 20:29] 0crat commented on #1121
@filfreire resigned from `gh:yegor256/rultor#1121`, please stop working.

[2017-11-26 21:22] 0crat commented on #1199
Job `gh:yegor256/rultor#1199` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-26 21:22] 0crat commented on #1203
Job `gh:yegor256/rultor#1203` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-26 21:22] 0crat commented on #1197
Job `gh:yegor256/rultor#1197` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-26 21:22] 0crat commented on #1193
Job `gh:yegor256/rultor#1193` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-26 21:22] 0crat commented on #1191
Job `gh:yegor256/rultor#1191` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-26 21:23] 0crat commented on #1190
Job `gh:yegor256/rultor#1190` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-26 21:23] 0crat commented on #1179
Job `gh:yegor256/rultor#1179` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-26 21:23] 0crat commented on #1164
Job `gh:yegor256/rultor#1164` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-26 21:23] 0crat commented on #1141
Job `gh:yegor256/rultor#1141` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-26 21:23] 0crat commented on #1121
Job `gh:yegor256/rultor#1121` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-30 23:55] filfreire opened #1223 "Tidy up "What is Rultor Section""
Currently the "What is Rultor" section looks like this:

<img width="263" alt="screen shot 2017-11-30 at 23 53 32" src="https://user-images.githubusercontent.com/11976836/33461319-c98cfd86-d629-11e7-9f73-b8aef532c77a.png">

1) We should remove that "TBD - product statement" and put in a proper statement or paragraph explaining what is Rultor
2) The gitter badge is probably better next to other bad

[2017-11-30 23:55] 0crat commented on #1223
@yegor256 please, pay attention to this issue

[2017-12-01 15:28] jayvdb opened #1224 "gpg: keyserver receive failed: keyserver error"
Just encountered this at https://github.com/coala/corobo/pull/423#issuecomment-348523489

[code]

[2017-12-01 15:28] 0crat commented on #1224
@yegor256 please, pay attention to this issue

[2017-12-01 19:16] yegor256 commented on #1224
@jayvdb just try to run it again, seems to be a network failure..

[2017-12-01 19:38] 0crat commented on #1223
Job `gh:yegor256/rultor#1223` is in scope.

[2017-12-01 19:58] 0crat commented on #1223
Bug was reported: +15 points just awarded to @filfreire, total is [+435](http://www.0crat.com/u/filfreire).

[2017-12-01 20:58] 0crat commented on #1203
@filfreire this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-04 10:13] filfreire opened #1225 "Upgrade Travis and Rultor to Java 8"
**Task:** Upgrade Travis and Rultor to Java 8
@yegor256 FYI

[2017-12-04 10:13] 0crat commented on #1225
@yegor256 please, pay attention to this issue

[2017-12-04 20:52] yegor256 commented on #1225
@rultor release, tag is `1.67`

[2017-12-04 20:53] rultor commented on #1225
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13534-349101609)

[2017-12-04 21:08] rultor commented on #1225
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13534-349101609) (took me 14min)

[2017-12-04 21:28] 0crat commented on #1203
@filfreire this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-04 21:28] 0crat commented on #1190
@filfreire this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-04 23:03] filfreire commented on #1225
@yegor256 thanks, can you try to merge PR #1222 again?

[2017-12-05 06:08] yegor256 commented on #1225
@filfreire please close this one

[2017-12-05 08:03] filfreire commented on #1225
@yegor256 closed

[2017-12-05 08:03] #1225 closed

[2017-12-05 08:18] 0crat commented on #1225
Oops! There is no order for job `gh:yegor256/rultor#1225`.

[2017-12-05 08:28] 0crat commented on #1225
Oops! Job `gh:yegor256/rultor#1225` is not in scope.

[2017-12-06 15:20] filfreire opened #1226 "Update .rultor.yml merge commanders"
**Suggestions & requests:**
- Remove commanders that are no longer active contributors
- Add me (@filfreire) as a merge commander

@yegor256 FYI

[2017-12-06 22:28] 0crat commented on #1203
Oops! Job `gh:yegor256/rultor#1203` is not assigned to anyone.

[2017-12-06 22:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:28] 0crat commented on #1197
Oops! Job `gh:yegor256/rultor#1197` is not assigned to anyone.

[2017-12-06 22:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:28] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 22:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 23:28] 0crat commented on #1193
Oops! Job `gh:yegor256/rultor#1193` is not assigned to anyone.

[2017-12-06 23:28] 0crat commented on #1193
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 23:28] 0crat commented on #1193
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 23:28] 0crat commented on #1193
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #1190
@filfreire resigned from `gh:yegor256/rultor#1190`, please stop working.

[2017-12-07 05:28] 0crat commented on #1190
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #1190
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #1190
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:28] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:28] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:28] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:28] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:28] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:28] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:29] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:29] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:29] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:29] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:29] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:29] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:29] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:29] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:29] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:29] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:30] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:30] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:30] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:30] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:30] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:30] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:30] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:30] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:30] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:30] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:30] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:31] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:31] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:31] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:31] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:31] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:31] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:31] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:31] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:31] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:31] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:32] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:32] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:32] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:32] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:32] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:32] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:32] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:32] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:32] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:32] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:32] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:33] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:33] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:33] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:33] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:33] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:33] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:33] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:33] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:33] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:33] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:34] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:34] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:34] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:34] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:34] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:34] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:34] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:34] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:34] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:34] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:35] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:35] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:35] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:35] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 06:35] 0crat commented on #1179
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:27] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:27] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:27] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:27] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:27] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:27] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:27] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:27] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:27] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:27] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:28] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:29] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:30] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:31] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:32] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:33] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:34] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:35] 0crat commented on #1203
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 13:48] 0crat commented on #1193
Job `gh:yegor256/rultor#1193` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-08 11:58] 0crat commented on #1190
Job `gh:yegor256/rultor#1190` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-17 10:28] 0crat commented on #1202
@filfreire resigned from `gh:yegor256/rultor#1202`, please stop working.

[2017-12-17 10:28] 0crat commented on #1199
@filfreire resigned from `gh:yegor256/rultor#1199`, please stop working.

[2017-12-17 12:49] 0crat commented on #1141
@filfreire resigned from `gh:yegor256/rultor#1141`, please stop working.

[2017-12-17 17:29] 0crat commented on #1164
@filfreire resigned from `gh:yegor256/rultor#1164`, please stop working.

[2017-12-17 17:29] 0crat commented on #1121
@filfreire resigned from `gh:yegor256/rultor#1121`, please stop working.

[2017-12-17 18:48] 0crat commented on #1203
@filfreire resigned from `gh:yegor256/rultor#1203`, please stop working.

[2017-12-17 18:48] 0crat commented on #1191
@filfreire resigned from `gh:yegor256/rultor#1191`, please stop working.

[2017-12-17 23:49] 0crat commented on #1202
Job `gh:yegor256/rultor#1202` assigned to @filfreire. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-18 04:48] 0crat commented on #1190
@filfreire resigned from `gh:yegor256/rultor#1190`, please stop working.

[2017-12-18 08:09] 0crat commented on #1199
Job `gh:yegor256/rultor#1199` assigned to @filfreire. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-18 13:28] 0crat commented on #1179
Job `gh:yegor256/rultor#1179` assigned to @filfreire. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-18 13:39] 0crat commented on #1141
Job `gh:yegor256/rultor#1141` assigned to @filfreire. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-18 23:03] filfreire opened #1227 "Setup Travis CI to work with Java 8"
Travis CI build is still working oriented to java 1.7

Looking at the raw log of a recent nightly build, https://api.travis-ci.org/v3/job/317869733/log.txt ,
it's still failing with:

[code]

(also found this issue on https://github.com/yegor256/rultor/pull/1222)

[2017-12-18 23:03] 0crat commented on #1227
@yegor256 please, pay attention to this issue

[2017-12-19 00:44] filfreire commented on #1197
@yegor256 please follow-up comment originally posted by @tannakartikey

I think it will update with the next release. Can we close the issue?

[2017-12-19 13:59] yegor256 commented on #1227
@filfreire I don't think you're right, but let's see the version: 00e13c11a

[2017-12-19 18:59] filfreire commented on #1223
Closing this issue. PR was merged.

[2017-12-19 18:59] #1223 closed

[2017-12-19 19:05] filfreire opened #1230 "StartECS todo message issue"
The StartECS class has the following issues:

[code]

I fixed this issue on #1222 under commit https://github.com/yegor256/rultor/pull/1222/commits/eb59a0d4a7c08249e95d1a4aae46f7a7d00cb69c

After this commit, another error message is posted on the same class:
[code]
This message can be found on https://github.com/yegor256/rultor/pull/1222#issuecomment-352761329

[2017-12-19 19:08] filfreire commented on #1230
@yegor256 fyi

[2017-12-20 09:10] filfreire commented on #1227
@yegor256 I was wrong
[code]
version seems to be okay, closing this issue. Thanks 👍

[2017-12-20 09:10] #1227 closed

[2017-12-20 09:30] filfreire commented on #1178
@yegor256 FYI:

**Wercker** fails with:

[code]

example: https://app.wercker.com/buildstep/5a385d6a30acd801003cb105

---

**Travis CI** fails with:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.3:compile (default-compile) on project rultor: Fatal error compiling: invalid target release: 1.8 -> [Help 1]

example: https://api.travis-ci.org/v3/job/318375413/log.txt

[2017-12-21 12:36] yegor256 commented on #1178
@filfreire yes, please, let's create separate issues and fix this.

[2017-12-21 12:39] yegor256 commented on #1230
@filfreire should be fine now

[2017-12-21 12:39] 0pdd opened #1232 "StartsECS.java:81-82: <body>Add Container params to..."
The puzzle `629-ebd8dabe` from #629 has to be resolved:

https://github.com/yegor256/rultor/blob/4f68b94e29ee15c4d5289b367ac0fc5875c5a99c/src/main/java/com/rultor/agents/ecs/StartsECS.java#L81-L82

The puzzle was created by Yegor Bugayenko on 21-Dec-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2017-12-21 13:29] filfreire opened #1233 "Wercker CI build failing"
**Wercker** fails with:

[code]

example: https://app.wercker.com/buildstep/5a385d6a30acd801003cb105

[2017-12-21 13:29] filfreire opened #1234 "Travis CI build failing"
**Travis CI** fails with:

[code]

example: https://api.travis-ci.org/v3/job/318375413/log.txt

[2017-12-21 14:44] filfreire opened #1235 "Shippable CI build failing"
**Shippable** fails:

(can't find the download button to download the log files, so don't know for sure the error that is being returned on the log)

Language setup on shippable is  `java openjdk7`

example: https://app.shippable.com/github/yegor256/rultor/runs/1980/1/console

[2017-12-21 14:45] filfreire opened #1236 "Appveyor CI build fails"
**AppVeyor** fails with:
[code]

example: https://ci.appveyor.com/project/yegor256/rultor/build/1082

we should probably do these:
- disable appveyor integration and delete badge from documentation;
- mention in documentation that building on Windows env is not supported;

[2017-12-21 14:46] filfreire commented on #1230
@yegor256 I merged the PRs in master. Can you re-run merge?

[2017-12-21 14:48] filfreire commented on #1178
@yegor256
created separate issues to fix this:
#1233 - wercker
#1234 - travis
#1235 - shippable
#1236 - appveyor

[2017-12-21 14:49] filfreire commented on #1236
@yegor256 fyi

[2017-12-21 14:49] filfreire commented on #1235
@yegor256 fyi

[2017-12-21 14:49] filfreire commented on #1234
@yegor256 fyi

[2017-12-21 14:49] filfreire commented on #1233
@yegor256 fyi

[2017-12-21 20:34] 0crat commented on #1233
@yegor256 please, pay attention to this issue

[2017-12-21 20:35] 0crat commented on #1234
@yegor256 please, pay attention to this issue

[2017-12-21 21:47] 0crat commented on #1232
@yegor256 please, pay attention to this issue

[2017-12-21 21:50] 0crat commented on #1235
@yegor256 please, pay attention to this issue

[2017-12-21 21:51] 0crat commented on #1236
@yegor256 please, pay attention to this issue

[2017-12-27 14:21] yegor256 commented on #1234
@filfreire fixed, I believe

[2017-12-27 18:59] 0crat commented on #1199
@filfreire resigned from `gh:yegor256/rultor#1199`, please stop working.

[2017-12-27 19:40] 0crat commented on #1203
Job `gh:yegor256/rultor#1203` assigned to @filfreire  ([profile](http://www.0crat.com/u/filfreire})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-27 21:36] yegor256 commented on #1230
@filfreire I think this issue can be closed

[2017-12-28 00:00] 0crat commented on #1202
@filfreire resigned from `gh:yegor256/rultor#1202`, please stop working.

[2017-12-28 00:19] 0crat commented on #1191
Job `gh:yegor256/rultor#1191` assigned to @filfreire  ([profile](http://www.0crat.com/u/filfreire})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-28 05:29] 0crat commented on #1197
Job `gh:yegor256/rultor#1197` assigned to @filfreire  ([profile](http://www.0crat.com/u/filfreire})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-28 06:52] #906 closed

[2017-12-28 06:52] #898 closed

[2017-12-28 06:53] 0crat commented on #906
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-28 06:53] 0crat commented on #906
Oops! Job `gh:yegor256/rultor#906` was not in scope

[2017-12-28 06:53] 0crat commented on #898
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-28 06:53] 0crat commented on #898
Oops! Job `gh:yegor256/rultor#898` was not in scope

[2017-12-28 06:54] yegor256 opened #1237 "pay attention to the CI checks in a PR"
Let's fail the `merge` if any CI checks are reporting failures. This feature should be configurable from `.rultor.yml` and turned ON by default.

[2017-12-28 08:43] #1230 closed

[2017-12-28 08:43] filfreire commented on #1230
@yegor256 thanks

[2017-12-28 08:43] 0crat commented on #1230
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-28 08:44] 0crat commented on #1230
Oops! Job `gh:yegor256/rultor#1230` was not in scope

[2017-12-28 08:49] 0crat commented on #1179
@filfreire resigned from `gh:yegor256/rultor#1179`, please stop working.

[2017-12-28 08:49] 0crat commented on #1179
Oops! Job `gh:yegor256/rultor#1179` is not assigned, can't get performer

[2017-12-28 09:10] 0crat commented on #1164
Job `gh:yegor256/rultor#1164` assigned to @filfreire  ([profile](http://www.0crat.com/u/filfreire})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-28 09:13] filfreire commented on #1226
closing this issue. code was merged.

[2017-12-28 09:13] #1226 closed

[2017-12-28 09:13] 0crat commented on #1226
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-28 09:14] 0crat commented on #1226
Oops! Job `gh:yegor256/rultor#1226` was not in scope

[2017-12-28 13:39] 0crat commented on #1141
@filfreire resigned from `gh:yegor256/rultor#1141`, please stop working.

[2017-12-28 14:00] 0crat commented on #1121
Job `gh:yegor256/rultor#1121` assigned to @filfreire  ([profile](http://www.0crat.com/u/filfreire})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-28 14:00] 0crat commented on #1121
Oops! Job `gh:yegor256/rultor#1121` already assigned to @filfreire, can't assign to @filfreire

[2018-01-02 19:33] filfreire opened #1238 "Bump year version to 2018"
/cc @yegor256 I'll tackle this issue.

[2018-01-02 19:33] 0crat commented on #1238
@yegor256 please, pay attention to this issue

[2018-01-02 20:09] filfreire commented on #1234
@yegor256 there still seems to be problems: the execution of a given PR seems to be running from plain `master` and not from PR code. Example, the PR #1239 (to bump copyright dates), fails with this log https://travis-ci.org/yegor256/rultor/builds/324258183

[2018-01-02 20:11] filfreire opened #1240 "Travis CI runs for plain master branch on pull requests"
The execution of a given PR seems to be running from plain `master` and not from PR code. Example, the PR #1239 (to bump copyright dates), fails with this log https://travis-ci.org/yegor256/rultor/builds/324258183

/cc @yegor256

[2018-01-02 20:11] 0crat commented on #1240
@yegor256 please, pay attention to this issue

[2018-01-05 21:01] filfreire commented on #1234
@yegor256 I'm closing this issue, the java 8 part seems OK. Still, I'd recommend paying attention to issue #1240

[2018-01-05 21:01] #1234 closed

[2018-01-05 21:01] 0crat commented on #1234
Oops! Job `gh:yegor256/rultor#1234` is not assigned, can't get start time

[2018-01-05 21:01] 0crat commented on #1234
Oops! Job `gh:yegor256/rultor#1234` was not in scope

[2018-01-05 21:03] filfreire commented on #1237
@yegor256 I'll tackle this.

[2018-01-06 00:51] php-coder commented on #1123
That's sad. I wanted to use it for merging into `prod` branch but I see that's impossible..

[2018-01-06 19:43] 0crat commented on #1203
@filfreire resigned from `gh:yegor256/rultor#1203`, please stop working.

[2018-01-07 00:20] 0crat commented on #1191
@filfreire resigned from `gh:yegor256/rultor#1191`, please stop working.

[2018-01-07 05:39] 0crat commented on #1197
@filfreire resigned from `gh:yegor256/rultor#1197`, please stop working.

[2018-01-07 09:20] 0crat commented on #1164
@filfreire resigned from `gh:yegor256/rultor#1164`, please stop working.

[2018-01-07 12:41] uklimaschewski opened #1242 "'cid' file is absent, container wasn't started correctly"
Just observed a keyserver timeout when building a new release:
[code]
See this failed build for a full log: https://github.com/uklimaschewski/EvalEx/issues/150

[2018-01-07 12:41] 0crat commented on #1242
@yegor256 please, pay attention to this issue

[2018-01-07 14:11] 0crat commented on #1121
@filfreire resigned from `gh:yegor256/rultor#1121`, please stop working.

[2018-01-08 07:53] uklimaschewski commented on #1242
Build is running now, looks like it was a temporary problem with contacting the keyserver

[2018-01-08 07:53] #1242 closed

[2018-01-08 07:54] 0crat commented on #1242
Oops! Job `gh:yegor256/rultor#1242` is not assigned, can't get start time

[2018-01-08 07:54] 0crat commented on #1242
Oops! Job `gh:yegor256/rultor#1242` was not in scope

[2018-01-08 16:25] yegor256 commented on #1197
@tannakartikey it will be published with the next release. Thanks.

[2018-01-08 16:25] #1197 closed

[2018-01-08 16:26] 0crat commented on #1197
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-08 16:28] 0crat commented on #1197
Oops! Job `gh:yegor256/rultor#1197` is not assigned, can't get start time

[2018-01-08 16:28] 0crat commented on #1197
Job `gh:yegor256/rultor#1197` is now out of scope.

[2018-01-08 17:27] 0crat commented on #1197
Oops! Job `gh:yegor256/rultor#1197` is not assigned, can't get start time

[2018-01-08 17:27] 0crat commented on #1197
Oops! Job `gh:yegor256/rultor#1197` was not in scope

[2018-01-08 18:28] 0crat commented on #1197
Oops! Job `gh:yegor256/rultor#1197` is not assigned, can't get start time

[2018-01-08 18:28] 0crat commented on #1197
Oops! Job `gh:yegor256/rultor#1197` was not in scope

[2018-01-08 19:29] 0crat commented on #1197
Oops! Job `gh:yegor256/rultor#1197` is not assigned, can't get start time

[2018-01-08 20:30] 0crat commented on #1197
Oops! Job `gh:yegor256/rultor#1197` is not assigned, can't get start time

[2018-01-08 20:30] 0crat commented on #1197
Oops! Job `gh:yegor256/rultor#1197` was not in scope

[2018-01-15 14:54] yegor256 commented on #1240
@filfreire it's not possible. Rultor works for three years with hundreds of projects. Are you sure??

[2018-01-16 23:56] filfreire commented on #1240
@yegor256 yes I'm sure. This is only related to the build Travis makes everytime someone submits a PR or pushes a commit to a PR.

It doesn't make sense that in the PR to fix all the copyright dates, that Travis, inside that PR, failed at a given point because of the same dates as if the changes weren't applied.

See on Travis the branch that the execution says it's running at:
![image](https://us

[2018-01-17 14:26] yegor256 commented on #1240
@filfreire wait, what Travis has to do with us? Report to them )

[2018-01-23 21:47] filfreire opened #1243 "Rultor merged but PR is left open"
After rultor successfully merged PR #1239, the PR itself remained open.
Tipically I see the PRs automatically close after a rultor merge.

We should to figure out:
- If this was an issue on rultor side that we need to fix;
- Or an issue with github's api that could be reported on their side;

/cc @yegor256

[2018-01-23 21:47] 0crat commented on #1243
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 21:53] filfreire commented on #1238
@yegor256 code was merged, closing this issue. Thanks!

[2018-01-23 21:53] #1238 closed

[2018-01-23 21:53] 0crat commented on #1238
Job `gh:yegor256/rultor#1238` is not assigned, can't get start time

[2018-01-23 22:03] 0crat commented on #1238
Job [#1238](https://github.com/yegor256/rultor/issues/1238) was not in scope

[2018-01-24 13:59] yegor256 commented on #1243
@filfreire dup of https://github.com/yegor256/rultor/issues/1171 ?

[2018-01-24 14:05] filfreire commented on #1243
@yegor256, yup, spot on. Closing this issue.

[2018-01-24 14:05] #1243 closed

[2018-01-24 14:06] 0crat commented on #1243
Job `gh:yegor256/rultor#1243` is not assigned, can't get start time

[2018-01-24 14:16] 0crat commented on #1243
Job [#1243](https://github.com/yegor256/rultor/issues/1243) was not in scope

[2018-01-24 18:03] filfreire commented on #1203
@yegor256 we can close this issue since the code is merged.

[2018-01-24 19:26] yegor256 commented on #1203
@filfreire where was it merged? Which PR?

[2018-01-24 19:33] filfreire commented on #1203
@yegor256 on https://github.com/yegor256/rultor/pull/1229

[2018-01-26 06:50] g4s8 opened #1244 "Auto-refresh build logs"
Let's add auto-refrsh feature for build logs, like in Travis

[2018-01-26 06:50] 0crat commented on #1244
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-30 13:01] yegor256 commented on #1203
@filfreire thanks!

[2018-01-30 13:01] #1203 closed

[2018-01-30 13:01] 0crat commented on #1203
Job `gh:yegor256/rultor#1203` is not assigned, can't get start time

[2018-01-30 13:11] 0crat commented on #1203
The job [#1203](https://github.com/yegor256/rultor/issues/1203) is now out of scope

[2018-01-31 15:43] yegor256 commented on #1244
@g4s8 but it works exactly that way now. If you open log page, the text will be loaded in runtime, coming from the server. Or it doesn't?

[2018-02-06 16:49] g4s8 commented on #1244
@yegor256 no, at moment you need to refresh the page manually to see new logs

[2018-02-07 14:40] nikialeksey opened #1245 "Make next attempt when remote was changed"
Rultor can not merge changes, this is because repository was updated at the same time when rultor was trying to merge. This was a few times in cactoos https://github.com/yegor256/cactoos/search?q=Updates+were+rejected+because+the+remote+contains+work+that+you+do&type=Issues&utf8=✓

Last log from rultor:
[code]

May be in this case rultor can make next attempt to merge?

[2018-02-07 14:40] 0crat commented on #1245
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 15:59] 0crat commented on #1244
Job [#1244](https://github.com/yegor256/rultor/issues/1244) is now in scope, role is `DEV`

[2018-02-12 16:22] yegor256 commented on #1245
@nikialeksey you mean, run the full cycle again? That would be super slow and besides, how can we understand why script failed?

[2018-02-12 16:22] #1245 closed

[2018-02-12 16:22] 0crat commented on #1245
Job `gh:yegor256/rultor#1245` is not assigned, can't get start time

[2018-02-12 16:32] 0crat commented on #1245
Job [#1245](https://github.com/yegor256/rultor/issues/1245) was not in scope

[2018-02-12 16:53] 0crat commented on #1244
The job [#1244](https://github.com/yegor256/rultor/issues/1244) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C3SAYRPH9/431652125). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9

[2018-02-13 05:27] nikialeksey commented on #1245
Yes, I mean. Run the full cycle only if this error happens. In case of this error rultor can show message in pull request about this event: "There was some changes when I was merging pull request. Trying again...".

Ok,  If this super slow, can we change error message from rultor of this error to something friendly without log?

[2018-02-17 16:53] 0crat commented on #1244
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 01:35] #1192 closed

[2018-02-20 12:42] ashtonhogan opened #1247 "rultor failing but saying it's successful"
I have left a comment with more details here: https://github.com/ashtonhogan/tacinga/issues/1#issuecomment-366953714

[2018-02-20 12:42] 0crat commented on #1247
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 16:54] 0crat commented on #1244
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-22 16:55] 0crat commented on #1244
The user @filfreire[/z](https://www.0crat.com/u/filfreire) resigned from [#1244](https://github.com/yegor256/rultor/issues/1244), please stop working

[2018-02-22 16:55] 0crat commented on #1244
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire), total is [+525](https://www.0crat.com/u/filfreire)

[2018-02-22 19:45] yegor256 commented on #1247
@ashtonhogan see my comment in your ticket

[2018-02-22 19:45] #1247 closed

[2018-02-23 00:07] filfreire commented on #1199
@yegor256 - #1246 was merged, we can close this issue.

[2018-02-26 08:53] yegor256 opened #1248 "new badges"
Let's make them look better...

[2018-02-26 08:54] yegor256 commented on #1248
@rultor release, tag is `1.67.1`

[2018-02-26 08:54] rultor commented on #1248
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13995-368430520)

[2018-02-26 08:58] rultor commented on #1248
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13995-368430520) (spent 4min)

[code]

[2018-02-26 09:14] yegor256 commented on #1248
@rultor release, tag is `1.67.1`

[2018-02-26 09:16] rultor commented on #1248
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13995-368435814)

[2018-02-26 10:12] rultor commented on #1248
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13995-368435814) (spent 57min)

[code]

[2018-02-26 10:13] yegor256 commented on #1248
@rultor release, tag is `1.67.1`

[2018-02-26 10:16] rultor commented on #1248
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13995-368452400)

[2018-02-26 11:16] rultor commented on #1248
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13995-368452400) (took me 59min)

[2018-02-26 13:41] #1248 closed

[2018-02-26 20:20] yegor256 commented on #1199
@filfreire thanks a lot for your contribution!

[2018-02-26 20:20] #1199 closed

[2018-02-26 20:21] 0crat commented on #1199
The job [#1199](https://github.com/yegor256/rultor/issues/1199) is now out of scope

[2018-02-28 10:14] jonashackt opened #1249 "gpg: signing failed: Inappropriate ioctl for device"
Hi, we keep running into this problem (see http://www.rultor.com/t/13123-369173456):

[code]
Before that issue, we used rultor many times to release our OpenSource project.

Maybe this is a problem with the `maven-gpg-plugin`, where a similar issue is described here: https://issues.apache.org/jira/browse/MGPG-59

Any suggestions on this?

[2018-02-28 10:14] 0crat commented on #1249
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 10:17] jonashackt commented on #1249
Ah, I think I found it. According to https://stackoverflow.com/questions/28859942/how-do-i-get-the-maven-gpg-plugin-to-use-a-passphrase-from-environment-variable. You have to add the following to your `maven-gpg-plugin` configuration:

[code]

See http://www.rultor.com/t/13123-369189407

[2018-03-02 07:05] yegor256 commented on #1249
@jonashackt thanks for the hint. I believe, it's not a problem inside Rultor, but in the Java project you are releasing. This GPG configuration should be added to its `pom.xml`, right? I think we can add it to [jcabi-parent](https://github.com/jcabi/jcabi-parent), which many people are using as an example (or as a parent pom). Right?

[2018-03-02 08:32] jonashackt commented on #1249
Yeah, you´re right - it´s my own project´s `pom.xml`, where I had to add that configuration. Would be a good idea, if this can be added to the parent 👍

[2018-03-02 08:42] yegor256 commented on #1249
@jonashackt could you please submit this ticket to https://github.com/jcabi/jcabi-parent ? I will fix it there. This one should be closed.

[2018-03-02 08:42] #1249 closed

[2018-03-02 10:17] jonashackt commented on #1249
Oh, the problem only seems to be related to a different Docker base image I used inside my `.rultor.yml`. The problem occured only in [cxf-spring-boot-starter](https://github.com/codecentric/cxf-spring-boot-starter/issues/28), where I used `maven:3-jdk-8` - the same fix wasn´t necessary in [cxf-spring-boot-starter-maven-plugin](https://github.com/codecentric/cxf-spring-boot-starter-maven-plugin),

[2018-03-02 17:38] g4s8 opened #1250 "Cannot connect to the Docker daemon"
Docker failed to start few times: https://github.com/zerocracy/farm/pull/693#issuecomment-369962292 https://github.com/zerocracy/farm/pull/685#issuecomment-369991899 with error:

Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?
'cid' file is absent, container wasn't started correctly

[2018-03-02 17:38] 0crat commented on #1250
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-02 17:44] yegor256 commented on #1250
@g4s8 it was a temporary issue, fixed already

[2018-03-02 17:44] #1250 closed

[2018-03-11 08:30] yegor256 opened #1251 "show restart time in /status"
Let's show it

[2018-03-11 09:01] yegor256 commented on #1251
@rultor release, tag is `1.67.2`

[2018-03-11 09:02] rultor commented on #1251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14109-372099981)

[2018-03-11 09:57] rultor commented on #1251
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14109-372099981) (took me 54min)

[2018-03-11 12:40] #1251 closed

[2018-03-12 09:03] 0crat commented on #1251
The job is not in WBS, won't close the order

[2018-03-13 11:47] yegor256 opened #1252 "jcabi-github 0.34"
Let's use it

[2018-03-13 13:07] filfreire commented on #1252
@yegor256 I volunteer to do this one.

[2018-03-13 14:53] #1252 closed

[2018-03-13 14:53] yegor256 commented on #1252
@filfreire done already, sorry, I didn't see your comment

[2018-04-04 11:25] amihaiemil opened #1253 "'cid' file is absent, container wasn't started correctly"
I am not sure if this is a bug in Rultor or in Yegor's java8 image, but rultor won't merge any PRs recently, it fails with the following log:

[code]

Full log is [here](http://www.rultor.com/t/14246-378566158). Example of failure [here](https://github.com/amihaiemil/docker-java-api/pull/75#issuecomment-378566158)

[2018-04-04 11:25] 0crat commented on #1253
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-04 11:25] 0crat commented on #1253
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-12 03:36] 0crat commented on #1207
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 04:36] 0crat commented on #1191
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 09:36] 0crat commented on #1190
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 09:36] 0crat commented on #1179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 10:36] 0crat commented on #1164
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 10:36] 0crat commented on #1141
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 11:36] 0crat commented on #1121
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 11:36] 0crat commented on #1244
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-14 18:33] g4s8 opened #1254 "Rultor can't see private fork"
Rultor failed to fetch from fork of private repository:
[code]
How to configure Rultor to work with private repositories correctly?

[2018-04-14 18:33] 0crat commented on #1254
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-14 18:34] 0crat commented on #1254
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-15 21:21] vssekorin opened #1255 "Rultor isn't answering comments"
Rultor isn't answering comments.
Here:
- https://github.com/VsSekorin/cactoos-math/pull/186
- https://github.com/VsSekorin/cactoos-math/pull/187

[2018-04-16 11:57] yegor256 commented on #1254
@g4s8 most likely that's because you didn't add Rultor as a contributor to the main repository.

[2018-04-16 12:03] g4s8 commented on #1254
@yegor256 it's not so, Rultor is in collaborator list and has write access in main repo

[2018-04-17 04:36] 0crat commented on #1207
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 05:36] 0crat commented on #1191
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 13:36] 0crat commented on #1190
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 13:36] 0crat commented on #1179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 17:37] 0crat commented on #1141
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 18:36] 0crat commented on #1244
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-18 13:48] yegor256 commented on #1141
@jayvdb are you still having this issue?

[2018-04-19 20:33] g4s8 commented on #1254
@yegor256 ping. Please look at this issue, Rultor still can't fetch a fork, but it has write access in main repository.

[2018-04-20 14:55] yegor256 commented on #1254
@g4s8 hm... it works fine in many other projects. Are you __sure__ rultor has "write access"? Can you please attach a screenshot?

[2018-04-20 17:54] g4s8 commented on #1254
@yegor256 please see:
![screenshot_20180420-190908](https://user-images.githubusercontent.com/1524988/39066107-052e70a2-44e5-11e8-9f56-909125785b64.png)

[2018-04-21 19:16] yegor256 commented on #1254
@g4s8 this is weird. The only idea I have is that the fork was created before you gave rultor access rights. Can you please add rultor as a contributor to the fork?

[2018-04-22 06:36] 0crat commented on #1207
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-22 20:37] 0crat commented on #1190
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-22 21:38] 0crat commented on #1141
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-23 01:37] 0crat commented on #1244
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-23 10:52] yegor256 commented on #1207
@filfreire do you want to finish this or we should remove it from scope?

[2018-04-23 10:58] yegor256 commented on #1179
@0crat out

[2018-04-23 10:59] yegor256 commented on #1244
@0crat out

[2018-04-23 10:59] 0crat commented on #1244
@yegor256 GitHub issue is still open, won't close

[2018-04-23 11:00] yegor256 commented on #1190
@0crat out

[2018-04-23 11:00] 0crat commented on #1190
@yegor256 GitHub issue is still open, won't close

[2018-04-23 11:33] filfreire commented on #1207
@yegor256, I want to do it. Please don't remove it from scope.

[2018-04-23 17:27] yegor256 commented on #1207
@0crat assign @filfreire

[2018-04-23 17:28] yegor256 commented on #1255
@rultor hello

[2018-04-23 17:30] rultor commented on #1255
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2018-04-23 17:31] yegor256 commented on #1255
@VsSekorin we are getting this weird exception for your repo:

[code]

What do you think this could be?

[2018-04-23 17:34] yegor256 commented on #1255
@VsSekorin looks like you don't allow rultor to commit to master branch. And it is trying to place a lock, which is required for the merge operation.

[2018-04-24 14:05] yegor256 commented on #1254
@g4s8 what's the status here?

[2018-04-24 14:05] yegor256 commented on #1190
@0crat out

[2018-04-24 14:30] yegor256 commented on #1190
@0crat hey

[2018-04-24 14:31] 0crat commented on #1190
@yegor256 Hey, what's up, how is it going?

[2018-04-24 14:31] 0crat commented on #1190
@yegor256 The job [#1190](https://github.com/yegor256/rultor/issues/1190) is now out of scope

[2018-04-26 10:40] g4s8 commented on #1254
@yegor256 thanks it helps, but Rultor was added to a project before other contributors, so it's strange.

[2018-04-27 07:36] 0crat commented on #1207
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-04-27 18:44] yegor256 commented on #1254
@g4s8 it's weird, I don't have the answer.

[2018-04-27 21:36] 0crat commented on #1179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-04-27 23:36] 0crat commented on #1141
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-04-28 04:37] 0crat commented on #1244
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-02 23:36] 0crat commented on #1207
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-03 01:35] 0crat commented on #1179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-03 03:36] 0crat commented on #1141
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-03 12:42] yegor256 commented on #1141
@0crat out

[2018-05-03 12:45] 0crat commented on #1141
@yegor256 The job [#1141](https://github.com/yegor256/rultor/issues/1141) is now out of scope

[2018-05-06 05:09] yegor256 commented on #1179
@0crat out

[2018-05-06 05:09] yegor256 commented on #1244
@0crat out

[2018-05-06 05:10] 0crat commented on #1179
@yegor256 The job [#1179](https://github.com/yegor256/rultor/issues/1179) is now out of scope

[2018-05-08 00:37] 0crat commented on #1207
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-08 15:52] llorllale opened #1256 "Build error on merge"
The following error keeps happening on [this](https://github.com/llorllale/cactoos-matchers/pull/2) PR and I don't know why:

[code]

I can confirm that @rultor is a collaborator of both the public `llorllale/cactoos-matchers` project as well as the private repo `llorllale/home`. I can also confirm that the structure of `llorllale/home` is:

[code]

[2018-05-08 15:52] 0crat commented on #1256
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-08 15:52] 0crat commented on #1256
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-09 08:53] g4s8 opened #1257 "Expose docker socket to container"
Use-case: build docker images and push to registry in rultor container, e.g. in `@rultor release`.

Now it's not possible to start child docker deamon instide container.
It can be solved by exposing docker socket to running container:
[code]

Find this solution in post: https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/

[2018-05-09 08:53] 0crat commented on #1257
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-09 08:54] 0crat commented on #1257
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-09 08:54] 0crat commented on #1257
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/rultor#1257, Action: created

[2018-05-10 11:58] yegor256 commented on #1256
@llorllale you have to add `friends` section to `.rultor.yml` in your private repository: http://doc.rultor.com/reference.html#assets The error message is incomplete, let me fix it.

[2018-05-10 12:17] yegor256 commented on #1256
@llorllale try again, the message should sound better, I believe

[2018-05-10 13:35] yegor256 commented on #1207
@0crat out

[2018-05-10 13:37] 0crat commented on #1207
@yegor256 The job [#1207](https://github.com/yegor256/rultor/issues/1207) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C3SAYRPH9/1301336350); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the tas

[2018-05-10 13:38] 0crat commented on #1207
@yegor256 @filfreire[/z](https://www.0crat.com/u/filfreire) resigned from [#1207](https://github.com/yegor256/rultor/issues/1207), since the job is not in scope anymore

[2018-05-10 13:38] 0crat commented on #1207
@yegor256 The job [#1207](https://github.com/yegor256/rultor/issues/1207) is now out of scope

[2018-05-10 13:38] 0crat commented on #1207
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-10 13:38] 0crat commented on #1207
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-10 14:45] yegor256 commented on #1257
@rultor release, tag is `1.67.3`

[2018-05-10 14:46] rultor commented on #1257
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14493-388075492)

[2018-05-10 15:46] rultor commented on #1257
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14493-388075492) (took me 59min)

[2018-05-10 19:28] yegor256 commented on #1257
@g4s8 I think it's fixed, check new version

[2018-05-10 19:57] g4s8 commented on #1257
@yegor256 thanks! It's working

[2018-05-10 19:57] #1257 closed

[2018-05-10 20:12] 0crat commented on #1257
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1301969143, Type: 'Close job', Author: g4s8

[2018-05-11 18:36] 0crat commented on #1256
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1311848016, Type: 'Close job', Author: llorllale

[2018-05-12 20:18] llorllale commented on #1244
@yegor256 I'm wondering why you want to exclude this feature request from scope? Would be nice to have...

[2018-05-12 21:00] llorllale opened #1258 "Unable to specify next version on release"
I am currently manually updating SNAPSHOT version after doing `@rultor release, tag is XXX`. It would be nice to be able to do `@rultor release, tag is XXX, next version is YYY` and have rultor automatically set the new version to YYY after releasing.

To be clear, the intention is for `YYY` to be some SNAPSHOT version.

[2018-05-12 21:00] 0crat commented on #1258
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-12 21:00] 0crat commented on #1258
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-13 12:57] g4s8 opened #1259 "Docker daemon is not used securely"
Rultor container can use Docker daemon without restriction, e.g. it can execute
`docker run -v /:/host` and access Rultor host root filesystem. To prevent it https://github.com/Tecnativa/docker-socket-proxy may be used, it can grant access only to required APIs (build, tag, push) to container.

[2018-05-13 12:57] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-13 12:57] 0crat commented on #1259
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-14 13:33] yegor256 commented on #1259
@g4s8 would be interested to contribute with a PR?

[2018-05-14 13:35] 0crat commented on #1259
Job [#1259](https://github.com/yegor256/rultor/issues/1259) is now in scope, role is `DEV`

[2018-05-14 13:36] yegor256 commented on #1258
@llorllale you can do all that inside your script. "version is `YYY`" will set `${version}` bash variable inside your script. What you will do with it later, is up to you.

[2018-05-14 13:36] #1258 closed

[2018-05-14 13:52] 0crat commented on #1258
The job is not in WBS, won't close the order

[2018-05-14 17:36] g4s8 commented on #1259
@yegor256 yes, I am

[2018-05-14 18:28] 0crat commented on #1259
The job [#1259](https://github.com/yegor256/rultor/issues/1259) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C3SAYRPH9/1341823035); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not c

[2018-05-15 07:32] amihaiemil commented on #1253
@yegor256 This keeps showing up every now and then, do you have any idea what it could be?

[2018-05-19 14:48] yegor256 commented on #1253
@amihaiemil were, for example?

[2018-05-19 14:52] amihaiemil commented on #1253
@yegor256 I linked the log and an example in the description. Everytime it happens, it is the same. But it does not happen all the time, that's the strange thing

[2018-05-19 18:35] 0crat commented on #1259
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-24 18:30] 0crat commented on #1259
The user @filfreire[/z](https://www.0crat.com/u/filfreire) resigned from [#1259](https://github.com/yegor256/rultor/issues/1259), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-05-24 18:31] 0crat commented on #1259
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2018-05-24 20:37] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-05-28 10:13] nikialeksey opened #1261 "Sonatype password is visible in logs when settings.xml parsing error has occured"
My `settings.xml` file contained password with ampersand symbol, like this
[code]

There is stacktrace with my sonatype password when I'm trying to release:
[code]

I changed my password to resolve this, but rultor must hide encrypted files in logs.

[2018-05-28 10:13] 0crat commented on #1261
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue