[2016-03-07 16:09] sebing commented on #1018
@alex-palevsky I believe my solution to this issue is not up to the acceptable quality.
- Should I wait for the documentation(https://github.com/yegor256/rultor/issues/754) to understand the project as per(http://www.yegor256.com/2015/01/15/how-to-cut-corners.html)
- Or accept the temporal wrong solution I have in the PR(https://github.com/yegor256/rultor/pull/1045)
- Or assign the work to someone

[2016-03-07 23:42] dskalenko commented on #917
@carlosmiranda
@alex-palevsky
I did some investigation and seems this situation, when Rultor may ask architect to confirm a command which would be rejected anyway, potentially may be not only for merge. So in this case fix should be done for all such commands (unlock, lock, merge, deploy, release ...). But the role of "[Architect](http://doc.rultor.com/reference.html)" can be violated in this case

[2016-03-08 00:32] carlosmiranda commented on #917
@dpisarenko The situation I'm asking above specifically pertains to merge, so let's limit it to that. It's only impossible to re-merge a merged branch, deploy or release commands are not restricted.

[2016-03-08 14:36] original-brownbear commented on #876
@alex-palevsky close this issue please

[2016-03-08 19:33] vkuchyn commented on #1039
@original-brownbear seems, I found a place where the [problem is](https://github.com/vkuchyn/rultor/blob/464f291262a6578258b1024674dde001926ecf48/src/main/java/com/rultor/agents/req/StartsRequest.java#L226-L226).
I have 2 possible solutions:

1. Fix it in `StartsRequest.java`
2. Fix it in `Profile.Defaults`

What do you think is better?

[2016-03-08 19:55] original-brownbear commented on #1039
@vkuchyn you have to admit you're giving me very little to go by in making the choice between one and two :)
Fortunately, the choice is yours ;) Really I mean, simply pick the one that you'll have the easier time writing a proper test reproducing the issue for. You know, once you have that failing test, you also know for sure whether or not you found the place where the issue is :)

[2016-03-08 20:09] vkuchyn commented on #1039
@original-brownbear thanks for quick reaction. I didn't expect such speed ) Please, see my comment above - I updated it

[2016-03-08 20:29] original-brownbear commented on #1043
@yegor256 any wishes for this one ? :)
Also could you please help with moving the milestone, I keep spamming @alex-palevsky with this issue to no avail.
Thanks!

[2016-03-08 20:33] original-brownbear commented on #1039
Well, if you can't find one, make one :) Again, keep those puzzles in mind, don't try to do anything big here. Just add something + Puzzle(s) that move us towards the solution if you think this requires a very tricky integration test to reproduce.

Do we have unit-tests describing the behavior too, or does it just "look ok" superficially ? :)

[2016-03-08 20:37] vkuchyn commented on #1039
@original-brownbear we don't have unit tests describing the behavior. It is only "looks ok" superficially.

[2016-03-09 04:58] yegor256 commented on #1043
@original-brownbear I fixed the milestone. I think this one is the most important: #832

[2016-03-09 08:44] original-brownbear commented on #832
@alex-palevsky this is not postponed.

[2016-03-09 10:17] vkuchyn commented on #1039
@original-brownbear I'd like to skip this issue according to no-obligation principle.

[2016-03-09 10:21] original-brownbear commented on #1039
@vkuchyn sure no problem, I'm the wrong person to talk to about that though.
You gotta ping @alex-palevsky for that and ask him to assign this ticket to someone else.

[2016-03-09 10:26] sebing commented on #1018
@alex-palevsky As I am taking too much time to understand the code without any documentation. May be you can assign the task to someone else?

[2016-03-09 10:38] vkuchyn commented on #1039
@alex-palevsky I'd like to skip this issue according to no-obligation principle. Please, find some one else for this issue

[2016-03-09 11:21] vkuchyn commented on #918
@original-brownbear

You mean rebase option in merge block, described in .rultor.yml?
Can you explain what is that flag for?

[2016-03-09 11:46] original-brownbear commented on #918
@vkuchyn check out the documentation [here](http://doc.rultor.com/reference.html) all there at the bottom in **Merge, Deploy, Release** :)

[2016-03-09 11:54] vkuchyn commented on #918
@original-brownbear thanks.
One more question - to clarify the whole picture. After merge rultor pushes changes to github and github automatically closes PR (it's feature). But when use rebase instead merge before push - we need to close PR manually, as far as github's logic doesn't support such case. Am I correct in problem vision?

[2016-03-09 11:56] original-brownbear commented on #918
@vkuchyn yes, spot on :)

[2016-03-09 12:05] original-brownbear opened #1047 "Documentation on Custom SSH Settings is Incorrect/Incomplete"
**This applies to the documentation here, specifically the SSH section in it:**
http://doc.rultor.com/reference.html

The **SSH** section states:

This is not correct. This task should document the missing requirements.
At least this needs to be provided here:
* Rultor requires `git` installed
* Rultor requires the sudo command installed
 * The provided login needs to have **passwordless** sudo ca

[2016-03-09 12:05] original-brownbear commented on #1047
@alex-palevsky this is a bug.

[2016-03-09 12:09] original-brownbear commented on #876
@alex-palevsky this is invalid.

[2016-03-09 14:32] vkuchyn commented on #918
@original-brownbear I have a question about design and conventions. In rultor we have a chain of agents (implements interface Agent) that have method proceed that returns list of directives to modify talk. I missunderstood what is it for? When do I need to change somehow talk in my agent and when not?

[2016-03-09 15:13] original-brownbear commented on #918
@vkuchyn You got the general idea right I think :)

Not sure what kind of answer you are aiming at here. I mean, yes you're passing around data via the `Directives`. And yes those are used by Agents to extract data from.
So I mean you want to change those directives in case the next thing handling them needs some information passed on to it.
But I mean this task does not really require you to do a

[2016-03-09 22:57] dskalenko commented on #917
@alex-palevsky here is PR #1048

[2016-03-10 02:26] original-brownbear commented on #1043
@yegor256 thanks!

[2016-03-10 13:21] vkuchyn commented on #918
@alex-palevsky fixed in #1049 Please, find someone for review

[2016-03-10 14:40] alex-palevsky commented on #832
@original-brownbear sure, thanks, I removed "postponed" tag to it

[2016-03-10 14:40] alex-palevsky commented on #917
@dskalenko thanks for that

[2016-03-10 14:40] alex-palevsky commented on #918
@vkuchyn thank you!

[2016-03-10 14:40] alex-palevsky commented on #1047
@original-brownbear I tagged this as "bug"

[2016-03-10 15:12] original-brownbear commented on #1041
@yegor256 any input on the above ? Otherwise I'd just go with a workaround that checks if the process is running properly and then runs `sudo service docker restart` if it isn't for the time being :)

[2016-03-10 15:30] alex-palevsky commented on #1047
@original-brownbear since the ticket has no milestone I set it to 2.0

[2016-03-10 15:43] alex-palevsky commented on #1047
@original-brownbear thanks for the report, I topped your acc for 30 mins, payment ID `AP-725445163G118414S`

[2016-03-10 23:04] original-brownbear opened #1050 "Stop Command Acts on the Wrong Request In Some Cases"
Rultor does not properly check whether or not a `stop` command refers to a previous or the current action it performs.
The following sequence of commands causes wrong behaviour at the moment:

1. Issue `merge command`
2. Issue stop command
3. Rultor fails the `merge` from stop 1 **before** the stop command is processed. ( this is ok there is some delay in Rultor working through all comments addres

[2016-03-10 23:04] original-brownbear commented on #1050
@alex-palevsky this is a bug.

[2016-03-11 02:16] original-brownbear commented on #1047
@alex-palevsky this is postponed

[2016-03-11 02:17] original-brownbear commented on #1035
@alex-palevsky this is postponed.

[2016-03-11 02:17] original-brownbear commented on #1032
@alex-palevsky this is postponed.

[2016-03-11 02:18] original-brownbear commented on #1007
@alex-palevsky this depends on #917.

[2016-03-11 02:19] original-brownbear commented on #806
@alex-palevsky this is postponed.

[2016-03-11 02:19] original-brownbear commented on #818
@alex-palevsky this is postponed.

[2016-03-11 02:37] original-brownbear commented on #1043
@yegor256 update :)

So for the next release `1.63` I'd go for:
* #832 as requested
* #1039
* #1018
* #918
* #917
* #1042
* #864
* #1050

## Issues

1. Rultor EC2 instance issues, namely Docker daemon dying or running out of HD space are not recovered by Rultor itself. Please see #1041 :)
2. Developers have many issues with tasks related to the Docker side of things.
3. (Integration) tests are by

[2016-03-11 03:14] yegor256 commented on #1043
@original-brownbear thanks for the report, the scope of 1.63 sounds perfect

[2016-03-11 03:18] yegor256 commented on #1041
@original-brownbear rultor must not assume anything about the EC2 (or any other) host it's running on. rultor must simply check whether Docker daemon is up and running or not. if not, it must crash with an exception. that's enough. I think we should run that check every few minutes, by connecting to the server and checking Docker status. we need a "super agent" for that.

[2016-03-11 03:30] original-brownbear commented on #1047
@yegor256 could you give this one a look please and tell me if I'm not missing the scope here a little?

As of the current state of Rultor, what I ask for being documented here is correct.
But in https://github.com/yegor256/rultor/issues/1041#issuecomment-195159936 you state that the only requirement for Rultor to run on a host is that it has an available `docker` cli client.
In that case this tic

[2016-03-11 03:32] original-brownbear commented on #1041
@yegor256 ok perfect thanks :)

[2016-03-11 08:24] xupyprmv commented on #864
@carlosmiranda PR #1046 was merged. Please close this ticket.

[2016-03-11 08:32] carlosmiranda commented on #864
@xupyprmv thanks!

[2016-03-11 08:32] #864 closed

[2016-03-11 13:51] alex-palevsky commented on #806
@original-brownbear thanks, I added "postponed" label

[2016-03-11 13:51] alex-palevsky commented on #806
@original-brownbear OK, I will try to assign someone else

[2016-03-11 13:51] alex-palevsky commented on #818
@original-brownbear OK, I put "postponed" label here

[2016-03-11 13:51] alex-palevsky commented on #818
@original-brownbear I will ask somebody else to pick this up

[2016-03-11 13:51] alex-palevsky commented on #1007
@original-brownbear ok, let's wait for #917

[2016-03-11 13:51] alex-palevsky commented on #1018
@sebing -30 points to your rating :(

[2016-03-11 13:51] alex-palevsky commented on #1018
@sebing right, I'll try to find someone else for this task

[2016-03-11 13:51] alex-palevsky commented on #1032
@original-brownbear OK, I put "postponed" label here

[2016-03-11 13:51] alex-palevsky commented on #1032
@original-brownbear I will try to find someone else

[2016-03-11 13:51] alex-palevsky commented on #1035
@original-brownbear right, I added "postponed" label

[2016-03-11 13:51] alex-palevsky commented on #1035
@original-brownbear OK, I will try to assign someone else

[2016-03-11 13:51] alex-palevsky commented on #1039
@vkuchyn -30 points to your rating

[2016-03-11 13:51] alex-palevsky commented on #1039
@vkuchyn OK, I will try to assign someone else

[2016-03-11 13:51] alex-palevsky commented on #1047
@original-brownbear right, I added "postponed" label

[2016-03-11 13:51] alex-palevsky commented on #1047
@original-brownbear no problem, I will try to find somebody else

[2016-03-11 13:51] alex-palevsky commented on #1050
@original-brownbear I tagged this as "bug"

[2016-03-11 13:52] sebing commented on #1018
@alex-palevsky The task is complete. Waiting for @original-brownbear to merge

[2016-03-11 14:22] sebing commented on #1018
@alex-palevsky as the the PR(https://github.com/yegor256/rultor/pull/1045) is merged. Can you close the issue?

[2016-03-11 14:23] original-brownbear commented on #1018
closing :) thanks!

[2016-03-11 14:23] #1018 closed

[2016-03-11 14:35] sebing commented on #1018
@alex-palevsky So this will be considered as my work? ;)

[2016-03-11 14:48] alex-palevsky commented on #1050
@original-brownbear milestone set to `2.0` (correct me if I am wrong)

[2016-03-11 14:53] alex-palevsky commented on #1043
@original-brownbear there are some issues (see [par.33](http://at.teamed.io/policy.html#33)) in the project now:

 * some tasks are stuck: #832 (336 days), #773 (391 days), #806 (349 days), #818 (343 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://a

[2016-03-11 14:53] alex-palevsky commented on #1050
@original-brownbear many thanks for the report, I topped your account for 30 mins, transaction AP-1XE640798R5334145

[2016-03-11 15:20] original-brownbear commented on #1043
@alex-palevsky I've dispatched #876 multiple times to no avail :) Please look into it.

[2016-03-11 18:20] original-brownbear commented on #1041
@alex-palevsky PR here #1051 :)

[2016-03-11 18:47] alex-palevsky opened #1052 "StartsDaemonITCase.java:126-128: This test should not check..."
Puzzle `1018-b83a728c` in `src/test/java/com/rultor/agents/daemons/StartsDaemonITCase.java:126-128` has to be resolved: This test should not check for start and end deprecation messages if when the repo is the actual Rultor repo: https://github.com/yegor256/rultor... The puzzle was created by Sebin George on 11-Mar-2016.

If you have any technical questions, don't ask me, submit new tickets instea

[2016-03-11 18:48] alex-palevsky commented on #1018
@original-brownbear 2 puzzles were created here: `1018-15a5404e`, `1018-b83a728c`/#1052

[2016-03-11 18:48] alex-palevsky commented on #918
@dmzaytsev once `918-89660440` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-03-11 19:54] original-brownbear commented on #1016
@alex-palevsky this is postponed.

[2016-03-11 20:03] alex-palevsky commented on #1052
@original-brownbear there is no milestone yet, so I set it to `2.0`

[2016-03-11 20:04] alex-palevsky opened #1053 "StartsDaemonITCase.java:121-125: Implement a deprecation message at..."
Puzzle `1018-15a5404e` in `src/test/java/com/rultor/agents/daemons/StartsDaemonITCase.java:121-125` has to be resolved: Implement a deprecation message at the start and end of the process if the project is using the default image 'yegor256/rultor'. Fix the issue using the xpath available in com.rultor.agents.daemons.StartsDaemon and com.rultor.agents.daemons.EndsDaemon.... The puzzle was created b

[2016-03-11 21:58] original-brownbear commented on #832
@alex-palevsky assign this to me please.

[2016-03-11 21:59] sebing commented on #1018
@alex-palevsky As I finished the task, Did I get the point you have minus previously? Or that is the punishment for telling you that the code is difficult to understand ;)..

[2016-03-12 02:50] vkuchyn commented on #918
@dmzaytsev please, close this ticket - merged in #1049

[2016-03-12 02:59] dmzaytsev commented on #918
@vkuchyn thanks

[2016-03-12 02:59] #918 closed

[2016-03-12 08:14] xupyprmv commented on #864
@alex-palevsky PR #1046 was merged. This ticket is closed.

[2016-03-12 17:38] sebing opened #1054 "Staging in Rultor"
Can we have a staging in rultor?

-    If a PR is accepted. It should be linked to a commit. Not just blindly take from the branch?
-    In the current implementation. After the merge request and acceptance, If a developer modify the branch, the changes are pushed to the master. I feel this is a danger.

An example of the problem:

The merge request is success for this PR(https://github.com/yegor2

[2016-03-12 18:03] original-brownbear commented on #1054
@sebing please see my comment in yegor256/takes#551 this is not Rultor imo.

[2016-03-12 18:10] sebing commented on #1054
@original-brownbear I think it is not an issue.

[2016-03-12 19:18] original-brownbear commented on #1041
@AbdealiJK fixed evidently and measures to stabilize this overall are in the making :)
Can you please close here ?

[2016-03-12 21:05] original-brownbear opened #1055 "SSHD Tests Are Very Unsafe and not Portable => Implement SSH Tests using Docker Container Instead"
We currently have a few integration test cases around SSH, all of which are problematic for obvious reasons.
They are using `com.jcabi.ssh.SSHD` documented [here](http://ssh.jcabi.com/apidocs-1.5.2/com/jcabi/ssh/SSHD.html).
This causes two issues:
* First off this thing only works on Linux, causing Mac developers to not be able to work on Rultor efficiently at the very least.
* Second of all and t

[2016-03-12 21:05] original-brownbear commented on #1055
@alex-palevsky this is a bug.

[2016-03-12 21:06] original-brownbear commented on #1042
@alex-palevsky this depends on #1055.

[2016-03-12 21:07] original-brownbear commented on #1052
@alex-palevsky this depends on #1055

[2016-03-12 21:07] original-brownbear commented on #1053
@alex-palevsky this depends on #1055

[2016-03-12 21:07] original-brownbear commented on #1015
@alex-palevsky this depends on #1055

[2016-03-12 21:08] original-brownbear commented on #906
@alex-palevsky this depends on #1055

[2016-03-12 21:11] original-brownbear commented on #1055
@alex-palevsky this is urgent.

[2016-03-13 10:19] sebing commented on #1054
@original-brownbear Can we have a staging in rultor?
- If a PR is accepted. It should be linked to a commit. Not just blindly take from the branch?
- In the current implementation. After the merge request and acceptance, If a developer modify the branch, the changes are pushed to the master. I feel this is a danger.

[2016-03-13 10:57] original-brownbear commented on #1054
@sebing makes sense.
Could you update the issue title and description with what you just posted ? It's a valid concern, lets have a clear cut ticket on the matter.

[2016-03-13 11:04] original-brownbear commented on #1041
@alex-palevsky more time please.
Merged already just in case this isn't closed by the author in time :) thanks!

[2016-03-13 11:17] sebing commented on #1054
@original-brownbear updated the issue.

[2016-03-13 11:26] #1041 closed

[2016-03-13 12:07] alex-palevsky commented on #1053
@original-brownbear since the ticket has no milestone I set it to 2.0

[2016-03-13 12:07] alex-palevsky commented on #832
@original-brownbear of course, the task is yours, go ahead

[2016-03-13 12:07] alex-palevsky commented on #864
@xupyprmv thanks for that

[2016-03-13 12:07] alex-palevsky commented on #906
@original-brownbear OK, let's wait for #1055

[2016-03-13 12:07] alex-palevsky commented on #1016
@original-brownbear OK, I put "postponed" label here

[2016-03-13 12:07] alex-palevsky commented on #1016
@original-brownbear I will assign somebody else to this issue

[2016-03-13 12:07] alex-palevsky commented on #1015
@original-brownbear OK, let's wait for #1055

[2016-03-13 12:07] alex-palevsky commented on #1043
@original-brownbear please, discuss each task in its own ticket. asking me here to look into some other ticket is rather confusing. when you need my attention in some ticket, ask me there.

[2016-03-13 12:07] alex-palevsky commented on #1042
@original-brownbear agreed, we'll wait for #1055

[2016-03-13 12:07] alex-palevsky commented on #1055
@original-brownbear tag "bug" added

[2016-03-13 12:07] alex-palevsky opened #1056 "ClosePullRequestTest.java:59-63: This class should only close..."
Puzzle `918-89660440` in `src/test/java/com/rultor/agents/github/ClosePullRequestTest.java:59-63` has to be resolved: This class should only close pull requests for successful merges, that have not resulted in GitHub itself closing the PR, do nothing for any other kind of request. Once this is implemented here, implement this class acting on all pull requests by adding it to the active Agents....

[2016-03-13 12:08] alex-palevsky commented on #1041
@abdealijk once `1041-7f83dd26` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-03-13 12:14] alex-palevsky commented on #864
@xupyprmv **30 mins** sent to your balance (ID `AP-51A5220577577171K`), many thanks! It took 117 hours and 33 mins.... +30 to your rating, your total score is [+240](http://www.netbout.com/b/35999?open=rating)

[2016-03-13 14:13] alex-palevsky commented on #1055
@original-brownbear there is no milestone yet, so I set it to `2.0`

[2016-03-13 14:13] alex-palevsky commented on #1056
@original-brownbear since there is no milestone yet I set it to "2.0"

[2016-03-13 14:13] alex-palevsky commented on #1041
@original-brownbear OK

[2016-03-13 14:13] alex-palevsky commented on #1041
@original-brownbear no problem, thanks for letting me know

[2016-03-13 14:13] alex-palevsky commented on #1052
@original-brownbear ok, let's wait for #1055

[2016-03-13 14:13] alex-palevsky commented on #1053
@original-brownbear yes, of course, we'll wait for #1055

[2016-03-13 14:14] alex-palevsky opened #1057 "DockerHealthCheck.java:47-50: Add DockerHealthCheck to the running..."
Puzzle `1041-7f83dd26` in `src/main/java/com/rultor/agents/docker/DockerHealthCheck.java:47-50` has to be resolved: Add DockerHealthCheck to the running SuperAgents. In doing so make sure that Rultor crashes throwing a meaningful exception as soon as DockerHealthCheck#execute throws and exception. #1041 has the details on the motivation behind this agent.... The puzzle was created by Armin Braun o

[2016-03-13 14:18] original-brownbear commented on #1054
@sebing thanks :) Though we need to make another change here, let me explain than you can more or less copy and paste this to the ticket and I'll dispatch it :)

yegor256/taks#511 is not a valid example of the issue I see here.
Honestly this one was/is just sloppy work by 2-3 people ;)

1. Dev made an accepted fix.
2. Rultor tries to merge it but it fails because it merged some other fix before th

[2016-03-13 14:19] alex-palevsky commented on #1039
@xupyprmv this is your task,please go ahead

[2016-03-13 14:19] alex-palevsky commented on #1055
@original-brownbear many thanks for the report, I topped your account for 30 mins, transaction AP-9D824169WF815933J

[2016-03-13 14:53] sebing commented on #1054
@original-brownbear Thank you for the detailed description.

If rultor can accept a commit id to merge than a branch. I feel we have a solution to the problem.

(My idea was, we need a staging solution. From issue raising to deployment. May be rultor may not be the right place for that)

[2016-03-13 15:10] alex-palevsky commented on #1057
@original-brownbear attached this issue to milestone "2.0" (let me know if this is wrong)

[2016-03-13 16:30] alex-palevsky commented on #1055
@original-brownbear right, I added "urgent" label

[2016-03-13 17:33] original-brownbear commented on #1054
@sebing yea that would be out of Rultor's scope.
I suggest to close here for now then, I think we were talking about very different things :)

[2016-03-13 17:36] sebing commented on #1054
@original-brownbear closing the issue.

[2016-03-13 18:07] original-brownbear commented on #1054
@sebing forgot to close I think :)

[2016-03-14 08:20] sebing commented on #1054
@original-brownbear closing the issue. Sorry for the confusion.

[2016-03-14 08:20] #1054 closed

[2016-03-14 09:39] original-brownbear commented on #1041
@alex-palevsky this got closed in time afterall, please close it in my agenda too :)

[2016-03-14 11:11] sebing commented on #1018
@alex-palevsky As this issue is closed and deployed. When will the rating will be updated? or I will end up with -30 :(

[2016-03-14 13:12] alex-palevsky commented on #1041
@original-brownbear it is closed already as far as I can see

[2016-03-14 13:17] alex-palevsky commented on #918
@vkuchyn Thank you, I have added **30 mins** to your account in payment/transaction "`80118889`", time consumed: 215 hours and 34 mins; +30 to your rating, your total score is [+150](http://www.netbout.com/b/36353?open=rating)

[2016-03-14 13:17] alex-palevsky commented on #1041
@original-brownbear **30 mins** added to your account (payment number `AP-2EB61086L35715701`), many thanks for your contribution! 163 hours and 55 mins spent here.. +30 added to your rating, at the moment it is: [+1206](http://www.netbout.com/b/36646?open=rating)

[2016-03-14 16:52] original-brownbear commented on #1055
@vkuchyn would this interest you? You already did something similar for the `years.sh`,
so basic bash and Maven exec shouldn't be an issue for you imo :)

[2016-03-14 17:01] original-brownbear commented on #876
@alex-palevsky invalid issue.

[2016-03-14 22:21] vkuchyn commented on #1055
@original-brownbear sounds interesting, I'll take it

[2016-03-14 22:22] original-brownbear commented on #1055
@alex-palevsky assign @vkuchyn please :)

[2016-03-15 12:36] alex-palevsky commented on #1055
@original-brownbear OK @vkuchyn please go ahead, this task is yours

[2016-03-15 12:39] alex-palevsky commented on #1052
@xupyprmv help us, the task is yours

[2016-03-15 12:39] alex-palevsky commented on #1053
@essobedo you may proceed,it's yours

[2016-03-15 17:01] essobedo opened #1058 "Need more information to fix the Puzzle 1018-15a5404e"
There are couple of things unclear that prevent me to fix the issue #1053 .

1. [This part](https://github.com/yegor256/rultor/blob/master/src/test/java/com/rultor/agents/daemons/StartsDaemonITCase.java#L134-L137) of the unit test seems to be incorrect as the provided xpath doesn't match with a Talk content but more with a Profile content, Can you confirm?
2. As far as I understand from the unit t

[2016-03-15 17:01] essobedo commented on #1058
@alex-palevsky needed for #1053

[2016-03-15 17:02] essobedo commented on #1053
@alex-palevsky waiting for #1058

[2016-03-15 17:22] original-brownbear commented on #1058
@essobedo Let me go one by one, thanks for writing this up :)

1. Yes sorry for missing this when reviewing the PR, you're 100% right the test is wrong. Since #1053 asks to fix the test anyhow, please handle it there.
2. Slightly confusing question, but probably the fault of what happened before. In a sense it's just this :)     ... If the image specified in the `.yml` is `yegor256` => always prin

[2016-03-15 19:22] alex-palevsky commented on #1053
@essobedo yes, of course, we'll wait for #1058

[2016-03-15 19:44] essobedo commented on #1058
Let me reformulate then, the XML format representing a Talk is defined by a XML Schema Definition aka XSD file that you can find [here](https://github.com/yegor256/rultor/blob/master/src/main/resources/com/rultor/spi/talk.xsd), if don't respect the XSD, your XML will be considered as invalid thus it will be rejected. And here according to the XSD, the _tag_ dir doesn't support a content with # as

[2016-03-15 20:46] yegor256 commented on #1047
@original-brownbear it's up to you. I think that we should ask our users to install as little as possible on their server in order to make them compatible with Rultor. If you can achieve that, do it. If something is not achievable, let's document that requirements in our reference page.

[2016-03-15 20:56] original-brownbear commented on #1047
@yegor256 alright Git container it is then :) It's very easy to achieve this actually and in any case in our best interest to have as much control as possible over the environment Rultor works in.
thanks!

[2016-03-15 21:16] original-brownbear opened #1059 "Rultor Needs to Allow Disabling Swapping for Containers"
Rultor currently starts Docker containers with two somewhat tricky flags:
* `--memory-swap=16g`
* `--oom-kill-disable`

This creates almost impossible to debug situations in tests involving timeouts. Certain software e.g. ZooKeeper will bring a system to an almost standstill when swapping, but never actually kill the process requiring more than the available amount of physical memory.

 `--oom-kil

[2016-03-15 21:16] original-brownbear commented on #1059
@alex-palevsky this is a bug.

[2016-03-15 22:56] original-brownbear commented on #1058
@essobedo sorry now I see your point you are 100% correct in your criticism.
Look at this ... https://github.com/yegor256/rultor/blob/master/src/test/java/com/rultor/agents/daemons/StartsDaemonITCase.java#L97

=> the test is incomplete here. It checks against the directory name, while it should obviously check against the content of the `stdOut` file ... like so (check the code linked to get the f

[2016-03-15 23:21] original-brownbear opened #1060 "Rultors Git Use Needs to be Dockerized"
Currently Rultor runs `git` commands on the SSH host it connects to, directly on the host.
This is not in line with the expected behaviour laid out in the docs [here](http://doc.rultor.com/reference.html) stating:

We need to dockerize Git use on the client machine here therefore.

# This issue is resolved when

* A `Dockerfile` is provided that builds an image (lets make it `yegor256/rultor-git`

[2016-03-15 23:21] original-brownbear commented on #1060
@alex-palevsky this is a bug.

[2016-03-15 23:23] original-brownbear commented on #832
@alex-palevsky this needs to wait for #1060.

[2016-03-16 07:32] original-brownbear commented on #1055
@vkuchyn if possible please give this some priority :) As you can see a few tickets depend on this so I'm happy to answer questions on short notice too ;)

[2016-03-16 07:36] vkuchyn commented on #1055
@original-brownbear I am currently on it

[2016-03-16 07:37] original-brownbear commented on #1055
@vkuchyn thanks, let me know if you need anything! :)

[2016-03-16 11:26] original-brownbear commented on #773
@alex-palevsky assign me please.

[2016-03-16 11:45] essobedo commented on #1058
@original-brownbear thx it is clear now

[2016-03-16 13:34] alex-palevsky commented on #832
@original-brownbear yep, got it, let's wait for #1060 being solved

[2016-03-16 13:34] alex-palevsky commented on #773
@original-brownbear there are already 8 active tasks in the project, we can't have more

[2016-03-16 13:35] alex-palevsky commented on #1060
@original-brownbear added "bug" tag to this issue

[2016-03-16 13:35] alex-palevsky commented on #1059
@original-brownbear I added `bug` tag to this ticket

[2016-03-16 13:38] alex-palevsky commented on #1053
@original-brownbear FYI, issue #1058 is already closed, and we were waiting for it..

[2016-03-16 13:48] original-brownbear commented on #917
@dskalenko this ticket has been with you quite a while now, any update ?

[2016-03-16 14:53] alex-palevsky commented on #1059
@original-brownbear I added milestone `2.0` to this issue, let me know if there has to be something else

[2016-03-16 14:53] alex-palevsky commented on #1060
@original-brownbear there is no milestone yet, so I set it to `2.0`

[2016-03-16 14:58] alex-palevsky commented on #1060
@original-brownbear thank you for the ticket reported, I topped your account for 30 mins, transaction `AP-1GU29725RY8374158`

[2016-03-16 15:48] original-brownbear commented on #1039
@xupyprmv any progress here so far ?

[2016-03-16 15:49] original-brownbear commented on #876
@alex-palevsky this is invalid.

[2016-03-16 15:50] original-brownbear commented on #1060
@alex-palevsky this is urgent.

[2016-03-16 16:17] dskalenko commented on #917
@original-brownbear
I did fix of this issue, but since my fix was rejected and I have to create new test (which not so easy to do), I need more time.

[2016-03-16 16:18] original-brownbear commented on #917
@dskalenko no problem, but please when it comes to more time @alex-palevsky needs to be informed asap. I'm just here for the tech not the schedule. Just tell him you nee more time!

[2016-03-16 16:35] alex-palevsky commented on #1059
@original-brownbear thanks a lot for reporting, **30 mins** added to your acc, pmt ID `AP-7A52811671755653U`

[2016-03-16 17:02] dskalenko commented on #917
@alex-palevsky
I need more time to complete this issue

[2016-03-16 17:11] original-brownbear commented on #917
@dskalenko thanks for reporting that, could you give some time frame to expect here too please?

[2016-03-16 17:39] essobedo commented on #1053
@alex-palevsky Another question why do we need the notice in both StartsDaemon and EndsDaemon?

[2016-03-16 18:01] xupyprmv commented on #1039
@original-brownbear I didn't start yet. But issue looks clear. I will try to resolve it.

[2016-03-16 18:12] essobedo commented on #1058
@alex-palevsky Another question why do we need the notice in both StartsDaemon and EndsDaemon?

[2016-03-16 19:01] original-brownbear commented on #1059
@alex-palevsky this is urgent.

[2016-03-16 19:05] alex-palevsky commented on #917
@dskalenko no problem, thanks for letting me know

[2016-03-16 19:05] alex-palevsky commented on #1060
@original-brownbear OK, I put "urgent" label here

[2016-03-16 19:28] essobedo opened #1061 "TailITCase.tailsNonUtf fails on Mac OS X"
When trying to build Rultor with Java 7 I get the following error:
[code]
If I try to build Rultor with Java 8 I get the following error:
[code]
We should be able to build Rultor on Mac OS X according to this [note](https://github.com/yegor256/rultor/blob/master/pom.xml#L873-L875).

If this particular test cannot be fixed on Mac OS X, it could be nice to have a specific maven profile that will be

[2016-03-16 19:30] essobedo commented on #1053
@alex-palevsky @original-brownbear I had to reopen #1058 to have the answer of a new question

[2016-03-16 19:31] original-brownbear commented on #1061
@essobedo working on a better solution than that here #1055 :) it's incoming.

[2016-03-16 19:33] essobedo commented on #1061
@original-brownbear ok thx so I close it then

[2016-03-16 19:33] #1061 closed

[2016-03-16 19:39] dskalenko commented on #917
@original-brownbear I'll do my best to complete to the end of week

[2016-03-16 19:47] alex-palevsky commented on #1060
@ail-man it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-03-17 04:29] yegor256 commented on #1060
@original-brownbear I'm not sure where you're planning to store the private SSH key. currently it stays in `~/.ssh/id_rsa` on the host machine. we don't want to have it in the Docker image, for security reasons..

[2016-03-17 04:29] yegor256 commented on #1047
@original-brownbear OK thanks

[2016-03-17 07:16] original-brownbear commented on #1060
@yegor256 updated the task description, this was worded in an unfortunate way. The container should simply mount the hosts ssh config and done. Either way it wouldn't even know the ssh keys when the image is build.
Edited the task description slightly with a better solution to this :)
Thanks for pointing this out!

[2016-03-17 07:53] essobedo commented on #1058
@original-brownbear could you please answer my last question? I'm stuck otherwise, thx in advance.

[2016-03-17 08:00] original-brownbear commented on #1058
@essobedo Hey sorry had this one on low priority, you're stuck either way in that ticket as it depends on another one. See the comments there, so no worries this does not count as spending time on the ticket either way :) In fact it should also show up as having an impediment ( or 2 now ) in your agenda, so you're good in that regard.

That being said answer: we eventually simply decided to show t

[2016-03-17 10:01] essobedo commented on #1058
@original-brownbear that's very clear now thank very much.

[2016-03-17 10:01] #1058 closed

[2016-03-17 11:12] essobedo commented on #1053
@alex-palevsky here is my PR #1062, please find a reviewer

[2016-03-17 13:43] alex-palevsky commented on #1018
@sebing no, this task is not yours that's why no points and no payments to you (if you disagree, talk to project architect)

[2016-03-17 13:43] alex-palevsky commented on #1053
@essobedo OK

[2016-03-17 13:43] alex-palevsky commented on #1059
@original-brownbear sure, thanks, I added "urgent" label to it

[2016-03-17 13:47] sebing commented on #1018
@original-brownbear As I have finished this task in time. Do you think it is fair
- not get paid
- and get a -30 points?

[2016-03-17 15:03] original-brownbear commented on #1018
@sebing I'm sorry but fair is not the category here in the first place. @alex-palevsky 's actions are in full compliance with the our policy. You asked to be reassigned, he reassigned you.
The fact that there was some delay here is pretty much irrelevant.

**Still, regarding fair:**
I took a little time looking into this and found yegor256/takes#600 and associated pull request yegor256/takes#632.

[2016-03-17 15:25] sebing commented on #1018
@original-brownbear Thanks for the detailed reply it is great to know the detail always from you :).

- I have not understood the relation between (https://github.com/yegor256/rultor/issues/1018) and PR(https://github.com/yegor256/takes/pull/632) they are not connected. So I don't understand the point of bringing one of my previous mistakes here.
- The PR which is connected the issue(which I thoug

[2016-03-17 15:26] sebing commented on #1018
@original-brownbear @alex-palevsky Lesson learned here. Never say no. :)

[2016-03-17 15:35] original-brownbear commented on #1018
@sebing the lesson simply is, follow the rules without any exceptions ever.
You had two options here:
1. Asking for more time.
2. Saying no.
You said no (https://github.com/yegor256/rultor/issues/1018#issuecomment-194227106)
What you're doing when asking to give you a break here, is simply asking others to spent unpaid time for you, in order to sort these things out. If this would be done here, it

[2016-03-17 15:41] alex-palevsky commented on #1043
@original-brownbear There are a few concerns (see [par.33](http://at.teamed.io/policy.html#33)):

 * some tasks in the project are "stuck": #773 (397 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them ([par.29](http://at.teamed.io/policy.html#29)), or 3) try to help their

[2016-03-17 15:44] ail-man commented on #1060
@alex-palevsky I assume that before the fix I need to setup my environment (I newbee in the project) and run it properly. I try to do it by myself, but it fails. Who can help me with it?

[2016-03-17 15:44] original-brownbear commented on #876
@sils1297 sorry to bother you here, but could you please close this ? :)

[2016-03-17 15:45] sebing commented on #1018
@original-brownbear Okay i will keep quiet :) I won't be over-smart and assess the urgency of the issue anymore ;)
So you fixed the issue without paying me, I understand it was my mistake to underestimate my ability that i can fix the issue.

Thanks for the explanations.

[2016-03-17 15:54] original-brownbear commented on #1060
@ail-man please refer to me when it comes to technical questions.
Before you do though, please read this:
http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

That being said, simply running the build for this project is trivial and explained in the readme:

```mvn clean install -Pqulice```

... that's it. Helping is not something that will happen here.
* Setting up your Maven development e

[2016-03-17 16:10] ail-man commented on #1060
@original-brownbear your answer helps me. I just didn't know where to start. Start is always difficult, but then everything goes easier. PS: maven and everything else I configured. Thanks!

[2016-03-17 17:49] sebing commented on #1018
@alex-palevsky @original-brownbear Just for the record, If anyone looking at the the treads. To know that you guys are co-coordinately working in "fairly"

- @alex-palevsky remove me from the issue after my request to remove for two days on `Mar 11, 2016, 1:52 PM GMT`
- The merge request is made in the pr at `Mar 11, 2016, 12:05 PM GMT`

So the manager knows theoretically the work is done and if I

[2016-03-18 12:58] alex-palevsky commented on #1018
@sebing again, sorry about this

[2016-03-18 14:02] original-brownbear opened #1063 "EC2 Instance is down"
@yegor256 please take a look as soon as you can.

I'm seeing this right now. Indicating the EC2 instance itself is down.

[code]

Also I think we need to come up with some contingency plan for this situation. While the situation of the Docker daemon halting is close to resolved for good, the EC2 instance itself needs a different approach.

Given that Rultor is supposed to be able to provision EC2

[2016-03-18 16:32] original-brownbear commented on #1063
@yegor256 The Docker service is still down I think, can you check that too ?

[2016-03-18 18:33] original-brownbear commented on #1063
Closing this is up and running again, we have tickets for the general issue with EC2 already.

[2016-03-18 23:46] original-brownbear commented on #1055
@vkuchyn got an update for me ? :)

[2016-03-19 06:12] vkuchyn commented on #1055
@original-brownbear Unfortunately not. I stuck with docker. I can build image and run container with sshd but have 2 problems:
1. Identify IP of container (my docker machine has IP 192.168.99.100, I am not sure everyone has the same - need to parametrize somehow)
2. Copied public key to ~/.ssh (BTW ssh requires 600 permissions for private key. This need to be configure locally, I cannot push permi

[2016-03-19 10:27] original-brownbear commented on #1055
@vkuchyn No problem, I'm specifically asking so that we can handle this quickly here, happy to help :)

**Lets start with 2 :)**

The public key goes to the server and needs to be in the /root/.ssh/authorized_keys.
I'd use this snipped in the Dockerfile for that(only need to adjust the local public key file name imo):

[code]

**About the local private key:**
Yes you can push file permissions to G

[2016-03-19 19:12] xupyprmv commented on #1052
@alex-palevsky Nothing to do here right now, because of causal relationship defect. This ticket require first puzzle from https://github.com/yegor256/rultor/issues/1018#issuecomment-195495201 solved. Please add first puzzle to let me request waiting for it.

[2016-03-19 21:22] xupyprmv commented on #1052
@alex-palevsky Sorry, it is my mistake. Issue for first puzzle is already created.

I'm waiting for #1053 here.

[2016-03-19 23:18] original-brownbear opened #1065 "Remove DockerExec, it's Dead Code once DockerHealthCheck is Finished"
# Background

At this point `com.rultor.agents.docker.DockerExec` only has one purpose,
it periodically connects to the EC2 instance and by following functionality indicates whether the
service is up and running or not.
It's documented purpose `Remove old images from Docker.` is not fulfilled by it. The class was an attempt to resolve #906 . Eventually it turned out that the approach taken by the

[2016-03-19 23:18] original-brownbear commented on #1065
@alex-palevsky this is a bug.

[2016-03-19 23:18] original-brownbear commented on #1065
@alex-palevsky this dependes on #1063.

[2016-03-19 23:19] original-brownbear commented on #1065
@alex-palevsky this depends on #1057.

[2016-03-20 00:03] original-brownbear opened #1066 "Substitute Dynamic EC2 Provisioning with ECS provisioning"
# Background

The constant possibility of the EC2 instance Rultor runs on crashing, in a manner Rultor cannot recover from itself, needs to be resolved. Implementing this was initiated in #629 .
Currently this leaves us with #825, #826 and #827.
With the advent of `AWS ECS` we have a significantly more performant ( in terms of boot time ) and hence much more economic alternative to bare `EC2` avai

[2016-03-20 00:04] original-brownbear commented on #1066
@alex-palevsky this is a bug.

[2016-03-20 00:14] original-brownbear commented on #876
@alex-palevsky could you please close this, this has been going on forever now :) ?

[2016-03-20 00:39] sils1297 commented on #876
didnt see it

[2016-03-20 00:39] #876 closed

[2016-03-20 00:40] original-brownbear commented on #876
@sils1297 thanks! :)

[2016-03-20 11:35] original-brownbear commented on #917
@dskalenko any news ? :)

[2016-03-20 13:17] alex-palevsky commented on #1065
@original-brownbear I just added bug tag here

[2016-03-20 13:17] alex-palevsky commented on #1066
@original-brownbear tagged this issue with "bug"

[2016-03-20 14:54] alex-palevsky commented on #1065
@original-brownbear milestone set to `2.0` (correct me if I am wrong)

[2016-03-20 14:54] alex-palevsky commented on #1066
@original-brownbear since there is no milestone yet I set it to "2.0"

[2016-03-20 15:13] alex-palevsky commented on #1066
@original-brownbear many thanks for the report, I topped your account for 30 mins, transaction AP-4PG902139H4099616

[2016-03-20 16:27] alex-palevsky commented on #1065
@original-brownbear of course, let's wait for #1057

[2016-03-20 16:31] alex-palevsky commented on #1065
@original-brownbear thanks for the report, I topped your acc for 30 mins, payment ID `AP-0C298578R5425400E`

[2016-03-21 11:07] original-brownbear commented on #1055
@vkuchyn careful with the time :
1. For your own good :) => Don't get penalised, please inform @alex-palevsky if you need more time.
2. For my good: Any ETA for me ? :)

[2016-03-21 13:52] original-brownbear commented on #1052
@alex-palevsky this is not urgent.

[2016-03-21 13:53] original-brownbear commented on #1060
@ail-man any progress here ?

[2016-03-21 13:57] original-brownbear commented on #1010
@alex-palevsky this is postponed.

[2016-03-21 14:00] ail-man commented on #1060
@original-brownbear unfortunatelly no. I don't quite understand the problem. Please, assign this puzzle to another

[2016-03-21 14:01] original-brownbear commented on #1060
@ail-man please ask @alex-palevsky to reassign you

[2016-03-21 16:01] vkuchyn commented on #1055
@original-brownbear thanks for your warning. I've got sickness and last few days out of job. I need couple days more to recover.
@alex-palevsky I've got sickness and need few days to recover. This may be cause of delaying with delivery. So, I need three days more for this task.

[2016-03-21 16:15] alex-palevsky commented on #1010
@original-brownbear got it, "postponed" label here

[2016-03-21 16:15] alex-palevsky commented on #1010
@original-brownbear I will try to find someone else

[2016-03-21 16:15] alex-palevsky commented on #1052
@original-brownbear right, I removed "urgent" tag

[2016-03-21 16:51] xupyprmv commented on #1039
@alex-palevsky I need more time here, please.

[2016-03-21 17:43] alex-palevsky commented on #1043
@original-brownbear There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

 * some tasks in the project are "stuck": #773 (401 days), #1028 (22 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them ([par.29](http://at.teamed.io/policy.

[2016-03-21 17:44] original-brownbear commented on #1028
@alex-palevsky this is postponed.

[2016-03-21 17:45] original-brownbear commented on #773
@alex-palevsky this is postponed.

[2016-03-21 19:02] alex-palevsky commented on #773
@original-brownbear right, I added "postponed" label

[2016-03-21 19:02] alex-palevsky commented on #773
@original-brownbear right, I'll try to find someone else for this task

[2016-03-21 19:02] alex-palevsky commented on #1028
@original-brownbear OK, I put "postponed" label here

[2016-03-21 19:02] alex-palevsky commented on #1028
@original-brownbear all right, we'll find someone else for this task

[2016-03-21 19:02] alex-palevsky commented on #1039
@xupyprmv right, take your time and thanks for informing

[2016-03-21 23:20] original-brownbear opened #1067 "Rultor Needs to Lock in on a Revision when Merging"
Rultor has a certain delay between someone posting a command and Rultor actually going to work on it.
Depending on the hour of the day, this can easily be 5 to 10 minutes.
Since Rultor merges according to branch names this actually allows the PR author to push commits to the PR after the `merge` command was issued. This introduces security as well as usability issues.

# Fix needs to Provide
* Rul

[2016-03-21 23:21] original-brownbear commented on #1067
@alex-palevsky this is a bug.

[2016-03-21 23:21] original-brownbear commented on #1067
@alex-palevsky this is postponed.

[2016-03-22 12:44] alex-palevsky commented on #1067
@original-brownbear I tagged this as "bug"

[2016-03-22 14:33] alex-palevsky commented on #1067
@original-brownbear I set milestone here to `2.0`, let me know if it is wrong

[2016-03-22 14:37] alex-palevsky commented on #1067
@original-brownbear many thanks for the bug report, I added 30 mins to your acc, transaction `AP-46M38900MJ437613G`

[2016-03-22 15:54] alex-palevsky commented on #1067
@original-brownbear got it, "postponed" label here

[2016-03-22 15:54] alex-palevsky commented on #1067
@original-brownbear all right, we'll find someone else for this task

[2016-03-22 21:08] mkordas opened #1068 "Puzzles and estimates are not verified for Travis and unnecessary install phase"
Despite of wrong format of puzzle in https://github.com/yegor256/rultor/pull/1062/files#diff-ea7114db89077c9c78dabe89a363b468R64 the builds were fine. We should have an immediate feedback about such mistakes from CIs, e.g. from Travis.

Tools `est` and `pdd` should be added like e.g. in https://github.com/yegor256/takes/blob/master/.travis.yml

Moreover, we have `install` phase on Travis, which ta

[2016-03-22 21:29] original-brownbear commented on #1068
@mkordas you already reported this here #1035 didn't you ? :)

[2016-03-22 22:49] mkordas commented on #1068
@original-brownbear thanks, closing this one. However #1035 shouldn't be postponed, as it strikes back in PRs :)

[2016-03-22 22:49] #1068 closed

[2016-03-22 22:57] original-brownbear commented on #1068
@mkordas in a sense I agree, it's kind of a basic thing to have the .travis.yml right.
But then again you can see the progress we're currently making here, partly in thanks to this issue teamed/xdsd#45 ... => I'd rather put in the steps towards better EC2 and Docker use with the resources available than block a task with this timing out.
For better or for worse ... we really aren't dealing with a

[2016-03-23 10:29] vkuchyn commented on #1055
@alex-palevsky I need more time for this task

[2016-03-23 13:48] alex-palevsky commented on #1055
@vkuchyn of course, take your time

[2016-03-23 17:30] xupyprmv commented on #1052
@alex-palevsky Also this depends on #1053

[2016-03-24 06:43] essobedo commented on #1053
@alex-palevsky The PR has been merged, could you please proceed, thank you in advance

[2016-03-24 11:55] dskalenko commented on #917
@alex-palevsky
Please find other person to fix this issue. Thanks

[2016-03-24 12:53] alex-palevsky opened #1069 "EndsDaemon.java:64-66: Reduce the data abstraction coupling..."
Puzzle `1053-dc86a5cc` in `src/main/java/com/rultor/agents/daemons/EndsDaemon.java:64-66` has to be resolved: Reduce the data abstraction coupling of EndsDaemon in order to get rid of the checkstyle suppression of ClassDataAbstractionCouplingCheck... The puzzle was created by Nicolas Filotto on 22-Mar-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task wi

[2016-03-24 12:54] alex-palevsky commented on #1053
@original-brownbear the code made here contains a puzzle `1053-dc86a5cc`/#1069, which will be resolved soon

[2016-03-24 16:08] alex-palevsky commented on #1069
@original-brownbear since there is no milestone yet I set it to "2.0"

[2016-03-24 16:08] alex-palevsky commented on #917
@dskalenko sure, no problem

[2016-03-25 13:34] alex-palevsky commented on #1053
@original-brownbear Thanks all, closed

[2016-03-25 13:34] #1053 closed

[2016-03-25 13:37] alex-palevsky commented on #1053
@essobedo thanks, paid, **30 mins** to your account, payment ID is `81394688`, task took 191 hours and 13 mins to complete; +30 added to your rating, at the moment it is: [+375](http://www.netbout.com/b/36421?open=rating)

[2016-03-25 15:54] original-brownbear commented on #1042
@alex-palevsky this is postponed.

[2016-03-25 15:54] original-brownbear commented on #1007
@alex-palevsky this is postponed.

[2016-03-25 18:17] alex-palevsky commented on #1007
@original-brownbear right, I added "postponed" label

[2016-03-25 18:17] alex-palevsky commented on #1007
@original-brownbear right, I'll try to find someone else for this task

[2016-03-25 18:17] alex-palevsky commented on #1042
@original-brownbear right, I added "postponed" label

[2016-03-25 18:17] alex-palevsky commented on #1042
@original-brownbear no problem, I will try to find somebody else

[2016-03-25 22:32] original-brownbear commented on #1055
@vkuchyn any update for me :) ? **4 days ago you asked for 3 more days ;)**
This is a little urgent you know ... hence my being pushy here.

Please rather [cut corners](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) than stall this one :)
I can help you with whatever issues you might come across really, but if this stalls completely (1 week without any movement in content here :/ ) th

[2016-03-26 06:47] vkuchyn commented on #1055
@original-brownbear I'm gonna finish this task today, I've already recovered

[2016-03-26 08:38] vkuchyn commented on #1055
@original-brownbear the question is - if it is necessary to create run.sh file or I can run sshd (CMD ["/usr/sbin/sshd", "-D"] ) directly in build file as ENTRYPOINT.
What is the reason to move daemon script to separate file?

[2016-03-26 08:41] original-brownbear commented on #1055
@vkuchyn that's fine too, but you need to make sure that the `sshd` is then properly started in a non-daemon way. Not sure `ssh -D` will work. But if you start it up with non-daemon arguments no need for the `run.sh` file. It's just there to keep the container open by tailing `/dev/null` forever ;) I'm good with a different solution to not having the container stop too though.

[2016-03-26 08:50] vkuchyn commented on #1055
@original-brownbear ok, thanks.
About previous question, number one https://github.com/yegor256/rultor/issues/1055#issuecomment-198642903
Your answer:

It is only about port, I was talking about IP address. I have docker machine (suppose, this is virtual machine with linux and docker onboard) hosted on IP 192.168.99.100. After running sshd docker image to connect via ssh I need to run command
`ssh

[2016-03-26 08:58] original-brownbear commented on #1055
@vkuchyn this ip you can find the IP in the `DOCKER_HOST` environment variable.
I think in terms of providing this information, I think the easiest would be to have the bash script starting the container echo it into a file in the `target` directory and then read that from the Java tests.

[2016-03-26 10:07] #1039 closed

[2016-03-26 15:13] xupyprmv commented on #1039
@alex-palevsky PR #1070 was merged. This ticket is closed.

[2016-03-26 15:19] original-brownbear commented on #1069
@alex-palevsky this is not urgent.

[2016-03-26 15:19] original-brownbear commented on #1052
@alex-palevsky this is not urgent.

[2016-03-26 15:22] original-brownbear commented on #1060
@alex-palevsky assign someone else please.

[2016-03-26 23:46] vkuchyn commented on #1055
@alex-palevsky fixed in #1071. Need to be reviewed

[2016-03-27 12:54] alex-palevsky commented on #1039
@xupyprmv thank you!

[2016-03-27 12:54] alex-palevsky commented on #1052
@original-brownbear got it, "urgent" tag removed from here

[2016-03-27 12:54] alex-palevsky commented on #1055
@vkuchyn thanks for that

[2016-03-27 12:54] alex-palevsky commented on #1060
@original-brownbear all right, we'll find someone else for this task

[2016-03-27 12:54] alex-palevsky commented on #1069
@original-brownbear right, I removed "urgent" tag

[2016-03-27 12:54] alex-palevsky opened #1072 "Profiles.java:108-115: Add integration test to be..."
Puzzle `1039-d8a49c64` in `src/main/java/com/rultor/profiles/Profiles.java:108-115` has to be resolved: Add integration test to be sure that validation exception will eventually be posted as an Answer in GitHub. After you create integration test, add `validated` method call in `fetch` method: `...this.validated(master, this.merged(...`. Modify `merged` method implementation: merged profile is a `.

[2016-03-27 12:55] alex-palevsky commented on #1039
@original-brownbear once `1039-d8a49c64`/#1072 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-03-27 13:11] alex-palevsky commented on #1010
@original-brownbear #1039 is closed, it was an impediment

[2016-03-27 14:18] alex-palevsky commented on #1072
@original-brownbear milestone set to `2.0` (correct me if I am wrong)

[2016-03-27 14:22] alex-palevsky commented on #1060
@dalifreire this is your ticket, please proceed

[2016-03-27 15:11] original-brownbear commented on #1069
@alex-palevsky this is postponed.

[2016-03-27 15:12] original-brownbear commented on #1059
@alex-palevsky assign someone to this issue please if possible.

[2016-03-27 16:31] alex-palevsky commented on #1069
@original-brownbear got it, "postponed" label here

[2016-03-27 16:31] alex-palevsky commented on #1069
@original-brownbear OK, I will try to assign someone else

[2016-03-27 17:19] dalifreire commented on #1060
@alex-palevsky I'm a Java developer with no experience with Docker. That documentation is not complete enough for a Java developer (with no experience with Docker) to understand and solve this issue.

@original-brownbear I really tryed to do my best and I created the PR #1073. I think I can finish this issue with some help (maybe you can provide more details about what must be done), or you can as

[2016-03-27 17:31] original-brownbear commented on #1060
@dalifreire tricky spot. Frankly I feel like the issue description essentially contains the solution, but I admit that without any Docker knowledge this requires some learning on the performers end either way.
Your PR doesn't contain much too I'm afraid.
I can provide help with concrete questions here, but laying out the solution in more detail would go very much against [this](http://www.yegor256

[2016-03-27 17:49] dalifreire commented on #1060
@original-brownbear Yes, I think the problem isn't your issue description. For me, the problem is assign this issue to someone without Docker knowledge. I think my knowledge is not enough to fix that in 30 minutes.

But if I ask for @alex-palevsky to assign someone else I'll be punished in -30 points from my rating.... :(

[2016-03-27 17:55] original-brownbear commented on #1060
@dalifreire I understand you here, but this really isn't my responsibility I'm afraid. This simply is an issue to take up with the PM.

[2016-03-27 18:00] dalifreire commented on #1060
@alex-palevsky Could you help us here? I'm a Java developer with no experience with Docker.

[2016-03-27 18:07] dalifreire commented on #1060
@original-brownbear Ok, I'll try to do something untill @alex-palevsky return.

What do you mean with "contains the git command"? All the git commands present in the .rultor.yml file (like git commit -am "${tag}") must be moved to the Dockerfile file?

[2016-03-27 18:40] original-brownbear commented on #1060
@dalifreire for now we don't need to move the actual scripts for merging and the like to the container, this can be done at a later stage maybe, not needed here.

What we need here is simply to have a bash script that acts exactly like the `git` binary, so that our `git` use becomes independent of the host we `ssh` into.
Maybe this example I created a while back helps, it dockerizes the `phpunit`

[2016-03-27 22:39] original-brownbear commented on #1052
@xupyprmv you didn't do any work here right ? Are you ok with postponing this and unassign so you're not blocked by it ?

[2016-03-27 23:40] dalifreire commented on #1060
@original-brownbear Thanks for your help. I really appreciate that, but I don't have the right skills to do this issue. I'm completely newbie with docker and I don't know how can I do basic things like check that what I'm doing is right, etc...

@alex-palevsky I don't have the right skills to do this issue. That documentation is not complete enough for a Java developer (with no experience with Doc

[2016-03-28 08:45] original-brownbear commented on #1060
@dalifreire no problem, please send a separate comment to @alex-palevsky though, otherwise he won't react most likely.

[2016-03-28 09:52] dalifreire commented on #1060
@alex-palevsky I don't have the right skills to do this issue. That documentation is not complete enough for a Java developer (with no experience with Docker like me) to understand and solve this issue. Please, finds someone else with the right skills.

[2016-03-28 14:17] alex-palevsky commented on #1039
@xupyprmv Thank you, I have added **30 mins** to your account in payment/transaction "`AP-8K392850DC1718548`", time consumed: 334 hours and 36 mins; +30 added to your rating, at the moment it is: [+300](http://www.netbout.com/b/35999?open=rating)

[2016-03-28 17:14] yegor256 opened #1074 "NumberFormatException in StartsTalks.activate()"
I see this in logs, in production:

[code]

Doesn't look to me.. Let's find the problem and fix.

[2016-03-28 17:57] alex-palevsky commented on #1074
@yegor256 I just added bug tag here

[2016-03-28 17:57] original-brownbear commented on #1074
@yegor256 looks to me this could be the result of someone mentioning Rultor, when commenting on a commit. That would make the last part of the url ( string after last `/` is what Rultor is looking for here ) some sha hash like we see here.

You don't by any chance know what project this was in do you ? ( then we could just check and have a much simpler time reproducing/(gauging the impact of) this

[2016-03-28 18:28] xupyprmv commented on #1052
@original-brownbear I think I can close it without waiting of #1055. Because #1053 is already resolved. I will add PR soon.

[2016-03-28 18:29] original-brownbear commented on #1052
@xupyprmv right ! thanks!

[2016-03-28 19:56] alex-palevsky commented on #1074
@yegor256 I added milestone `2.0` to this issue, let me know if there has to be something else

[2016-03-28 20:01] alex-palevsky commented on #1074
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-03fc89d9

[2016-03-28 20:27] yegor256 commented on #1074
@original-brownbear no, I don't have that information (project name). but I think you're right, someone is talking to rultor in commit comments. we should deal with it correctly, I guess :)

[2016-03-28 20:28] yegor256 commented on #1074
@original-brownbear and the fact that I don't have that information is a bug by itself, I think. would be much more convenient to catch all that exceptions and re-wrap them with more information about the context

[2016-03-28 22:18] original-brownbear opened #1075 "com.rultor.agents.github.StartsTalks#execute Should Provide more Context to all Exceptions by Rethrowing them"
Currently `com.rultor.agents.github.StartsTalks#execute` does not provide context to exceptions it runs into as can be seen in #1074.
This makes interpreting logged errors a lot less productive than it should be.
Given that the class `StartsTalks` has the `github` property, which via the `com.jcabi.github.Github#entry` method returns the REST request made for this build, we should add this to all

[2016-03-28 22:18] original-brownbear commented on #1075
@alex-palevsky this is a bug.

[2016-03-28 22:22] original-brownbear commented on #1074
@yegor256 agreed on the exception context ticket added for that :)

As for comments, how about we simply make Rultor respond this here:
`I only work on pull requests and issues. I provide no functionality related to individual commit discussions.`

Makes sense ?

[2016-03-29 00:53] yegor256 commented on #1074
@original-brownbear yep, that would be good

[2016-03-29 14:32] alex-palevsky commented on #1075
@original-brownbear added "bug" tag to this issue

[2016-03-29 16:27] alex-palevsky commented on #1075
@original-brownbear I set the milestone to 2.0 since there is nothing set yet

[2016-03-29 16:32] alex-palevsky commented on #1075
@original-brownbear many thanks for the report, I topped your account for 30 mins, transaction AP-9NB34743BN644760D

[2016-03-29 19:09] original-brownbear commented on #1075
@alex-palevsky this is postponed.

[2016-03-29 19:09] original-brownbear commented on #1074
@alex-palevsky this is postponed.

[2016-03-30 12:06] original-brownbear commented on #1055
@alex-palevsky merged :) Thanks all!

[2016-03-30 12:06] #1055 closed

[2016-03-30 12:18] original-brownbear commented on #1072
@alex-palevsky assign someone if possible please :)

[2016-03-30 12:47] alex-palevsky commented on #1060
@dalifreire ask project architect to help you

[2016-03-30 12:47] alex-palevsky commented on #1059
@original-brownbear OK

[2016-03-30 12:47] alex-palevsky commented on #1074
@original-brownbear right, I added "postponed" label

[2016-03-30 12:47] alex-palevsky commented on #1074
@original-brownbear someone else will help in this task, no problem at all

[2016-03-30 12:47] alex-palevsky commented on #1075
@original-brownbear got it, "postponed" label here

[2016-03-30 12:48] alex-palevsky commented on #1075
@original-brownbear all right, we'll find someone else for this task

[2016-03-30 12:52] alex-palevsky commented on #906
@dmzaytsev #1055 is closed, we were waiting for it.. maybe we can continue?

[2016-03-30 12:52] alex-palevsky commented on #1015
@original-brownbear I think we can continue, impediment #1055 is closed

[2016-03-30 12:52] alex-palevsky commented on #1042
@abdealijk we waited for #1055, it is closed already

[2016-03-30 12:52] alex-palevsky commented on #1052
@original-brownbear we waited for #1055, it is closed already

[2016-03-30 14:16] alex-palevsky commented on #1055
@original-brownbear no problem :)

[2016-03-30 15:02] vkuchyn commented on #1055
@alex-palevsky merged in #1071. Please, proceed payment

[2016-03-30 15:04] original-brownbear commented on #1055
@vkuchyn please don't forget to close the PR :)

[2016-03-30 15:17] vkuchyn commented on #1055
@original-brownbear already

[2016-03-30 15:54] original-brownbear commented on #1063
@yegor256 please restart this again asap.

[2016-03-30 16:00] original-brownbear commented on #1063
@yegor256 down again, please restart.

[2016-03-30 16:11] original-brownbear commented on #1065
@alex-palevsky this is postponed.

[2016-03-30 16:12] original-brownbear commented on #1063
@yegor256 appears its back ....

[2016-03-30 16:14] original-brownbear commented on #1056
@alex-palevsky this is postponed.

[2016-03-30 16:40] original-brownbear opened #1077 "EC2 Instance Behaves Erratically Again"
@yegor256 could you please look into this?
It seems it going up and down every few minutes at the moment,
I have no way of checking why sorry.

[2016-03-30 19:03] yegor256 commented on #1077
@original-brownbear fixed already

[2016-03-30 19:03] #1077 closed

[2016-03-30 19:07] original-brownbear commented on #1077
@yegor256 thanks!

[2016-03-30 19:07] yegor256 commented on #1063
@original-brownbear we desperately need to move to on-demand EC2 instances. we're getting more projects on board and one Docker server is simply not stable enough (despite all that millions of dollars invested). so, let's focus on moving to on-demand machines!

[2016-03-30 19:11] original-brownbear commented on #1066
@alex-palevsky assign me please.

[2016-03-30 19:23] original-brownbear commented on #917
@alex-palevsky this is postponed.

[2016-03-30 19:23] original-brownbear commented on #1015
@alex-palevsky this is postponed.

[2016-03-30 19:24] original-brownbear commented on #832
@alex-palevsky this is postponed.

[2016-03-30 19:26] original-brownbear commented on #1072
@alex-palevsky this is not urgent.

[2016-03-30 19:26] original-brownbear commented on #1072
@alex-palevsky this is postponed.

[2016-03-30 19:50] original-brownbear commented on #1066
@alex-palevsky this is very urgent.

[2016-03-30 20:49] original-brownbear commented on #1063
@yegor256

It's down again ..., did anything change with that machine?
Should I look into that machine maybe? This dying so frequently seems to be some new issue with that machine.

As for on-demand:
I'm on that personally now in #1066, urgency is understood.

[2016-03-30 21:13] original-brownbear commented on #1063
@yegor256 we finally have a useful error message, there is no space on the EC2 left!

[2016-03-30 21:18] original-brownbear commented on #1063
@yegor256  we finally have a useful error message in one of our projects , there is no space on the EC2 left!

Maybe just run a
[code]

Followed by

[code]
and start fresh ...?

[2016-03-31 00:00] alxn commented on #919
@original-brownbear what did you think about this one?

[2016-03-31 01:51] original-brownbear commented on #919
@alxn I don't think it would be too hard to have Rultor enforce a nice log in the future.

I mean we're working from the rule of small and single-issue PRs anyways, so we could simply
enforce the log style you want the following way:
* Forbid merging any branches that have merge commits in them, that aren't also in master
* Limit PRs to a certain number of commits (~3 I'd suggest), make people squ

[2016-03-31 14:45] sils1297 opened #1080 "Container name already used"
Hi, I'm getting this on merge on https://github.com/coala-analyzer/coala/pull/1989 and https://github.com/coala-analyzer/coala-bears/pull/310:

[code]

[2016-03-31 14:48] original-brownbear commented on #1080
@sils1297 this is a result of #1063 I'm afraid.
Rultor Docker daemon is out of disk space and likely that container was not properly killed because the daemon died at some point. Fixing the disk space issue will clean up that container for sure though.
Sorry for that, we're on it in #1063.

[2016-03-31 14:49] original-brownbear commented on #1063
@yegor256 ping.

[2016-03-31 16:20] sils1297 commented on #1063
Any news?

[2016-03-31 17:19] yegor256 commented on #1063
@original-brownbear there is enough space:

[code]

[2016-03-31 17:20] original-brownbear commented on #1063
@yegor256 the space on the HD doesn't matter. What matters is the free space of the Docker overlay fs.

What's the output of `docker info` ?

[2016-03-31 17:20] yegor256 commented on #1063
@original-brownbear here you go:

[code]

[2016-03-31 17:21] original-brownbear commented on #1063
@yegor256 it's full

[code]

[2016-03-31 17:21] yegor256 commented on #1063
@original-brownbear what should I do?

[2016-03-31 17:22] original-brownbear commented on #1063
@yegor256 as I said above, unless you feel like you need to keep anything in the docker daemon around ( not needed from the Rultor perspective ) run this:

Kill all containers first : `docker rm -f -v $(docker ps -aq) `
Then delete all images: `docker rmi -f $(docker images -q) ` (could take a few minutes)

[2016-03-31 18:09] yegor256 commented on #1063
@original-brownbear `rmi` is still running...

[2016-03-31 18:11] original-brownbear commented on #1063
@yegor256 it can take quite a while. I suggest, given the time pressure we're already under to maybe Cntrl+C it for now ( its not an issue, it can be interrupted safely, a better solution is incoming anyhow ).
You can check that we have free space in a different shell running `docker info`, but I think for now we should be good after almost one hour of `rmi`.

[2016-03-31 18:22] yegor256 commented on #1063
@original-brownbear I stopped it (Ctrl-C), but nothing changed. all images are still there and 0Mb is available... I will try to delete images one by one

[2016-03-31 18:25] original-brownbear commented on #1063
@yegor256 that does not sound good ... almost sounds like the overlay fs is corrupted somehow. If deleting images one by one does not work or throws any warnings/errors, I strongly suggest removing Docker from that server, deleting `/var/lib/docker` and reinstalling it.

[2016-03-31 18:30] original-brownbear opened #1081 "Let's Create a Private Registry for Rultor"
# Problem

We are currently trying to move to dynamic provisioning of Docker daemons for Rultor.
This means that Rultor builds would stop sharing the same build cache, making builds potentially very slow, involving the download of the 1.5 GB Rultor image in many cases at present.
Also we are starting to have the need for a private way of storing Docker images in some of our projects.

# Solution

[2016-03-31 18:32] original-brownbear commented on #1081
@yegor256 would you be on board with setting up a private Registry for us. I think it's an important step towards efficient dynamically provisioned Build runners and also would help us handle private images easier.

[2016-03-31 18:46] yegor256 commented on #1063
@original-brownbear doing it now... rebooting first. I couldn't stop docker daemon in a legal way.

[2016-03-31 18:57] longtimeago commented on #1081
@original-brownbear :+1:  sounds good!

[2016-03-31 19:12] yegor256 commented on #1063
@original-brownbear done:

[code]

[2016-03-31 19:16] original-brownbear commented on #1063
@yegor256 thanks!

[2016-03-31 19:16] #1063 closed

[2016-03-31 19:23] sils1297 commented on #1063
I can confirm that it works again FWIW

[2016-03-31 19:23] sils1297 commented on #1080
This one seems to be resolved, may there be another issue behind this symptom?

[2016-03-31 19:23] original-brownbear commented on #1063
@sils1297 perfect, thanks! :)

[2016-03-31 19:25] original-brownbear commented on #1080
@sils1297 I don't think so, plus we're pushing hard for an infrastructure upgrade to move away from a single point of failure in the Docker runner, so very soon this thing happening again will be effectively impossible :)

[2016-03-31 19:29] sils1297 commented on #1080
/me knows this problem well and is very happy gitmate.io doesn't need scaling yet :)

[2016-03-31 19:29] #1080 closed

[2016-03-31 19:41] alex-palevsky commented on #832
@original-brownbear thanks, I added "postponed" label

[2016-03-31 19:41] alex-palevsky commented on #832
@original-brownbear right, I'll try to find someone else for this task

[2016-03-31 19:41] alex-palevsky commented on #917
@original-brownbear got it, "postponed" label here

[2016-03-31 19:41] alex-palevsky commented on #917
@original-brownbear someone else will help in this task, no problem at all

[2016-03-31 19:42] alex-palevsky commented on #1015
@original-brownbear sure, thanks, I added "postponed" label to it

[2016-03-31 19:42] alex-palevsky commented on #1015
@original-brownbear right, I will find someone else, no problem

[2016-03-31 19:42] alex-palevsky commented on #1056
@original-brownbear got it, "postponed" label here

[2016-03-31 19:42] alex-palevsky commented on #1056
@original-brownbear right, I'll try to find someone else for this task

[2016-03-31 19:42] alex-palevsky commented on #1066
@original-brownbear too many tasks already active in the project (7), can't have more

[2016-03-31 19:42] alex-palevsky commented on #1066
@original-brownbear thanks, I added "urgent" label

[2016-03-31 19:42] alex-palevsky commented on #1065
@original-brownbear thanks, I added "postponed" label

[2016-03-31 19:42] alex-palevsky commented on #1065
@original-brownbear no problem, I will try to find somebody else

[2016-03-31 19:42] alex-palevsky commented on #1072
@original-brownbear OK, I un-labeled it as "urgent" tag

[2016-03-31 19:42] alex-palevsky commented on #1072
@original-brownbear right, I added "postponed" label

[2016-03-31 19:42] alex-palevsky commented on #1072
@original-brownbear no problem, I will try to find somebody else

[2016-03-31 19:42] alex-palevsky opened #1082 "pom.xml:777-784: build docker image and run..."
Puzzle `1055-4f9e2bff` in `pom.xml:777-784` has to be resolved: build docker image and run sshd container (see src/docker-it/run_docker_sshd.sh), run integration tests (port information located at target/sshd.port, host is predefined) and than tear down container (see src/docker-it/clear_docker_sshd.sh). Need to be configured to run in Travis. Adjust com.rultor.agents.daemons.StartsDaemonITCase#ta

[2016-03-31 19:43] alex-palevsky commented on #1055
@original-brownbear once `1055-4f9e2bff`/#1082 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-03-31 19:52] original-brownbear commented on #1082
@alex-palevsky lets wait on #1066 here.

[2016-04-01 06:22] xupyprmv commented on #1052
@alex-palevsky PR #1076 was merged. Please close this issue.

[2016-04-01 11:45] xupyprmv commented on #1059
@alex-palevsky Ready to take this.

[2016-04-01 12:46] alex-palevsky commented on #1082
@original-brownbear since there is no milestone yet I set it to "2.0"

[2016-04-01 12:48] alex-palevsky commented on #1055
@vkuchyn thanks, I just added **30 mins** to your account, payment `82125295`, 360 hours and 10 mins spent

+30 to your rating, your total score is [+180](http://www.netbout.com/b/36353?open=rating)

[2016-04-01 12:48] alex-palevsky commented on #1066
@xupyprmv it is in your hands now, proceed when you can

[2016-04-01 21:37] original-brownbear commented on #1060
@alex-palevsky this is not urgent anymore.

[2016-04-01 21:38] original-brownbear commented on #1060
@alex-palevsky please see comment by @dalifreire again, he's asking you for reassignment.

[2016-04-02 08:22] xupyprmv commented on #1066
@original-brownbear Do I have to resolve this issue or you will request to assign this ticket to you?

[2016-04-02 09:14] original-brownbear commented on #1066
@xupyprmv Alex assigned it to you know, so it's yours if you want :)

I think given that the task is mostly around rewording part of the puzzles and changing the dependencies,
this should go very quickly :)
=> if you think you can handle this in a timely manner go ahead please :)

[2016-04-02 17:46] original-brownbear commented on #1060
@alex-palevsky this is not urgent.

[2016-04-02 17:48] original-brownbear commented on #1066
@xupyprmv please give me feedback asap if you can on whether you think this is something you want to and/or can handle ? :)
Thanks (sorry for being pushy here, but this is pretty much the most important task in Rultor now ;))

[2016-04-02 18:08] original-brownbear commented on #1081
@alex-palevsky this is a bug.

[2016-04-02 19:17] xupyprmv commented on #1066
@original-brownbear I will add PR ASAP.

[2016-04-03 03:56] original-brownbear commented on #1066
@xupyprmv thanks! :)

[2016-04-03 06:12] original-brownbear commented on #1081
@alex-palevsky this is postponed.

[2016-04-03 09:23] original-brownbear commented on #1082
@alex-palevsky this is not urgent.

[2016-04-03 09:24] original-brownbear commented on #1052
@alex-palevsky please pay attention here, this has been closed for 3 days now.

[2016-04-03 09:34] original-brownbear opened #1084 "Fix Suppression of ParameterNumberCheck on RegistersShell and PfShell and Handle SSH Defaults in a Cleaner Manner"
Currently the constructors of RegistersShell and PfShell both look like this:

[code]

They get the default EC2 host as well as the profile (holding a non-default EC2 host if set in the `.rultor.yml`) as parameters. This way breaks SRP, it should not be the job of the shell registration to figure out the default settings, this needs to be done by the `Profile` functionality.

This makes implementi

[2016-04-03 09:34] original-brownbear commented on #1084
@alex-palevsky this is a bug.

[2016-04-03 12:41] alex-palevsky commented on #1060
@original-brownbear thanks, I removed the "urgent" tag

[2016-04-03 12:41] alex-palevsky commented on #1082
@original-brownbear sure, thanks, I removed "urgent" tag to it

[2016-04-03 12:41] alex-palevsky commented on #1081
@original-brownbear I added `bug` tag to this ticket

[2016-04-03 12:41] alex-palevsky commented on #1084
@original-brownbear I just added bug tag here

[2016-04-03 12:42] alex-palevsky commented on #567
@yegor256 last puzzled solved `567-359f8c66`/#934

[2016-04-03 12:42] alex-palevsky commented on #1052
@original-brownbear Closing, thanks all

[2016-04-03 12:42] #1052 closed

[2016-04-03 12:46] alex-palevsky commented on #1052
@xupyprmv Thank you, I have added **45 mins** to your account in payment/transaction "`AP-8C1346646U847963N`", time consumed: 47 hours and 53 mins. m=2873, that's why a bonus here for fast delivery. +45 to your rating, your total score is [+375](http://www.netbout.com/b/35999?open=rating)

[2016-04-03 15:02] alex-palevsky commented on #1081
@original-brownbear since there is no milestone yet I set it to "2.0"

[2016-04-03 15:02] alex-palevsky commented on #1084
@original-brownbear I set the milestone to 2.0 since there is nothing set yet

[2016-04-03 15:06] alex-palevsky commented on #1084
@original-brownbear thanks a lot for reporting, **30 mins** added to your acc, pmt ID `AP-07J07208C05875338`

[2016-04-03 16:02] alex-palevsky commented on #1081
@original-brownbear thanks for this report, I added 30 mins to your account, in transaction `AP-0NX64527LY920661T`

[2016-04-03 17:01] dalifreire commented on #1060
@alex-palevsky Assign someone else.

[2016-04-03 17:25] original-brownbear commented on #1057
@alex-palevsky this is postponed.

[2016-04-03 17:25] original-brownbear commented on #1050
@alex-palevsky this is postponed.

[2016-04-03 17:26] original-brownbear commented on #1059
@alex-palevsky this is not urgent, lets focus on ECS full force for now.

[2016-04-03 17:26] original-brownbear commented on #1059
@alex-palevsky this is postponed, lets focus on ECS ...

[2016-04-03 17:42] alex-palevsky commented on #1081
@original-brownbear right, I added "postponed" label

[2016-04-03 17:42] alex-palevsky commented on #1081
@original-brownbear someone else will help in this task, no problem at all

[2016-04-03 19:08] alex-palevsky commented on #1050
@original-brownbear OK, I put "postponed" label here

[2016-04-03 19:08] alex-palevsky commented on #1050
@original-brownbear I will assign somebody else to this issue

[2016-04-03 19:08] alex-palevsky commented on #1057
@original-brownbear right, I added "postponed" label

[2016-04-03 19:08] alex-palevsky commented on #1057
@original-brownbear got it, someone else will be assigned soon

[2016-04-03 19:08] alex-palevsky commented on #1060
@dalifreire 30 points was deducted from your rating

[2016-04-03 19:08] alex-palevsky commented on #1060
@dalifreire someone else will help in this task, no problem at all

[2016-04-03 19:08] alex-palevsky commented on #1059
@original-brownbear thanks, I removed the "urgent" tag

[2016-04-03 19:08] alex-palevsky commented on #1059
@original-brownbear thanks, I added "postponed" label

[2016-04-03 19:08] alex-palevsky commented on #1059
@original-brownbear I will assign somebody else to this issue

[2016-04-04 20:41] yegor256 commented on #1081
@original-brownbear hm... I'm not entirely sure I understand the concept here. my key questions: 1) why a new EC2 instance, why can't we use Docker Hub paid account? 2) why do we need private Docker images?

[2016-04-04 21:20] original-brownbear commented on #1081
@yegor256

Because if we use images, that are not build during the merge, then any change to the dependencies needs to go in two steps:
* Merge changes for `Dockerfile` to master to trigger DockerHub update (**while still building the old code that does not need the new dependencies**)
* Merge code change that needs that `Dockerfile` update

... this is a very risky process as we've seen in Rultor

[2016-04-05 15:22] yegor256 commented on #1081
@original-brownbear we can create AWS image, which will be used to create EC2 instances. That image will have a docker image pre-fetched. What about this?

[2016-04-05 16:25] original-brownbear commented on #1081
@yegor256 well this only solves/alleviates the issue for the Rultor image users. Also it requires us to use EC2 instead of ECS.

I think the clear downsides are still these:

1. Needs EC2 instead of ECS
 * Slower boot
 * Much more costly (load balancing this is really hard so we'll often pay for idle resources or have problems with RAM etc. still)
 * Much harder to implement
 * ECS also gives us a

[2016-04-05 17:38] longtimeago commented on #1081
@original-brownbear @yegor256 I'm new to this type of question so may say something obvious but I have to say this. I took another look at this issue and want to rise one more question - **security**.
If I understand correctly, adding possibility for repo owner (user) to specify the image to be used by Rultor to build the project implies that any user can execute almost **any** code in Rultor's do

[2016-04-05 17:42] original-brownbear commented on #1081
@longtimeago Yea DDoS may be an issue, but really the same goes for Travis to a much larger extend.
I think Rultor simply wouldn't be worth it (or even capable to really do any damage). I mean we wouldn't setup ECS to spawn off an unlimited number of builds :) (nor would Amazon give us that freedom in the first place).

About security between containers, past me took care of the situation a while

[2016-04-05 17:55] longtimeago commented on #1081
@original-brownbear what about the possibility of building the image, which starts email bots, bit-miners ... ?

[2016-04-05 18:29] original-brownbear commented on #1081
@longtimeago well, in theory that's obviously possible :)
But again ...
You can in fact start a Docker instance in any Travis build too for example! I think an attacker would much rather do this, than use Rultor ? :)
... obviously not an argument :)

But I think Travis as well as Rultor are safeguarded by very limited resources and also GitHub here.
The maximum runtime Rultor allows is 120minutes,

[2016-04-05 18:38] longtimeago commented on #1081
@original-brownbear Nice explanation, thanks!
Actually, you've mentioned at least 2 preventive tasks to be done ;)

[2016-04-06 06:22] dmzaytsev opened #1085 "Rultor duplicates commander's name in error messages"
Rultor duplicates commander's name in error messages,
also I think we don't need post  the second message from the screenshot

![image](https://cloud.githubusercontent.com/assets/9972909/14307519/1424b96e-fbe9-11e5-8f5b-065775ef7a38.png)

Rultot should ask the architect for the confirmation instead of the error message I guess

[2016-04-06 06:26] original-brownbear commented on #1085
@alex-palevsky valid bug.

[2016-04-06 06:26] original-brownbear commented on #1085
@alex-palevsky this is postponed.

[2016-04-06 12:07] yegor256 commented on #1081
@original-brownbear shame on me, I haven't heard about EC2 Container Service (ECS) before. As I understand now (http://docs.aws.amazon.com/AmazonECS/latest/developerguide/Welcome.html), it is just an EC2 instance with a Docker daemon installed there. All AWS is giving us is an ability to manage that containers via AWS API. I don't see any advantage of that, comparing to our own EC2 instance, which

[2016-04-06 13:06] alex-palevsky commented on #1085
@original-brownbear tag bug added to this issue

[2016-04-06 13:06] alex-palevsky opened #1086 "Re-estimate project size"
The latest estimate is rather old (created on 28-Feb-2016),we have to create a new one as explained [here](https://github.com/teamed/est)

[2016-04-06 15:27] alex-palevsky commented on #1085
@dmzaytsev I set the milestone to 2.0 since there is nothing set yet

[2016-04-06 15:27] alex-palevsky commented on #1086
@original-brownbear I set milestone here to `2.0`, let me know if it is wrong

[2016-04-06 15:34] alex-palevsky commented on #1085
@dmzaytsev thanks for the ticket, your account was topped for 15 mins, payment 82734119

[2016-04-06 17:23] alex-palevsky commented on #1085
@original-brownbear sure, thanks, I added "postponed" label to it

[2016-04-06 17:23] alex-palevsky commented on #1085
@original-brownbear someone else will help in this task, no problem at all

[2016-04-06 17:38] original-brownbear commented on #1081
@yegor256

Wrongish :), the thing isn't so much that ECS gives us the ability to manage multiple EC2 instances ( though this is nice too of cause ), but that it gives us a well designed scheduler for running containers.
Instead of our current very naive and error prone ( look at some builds stability ) use of simply scheduling by CPU load on the EC2 instance, we'd get proper resource management ou

[2016-04-06 22:57] alxn commented on #919
@original-brownbear yes, something like that. We've been using `[#id] One-line-Message`, since git seems to discard `#comment` lines....

Unless we end up with

`git config --global alias.yolo '!git add -A && git commit -m "$(curl -s whatthecommit.com/index.txt)"'`

[2016-04-07 06:13] original-brownbear commented on #919
@alxn

How about we simply add this functionality to the `.rultor.yml`:

[code]

PS: "#comment" does not work, " #comment" does though ;)
PS2: nice link :D

[2016-04-07 18:47] alxn commented on #919
@original-brownbear That sounds like a good idea, though I wonder whether it's nice to get it user-side as well, i.e. from [git-scm](https://git-scm.com/book/en/v2/Customizing-Git-An-Example-Git-Enforced-Policy)

[2016-04-07 19:13] original-brownbear commented on #919
@alxn well the whining ..., that's a very different issue, outside of Rultor's scope imo.
This would, as described in the git docs, really require setting up some hook in your `.git` folder.
Also ... at least for Teamed projects the "whining" shouldn't really be an issue ;)

[2016-04-08 04:23] xupyprmv commented on #1066
@original-brownbear PR  #1083 was merged. Please close this ticket.

[2016-04-08 05:21] original-brownbear commented on #1066
@xupyprmv thanks!

[2016-04-08 05:21] #1066 closed

[2016-04-08 06:20] xupyprmv commented on #1066
@alex-palevsky PR #1083 was merged. This ticket was closed.

[2016-04-08 12:48] alex-palevsky commented on #1066
@xupyprmv thanks for that

[2016-04-08 12:48] alex-palevsky opened #1087 "StartsECS.java:58-60: Add new container creation classes..."
Puzzle `629-efc8aa9c` in `src/main/java/com/rultor/agents/ecs/StartsECS.java:58-60` has to be resolved: Add new container creation classes for StartsECS and StopsECS to com.rultor.agents.Agents. StartsECS must be invoked before RegistersShell agent. StopsECS must be invoked after RemovesShell agent.... The puzzle was created by Maksimenko Vladimir on 5-Apr-2016.

If you have any technical question

[2016-04-08 12:52] alex-palevsky commented on #1082
@dalifreire the task is yours now go ahead

[2016-04-08 14:46] alex-palevsky commented on #1087
@original-brownbear I set the milestone to 2.0 since there is nothing set yet

[2016-04-08 14:46] alex-palevsky opened #1088 "StartsECS.java:54-57: RegistersShell must register SSH params..."
Puzzle `629-bf520350` in `src/main/java/com/rultor/agents/ecs/StartsECS.java:54-57` has to be resolved: RegistersShell must register SSH params "host", "port", "login", "key" for ecs on-demand container, if this one was successfully started. Successfully start means that these parameters exist in /talk/ec2... The puzzle was created by alevohin on 18-Jan-2015.

If you have any technical questions,

[2016-04-08 17:43] alex-palevsky commented on #1088
@original-brownbear since there is no milestone yet I set it to "2.0"

[2016-04-08 17:44] alex-palevsky opened #1089 "StartsECS.java:61-64: Implement the ability to use..."
Puzzle `629-bb1a14ed` in `src/main/java/com/rultor/agents/ecs/StartsECS.java:61-64` has to be resolved: Implement the ability to use Rultor with any AWS account, by providing the credentials to it via the encrypted assets and a respective configuration setting in the .rultor.yml. Document the implementation properly in the Rultor documentation.... The puzzle was created by Maksimenko Vladimir on 7

[2016-04-08 19:08] alex-palevsky commented on #1089
@original-brownbear since there is no milestone yet I set it to "2.0"

[2016-04-08 19:08] alex-palevsky opened #1090 "StartsECS.java:51-53: Implement com.rultor.agents.ecs.StopsECS agent. It must..."
Puzzle `629-97e18362` in `src/main/java/com/rultor/agents/ecs/StartsECS.java:51-53` has to be resolved: Implement com.rultor.agents.ecs.StopsECS agent. It must stop ECS on-demand container if it was started at StartsECS agent. StopsECS must use container ARN from /talk/ec2/[@id] to stop it.... The puzzle was created by Maksimenko Vladimir on 2-Apr-2016.

If you have any technical questions, don't

[2016-04-09 01:17] dalifreire commented on #1082
@alex-palevsky Please, stop assign me into no-java tasks!! I'm a Java developer with no experience with Docker or bash scripts. Pay attention to the skills of the people before assign a task and choose the right people for the tasks. You already penalizes me 30 points this week for the same reason.

[2016-04-09 10:22] original-brownbear commented on #1082
@alex-palevsky reassign this to me please.

[2016-04-10 11:46] original-brownbear commented on #1082
@alex-palevsky assign me please.

[2016-04-10 13:12] alex-palevsky commented on #1090
@original-brownbear since there is no milestone yet I set it to "2.0"

[2016-04-10 13:12] alex-palevsky commented on #1082
@original-brownbear sure, the ticket is yours, go ahead

[2016-04-10 13:12] alex-palevsky opened #1091 "Amazon.java:42-45: Add implementation for com.rultor.agents.ecs.Amazon. It..."
Puzzle `629-3b4a7478` in `src/main/java/com/rultor/agents/ecs/Amazon.java:42-45` has to be resolved: Add implementation for com.rultor.agents.ecs.Amazon. It must create com.amazonaws.services.ecs.AmazonECSClient with config params "credentials", "zone", "type", "key". Method runOnDemand must finally wait for started container and check if start was successful.... The puzzle was created by Maksimen

[2016-04-10 13:13] alex-palevsky commented on #755
@original-brownbear The task is done, thanks all, I am closing it

[2016-04-10 13:13] #755 closed

[2016-04-10 13:13] alex-palevsky commented on #824
@original-brownbear The issue is closed

[2016-04-10 13:13] #824 closed

[2016-04-10 13:13] alex-palevsky commented on #825
@original-brownbear The task is done, thanks all, I am closing it

[2016-04-10 13:13] #825 closed

[2016-04-10 13:13] alex-palevsky commented on #826
@original-brownbear Closed, thanks all

[2016-04-10 13:13] #826 closed

[2016-04-10 13:13] alex-palevsky commented on #827
@original-brownbear Thanks all, closed

[2016-04-10 13:13] #827 closed

[2016-04-10 13:16] alex-palevsky commented on #1066
@xupyprmv **30 mins** was added to your account, many thanks for your contribution (payment AP-55L90277B1501691H)! The task took 168 hours.. added +30 to your rating, now it is equal to [+360](http://www.netbout.com/b/35999?open=rating)

[2016-04-10 15:22] alex-palevsky commented on #1091
@original-brownbear attached this issue to milestone "2.0" (let me know if this is wrong)

[2016-04-11 18:20] original-brownbear opened #1093 "Findbugs is Excluded Globally"
Currently we have this line in the `pom.xml` for the Qulice plugin:

[code]

We should not exclude Findbugs analysis from the build per default.
Removing the global causes a number of Findbugs issues (~50) to show up at this point.
This should be improved.

#This issue is fixed when:

* The global Findbugs exclude is removed
 * In order to do so, please either suppress ( where reasonable ), suppre

[2016-04-11 18:20] original-brownbear commented on #1093
@alex-palevsky this is a bug.

[2016-04-11 18:20] original-brownbear commented on #1093
@alex-palevsky this is postponed.

[2016-04-12 12:23] alex-palevsky commented on #1093
@original-brownbear I tagged this as "bug"

[2016-04-12 15:37] alex-palevsky commented on #1093
@original-brownbear I added milestone `2.0` to this issue, let me know if there has to be something else

[2016-04-12 15:50] alex-palevsky commented on #1093
@original-brownbear thank you for reporting this, I added 30 mins to your acc, transaction `AP-6MN592670L684941Y`

[2016-04-12 17:27] alex-palevsky commented on #1093
@original-brownbear got it, "postponed" label here

[2016-04-12 17:27] alex-palevsky commented on #1093
@original-brownbear right, I'll try to find someone else for this task

[2016-04-13 11:41] yegor256 commented on #1081
@original-brownbear yes, it does make sense, thanks. OK, I'm in, let's use ECS

[2016-04-15 14:50] #1082 closed

[2016-04-15 14:50] alex-palevsky commented on #1082
@original-brownbear The issue should be closed..

[2016-04-15 14:53] alex-palevsky commented on #1082
@original-brownbear **30 mins** added to your account (payment number `AP-7NX09571YL959502W`), many thanks for your contribution! 96 hours and 13 mins spent here.. +30 added to your rating, current score is: [+3460](http://www.netbout.com/b/36646?open=rating)

[2016-04-16 22:07] original-brownbear commented on #1088
@alex-palevsky assign me please.

[2016-04-17 12:56] alex-palevsky commented on #1088
@original-brownbear done, the task is yours, go ahead

[2016-04-17 22:01] original-brownbear commented on #1089
@alex-palevsky assign me here please.

[2016-04-18 14:24] alex-palevsky commented on #1089
@original-brownbear sure, the task is yours now

[2016-04-21 22:49] original-brownbear opened #1094 "Build from Directory is Implemented Syntactically Wrong"
**Currently building from a Docker directory does not work at all**

Seems like no one is using this feature much, currently using a Docker config like this:

[code]

is not functional at all because the invocation syntax for the `docker build` command is wrong.
It is currently implemented as such:
[code]

The correct invocation though, does require giving the options before the file system path.

[2016-04-21 22:50] original-brownbear commented on #1094
@alex-palevsky this is a bug.

[2016-04-22 15:23] alex-palevsky commented on #1094
@original-brownbear tag "bug" added

[2016-04-22 16:53] alex-palevsky commented on #1094
@original-brownbear there is no milestone yet, so I set it to `2.0`

[2016-04-22 17:02] alex-palevsky commented on #1094
@original-brownbear many thanks, **30 mins** added to your acc for reporting this bug, pmt ID `AP-315513584X396140F`

[2016-04-23 06:51] longtimeago opened #1095 "No space available in any of the local directories"
We've started to suffer from "no space" issue again :(
[code]

http://www.rultor.com/t/8083-213673339
Please, cleanup disk space.

[2016-04-23 09:27] original-brownbear commented on #1095
@yegor256 help us here please.

[2016-04-23 12:30] original-brownbear commented on #1088
@alex-palevsky PR here #1096 just to keep track, this has fortunately become obsolete.

[2016-04-23 16:13] yegor256 commented on #1095
@original-brownbear I can't understand what's going on:

[code]

[2016-04-23 16:14] yegor256 commented on #1095
@original-brownbear looks like we have enough space

[2016-04-23 16:14] original-brownbear commented on #1095
@yegor256 what does `docker info` say? remember only the DockerFS counts.

[2016-04-23 16:15] yegor256 commented on #1095
@original-brownbear here:

[code]

[2016-04-23 16:18] original-brownbear commented on #1095
@longtimeago @yegor256 this seems to be some hdfs issue related to the test running there then.

We have more than enough disk space and container size is currently not limited at all by Docker.
The fact that the error URL is showing `http://docker ` is just a result of us naming it so on purpose here:
https://github.com/yegor256/rultor/blob/master/src/main/resources/com/rultor/agents/req/_head.sh

[2016-04-23 16:19] yegor256 commented on #1095
@original-brownbear I can restart Docker daemon, if necessary

[2016-04-23 16:35] original-brownbear commented on #1095
@yegor256 @longtimeago  I don't think that's necessary, this seems to be completely unrelated to Rultor.

I think this is very likely related to the actual tests ran there being unstable.
The test ran there runs in the `target/` folder of the build anyhow from what I can so. This means that it's running in a mounted host volume in the container and isn't even affected by the Docker file system in

[2016-04-23 18:47] longtimeago commented on #1095
@original-brownbear @yegor256 Yep, looks like it's not related to Rultor, sorry for false alarm ...

[2016-04-23 18:47] #1095 closed

[2016-04-25 07:34] original-brownbear commented on #1089
@alex-palevsky more time please, sorry will get to this asap (1-2days) but some high priority tasks interfered here.

[2016-04-25 15:05] alex-palevsky commented on #1088
@original-brownbear Thanks, closed

[2016-04-25 15:05] #1088 closed

[2016-04-25 15:07] alex-palevsky commented on #1088
@original-brownbear **30 mins** sent to your balance (ID `AP-1GJ62943MN921133F`), many thanks! It took 167 hours and 26 mins.... +30 to your rating, your total score is [+4149](http://www.netbout.com/b/36646?open=rating)

[2016-04-28 08:01] sils1297 opened #1097 "Rultor down again"
A quick fix even with a workaround would be well appreciated.

[2016-04-28 08:01] original-brownbear commented on #1097
@yegor256 ping , this looks like a problem on Heroku for a change.

[2016-04-28 09:39] yegor256 commented on #1097
@original-brownbear this is what is happening:

[code]

[2016-04-28 09:39] yegor256 commented on #1097
@original-brownbear I will try to fix it now myself

[2016-04-28 09:49] original-brownbear commented on #1097
@yegor256 did you try restarting it on Heroku ?

This looks like some huge output from a run killed it on the surface, but I don't see how this would be recurring on repeated runs. => Something must be up on Heroku. Can you see the memory situation there?

[2016-04-28 09:52] yegor256 commented on #1097
@original-brownbear yeah, the problem is that someone produced too big output. I'm fixing it now...

[2016-04-28 09:56] yegor256 commented on #1097
@original-brownbear will try to deploy this now: 00486fd

[2016-04-28 10:06] yegor256 commented on #1097
@original-brownbear it seems to be fixed

[2016-04-28 10:06] yegor256 commented on #1097
@rultor release, tag is `1.61.9`

[2016-04-28 10:09] rultor commented on #1097
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8175-215375839)

[2016-04-28 10:17] yegor256 commented on #1097
@sils1297 please, check it now. should be working without issues

[2016-04-28 10:32] sils1297 commented on #1097
Yes it does, thanks!

[2016-04-28 10:33] yegor256 commented on #1097
@sils1297 please close the ticket :)

[2016-04-28 10:35] #1097 closed

[2016-04-28 11:12] rultor commented on #1097
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8175-215375839) (took me 1hr)

[2016-05-03 15:23] alex-palevsky commented on #1089
@original-brownbear OK, no problem, take your time

[2016-05-11 14:37] jachinte opened #1098 "Connection is closed by foreign host"
Hello,

I asked rultor to release a new version in [this](https://github.com/unicesi/pascani/issues/11) issue. After a while it failed with the stacktrace:

[code]

The rultor link is [8310-218468633](http://www.rultor.com/t/8310-218468633)

[2016-05-11 16:43] original-brownbear commented on #1098
@yegor256 help please.

[2016-05-11 19:17] jachinte commented on #1098
It's working now.

[2016-05-11 19:17] #1098 closed

[2016-05-16 21:28] mkanev opened #1099 "Rultor ignores changes in `.rultor.yml` from PR"
I've changed JDK version to 1.8 so I needed Rultor to use anoher Docker image. I've tried to change docker image in branch `develop` ([PR](https://github.com/waveaccess/msbotframework4j/pull/7) was `develop`->`master`). Every command to rultor ignored new configuration. Only the change in `master` branch affected the build process to go in the right path.
It would be great to mention this behavior

[2016-05-16 23:30] original-brownbear commented on #1099
@mkanev actually we're close to changing this behaviour to be more like that of e.g. Travis and not ignore changes. Only issue #1072 remains and this will be resolved.

[2016-05-17 00:27] original-brownbear commented on #1099
@mkanev sorry missed this earlier, maybe take a look at #1039. This is what's being implemented right now, if it's in line what you're expecting in terms of functionality, could you please close this ticket ? :)
Thanks!

[2016-05-17 10:14] mkanev commented on #1099
@original-brownbear yeah, thats close enough. Thanks.

[2016-05-17 10:14] #1099 closed

[2016-05-18 20:50] orthodoc opened #1100 "Invalid rultor.yml has caused a system outage"
Related to Issue #1032

[2016-05-18 21:02] yegor256 commented on #1100
@original-brownbear this is how it looks:

[code]

[2016-05-18 21:03] yegor256 commented on #1100
@orthodoc can you please fix your `.rultor.yml` for now, to put the system back online? we'll fix the bug tomorrow

[2016-05-18 21:15] orthodoc commented on #1100
@yegor256 I did that. Will wait for system to be back.

[2016-05-18 22:29] original-brownbear commented on #1100
@alex-palevsky this is a but.

[2016-05-18 22:30] original-brownbear commented on #1100
@alex-palevsky this is a bug.

[2016-05-18 22:33] original-brownbear commented on #1100
@yegor256 Ok if I'll deal with this first thing tomorrow morning?

[2016-05-19 01:39] original-brownbear commented on #1100
@alex-palevsky assign me please, this is kinda urgent :)

[2016-05-19 05:57] yegor256 commented on #1100
@original-brownbear yes, please. I actually don't know how we can solve that... what should `EndDaemon` do if there are problems in `.rultor.yml`? inform the user? how many times? for now, we can just skip the execution and swallow the exception. but this is not a solution, since the user will never know what is happening and will sit and wait and wait...

[2016-05-19 07:27] yegor256 commented on #1100
@original-brownbear I think it's rather urgent... can you fix it right away or you need my help?

[2016-05-19 07:29] original-brownbear commented on #1100
@yegor256 would get on with it in the next 5-10 min :)

[2016-05-19 07:30] yegor256 commented on #1100
@original-brownbear thanks! we're down for over 7 hours :( that's not cool

[2016-05-19 07:36] original-brownbear commented on #1100
@yegor256 On it now, how about just informing the user on every actual request and ignoring on "hello".
So if you go "merge please", you'll get told your `.rultor.yml` is broken, if you say "hello" you get no warning since the `.rultor.yml` is not relevant for that?
I mean it makes no sense simply stopping to inform about the busted config file at any point does it? What then, start completely ign

[2016-05-19 07:40] yegor256 commented on #1100
@original-brownbear what you're suggesting works already. we won't start a job if configuration is broken. but the problem in THIS ticket is that `EndsDaemon` crashes. it's too late to inform the user. there is no "user" any more. we just need to do something with the job that is already running...

[2016-05-19 07:42] original-brownbear commented on #1100
@yegor256 right sorry, just figured ...

Ok but in that case I'd say just implement dropping the job and be done with it quietly, we can think about something nicer later?

[2016-05-19 07:45] yegor256 commented on #1100
@original-brownbear oh, yeah, that's a good idea. we should just drop the job and put this stacktrace into the log. so, the job will fail and the user will click on the "log" link and will see the exception stack trace. right?

[2016-05-19 07:46] original-brownbear commented on #1100
@yegor256 jup that should be doable easily, on it :)

[2016-05-19 07:48] yegor256 commented on #1100
@original-brownbear show me the PR before merging it please

[2016-05-19 07:48] original-brownbear commented on #1100
@yegor256 sure will link as soon as it's ready here.

[2016-05-19 08:15] original-brownbear commented on #1100
@yegor256 #1101 something along those lines?, will clean it up with test in 5-10min ...

[2016-05-19 12:58] alex-palevsky commented on #1100
@original-brownbear I just added bug tag here

[2016-05-19 14:23] sils1297 commented on #1100
Can't you at least temporary restore services? This is going on for a long time now and we're still waiting on a lot of PRs...

[2016-05-19 15:17] alex-palevsky commented on #1100
@orthodoc since there is no milestone yet I set it to "2.0"

[2016-05-19 21:11] original-brownbear commented on #1100
@orthodoc up again, can we close here ? :)

[2016-05-19 23:18] pinaf opened #1103 "Rultor SSH error"
java.io.IOException: com.jcraft.jsch.JSchException: timeout: socket is not established
[code]
http://www.rultor.com/t/8419-220412188

[2016-05-20 03:08] jachinte commented on #1103
`Unfortunately, the system is down, for 4hr already`

[2016-05-20 03:50] original-brownbear commented on #1103
@pinaf tried my best to make @yegor256 aware of this now, this needs him unfortunately.

[2016-05-20 10:37] orthodoc commented on #1100
@original-brownbear I noticed - the commit message following a merge by @rultor seems to be missing the original message and the commit hash. Was that intentional?

[2016-05-20 10:38] rultor commented on #1100
@orthodoc I see you're talking about me, but I don't understand it. If you want to say something to me directly, start a message with @rultor

[2016-05-20 11:14] orthodoc commented on #1100
Its better if you responded only to your commanders 😄  ~~@rultor~~ rultor

[2016-05-20 11:36] original-brownbear commented on #1100
@orthodoc hmm it should not remove messages, what it will do is, that it will add a merge commit message, but the original one should still be there.
Is that the case ?

[2016-05-20 12:22] orthodoc commented on #1100
@original-brownbear here's a screenshot the build at wercker.

![screen shot 2016-05-20 at 5 47 45 pm](https://cloud.githubusercontent.com/assets/302414/15427523/437757c0-1eb3-11e6-931e-e123dafb49af.png)

Now it says `Merge branch __rultor` instead of the commit message

[2016-05-20 13:01] original-brownbear commented on #1100
@orthodoc this is expected, you still have all your other commits, but this is the merge commit.
What you can do is use the `rebase: true` setting to avoid the merge commit, if that is something you're interested in?

[2016-05-20 17:03] original-brownbear commented on #1103
@pinaf I think we can close here right ?

[2016-05-20 17:12] pinaf commented on #1103
@original-brownbear yep, thanks!

[2016-05-20 17:12] #1103 closed

[2016-05-21 01:16] orthodoc commented on #1100
@original-brownbear I was wondering as this was not the case earlier. Screenshot below. I am not sure if I use the `--no-ff` flag though. Even if I did it should apply to my commit message and not that of rultor!! I am getting it wrong somewhere. I am closing the issue as this may not be related to the present issue. Cheers!

![screen shot 2016-05-21 at 6 41 31 am](https://cloud.githubusercontent.

[2016-05-21 01:16] #1100 closed

[2016-05-25 08:05] amihaiemil opened #1104 "Refactor method Answer.post(...)"
Method [Answer.post(...)](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/github/Answer.java) can be refactored since now it **uselessly reverts** the list of comments to later iterate it using an enhanced for loop.

The call ``Collections.reverse(comments);`` can be omitted and the list of comments can be iterated backwards, like this:

[code]

This way, the method'

[2016-05-25 11:52] amihaiemil opened #1105 "Bug in QnByArchitect.understand(...)"
In method [QnByArchitect.understand(...)](https://github.com/yegor256/rultor/blob/7a5d5804649ee9847674c43e75ae284b5dedeb40/src/main/java/com/rultor/agents/github/qtn/QnByArchitect.java), the decision wether rultor understands the request or asks the architect to confirm is based on ``boolean legal`` which is determined like this:

[code]
where ``logins`` (btw, I would name it ``architects``), cont

[2016-05-25 12:03] amihaiemil commented on #1105
@alex-palevsky  I think this issue is pretty urgent.

[2016-05-25 13:50] amihaiemil commented on #1105
@alex-palevsky @original-brownbear I made PR #1106 for this issue.

[2016-05-25 15:12] amihaiemil commented on #1104
@alex-palevsky @original-brownbear I created PR #1107 for this.

[2016-05-25 19:07] alex-palevsky commented on #1055
@original-brownbear the last puzzle `1055-4f9e2bff`/#1082 originated from here solved

[2016-05-26 13:26] amihaiemil commented on #1105
@alex-palevsky ping

[2016-05-26 16:33] original-brownbear commented on #1105
@amihaiemil I'm aware of the PR/Issue, will review shortly. Sorry many things going on right now, but this is on the radar for today for me :)

[2016-05-26 16:35] amihaiemil commented on #1105
@original-brownbear sure, thanks : )

[2016-05-26 17:34] original-brownbear commented on #1105
@amihaiemil I think this is the intended behaviour but I may be misunderstanding the issue.

From what I understand you criticise the face that this happens:

1. Architect makes PR.
2. Commander ( or is it arbitrary person and not commander ) calls `merge`
3. Rultor merges without confirmation.

I think if its commanders only in step two this is not a bug right ? At least I did always take this fo

[2016-05-26 17:46] amihaiemil commented on #1105
@original-brownbear If you test the method in isolation (see unit test), then it can be anyone in step 2, not just commanders. I dont know the whole code yet, maybe there's a layer on top of it which only lets commanders talk to rultor. But even if it lets just commanders, it looks a bit inconsistent to me, since the same commander, with the same command needs approval on other issues that are not

[2016-05-26 18:34] amihaiemil commented on #1105
@original-brownbear as you can see, in PR #1107 I told rultor to merge and he asked you to confirm it, which means the method here was called with my Profile; If you were the PRs author it would have merged, exactly like the unit test.

[2016-05-26 18:37] amihaiemil commented on #1105
@original-brownbear it's also not called somewhere else in the code. Simply search the repo for the string "QnByArchitect.denied" (the key of the message from [phrases_en_US.properties](https://github.com/yegor256/rultor/blob/7a5d5804649ee9847674c43e75ae284b5dedeb40/src/main/resources/phrases_en_US.properties) )and you will see it's only used in the method in cause.

[2016-05-27 19:58] amihaiemil commented on #1105
@original-brownbear from my point of view this bug is confirmed :)

[2016-05-29 05:08] Hrabovszki1023 opened #1108 "fatal: Could not read from remote repository."
Hi @yegor256

I find your article http://www.yegor256.com/2014/08/19/how-to-release-to-maven-central.html and now try to implement this "one click" for my project.

now there is a point where i need some help.

i get following error from rultor:

[code]

* maven executes all test without errors
* the files "/home/r/settings.xml", "/home/r/secring.gpg" and "/home/r/pubring.gpg" exists

My last idea

[2016-05-29 13:22] alex-palevsky commented on #1104
@original-brownbear take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-05-30 06:36] original-brownbear commented on #1105
@amihaiemil yea you're right. Also this at least extends to the `stop` command as I could now observe in a different project.
Sorry for the delays with me btw, normal operations on my end will resume within 12-16h!

[2016-05-30 06:36] original-brownbear commented on #1105
@alex-palevsky valid bug.

[2016-05-30 06:52] amihaiemil commented on #1105
@original-brownbear Can this also be assigned to me since I made a PR with the fix? (I'm not sure if I can be both author and resolver)

[2016-05-30 13:42] tvd12 commented on #915
Hi @yegor256,

How long rultor.com response my invitation (collaborator)?

[2016-05-30 14:22] alex-palevsky commented on #1105
@original-brownbear added "bug" tag to this issue

[2016-05-30 15:15] alex-palevsky commented on #1105
@amihaiemil I set the milestone to 2.0 since there is nothing set yet

[2016-05-30 15:19] alex-palevsky commented on #1105
@amihaiemil thanks for tis bug, I topped your account for 15 mins, transaction `AP-28280969RL475321G`

[2016-05-30 16:58] amihaiemil commented on #1105
@alex-palevsky assign me here please.

[2016-05-30 19:41] alex-palevsky commented on #1105
@amihaiemil thanks

[2016-05-30 20:14] original-brownbear commented on #1108
@Hrabovszki1023 best greetings back from Germany :)

Yes this is the trick most likely, did you give Rultor write access to the repository ?

[2016-05-30 20:18] original-brownbear commented on #1104
@amihaiemil sorry gotta shoot this one down according to http://at.teamed.io/policy.html#13 :/, also and more importantly I don't even necessarily see this as making things more readable.
Reverting the comments list is very clear to me, iterating over an Iterable the "old-school" way just to get the backwards in there is very strange to me.

[2016-05-30 21:07] Hrabovszki1023 commented on #1108
Hi @original-brownbear ,

THX for your response,
I have invited rultor to the repository "Hrabovszki1023/OKW" and it is now "awaiting for rultor's response".
i think the next step is: somebody has to accept the invitation at the rultor-user side: Is there someone, who can accept my invitation? -> then rultor has "Collaborator access" with read/write access...

https://help.github.com/articles/perm

[2016-05-31 01:40] original-brownbear commented on #1108
@Hrabovszki1023 maybe try revoking and posting the invitation fresh?
You may have noticed massive issues with GitHub notifications a while back, maybe your invitation got "lost" ?
If that doesn't help, I'll look into what could have caused this :)

[2016-05-31 02:18] Hrabovszki1023 commented on #1108
"Moin" Armin,

I revoke the invitation and add rultor as a new collaborator to the project.

Zoltan

[2016-05-31 04:49] amihaiemil commented on #1104
@original-brownbear sure, no worries

[2016-05-31 04:49] #1104 closed

[2016-05-31 04:50] amihaiemil commented on #1105
@original-brownbear can I have this assigned to me?

[2016-05-31 05:31] AbdealiJK opened #1109 "rultor_retry for commands that fail sometimes"
It would be nice to provide a command which essentially runs a command multiple times if the first invocation of the command fails.

For example, uploading to pip fails frequently. - Example: https://github.com/coala-analyzer/coala-bears/pull/472

In such cases, what is needed is something to keep trying a command (if it fails) until it succeeds. Travis has a command called `travis_retry` [link](h

[2016-05-31 08:56] original-brownbear commented on #1108
@Hrabovszki1023 worked ? :)

[2016-05-31 09:11] Hrabovszki1023 commented on #1108
@original-brownbear  Yes! - It is "geil!" ;-)

THX for your help....
And many thanks to the team for rultor!

Zoltan

[2016-05-31 10:38] original-brownbear commented on #1108
@Hrabovszki1023 anytime :), could you please close the ticket ?

[2016-05-31 11:17] Hrabovszki1023 commented on #1108
Yepp!

[2016-05-31 11:17] #1108 closed

[2016-05-31 11:24] original-brownbear commented on #1108
@Hrabovszki1023 thanks!

[2016-05-31 17:09] original-brownbear commented on #1109
@AbdealiJK bad news I fear :/ Rultor is designed to be an as simple as possible chatbot that merges your PRs :), this kind of functionality is not what we're currently aiming for sorry.

[2016-05-31 17:10] original-brownbear commented on #1105
@amihaiemil let me find out, you're not on the Rultor team so I need to ask first :) see below in a sec.

[2016-05-31 17:10] original-brownbear commented on #1105
@yegor256 can I assign @amihaiemil here, despite him not being on the team? Seems he did some work towards fixing this already.

[2016-06-01 00:36] AbdealiJK commented on #1109
Hm, I understand @original-brownbear . Thanks for the reply :) . Closing this then

[2016-06-01 00:36] #1109 closed

[2016-06-01 21:17] original-brownbear commented on #919
@alxn @yegor256

I think @mkordas made a very good point on this :) How about implementing this ? :

Quote him:

Why not simply add functionality the merge command for architects, so the ARC can do this:

"{at}rultor merge commit message is '#1234 did some reasonable thing' "

Then we have a reasonable line of merge commits guaranteed and can build a release log from those ?

[2016-06-03 18:34] amihaiemil commented on #1105
@yegor256 can you have a look here? Thanks

[2016-06-08 09:08] velo opened #1110 "Frooze execution"
I managed to freeze rultor
http://www.rultor.com/t/8683-224512902

can someone kill my build?

[2016-06-08 09:21] original-brownbear commented on #1110
@velo just run `(at)rultor stop` :) that will kill the build for you ;)

[2016-06-10 00:55] carlosmiranda opened #1111 "Allow specification of release title in release command"
Right now, `@rultor release` command will create a release whose title is the same as the ticket description. Most of the time this doesn't make any sense.

For instance, the title of release `1.61.9` is "Rultor down again", because it was released from #1097 which had the same title:

![image](https://cloud.githubusercontent.com/assets/1917892/15951183/c8409b34-2ee8-11e6-8df9-ced35f5f95d0.png)

I

[2016-06-10 19:52] amihaiemil commented on #1105
@yegor256 ping

[2016-06-13 15:27] alex-palevsky commented on #1111
@original-brownbear please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-06-13 15:28] original-brownbear commented on #1111
@alex-palevsky valid bug.

[2016-06-13 15:29] original-brownbear commented on #1111
@carlosmiranda thanks :)

[2016-06-13 16:47] alex-palevsky commented on #1111
@original-brownbear I tagged this as "bug"

[2016-06-13 17:53] alex-palevsky commented on #1111
@carlosmiranda I added milestone `2.0` to this issue, let me know if there has to be something else

[2016-06-13 17:56] alex-palevsky commented on #1111
@carlosmiranda many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `89879141`

[2016-06-15 07:12] amihaiemil opened #1112 "Irrelevant CI?"
Currently rultor uses a lot of CIs and most of them fail due to configuration issues.
They should be fixed or removed (not all of them, of course) since right now they are quite irrelevant. It will eventually lead bugs in production because at some point no one will open the failed builds anymore.

e.g. I make a PR, there are 5 checks out of which 3 fail due to some missing parameter or errors lik

[2016-06-15 11:17] amihaiemil opened #1113 "Pull out Action.message() into sepparate class"
Currently the way a message is built [here](https://github.com/yegor256/rultor/blob/7a5d5804649ee9847674c43e75ae284b5dedeb40/src/main/java/com/rultor/agents/github/Answer.java) is very **procedural**. The method
`private String msg(final boolean success, final String text)` can be turned into the `Message` interface.

Then we have `AddressedMessage implements Message`,  which builds the message th

[2016-06-15 17:18] amihaiemil commented on #1105
@yegor256  ping

[2016-06-16 03:33] yegor256 commented on #1105
@original-brownbear yes, you can, but keep in mind that it's a bad (very bad) practice to have the same person as a bug reporter and a bug fixer

[2016-06-18 10:13] velo commented on #1110
hey @original-brownbear
seems our little buddy is out again

https://github.com/velo/apgdiff/issues/1

[2016-06-18 15:40] original-brownbear commented on #1110
@velo sorry bit late to the party here :), working fine for me now, can we close here or do you still have issues ?

[2016-06-18 15:50] original-brownbear commented on #1105
@yegor256 yup, well see below anyhow.

[2016-06-18 15:52] original-brownbear commented on #1105
@amihaiemil sorry not really as a result of @yegor256 's comment above alone, but more the fact that the PR does not fully resolve the issue ( and introduce a new one, will put the effort of explaining why that is so later ) + CR has not been assigned yet I'd rather postpone this one in favour of more pressing EC2 ones.

[2016-06-18 15:52] original-brownbear commented on #1105
@alex-palevsky this is postponed.

[2016-06-18 16:31] amihaiemil commented on #1105
@original-brownbear sure, no worries

[2016-06-18 21:53] velo commented on #1110
Seems to be fine now!

Thanks

[2016-06-19 00:33] velo commented on #1110
@original-brownbear  On a second though

Seems rultor is only running ```mvn clean test```, not my release script
https://github.com/velo/apgdiff/blob/develop/.rultor.yml#L40
http://www.rultor.com/t/8846-1

Any ideas?

[2016-06-19 12:09] original-brownbear commented on #1110
@velo sorry I'm a little confused with the question :)

I looked into the issue you linked and I can see that the release command did not perform the actions in the linked `.rultor.yml`. **But** looking at the Rultor build log you got there ( different from the one in the issue itself) it looks like all went well ?
Sorry, probably it's me :), but can you give me a link to the issue in which the ab

[2016-06-19 14:47] alex-palevsky commented on #1105
@original-brownbear thanks, I added "postponed" label

[2016-06-19 14:47] alex-palevsky commented on #1105
@original-brownbear got it, someone else will be assigned soon

[2016-06-19 15:01] alex-palevsky commented on #1112
@original-brownbear please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-06-19 15:01] alex-palevsky commented on #1113
@original-brownbear dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-06-19 15:46] original-brownbear commented on #1112
@amihaiemil just ignore it sorry :D, Yegor wants to keep these around ;)

[2016-06-19 15:50] amihaiemil commented on #1112
@original-brownbear I don't see why but ok :D

[2016-06-19 15:50] #1112 closed

[2016-06-19 16:07] original-brownbear commented on #1113
@amihaiemil sorry but I don't get this at all, now instead of the just the `Answer`  class I also have to set up an instance of `AddressedMessage` for every comment Rultor makes, what are we really gaining here ?

[2016-06-19 16:14] amihaiemil commented on #1113
@original-brownbear a more modular, object oriented design?

I think it looks better like this and if you change the way a message is built you just work in ``AddressedMessage`` and you have unit tests for it . I made the PR as an example of how I would do the changes.

Not to mention you can have more types of ``Message``s without changing answering logic. Class ``Answer`` is also lighter.

And w

[2016-06-19 16:23] amihaiemil commented on #1113
@original-brownbear Of course it would be another idea to make ``AddressedMessage`` implement interface ``Comment`` from jcabi-github... there are more options here to make it look cool and more decoupled :D

[2016-06-19 20:04] velo commented on #1110
So, rultor ran, but instead of running mvn deploy it ran mvn test

On Mon, 20 Jun 2016 00:09 Armin Braun <notifications@github.com> wrote:

[2016-06-19 21:24] velo commented on #1110
what, wait, crazy, nvm, it is correct, holy molyy...

[2016-06-19 21:28] velo commented on #1110
@original-brownbear
what, I posted the wrong log link somehow!
This is my log:
http://www.rultor.com/t/8838-226967129
My yml:
https://github.com/velo/apgdiff/blob/develop/.rultor.yml#L40
Issue:
https://github.com/velo/apgdiff/issues/1

So, on the yml I declare deploy on the log it ran test only =/

[2016-06-19 21:29] velo commented on #1110
ha, I got it, on issue 2 @rultor gave me the wrong link =/
https://github.com/velo/apgdiff/issues/2

[2016-06-19 21:34] velo commented on #1110
Yeap, I tried again...
https://github.com/velo/apgdiff/issues/3

it ran mvn clean test insteadof mvn deploy

[2016-06-21 08:43] amihaiemil commented on #1113
@original-brownbear what do you think? Does it make more sense now? :D

[2016-06-22 20:08] codejanovic opened #1115 "on which branches does rultor operate?"
Hi there,

i was not able to find any information about on which exact branch/commit rultor is performing a tag/release/deploy, when trying to release or deploy a new version.
After investigating various projects using `rultor`, i could not find a single project with more than a master branch - so yeah, in this case rultor will tag the latest commit from the master branch used in those projects.

[2016-06-24 14:28] amihaiemil commented on #1113
@original-brownbear ping

[2016-06-24 17:45] original-brownbear commented on #1113
@amihaiemil sorry for the delays, very crazy week :)
but ...
sorry I really don't see much value in this. I mean to me it already seems as though stacks are way too deep here, if we simply wrap another object around things without making any actual advances in the logic of processing GitHub comments.
I don't think I want to pursue this kind of change further without seeing an actual benefit in thi

[2016-06-24 17:52] amihaiemil commented on #1113
@original-brownbear well, to me its much cleaner with the change ^^ i don't know what else to say to endorse the change. What I've already said seem like good reasons to me.

[2016-06-24 18:01] amihaiemil commented on #1113
@yegor256 what do you think here?

[2016-06-24 18:18] original-brownbear commented on #1110
@velo sorry for the late reply I finally figured it out though ... you're not using a `master` but the develop branch. Currently Rultor is only working with `master`, we are implementing other default branches though, there is an open issue for that. Please close this one as a duplicate .)

[2016-06-24 18:26] original-brownbear commented on #1115
@codejanovic it's all working on `master` at present, but work is being done to allow choosing another default branch. This can be closed therefore I think, sorry the functionality is not yet available :)

[2016-06-24 20:34] velo commented on #1110
Ok, thanks

[2016-06-24 20:34] #1110 closed

[2016-06-25 00:30] codejanovic commented on #1115
@original-brownbear okay thats nice. my fear was that rultor may only operate on the selected **default branch**, whether or not this is the master branch. I will close this issue, thanks for your reply.

[2016-06-25 00:30] #1115 closed

[2016-06-27 20:47] yegor256 commented on #1113
@amihaiemil I understand what you're trying to achieve, but your solution is even more procedural :) this `AnsweredMessage` is a DTO (data transfer object), which is a terrible thing in OOP. if you really want to improve the design, do it this way:

[code]

See?

[2016-06-27 21:18] amihaiemil commented on #1113
@yegor256
By ``DTO`` should I understand an object that simply takes data when constructed and returns the same data through a method, for some other object to consume?

If that's the case, I agree it's not a nice design, but  ``AddressedMessage`` actually builds the message in ``body()``, for ``Answer`` class to use (so it doesn't just hold data).  Then again, ``Answer`` class might use other typ

[2016-06-27 21:24] amihaiemil commented on #1113
@yegor256 However, I'll look into it when I have some time

[2016-06-27 22:51] yegor256 commented on #1113
@amihaiemil yes, a DTO is something that basically carries data from one place to another. doing some processing of data inside doesn't make it better. it's still a DTO. what I'm saying is that your changes are actually [Introduce Parameter Object](http://refactoring.com/catalog/introduceParameterObject.html)  refactoring, which, in my opinion, is an anti-pattern

[2016-07-11 22:07] yegor256 opened #1116 "SUDO is redundant"
SUDO is redundant in some places. Let me try to remove it.

[2016-07-12 00:22] yegor256 opened #1117 "XPath bug in EndsDaemon"
[code]

[2016-07-12 00:24] #1117 closed

[2016-07-12 00:28] yegor256 commented on #1117
[code]

[2016-07-12 00:29] #1116 closed

[2016-07-12 05:34] yegor256 opened #1118 "new server"
I just migrated to a new EC2 machine and it is very unstable...

[2016-07-12 05:35] yegor256 commented on #1118
@original-brownbear this is what I have now:

[code]

It works fine for a few builds and then stops deleting containers with `--rm` option. Then I restart docker with `sudo service docker restart` and it stops answering anything on the command line (just hangs) and the entire machine becomes unresponsive. That's so sad.

[2016-07-12 05:41] original-brownbear commented on #1118
@yegor256 I think this is this bug https://github.com/docker/docker/issues/18758 which is essentially an issue with the AUFS file system. Heed my words (you may remember I wrote this elsewhere) and use direct lvm storage instead of AUFS. Installation is documented here: https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/ :)

[2016-07-12 05:44] yegor256 commented on #1118
@original-brownbear OK, will try now. b3.rultor.com already points to the old server

[2016-07-12 06:49] yegor256 opened #1119 "lack of specific versions in Dockerfile"
At the moment we don't have specific versions for apt-get and other packages in `src/docker/Dockerfile` and this leads to build instability, see: https://hub.docker.com/r/yegor256/rultor/builds/

Let's go through the entire Dockerfile and set versions to all packages.

[2016-07-12 06:49] yegor256 commented on #1119
@alex-palevsky assign @original-brownbear to this pls

[2016-07-12 06:52] original-brownbear commented on #1119
@yegor256 duplicate issue ;) see https://github.com/yegor256/rultor/issues/1010, close this one and I'll handle #1010 ?

[2016-07-12 16:59] yegor256 commented on #1119
@original-brownbear indeed is a duplicate, thanks

[2016-07-12 16:59] #1119 closed

[2016-07-12 18:23] original-brownbear commented on #1010
@alex-palevsky assign me here

[2016-07-12 18:24] original-brownbear commented on #1010
@alex-palevsky this is not postponed :)

[2016-07-13 15:53] alex-palevsky commented on #1010
@original-brownbear the task is yours, please proceed

[2016-07-13 15:53] alex-palevsky commented on #1010
@original-brownbear in the future, try to avoid assigning yourself to your own tasks

[2016-07-13 15:53] alex-palevsky commented on #1010
@original-brownbear got it, "postponed" tag removed from here

[2016-07-19 20:16] codejanovic opened #1120 "need help with maven deployment"
hey guys,

im still playing around with your great rultor service to deploy a java project to maven. now that everything seems to build, the maven deployment is not executed by rultor and i was wondering why.

i would be very thankful if someone may take a look at my project configuration and the latest buildlog:

* project https://github.com/codejanovic/guice-autowire
* buildlog http://www.rultor

[2016-07-22 07:26] Egis-Moshe opened #1121 "Their is no information about the security model of rultor"

[2016-07-22 07:27] Egis-Moshe opened #1122 "Cannot find contact details for reporting security issues"

[2016-07-24 10:56] bcostea commented on #764
thanks for the comment :)

[2016-07-24 12:27] alex-palevsky commented on #1120
@original-brownbear please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-07-24 20:57] original-brownbear commented on #1120
@codejanovic hey sorry for the delay.

Looks to me like the `yml` in your `.rultor.yml` isn't valid so Rultor uses the default, you're missing a `-` ;)
See https://github.com/yegor256/rultor/blob/master/.rultor.yml#L24 for any example.

[2016-07-25 13:30] codejanovic commented on #1120
@original-brownbear theres really no need to apologize.
i doublechecked the `.rultor.yml` and compared it with an existing project called `ezyfox-sfs2x` (https://github.com/youngmonkeys/ezyfox-sfs2x/blob/master/.rultor.yml)
But as of the logs of `ezyfox-sfs2x` (http://www.rultor.com/t/9022-232231444) the `.rultor.yml` could be read by Rultor.

I will add the missing dash and head back to you ASAP.

[2016-07-25 14:20] alex-palevsky commented on #1122
@original-brownbear please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-07-25 14:20] alex-palevsky commented on #1121
@original-brownbear please dispatch this issue

[2016-07-26 08:03] original-brownbear commented on #1122
@yegor256 do we want to provide a dedicated email for this ?

[2016-07-26 20:58] codejanovic commented on #1120
@original-brownbear i added the missing dash in `rultor.yml` without success. any other ideas?

as rultor behaves like everything is okay i have no chance to check whats wrong. if he is falling back to default behaviour because of an invalid `rultor.yml` he should at least log (big and fat) that the given `rultor.yml` isn't valid (even if he is not able to tell why exactly).

[2016-07-28 16:00] alex-palevsky commented on #1010
@original-brownbear just a reminder that you are working with this task for 15 days already

-30 added to your rating, at the moment it is: [+3538](http://www.netbout.com/b/36646?open=rating)

[2016-07-28 21:36] original-brownbear commented on #1010
@alex-palevsky more time please, still blocked by decisively more critical tasks :/

[2016-07-28 22:04] original-brownbear commented on #1121
@Egis-Moshe no sure what you have in mind here, could you elaborate ?

[2016-07-28 22:08] original-brownbear commented on #1120
@codejanovic I agree about the throwing on invalid `yml`, we do have an issue for that open :)

As for your specific case, I think the problem is that you fixed the `yml` in `develop`, but Rultor then builds from master, again using the broken one :(

[2016-07-28 22:23] codejanovic commented on #1120
@original-brownbear okay thats nice, looking forward to this feature!

actually i simply forgot to merge the PR from develop -> master, so i did it now with the same result i guess :-( http://www.rultor.com/t/8896-236042255

[2016-07-28 22:35] Egis-Moshe commented on #1121
@original-brownbear How does rultor keep:
a) it's github credentials secure
b) encrypted secrets secure

[2016-07-29 14:10] alex-palevsky commented on #1010
@original-brownbear yes, take your time, thanks for letting me know

[2016-07-31 19:03] original-brownbear commented on #1120
@codejanovic looks like we could have a bug here, couldn't find anything obviously wrong with your `.rultor.yml` now. I mean if you want and got the time, could you try adding a `merge:` and `deploy:` section also to see if their absence is causing trouble with Rultor's parser ?

[2016-07-31 19:10] original-brownbear commented on #1121
@Egis-Moshe sorry for the slow reply:

Basically security is maintained this way:

* Ssh key and gpg key (for decrypting things) are stored on the Rultor host
* Builds are ran inside Docker containers
  * The user can only freely specify the script to be ran inside the container
  * The script for Git and decryption is ran on the host and fixed in the Rultor source code.

That what you'Re looking

[2016-07-31 22:02] codejanovic commented on #1120
@original-brownbear oh my .... just realised after looking for your `qulice` repo that i named the file `rultor.yml` instead of `.rultor.yml` - i guess thats the reason why rultor falls back to its defaults -.- gonna rename and retry it

[2016-07-31 22:07] codejanovic commented on #1120
Yep, thats looks much better now, even though the build is faling http://www.rultor.com/t/8896-236459544

[2016-07-31 22:11] original-brownbear commented on #1120
@codejanovic looks like it passed to me ? :)

[2016-07-31 22:13] codejanovic commented on #1120
@original-brownbear well, i also wasnt able to find an error in the log, but `rultor` says he failed https://github.com/codejanovic/guice-autowire/issues/1

[2016-07-31 22:14] original-brownbear commented on #1120
@codejanovic ah it's this issue #1016 :) you didn't actually have any commit to merge.

[2016-07-31 22:18] codejanovic commented on #1120
@original-brownbear so whats the desired workflow on this? triggering `rultor` from within an open PR?

[2016-07-31 22:21] original-brownbear commented on #1120
@codejanovic ah no ... my bad, it's not that bug. You're apparently running an empty commit as your last command. This appears to have exit code not equal to `0` making the build fail right ?

[2016-07-31 22:32] codejanovic commented on #1120
@original-brownbear well yes, i only changed the file name. last try before going to sleep 👍

[2016-08-01 04:38] Egis-Moshe commented on #1121
@original-brownbear something more along the lines of https://circleci.com/security/

[2016-08-01 13:55] RomanTsegelskyi opened #1123 "Support merging to any other branch than master"
I couldn't find it in any docs or past issue, so I am sorry if it is a duplicate, but does rultor support other git workflows than [Feature Branch](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow)? Is there any plan for that?. I am primarily interested in [GitFlow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) and merging into other bran

[2016-08-04 14:22] alex-palevsky commented on #1123
@original-brownbear please dispatch this issue

[2016-08-08 18:10] yegor256 commented on #1122
@original-brownbear let's use `security@rultor.com`

[2016-08-09 08:08] original-brownbear commented on #1122
@yegor256 kk :)

[2016-08-09 13:48] alex-palevsky commented on #1122
@original-brownbear tag bug added to this issue

[2016-08-09 15:49] alex-palevsky commented on #1122
@egis-moshe I set milestone here to `2.0`, let me know if it is wrong

[2016-08-10 04:05] hypothesist commented on #1003
We're getting the error again FWIW: https://github.com/coala-analyzer/coala-bears/pull/657#issuecomment-238760055 [[Full log]](http://www.rultor.com/t/9245-238759868)

[2016-08-10 07:22] sils1297 commented on #1003
@hypothesist not rultors fault: https://github.com/coala-analyzer/coala-bears/pull/657#issuecomment-238786258

[2016-08-23 19:19] Makman2 opened #1124 "Non authorized persons can use rultor to merge stuff"
https://github.com/coala-analyzer/documentation/pull/78#issuecomment-241818795

tamj0rd2 shall not be able to merge the stuff, he has no write privileges.

This is quite critical as this is imposes a security issue^^

[2016-08-23 19:24] original-brownbear commented on #1124
@Makman2 looking into this, I think the issue is rather one with documentation here though.
If you define an (or multiple) `architect`(s) in the config, then this will be enforced. If you do not define one, the case is poorly handled/documented.

Will be looking into this, in the meantime I suggest defining the permissions in the `.rultor.yml`.

[2016-08-23 19:24] original-brownbear commented on #1124
@alex-palevsky valid bug.

[2016-08-23 19:41] Makman2 commented on #1124
that was fast, thank you very much :D

[2016-08-23 19:42] original-brownbear commented on #1124
@Makman2 time is always limited :) => the delays at times in here. But when it's serious issues affecting security or productivity, I'll try addressing them asap .

[2016-08-24 13:13] alex-palevsky commented on #1124
@original-brownbear added "bug" tag to this issue

[2016-08-24 15:02] alex-palevsky commented on #1124
@makman2 I set the milestone to 2.0 since there is nothing set yet

[2016-08-28 20:03] sils1297 commented on #1124
wait by default rultor allows merging for read only guests? I shouldn't need to configure anything to prevent that from happening should I?

[2016-08-28 20:03] sils1297 commented on #1124
CC @chauffer

[2016-08-28 20:06] chauffer commented on #1124
This does indeed seem like an issue which should need more attention. 😞

[2016-09-04 08:57] sils1297 commented on #1124
So we still have the issue that any random person with read access can trigger merges, is there any workaround? Do we have to explicitly set the maintainers in the rultor yml?

[2016-09-11 10:24] original-brownbear opened #1125 "Rultor Dies when Acting on a deleted Comment"
This Sequence of events appears to kill Rultor as it is currently down with message:

[code]

Caused by:

1. Comment
2. Rultor receives notification
3. User Deletes Comment
4. Rultor tries to act on the deleted comment, as it was deleted after Rultor received the notification about it
5. Above error

[2016-09-11 10:24] original-brownbear commented on #1125
@alex-palevsky this is a bug.

[2016-09-11 12:29] alex-palevsky commented on #1125
@original-brownbear I just added bug tag here

[2016-09-11 12:41] original-brownbear commented on #1125
@yegor256 #1126 should get us in the clear here for now.

[2016-09-11 13:50] alex-palevsky commented on #1125
@original-brownbear attached this issue to milestone "2.0" (let me know if this is wrong)

[2016-09-11 13:54] alex-palevsky commented on #1125
@original-brownbear many thanks, **30 mins** added to your acc for reporting this bug, pmt ID `AP-9GE99756MD829362F`

[2016-09-11 16:38] yegor256 commented on #1125
@original-brownbear I guess it's fixed

[2016-09-11 16:38] original-brownbear commented on #1125
@yegor256 jup :)

[2016-09-11 16:38] #1125 closed

[2016-09-12 20:03] alex-palevsky opened #1127 "Routine.java:59-68: Routine should be delegate execution..."
Puzzle `1125-c2e86b18` in `src/main/java/com/rultor/Routine.java:59-68` has to be resolved: Routine should be delegate execution to separate threads. Currently com.rultor.Routine#process() is sequentially processing all Talks and breaking out of this sequential processing to log occurring exceptions. This leads to issues in one build breaking all builds globally. This should be reworked to run the

[2016-09-12 20:04] alex-palevsky commented on #1125
@original-brownbear once `1125-c2e86b18`/#1127 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-09-13 15:01] alex-palevsky commented on #1127
@original-brownbear there is no milestone yet, so I set it to `2.0`

[2016-09-20 17:37] codejanovic commented on #1120
@original-brownbear so i know im late to the party but i tried it again with slight modifications to `.rultor.yml` and it did not work either.
i really dont see any hints in the log though :-( current log: http://www.rultor.com/t/8896-248373269

[2016-09-29 06:47] longtimeago opened #1128 "Command in a review summary doesn't work"
Recently, Github introduced new way for reviewing PRs
Looks like rultor command doesn;t work if placed in the review summary

[2016-10-02 12:36] alex-palevsky commented on #1128
@original-brownbear please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-10-02 18:59] original-brownbear commented on #1128
@longtimeago right just tried it ... doesn't work indeed

[2016-10-02 18:59] original-brownbear commented on #1128
@alex-palevsky valid bug.

[2016-10-02 19:57] alex-palevsky commented on #1128
@original-brownbear added "bug" tag to this issue

[2016-10-03 12:33] alex-palevsky commented on #1128
@longtimeago since the ticket has no milestone I set it to 2.0

[2016-10-03 12:37] alex-palevsky commented on #1128
@longtimeago thank you for the ticket reported, I topped your account for 15 mins, transaction `102302377`

[2016-11-10 11:31] amihaiemil opened #1129 "Can't download dependency from remote maven repo"
Apparently the rultor [build](http://www.rultor.com/t/9932-259662917) fails because maven can't fetch a dependency. This dependency is in my custom mvn repo, not released yet in mvn central (the repo has no credentials, so it should  not be a problem of authentication)

This custom repo is declared in [pom.xml](https://github.com/opencharles/charles-github-ejb/blob/1bdc9c3bd63f1d57f28d23d942ad1f7b

[2016-11-10 11:32] amihaiemil commented on #1129
@original-brownbear any clues about this? :D

[2016-11-11 11:21] amihaiemil opened #1130 "Rultor retries to merge without other commands?"
I was trying to setup rultor for some projects of mine and I noticed a funny behaviour:
Check the comments down from [this one](https://github.com/opencharles/charles-github-ejb/pull/132#issuecomment-259665128).

1) I asked it to merge, it tries to merge once and it failed (reason seems irrelevant, it happened in other scenario as well).

2) Then if something else happened in the issue that I assu

[2016-11-11 13:41] amihaiemil commented on #853
@uklimaschewski Sorry to bother, but how exactly did you update the ``gpg`` package to version > 2?
I have the same [problem](https://github.com/opencharles/charles/issues/67)
Ony my machine (ubuntu 16.04) I have both ``gpg`` and ``gpg2``...

I would also like to not update to the newest version of gpg (not greater than 2.0.22, I think) because then I have the issue that there is no pubring and se

[2016-11-12 12:45] amihaiemil commented on #853
@uklimaschewski I installed and uninstalled all the possible combinations of gpg2: ``2.1.7``,  ``2.0.22``, ``2.1.11``, with different versions of ``libgcrypt`` as well.

Even tried the same combination as rultor (``gpg2.0.22 + libgcrypt 1.5.3``) and still the same error... anything specific you did? or simply installed gpg2.1.7 (I saw your comment on SO)

Can you tell me what ``gpg2 --version`` pr

[2016-11-13 12:57] alex-palevsky commented on #1129
@original-brownbear please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-13 14:10] uklimaschewski commented on #853
Sorry for the delay, @amihaiemil ...
The errors during setup are sometimes very misleading.
I simply installed gpg2 via `sudo apt-get install gnupg2` on my Ubuntu.
Then I did
`$ sudo mv /usr/bin/gpg /usr/bin/gpg1`
`$ sudo mv /usr/bin/gpg2 /usr/bin/gpg`
`$ gpg --version` reports the following:
gpg (GnuPG) 2.0.17
libgcrypt 1.5.0
Copyright (C) 2011 Free Software Foundation, Inc.
License GPLv3+: GNU G

[2016-11-13 20:19] original-brownbear commented on #1129
@amihaiemil can you link the line in your `pom.xml` that declares said repository ?  I can't see it? :)

[2016-11-13 20:44] amihaiemil commented on #1129
@original-brownbear Yes, [here](https://github.com/opencharles/charles-github-ejb/blob/1bdc9c3bd63f1d57f28d23d942ad1f7b6f5a7029/charles-rest/pom.xml) - it's from history... in the meantime I released that lib to maven central and got rid of the custom maven repo.

So can't reproduce it now, but if you look [here](https://github.com/opencharles/charles-github-ejb/pull/132), I tried multiple times,

[2016-11-13 20:45] amihaiemil commented on #1129
@original-brownbear [Here](http://www.yegor256.com/2014/08/19/how-to-release-to-maven-central.html#comment-2654542923) is the thread from the blog I was talking about

[2016-11-13 20:48] original-brownbear commented on #1129
@amihaiemil hmm yea it should and does work with Rultor.
I think your mistake was to not add the proper Maven repo sub path to the url of your Maven repository. Imo it should be like `http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:1452/releases` + you should put the `repositories` section at the top of your pom :) Then you should be good imo.

[2016-11-13 20:52] amihaiemil commented on #1129
@original-brownbear It was like that since a long time ago and it worked fine on travis and locally (after I removed the m2 folder too).

Anyway, it might be something with maven run in a container, I don't know - maybe that requires the repositories tag to be at the top. The path is ok, shouldn't matter - it has to be the root of the repo and then it looks after your groupid/artifact id (e.g. fol

[2016-11-13 20:53] amihaiemil commented on #1129
@original-brownbear anyway, I'll close this - if someone has the same problem at least they'll find this issue and see the ``wget`` option or try to put ``repositories`` on top.

Is that ok?

[2016-11-13 21:23] original-brownbear commented on #1129
@amihaiemil sure fine with me :)

[2016-11-13 21:48] #1129 closed

[2016-11-14 08:09] amihaiemil commented on #853
@uklimaschewski No worries, thanks for answering :D

[2016-11-17 14:04] alex-palevsky commented on #1130
@original-brownbear dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-18 08:44] amihaiemil opened #1131 "Can I specify env variables to rultor?"
Is it possible to specify variables to rultor, and use them in scripts?

For instance, I would like to write a script for rultor to run in ``release`` process. The same as it commits a tag to the repo, I would like it to update the version of the projects in ``pom.xml``.

E.g. I release tag ``1.0.0``, then the version in pom.xml should automatically become ``1.0.1-SNAPSHOT``.

I think I could writ

[2016-11-18 08:52] #1131 closed

[2016-11-18 18:08] yegor256 opened #1132 "StartsDaemon fails if directory is not found"
[code]

[2016-11-18 18:08] #1132 closed

[2016-11-18 18:47] amihaiemil opened #1133 "Make ssh trust github.com by default?"
Maybe this is a silly question (my experience in os stuff is rather average yet)

I'm trying to instruct rultor to push its commited changes to origin.
Everything seems to work as I expect, until it hits the ``git push`` command, then the command prompts for a ``yes or no`` answer, regarding the trust of host github.com

http://www.rultor.com/t/9994-261607805

I've been trying all afternoon to mak

[2016-11-18 18:47] amihaiemil commented on #1133
@original-brownbear help? ^^

[2016-11-18 18:48] original-brownbear commented on #1133
@amihaiemil http://stackoverflow.com/questions/9008309/how-do-i-set-git-ssl-no-verify-for-specific-repos-only helpful ? :)

[2016-11-18 19:00] amihaiemil commented on #1133
@original-brownbear nope :( I tried but it doesn't work -  the same behaviour. But that thing is for ssl/https, here we are over ssh, right?

[2016-11-18 19:01] original-brownbear commented on #1133
@amihaiemil is Rultor added to your repo having write access ? :)

[2016-11-18 19:07] amihaiemil commented on #1133
@original-brownbear yes of coure.. there must be somthing, since it's able to push tags, why couldnt it push a branch? I'll look more into it tomorrow and let u know. I'm out for the evening ^^

[2016-11-19 17:18] amihaiemil commented on #1133
@original-brownbear I didn't find a workaround, but it turns out I don't need it anymore - rultor pushes all the branches (including master) right after removing branch ``__rultor`` :). I don't understand why rultor can push without being asked, but if I do it from my .sh file, it asks... eh, well :D

[2016-11-19 17:34] amihaiemil commented on #1133
@original-brownbear btw, all this I found while writing a [script](https://github.com/opencharles/charles/blob/master/rrv.sh) to update the version in pom.xml. Maybe we could start using something similar (maybe a little more complex)?

Right now teamed.io's projects only use mvn versions plugin to update the version in the released jar, but the pom.xml on master always stays the same, which is qu

[2016-11-19 23:50] original-brownbear commented on #1133
@amihaiemil yea I hear you with the versions, that stuff could be made a little more granular.

Then again there's not only upsides to using like `0.7-SNAPSHOT`, `0.8-SNAPSHOT` and so on and so forth, relative to just sticking with `1.0-SNAPSHOT`. Makes working with snapshots locally a lot more cumbersome for one (always gotta watch for using the right snapshot version etc.), also I think it creat

[2016-11-20 05:16] amihaiemil commented on #1133
@original-brownbear sure, thanks a lot :)

[2016-11-20 05:16] #1133 closed

[2016-11-22 07:56] carlosmiranda opened #1134 "Rultor should *always* prompt for architect confirmation for release command"
Right now, Rultor will prompt for architect's confirmation under the following conditions:

* The messenger is a **commander**
* The messenger is **not** an architect
* The issue is a pull request which is **not** authored by an architect.

The third condition is the problematic one here. For merges, that is perfectly fine since we don't need the architect to confirm his own work. However, any com

[2016-11-23 07:53] amihaiemil commented on #1134
@carlosmiranda I don't agree - I think no one should ever be able to give commands to rultor without an architect's approval. As an architect, I make a PR which is not yet ready or whatever - If someone merges it, releases or deploys without my permission, then it's a problem.

[2016-11-23 08:07] amihaiemil opened #1135 "Can we make rultor's tweets optional?"
Rultor tweets after every release.
Can we make this optional, with a param in .rultor.yml?

You test the releasing script, making more test releases or whatever and it tweets every single one of them as if it were an actual release.

I would add a boolean ``tweet`` param to the ``release`` section.
What do you think?

[2016-11-23 09:41] carlosmiranda commented on #1134
@amihaiemil that's up to @original-brownbear to decide

[2016-11-23 09:46] amihaiemil commented on #1134
@carlosmiranda of course, I was just adding my opinion :D

[2016-11-26 15:44] original-brownbear commented on #1134
@carlosmiranda yea @amihaiemil is right here, #1105 basically enocompasses this one. Sorry duplicate imo.

[2016-11-26 19:49] #1134 closed

[2016-11-27 13:09] alex-palevsky commented on #1135
@original-brownbear take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-12-05 23:44] codejanovic commented on #1120
@original-brownbear i managed to get one step further. mvn deploy is now getting triggered by rultor, but fails with ([full log](http://www.rultor.com/t/8896-265012377))

[code]

i think the problem maybe lies in settings.xml and the provided profile id, as the log also says

[code]

now heres my `settings.xml` (without the real credentials) and i am not sure what exactly to put in as profile id.

[2016-12-07 13:30] meetmangukiya opened #1136 "Feature Proposal:- Allow rultor to rebase a branch with respect to master"
`@rultor rebase` should
- Clone the repo
- Checkout the branch of PR
- run `git rebase master`
- force push `git push --force origin <branch>`

P.S. For branches of the repo only, since rultor doesn't have permissions for outside contributors repo.

[2016-12-10 12:15] tannakartikey opened #1137 "The issuestates badge in README.md doesn't work"
Seems the links are wrong that is why the badges are not appearing.

[2016-12-10 12:17] tannakartikey commented on #1137
They started appearing again!!

[2016-12-10 12:17] #1137 closed

[2016-12-11 13:22] alex-palevsky commented on #1136
@original-brownbear please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-12-11 19:09] meetmangukiya opened #1138 "Rultor merge gives an error: 'cid' file is absent, container wasn't started correctly"
Log link http://www.rultor.com/t/10226-266300430

[2016-12-14 19:21] ronenhamias opened #1139 "@rultor release, tag is `1.0.2`"

[2016-12-16 10:52] yegor256 commented on #1139
@ronenhamias not the right place :) you should post it to _your_ repository and make sure your command is in ticket body or in one of its message.

[2016-12-16 10:52] #1139 closed

[2016-12-16 10:53] yegor256 commented on #1138
@meetmangukiya it can't decrypt your assets:

[code]

Are you sure you encrypted them right?

[2016-12-16 13:41] meetmangukiya commented on #1138
Yes, just as suggested in the doc `rultor encrypt -p meetmangukiya/gistey`

On Fri, Dec 16, 2016 at 4:23 PM, Yegor Bugayenko <notifications@github.com>
wrote:

[2016-12-16 13:50] yegor256 opened #1140 "automatically accept invitations"
Let's accept them automatically.

[2016-12-16 13:50] #1140 closed

[2016-12-16 13:56] yegor256 commented on #1140
@rultor release, tag is `1.62`

[2016-12-16 13:57] rultor commented on #1140
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10292-267599112)

[2016-12-16 14:47] rultor commented on #1140
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10292-267599112) (took me 50min)

[2016-12-16 22:21] yegor256 commented on #1140
@rultor release, tag is `1.62.1`

[2016-12-16 22:21] rultor commented on #1140
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10292-267710210)

[2016-12-16 23:09] rultor commented on #1140
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10292-267710210) (took me 47min)

[2016-12-17 10:13] yegor256 commented on #1140
@rultor release, tag is `1.62.2`

[2016-12-17 10:14] rultor commented on #1140
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10292-267754816)

[2016-12-17 11:01] rultor commented on #1140
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10292-267754816) (took me 47min)

[2016-12-21 14:13] alex-palevsky commented on #699
@original-brownbear Closing, thanks all

[2016-12-21 14:13] #699 closed

[2016-12-21 14:13] alex-palevsky commented on #828
@original-brownbear I'm closing the issue...

[2016-12-21 14:13] #828 closed

[2016-12-21 14:13] alex-palevsky commented on #829
@original-brownbear The task is closed, thanks everybody

[2016-12-21 14:13] #829 closed

[2016-12-21 14:13] alex-palevsky commented on #830
@original-brownbear Thanks, closing it now.

[2016-12-21 14:13] #830 closed

[2016-12-21 14:13] alex-palevsky commented on #832
@original-brownbear Finished, thanks, closing..

[2016-12-21 14:13] #832 closed

[2016-12-21 14:13] alex-palevsky commented on #1056
@original-brownbear Closing..

[2016-12-21 14:13] #1056 closed

[2016-12-21 14:13] alex-palevsky commented on #1057
@original-brownbear Closing this issue now...

[2016-12-21 14:13] #1057 closed

[2016-12-21 14:13] alex-palevsky commented on #1069
@original-brownbear We are done here, thanks all

[2016-12-21 14:13] #1069 closed

[2016-12-21 14:13] alex-palevsky commented on #1072
@original-brownbear Closing this issue now...

[2016-12-21 14:13] #1072 closed

[2016-12-21 14:13] alex-palevsky commented on #1087
@original-brownbear Closing, thanks all

[2016-12-21 14:13] #1087 closed

[2016-12-21 14:13] alex-palevsky commented on #1089
@original-brownbear Closing..

[2016-12-21 14:13] #1089 closed

[2016-12-21 14:13] alex-palevsky commented on #1090
@original-brownbear The issue should be closed..

[2016-12-21 14:13] #1090 closed

[2016-12-21 14:13] alex-palevsky commented on #1091
@original-brownbear Thanks, closing it now.

[2016-12-21 14:13] #1091 closed

[2016-12-21 14:13] alex-palevsky commented on #1127
@original-brownbear The issue should be closed..

[2016-12-21 14:13] #1127 closed

[2016-12-21 14:16] alex-palevsky commented on #1065
@original-brownbear we were waiting for #1057 - it is closed already

[2016-12-21 14:16] alex-palevsky commented on #1089
@original-brownbear **30 mins** added to your account (payment number `AP-91P42200FA019602K`), many thanks for your contribution! 5903 hours and 35 mins spent here.. +30 to your rating, your total score is [+2573](http://www.netbout.com/b/36646?open=rating)

[2016-12-22 07:44] meetmangukiya commented on #1138
I have this working with `gpg2`, you may close the issue if you want, though I don't think the bug is found :thinking:

[2016-12-24 12:21] amihaiemil commented on #1138
@meetmangukiya just for the record, it's the same issue as [this](https://github.com/yegor256/rultor/issues/853). You should close this issue, since you are its author :)

[2016-12-24 12:23] #1138 closed

[2016-12-28 20:22] Makman2 commented on #1124
ping, at least a workaround would be good^^

[2016-12-31 15:11] sils commented on #1124
@original-brownbear so, setting the maintainers manually isn't really feasible. The groups change occasionally and we have like a lot of repositories, we don't want to maintain this list manually. I think the best solution would be to set github teams as "architects"

[2016-12-31 15:31] sims1253 commented on #1124
https://developer.github.com/v3/orgs/teams/#get-team-membership
could be used to check if the user giving the merge order is part of a team from the architects list

[2017-01-04 11:58] jayvdb opened #1141 "Accept commands by email"
rultor doesnt accept commands by email on GitHub PRs.

e.g. https://github.com/coala/coala-bears/pull/1254#issuecomment-270348630

[2017-01-06 18:58] alex-palevsky commented on #1135
@amihaiemil milestone set to `2.0` (correct me if I am wrong)

[2017-01-08 12:58] alex-palevsky commented on #1086
@original-brownbear The task is done, thanks all, I am closing it

[2017-01-08 12:58] #1086 closed

[2017-01-08 13:01] alex-palevsky commented on #1141
@original-brownbear please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2017-01-30 15:40] alex-palevsky commented on #570
@yegor256 the last puzzle `570-b7bcc1c2`/#699 originated from here solved

[2017-01-30 15:40] alex-palevsky commented on #629
@yegor256 last 4 puzzles `629-3b4a7478`/#1091, `629-97e18362`/#1090, `629-efc8aa9c`/#1087, `629-bb1a14ed`/#1089 originated from here were solved

[2017-01-30 15:40] alex-palevsky commented on #748
@yegor256 last 3 puzzles `748-9cbe7474`/#830, `748-bb1cb5c5`/#828, `748-a3bd319f`/#829 that originated from here were solved

[2017-01-30 15:40] alex-palevsky commented on #662
@yegor256 last puzzled solved `662-8cc0c29a`/#832

[2017-01-30 15:40] alex-palevsky commented on #1018
@original-brownbear the last puzzle `1053-dc86a5cc`/#1069 originated from here solved

[2017-01-30 15:40] alex-palevsky commented on #1053
@original-brownbear the last puzzle `1053-dc86a5cc`/#1069 originated from here solved

[2017-01-30 15:40] alex-palevsky commented on #918
@dmzaytsev the last puzzle `918-89660440`/#1056 solved

[2017-01-30 15:40] alex-palevsky commented on #1041
@abdealijk the last puzzle `1041-7f83dd26`/#1057 originated from here solved

[2017-01-30 15:40] alex-palevsky commented on #1039
@original-brownbear last puzzled solved `1039-d8a49c64`/#1072

[2017-01-30 15:40] alex-palevsky commented on #1125
@original-brownbear last puzzled solved `1125-c2e86b18`/#1127

[2017-02-03 21:16] Ardesco opened #1144 "Rultor not performing commands from valid user"
My rultor.yml is here:

https://github.com/Ardesco/appium-maven-plugin/blob/master/.rultor.yml

My attempts to use rultor are here:

https://github.com/Ardesco/appium-maven-plugin/issues/1

For some reason it's not picking up that I have permission to give commands, I've gone through the docs and can't see anything wrong with my YAML.

It's worked fine for me on other projects, so I'm suspecting I

[2017-02-03 21:16] 0crat commented on #1144
@yegor256 please, pay attention to this issue

[2017-02-03 23:40] Ardesco commented on #1144
Looks like it didn't like it needed an upper case A instead of a lower case a in Ardesco.

Strangely that's never mattered before in other projects.  It would be good to get this added to the documentation.

[2017-02-15 07:13] yegor256 commented on #1144
@Ardesco this shouldn't matter, see this code: https://github.com/yegor256/rultor/blob/1.62.2/src/main/java/com/rultor/agents/github/qtn/QnByArchitect.java#L100-L115 We lower-case both your login and the text from YAML. Either case should work.

[2017-02-15 08:59] Ardesco commented on #1144
Not sure what was going on then, maybe look at the commands that were being sent over and check it with the logs to see why it couldn't understand me?  Either way it's working for me now.

[2017-02-15 09:51] ashwini0529 opened #1145 "'cid' file is absent, container wasn't started correctly"
Here is my log file
http://www.rultor.com/t/10942-279962364
This is my `.rultor.yml`
https://github.com/GDGVIT/projects/blob/gh-pages/.rultor.yml

[2017-02-15 09:51] 0crat commented on #1145
@yegor256 please, pay attention to this issue

[2017-02-16 11:11] ashwini0529 commented on #1145
What should my `.rultor.yml` file look like?

[2017-02-16 11:58] yukiisbored commented on #1145
You have to use a build automation tool first and create a configuration or setup for it. Since this is a Jekyll site, I recommend creating a Gemfile or a Rakefile.

If you're having trouble understanding what build automation is and how to use Gemfile or Rake, I've found a couple of articles/tutorials on Google that may help you:
- https://en.wikipedia.org/wiki/Build_automation
- http://stackover

[2017-03-01 20:53] nqafield opened #1146 "Could we have the role of "deputy" architect?"
This is maybe not the best name for the role, but the idea is to introduce a kind of sub-architect who has some "privileges" beyond the standard contributor.

For example, while the architect still has final say, maybe they could assign someone to a pull request who has the sub-architect role who could then kick off subsequent merges of a pull-request if the architect is not available and if the P

[2017-03-01 20:53] 0crat commented on #1146
@yegor256 please, pay attention to this issue

[2017-03-03 13:15] g4s8 opened #1147 "Usage of loopback devices is strongly discouraged for production use"
Hi there!
Every rultor log contains this warning:
[code]
Warning appears after `docker run` command.

This issue on stackoverflow: https://stackoverflow.com/q/31620825/1723695

[2017-03-03 13:15] 0crat commented on #1147
@yegor256 please, pay attention to this issue

[2017-03-07 06:55] yegor256 opened #1148 "#description(): thrown java.lang.ClassCastException"
[code]

[2017-03-07 07:25] yegor256 commented on #1148
@rultor release, tag is `1.62.3`

[2017-03-07 07:27] rultor commented on #1148
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11098-284643021)

[2017-03-07 07:29] rultor commented on #1148
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11098-284643021) (spent 3min)

[code]

[2017-03-07 07:36] yegor256 commented on #1148
@rultor release, tag is `1.62.3`

[2017-03-07 07:36] rultor commented on #1148
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11098-284644732)

[2017-03-07 07:39] rultor commented on #1148
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11098-284644732) (spent 3min)

[code]

[2017-03-07 07:46] yegor256 commented on #1148
@rultor release, tag is `1.62.3`

[2017-03-07 07:46] rultor commented on #1148
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11098-284646462)

[2017-03-07 08:36] rultor commented on #1148
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11098-284646462) (took me 49min)

[2017-03-07 09:14] #1148 closed

[2017-03-08 21:20] trajano opened #1149 "Prevent rultor from doing anything extra on release"
I am trying to do a rultor release on one of my projects to try the functionality and I noticed that it started to do something after it ran the `script` section.  https://github.com/trajano/reverse-proxy-auth-sonar-plugin/issues/10#issuecomment-285167050

Is there a way to prevent that?  My script will already perform the pushes needed to GitHub and I do not want the files committed into the mast

[2017-03-08 21:20] 0crat commented on #1149
@yegor256 please, pay attention to this issue

[2017-03-09 20:07] trajano opened #1150 "Rultor settings.xml with github.com"
Can rultor have a settings.xml with github.com so we can use it with `mvn release:prepare` and have it commit there?  One thing to note though is the log should detect whether the API token is shown or somehow doing something malicious with it so it cannot be reused...

Another thing I can think of but I am not sure how is to have it automated so a new token is created just for the build and have

[2017-03-09 20:07] 0crat commented on #1150
@yegor256 please, pay attention to this issue

[2017-03-10 15:26] trajano commented on #1150
https://docs.travis-ci.com/api#creating-a-temporary-github-token shows how to create a temporary token on GitHub.

[2017-03-13 11:12] yegor256 commented on #1148
@rultor hello

[2017-03-13 11:13] yegor256 commented on #1148
@rultor version

[2017-03-13 11:13] rultor commented on #1148
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2017-03-13 11:14] rultor commented on #1148
@yegor256 My current version is 1.62.3, Git revision is [`ef166fc7f`](https://github.com/yegor256/rultor/commit/1.62.3)

[2017-03-16 15:50] trajano commented on #1149
One thing to work around is to use "deploy" **but** it does not seem to accept any parameters.

[2017-03-20 07:09] yegor256 commented on #1150
@trajano what all this will be for? And another question: are you aware of "assets" in rultor? Look at how this `settings.xml` work in rultor deployment: https://github.com/yegor256/rultor/blob/master/.rultor.yml#L17

[2017-03-20 14:54] trajano commented on #1150
I saw assets, but that requires a private repository which I do not have.

The purpose is that `mvn release:prepare` with GitHub which will do a `git push` using the data in `settings.xml` so that we can use `rultor` as the user rather than our own.  It will also simplify the configuration so that the rultor user does not need to go though setting up additional keys and tokens and somehow merge it

[2017-03-28 13:39] adtac opened #1151 "Is there a way to find out who called rultor?"
From inside a script. Can this be made available as an env variable?

[2017-03-28 13:40] 0crat commented on #1151
@yegor256 please, pay attention to this issue

[2017-04-07 13:19] alex-palevsky opened #1152 "Re-estimate project size"
The latest estimate is rather old (created on 28-Feb-2017),we have to create a new one as explained [here](https://github.com/teamed/est)

[2017-04-07 13:19] 0crat commented on #1152
@yegor256 please, pay attention to this issue

[2017-04-07 14:33] alex-palevsky commented on #1152
@original-brownbear I set the milestone to 2.0 since there is nothing set yet

[2017-04-18 07:50] extsoft opened #1153 "How to grand git permissions for my repo"
I added simple [rultor config](https://github.com/extsoft/insight/blob/master/.rultor.yml) in my repo. Then I tried to release and got [the message](https://github.com/extsoft/insight/issues/21#issuecomment-294347055). How can I solve this?

[2017-04-18 07:50] 0crat commented on #1153
@yegor256 please, pay attention to this issue

[2017-04-19 07:13] amihaiemil commented on #1153
@extsoft You need to invite rultor as a project collaborator with write access or, if the project is assigned to a team with write access, invite rultor in that team (then it will work with all the projects of that team)

[2017-04-19 07:14] amihaiemil commented on #1153
@original-brownbear @yegor256 Rultor is supposed to automatically accept invitations, it was implemented some time ago, but apparently it doesn't work - it's waiting on an invitation from ``decorators-squad/versioneye-api`` since yesterday. Can you login and accept it pls? :D

[2017-04-19 09:33] extsoft commented on #1153
@amihaiemil I invited Rultor, but the status is "Awaiting rultor's response".

[2017-04-20 17:53] valery1707 opened #1154 "Bug in QnVersion reply phase"
Then generating response to command `version` rultor make incorrect link to commit:

Real example: https://github.com/valery1707/jcommander-ext/issues/2#issuecomment-295822793

I prepare PR with fix

[2017-04-20 17:53] 0crat commented on #1154
@yegor256 please, pay attention to this issue

[2017-04-21 12:51] valery1707 commented on #1153
Same problem

[2017-04-21 14:30] yegor256 commented on #1153
@extsoft I'll take of this right now

[2017-04-21 14:43] 0pdd opened #1156 "GithubProfile.java:247-250: Implement validation using Kwalify..."
The puzzle `570-b7bcc1c2` in [`src/main/java/com/rultor/profiles/GithubProfile.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/profiles/GithubProfile.java) (lines 247-250) has to be resolved: Implement validation using Kwalify library in separate class called ValidYaml, move this method to that class and move tests from GitHubProfileValidationTest to ValidYamlTest. R

[2017-04-21 14:43] 0pdd opened #1157 "Mails.java:47-53: Implement Mails agent. Similar to..."
The puzzle `748-9cbe7474` in [`src/main/java/com/rultor/agents/Mails.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/Mails.java) (lines 47-53) has to be resolved: Implement Mails agent. Similar to what we do in CommentsTag we should do here - send an email to all listed addresses. The body of the email should contain similar text to what we create for the tag

[2017-04-21 14:43] 0pdd opened #1158 "Mails.java:54-56: Describe in file..."
The puzzle `748-bb1cb5c5` in [`src/main/java/com/rultor/agents/Mails.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/Mails.java) (lines 54-56) has to be resolved: Describe in file 2014-07-13-reference.md config parameters for email after release and how it works shortly. Config format described in issue #748.

The puzzle was created by alevohin on 20-Jan-15.

[2017-04-21 14:43] 0pdd opened #1159 "MailsTest.java:95-96: Implement method sendsToRecipients...."
The puzzle `748-a3bd319f` in [`src/test/java/com/rultor/agents/MailsTest.java`](https://github.com/yegor256/rultor/blob/master/src/test/java/com/rultor/agents/MailsTest.java) (lines 95-96) has to be resolved: Implement method sendsToRecipients. It must check that mail is sent to all recipients. Recipients are defined in Profile.

The puzzle was created by alevohin on 20-Jan-15.

Estimate: 30 minut

[2017-04-21 14:43] 0pdd opened #1160 "ReleaseBinaries.java:47-49: Implement attaching artifacts to..."
The puzzle `662-8cc0c29a` in [`src/main/java/com/rultor/agents/github/ReleaseBinaries.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/github/ReleaseBinaries.java) (lines 47-49) has to be resolved: Implement attaching artifacts to release, remove PMD suppression below and enable attachesBinariesToRelease test. Similar functionality exists in CommentsTag so you

[2017-04-21 14:43] 0pdd opened #1161 "EndsDaemon.java:64-66: Reduce the data abstraction coupling..."
The puzzle `1053-dc86a5cc` in [`src/main/java/com/rultor/agents/daemons/EndsDaemon.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/daemons/EndsDaemon.java) (lines 64-66) has to be resolved: Reduce the data abstraction coupling of EndsDaemon in order to get rid of the checkstyle suppression of ClassDataAbstractionCouplingCheck

The puzzle was created by Nicolas

[2017-04-21 14:43] 0pdd opened #1162 "ClosePullRequestTest.java:59-63: This class should only close pull..."
The puzzle `918-89660440` in [`src/test/java/com/rultor/agents/github/ClosePullRequestTest.java`](https://github.com/yegor256/rultor/blob/master/src/test/java/com/rultor/agents/github/ClosePullRequestTest.java) (lines 59-63) has to be resolved: This class should only close pull requests for successful merges, that have not resulted in GitHub itself closing the PR, do nothing for any other kind of

[2017-04-21 14:43] 0pdd opened #1163 "DockerHealthCheck.java:47-50: Add DockerHealthCheck to the running..."
The puzzle `1041-7f83dd26` in [`src/main/java/com/rultor/agents/docker/DockerHealthCheck.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/docker/DockerHealthCheck.java) (lines 47-50) has to be resolved: Add DockerHealthCheck to the running SuperAgents. In doing so make sure that Rultor crashes throwing a meaningful exception as soon as DockerHealthCheck#execute

[2017-04-21 14:43] 0pdd opened #1164 "Profiles.java:108-115: Add integration test to be sure that..."
The puzzle `1039-d8a49c64` in [`src/main/java/com/rultor/profiles/Profiles.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/profiles/Profiles.java) (lines 108-115) has to be resolved: Add integration test to be sure that validation exception will eventually be posted as an Answer in GitHub. After you create integration test, add `validated` method call in `fetch` meth

[2017-04-21 14:43] 0pdd opened #1165 "Amazon.java:42-45: Add implementation for..."
The puzzle `629-3b4a7478` in [`src/main/java/com/rultor/agents/ecs/Amazon.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/ecs/Amazon.java) (lines 42-45) has to be resolved: Add implementation for com.rultor.agents.ecs.Amazon. It must create com.amazonaws.services.ecs.AmazonECSClient with config params "credentials", "zone", "type", "key". Method runOnDemand mu

[2017-04-21 14:43] 0pdd opened #1166 "StartsECS.java:51-53: Implement..."
The puzzle `629-97e18362` in [`src/main/java/com/rultor/agents/ecs/StartsECS.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/ecs/StartsECS.java) (lines 51-53) has to be resolved: Implement com.rultor.agents.ecs.StopsECS agent. It must stop ECS on-demand container if it was started at StartsECS agent. StopsECS must use container ARN from /talk/ec2/[@id] to stop

[2017-04-21 14:43] 0pdd opened #1167 "StartsECS.java:58-60: Add new container creation classes..."
The puzzle `629-efc8aa9c` in [`src/main/java/com/rultor/agents/ecs/StartsECS.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/ecs/StartsECS.java) (lines 58-60) has to be resolved: Add new container creation classes for StartsECS and StopsECS to com.rultor.agents.Agents. StartsECS must be invoked before RegistersShell agent. StopsECS must be invoked after Remove

[2017-04-21 14:43] 0pdd opened #1168 "StartsECS.java:61-64: Implement the ability to use Rultor..."
The puzzle `629-bb1a14ed` in [`src/main/java/com/rultor/agents/ecs/StartsECS.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/ecs/StartsECS.java) (lines 61-64) has to be resolved: Implement the ability to use Rultor with any AWS account, by providing the credentials to it via the encrypted assets and a respective configuration setting in the .rultor.yml. Docume

[2017-04-21 14:43] 0pdd opened #1169 "Routine.java:59-68: Routine should be delegate execution..."
The puzzle `1125-c2e86b18` in [`src/main/java/com/rultor/Routine.java`](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/Routine.java) (lines 59-68) has to be resolved: Routine should be delegate execution to separate threads. Currently com.rultor.Routine#process() is sequentially processing all Talks and breaking out of this sequential processing to log occurring exceptions

[2017-04-21 14:43] 0crat commented on #1158
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1159
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1160
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1161
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1156
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1162
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1163
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] yegor256 commented on #1153
@rultor release, tag is `1.62.4`

[2017-04-21 14:43] 0crat commented on #1164
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1165
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1157
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1166
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1167
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1168
@yegor256 please, pay attention to this issue

[2017-04-21 14:43] 0crat commented on #1169
@yegor256 please, pay attention to this issue

[2017-04-21 14:45] rultor commented on #1153
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11456-296210413)

[2017-04-21 15:41] rultor commented on #1153
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11456-296210413) (took me 56min)

[2017-04-21 15:47] yegor256 commented on #1153
@extsoft I guess the problem is fixed, please check

[2017-04-21 17:40] yegor256 opened #1170 "sixnines badge"

[2017-04-21 17:43] yegor256 commented on #1170
@rultor release, tag is `1.63`

[2017-04-21 17:44] rultor commented on #1170
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11461-296256976)

[2017-04-21 18:40] rultor commented on #1170
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11461-296256976) (took me 55min)

[2017-04-21 18:44] #1170 closed

[2017-04-22 19:11] extsoft commented on #1153
@yegor256 my invitation was accepted by Rultor.

[2017-04-22 19:27] extsoft commented on #1153
Release was [successful](https://github.com/extsoft/insight/releases/tag/0.2.0), will close the issue. @valery1707 please try release too.

[2017-04-22 19:27] #1153 closed

[2017-04-23 18:36] extsoft opened #1171 "Pull request isn't closed after Rultor's merge"
I merged https://github.com/extsoft/insight/pull/30 with Rultor. But pull request is still open. If I close this manually, it will be marked as unmerged. Finally, this leads to ambiguity of merge state.

Steps to reproduce:
1. checkout new branch from `master` (`feature-x`)
2. add one commit to `feature-x`, push this and create pull request (`feature-x PR`)
3. add one more commit to remote `master

[2017-04-23 18:36] 0crat commented on #1171
@yegor256 please, pay attention to this issue

[2017-04-24 17:41] yegor256 commented on #1171
@extsoft rultor doesn't close pull requests. GitHub closes them automatically. And the way GitHub decides when to close it up to GitHub. We had this problem before, in some pull requests. You just have to close it manually. I believe this happens when the changes you merge are already in master.

[2017-04-24 17:41] yegor256 opened #1172 "rvm"

[2017-04-24 18:02] alex-palevsky commented on #1172
@yegor256 tag bug added to this issue

[2017-04-24 19:08] alex-palevsky commented on #1172
@yegor256 attached this issue to milestone "2.0" (let me know if this is wrong)

[2017-04-25 12:33] #1172 closed

[2017-04-25 17:17] adhikasp commented on #1123
I vote on this issue 👍

For search visibility
rultor merge on non master branch

[2017-04-25 20:52] yegor256 opened #1174 "su --login"
Let's add `--login` option to `su`

[2017-04-25 21:04] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-25 21:05] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297164344)

[2017-04-25 21:07] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297164344) (spent 2min)

[code]

[2017-04-25 21:11] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-25 21:12] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297166322)

[2017-04-25 21:14] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297166322) (spent 2min)

[code]

[2017-04-25 21:15] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-25 21:16] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297167335)

[2017-04-25 21:18] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297167335) (spent 2min)

[code]

[2017-04-26 06:03] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 06:04] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297246767)

[2017-04-26 06:07] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297246767) (spent 4min)

[code]

[2017-04-26 06:10] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 06:11] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297248622)

[2017-04-26 06:12] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297248622) (spent 1min)

[code]

[2017-04-26 08:10] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 08:10] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297282524)

[2017-04-26 08:17] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297282524) (spent 6min)

[code]

[2017-04-26 08:37] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 08:38] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297294076)

[2017-04-26 08:41] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297294076) (spent 3min)

[code]

[2017-04-26 08:57] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 08:57] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297303442)

[2017-04-26 09:01] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297303442) (spent 4min)

[code]

[2017-04-26 09:30] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 09:31] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297317691)

[2017-04-26 09:34] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297317691) (spent 3min)

[code]

[2017-04-26 09:34] extsoft commented on #1171
@yegor256

No, changes were added by Rultor to the master.

If I understood correctly, Rultor rebases changes from `master` to `feature-x` branch before merge. And if rebased changes from `feature-x` will be pushed to remote `feature-x`, then pull request will be closed. I done it manually, and it works:
[code]

[2017-04-26 09:34] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 09:36] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297319203)

[2017-04-26 09:40] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297319203) (spent 4min)

[code]

[2017-04-26 11:58] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 11:58] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297379692)

[2017-04-26 12:45] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297379692) (spent 47min)

[code]

[2017-04-26 12:51] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 12:51] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297397060)

[2017-04-26 12:52] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297397060) (spent 18s)

[code]

[2017-04-26 12:52] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 12:54] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297397417)

[2017-04-26 12:55] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297397417) (spent 19s)

[code]

[2017-04-26 12:57] extsoft opened #1175 "Could not resolve hostname github.com: Name or service not known"
Rultor is not able to clone repo ([full log](https://github.com/tatools/sunshine/pull/55#issuecomment-297396591))

[2017-04-26 12:57] 0crat commented on #1175
@yegor256 please, pay attention to this issue

[2017-04-26 13:02] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 13:06] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297399910) (spent 4min)

[code]

[2017-04-26 13:12] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 13:13] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297403028)

[2017-04-26 13:15] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297403028) (spent 2min)

[code]

[2017-04-26 13:21] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 13:21] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297405620)

[2017-04-26 13:24] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297405620) (spent 3min)

[code]

[2017-04-26 13:26] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 13:28] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297407394)

[2017-04-26 13:29] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297407394) (spent 2min)

[code]

[2017-04-26 13:31] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 13:32] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297408717)

[2017-04-26 13:34] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297408717) (spent 2min)

[code]

[2017-04-26 13:42] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 13:44] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297412534)

[2017-04-26 13:44] yegor256 commented on #1171
@extsoft no, Rultor doesn't rebase master into your branch. Instead, it takes your branch and merges it into `master`. You can see what happens right in the log Rultor publishes for you.

[2017-04-26 13:46] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297412534) (spent 3min)

[code]

[2017-04-26 13:54] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 13:55] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297416009)

[2017-04-26 13:58] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297416009) (spent 3min)

[code]

[2017-04-26 14:03] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-26 14:03] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297418365)

[2017-04-26 14:36] yegor256 commented on #1151
@adtac yes, it may. Should not be difficult to implement. Let me try...

[2017-04-26 14:54] yegor256 commented on #1175
@extsoft it was a temporary issue, fixed already, thanks for reporting

[2017-04-26 14:54] #1175 closed

[2017-04-26 16:05] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297418365) (spent 2hr)

[code]

[2017-04-27 13:19] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-27 13:21] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297710843)

[2017-04-27 13:23] yegor256 commented on #1154
@valery1707 it's merged

[2017-04-27 13:23] rultor commented on #1174
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11509-297710843) (spent 2min)

[code]

[2017-04-27 14:20] yegor256 commented on #1174
@rultor release, tag is `1.64`

[2017-04-27 14:21] rultor commented on #1174
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11509-297727633)

[2017-04-27 15:12] rultor commented on #1174
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11509-297727633) (took me 49min)

[2017-04-28 05:34] #1174 closed

[2017-04-28 12:19] #1154 closed

[2017-05-02 19:26] 0crat commented on #1170
Oops! Job `gh:yegor256/rultor#1170` was not in scope

[2017-05-02 19:26] 0crat commented on #1153
Oops! Job `gh:yegor256/rultor#1153` was not in scope

[2017-05-02 19:26] 0crat commented on #1172
Oops! Job `gh:yegor256/rultor#1172` was not in scope

[2017-05-02 19:26] 0crat commented on #1174
Oops! Job `gh:yegor256/rultor#1174` was not in scope

[2017-05-02 19:26] 0crat commented on #1154
Oops! Job `gh:yegor256/rultor#1154` was not in scope

[2017-05-12 13:06] #1043 closed

[2017-05-12 13:06] #1152 closed

[2017-05-12 13:06] alex-palevsky commented on #1043
@yegor256 Thanks, closing it now.

[2017-05-12 13:06] alex-palevsky commented on #1152
@yegor256 Closing this issue now...

[2017-05-12 13:06] 0crat commented on #1152
Oops! Job `gh:yegor256/rultor#1152` was not in scope

[2017-05-12 13:06] 0crat commented on #1043
Oops! Job `gh:yegor256/rultor#1043` was not in scope

[2017-05-19 09:49] yegor256 commented on #1147
@rultor release, tag is `1.64.1`

[2017-05-19 09:50] rultor commented on #1147
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11714-302659858)

[2017-05-19 09:53] yegor256 commented on #1147
@rultor stop

[2017-05-19 09:53] rultor commented on #1147
@yegor256 OK, I'll try to stop current task.

[2017-05-19 09:56] rultor commented on #1147
@g4s8 @yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11714-302660711) (spent 5min)

[code]

[2017-05-19 09:56] yegor256 commented on #1147
@rultor release, tag is `1.64.1`

[2017-05-19 09:58] yegor256 commented on #1147
@rultor stop

[2017-05-19 09:58] rultor commented on #1147
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11714-302661417)

[2017-05-19 10:00] rultor commented on #1147
@yegor256 OK, I'll try to stop current task.

[2017-05-19 10:01] yegor256 commented on #1147
@rultor release, tag is `1.64.1`

[2017-05-19 10:02] rultor commented on #1147
@g4s8 @yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11714-302661856) (spent 4min)

[code]

[2017-05-19 10:04] yegor256 commented on #1147
@rultor hello

[2017-05-19 10:05] rultor commented on #1147
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11714-302662540)

[2017-05-19 10:06] rultor commented on #1147
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11714-302662540) (spent 37s)

[code]

[2017-05-19 10:07] yegor256 commented on #1147
@rultor release, tag is `1.64.1`

[2017-05-19 10:07] rultor commented on #1147
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2017-05-19 10:10] yegor256 commented on #1147
@rultor release, tag is `1.64.1`

[2017-05-19 10:21] yegor256 commented on #1147
@rultor hello

[2017-05-19 10:22] rultor commented on #1147
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11714-302663758)