[2015-09-25 22:28] yegor256 commented on #935
@sils1297 I think this should do the fix: 8bedf9e

[2015-09-25 22:29] yegor256 commented on #935
@rultor release, tag is `1.57.4`

[2015-09-25 22:29] rultor commented on #935
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5257-143367728)

[2015-09-25 22:47] rultor commented on #935
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5257-143367728) (took me 17min)

[2015-09-26 02:34] xeboc commented on #936
@yegor256 Since the wiki is a repository and your documentation is in markdown, you could probably use rultor to do it.  :)  Then the documentation is tied to the rultor release and always stays fresh.

[2015-09-26 17:55] yegor256 commented on #935
@sils1297 what do you think? works now?

[2015-09-26 18:00] sils1297 commented on #935
@yegor256 we've stopped using rultor because I can't expose the team to too much testing right now as we're stil forming the team and the policies. Testing this under production circumstances may take a while.

[2015-09-26 18:04] yegor256 commented on #935
@sils1297 no problem. I think you can close the ticket, since (I believe) the problem is solved. If you experience it again, you can always open a new ticket.

[2015-09-26 18:08] sils1297 commented on #937
@yegor256 look closely at the order of comments:

4 days ago I did a comment with

    `@rultor merge`

in it. This shouldn't trigger rultor because of backticks, I presume.

A few days later I did the `@rultor merge` comment and the first response to it is actually a response to the comment 4 days ago:

so this comment shouldn't be there at all, right?

[2015-09-26 18:09] rultor commented on #937
@sils1297 I see you're talking about me, but I don't understand it. If you want to say something to me directly, start a message with @rultor

[2015-09-26 21:06] yegor256 commented on #937
@sils1297 this is by design and we can't fix it anyhow. When you put "rultor" into backticks, Github doesn't notify our engine about it. We simply don't pay attention to this ticket. Later, when you actually refer to rultor and the ticket catches our attention, we go through **all** messages unseen before. When we find the one where "rultor" is mentioned (even though inside backticks), we reply to

[2015-09-26 21:15] sils1297 commented on #937
Why don't you filter out backtick usages? I would only use rultor in
backticks when explaining it to someone and then I wouldn't want rultor to
pick that up.
On Sep 26, 2015 23:06, "Yegor Bugayenko" <notifications@github.com> wrote:

[2015-09-26 21:22] yegor256 commented on #937
@sils1297 we can't... We don't know where backticks starts and where they end. We need to do a proper Markdown rendering in order to understand that. And this would be totally out of scope of the project... I believe

[2015-09-26 21:42] sils1297 commented on #937
Well, there are libraries for that.

So one could also look for a simpler method of recognizing relevant
comments, e.g. requiring the user to address rultor at the first part of a
sentence/line. If this is not given, don't answer at all.

This'll solve the delayed answers (which don't hold anything useful in any
case, right?), as well as the annoying fact that rultor responds if someone
answers to

[2015-09-26 21:47] yegor256 commented on #937
@sils1297 well, yes, but we intentionally created this feature in #683 (you can see our discussion there, to understand the reason). Completely removing it would not be a good idea now. Rendering the entire message into HTML just in order to avoid that situations... isn't it an overkill?

[2015-09-26 22:27] sils1297 commented on #937
(you can see our discussion there, to understand the reason). Completely
removing it would not be a good idea now.

I'm not taking about completely removing it. I'm speaking about reducing
the "I didn't understand you" messages, only show them when rultor was
mentioned in the beginning of the line and mentioning in the documentation
that rultor needs to be mentioned there.

This would greatly help

[2015-09-26 23:29] sils1297 opened #938 "rultor merge behaves very weird"
Sorry for the bad title, but please look at this conversation, beginning from the rultor commands:

https://github.com/coala-analyzer/coala/pull/966

As you see there are three rultor merges on the same data and *all three yield different results*! I'd love it if @yegor256 could take a deep look - there might be several underlying issues here, I'd see two right now:

1. There seem to be connectivi

[2015-09-26 23:34] yegor256 commented on #938
@sils1297 don't worry, you're not assaulting anyone :) your concerns are very valid, we definitely don't have enough tests in the projects and we do fail in production, very often. We'll pay more attention to quality. In the mean time, let's try to resolve this issue you're having. I will try to analyze it now...

[2015-09-27 00:18] yegor256 commented on #931
@nicofr69 what is the status here? works?

[2015-09-27 00:18] #930 closed

[2015-09-27 00:19] yegor256 commented on #922
@jeromebridge cool. please close the ticket

[2015-09-27 00:22] yegor256 commented on #916
@sils1297 good idea, but I would rather make the configuration simpler, for example:

[code]

What do you think?

[2015-09-27 00:42] yegor256 commented on #906
@alex-palevsky assign someone else pls

[2015-09-27 00:43] #922 closed

[2015-09-27 00:45] yegor256 commented on #897
@sils1297 yes, this makes sense, but why can't you just run "rultor deploy" a few times, until it works? then, "rultor release 0.0.1" a few times, until it releases, etc. Rultor is a production tool, and testing its scripts is not really what people need in production... For example, you can't "test" Travis scripts. You just run and see the error. If there is an error, you fix it. See the point?

[2015-09-27 00:45] yegor256 commented on #885
@alex-palevsky assign someone else pls

[2015-09-27 00:50] yegor256 commented on #937
@sils1297 the reason why we check the entire message is that people very often don't understand how rultor works. They don't start their messages with the right prefix and they get no response. That's why this feature was introduced in #683 In other words, most of the users are juniors, that's why we need to focus on them. More advanced users (like yourself) can handle these situations and avoid p

[2015-09-27 00:50] #937 closed

[2015-09-27 01:01] yegor256 commented on #938
@sils1297 I reverted the change recently introduced (8bedf9ea1d85439a74e83c327a2ddb026af83b42). You're right, they make merging impossible

[2015-09-27 01:01] yegor256 commented on #938
@rultor release, tag is `1.57.5`

[2015-09-27 01:02] rultor commented on #938
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5267-143507757)

[2015-09-27 01:18] rultor commented on #938
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5267-143507757) (took me 16min)

[2015-09-27 01:52] yegor256 opened #939 "jcabi-parent 0.37"

[2015-09-27 02:35] yegor256 commented on #869
@rultor assign someone else pls

[2015-09-27 02:35] rultor commented on #869
@sils1297 I see you're talking about me, but I don't understand it. If you want to say something to me directly, start a message with @rultor

[2015-09-27 02:37] yegor256 commented on #899
@sils1297 we will document it better. We need this `repo/` prefix in order to keep "foreign" files outside of the main directory of the project. We'll improve the documentation

[2015-09-27 02:37] yegor256 commented on #899
@alex-palevsky assign someone else here pls

[2015-09-27 02:38] yegor256 commented on #896
@alex-palevsky assign someone else pls

[2015-09-27 03:11] #939 closed

[2015-09-27 05:37] nicofr69 commented on #931
@yegor256  The build passed, and merge into master works. You can close this issue, thanks a lot.

[2015-09-27 12:19] sils1297 commented on #938
@yegor256 many thanks. As I said those will probably turn out as several issues and I'd recommend opening new ones for each of them as the investigation reveals them, closing this "investigation" bug in the end.

[2015-09-27 13:39] alex-palevsky commented on #901
@sils1297 we will find someone to do this task, soon

[2015-09-27 13:39] alex-palevsky commented on #905
@abdealijk I will find a developer for the task soon...

[2015-09-27 13:39] alex-palevsky commented on #919
@alxn this task will get someone's attention soon

[2015-09-27 13:40] alex-palevsky commented on #901
@sils1297 since there is no milestone yet I set it to "2.0"

[2015-09-27 13:40] alex-palevsky commented on #904
@sils1297 I set milestone here to `2.0`, let me know if it is wrong

[2015-09-27 13:40] alex-palevsky commented on #905
@abdealijk since the ticket has no milestone I set it to 2.0

[2015-09-27 13:40] alex-palevsky commented on #919
@alxn since there is no milestone yet I set it to "2.0"

[2015-09-27 13:40] alex-palevsky commented on #885
@yegor256 -30 points to your rating :(

[2015-09-27 13:40] alex-palevsky commented on #885
@yegor256 got it, someone else will be assigned soon

[2015-09-27 13:40] alex-palevsky commented on #896
@yegor256 30 points deducted from your rating

[2015-09-27 13:40] alex-palevsky commented on #896
@yegor256 right, I'll try to find someone else for this task

[2015-09-27 13:40] alex-palevsky commented on #899
@yegor256 I deducted 30 points from your rating

[2015-09-27 13:40] alex-palevsky commented on #899
@yegor256 right, I'll try to find someone else for this task

[2015-09-27 13:40] alex-palevsky commented on #906
@yegor256 I deducted 30 points from your rating

[2015-09-27 13:40] alex-palevsky commented on #906
@yegor256 someone else will help in this task, no problem at all

[2015-09-28 08:59] pecko opened #940 "Unexpected error while merge jcabi-github issue"
While merge the PR https://github.com/jcabi/jcabi-github/pull/1162, rultor fails with this error:

[code]

The src/main/java/com/jcabi/github/Notification.java has not changed since January 26 - https://github.com/jcabi/jcabi-github/pull/985 (commit https://github.com/jcabi/jcabi-github/commit/c3bac3a3e0c5e8a972bc8f61ffff4e6e719081bf)

[2015-09-28 13:46] alex-palevsky commented on #921
@maurezen it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -60 added to your rating, at the moment it is: [-74](http://www.netbout.com/b/35102?open=rating)

[2015-09-28 15:52] yegor256 commented on #940
@pecko it is not a bug in rultor, but may be a problem with PDD tool: https://github.com/teamed/pdd

[2015-09-28 15:53] yegor256 commented on #940
@pecko but it doesn't look like a bug to me. Just the line of code contains incorrect "todo". Just fix it and everything will be fine.

[2015-09-28 15:53] #940 closed

[2015-09-28 16:05] pecko commented on #940
@yegor256

I'm wasnt sure because this line is in src/main/java/com/jcabi/github/Notification.java has not changed since January 26.
Since https://github.com/jcabi/jcabi-github/issues/920 is closed, I will remove todo. Is it OK?

[2015-09-28 16:26] pecko commented on #940
@yegor256

I have changed the commit. It is fixed instead of removed. Please see https://github.com/jcabi/jcabi-github/issues/932#issuecomment-143796385

[2015-09-28 16:41] yegor256 commented on #940
@pecko yes, you did it right. It's better to fix than remove. The problem is that jcabi-github is using **the latest** version of PDD. And this extra check was introduced in PDD just recently, see https://github.com/teamed/pdd/issues/42

[2015-09-28 16:48] pecko commented on #940
@yegor256

Now, rultor returns two failures as first time :(
Would we ignore that?

[2015-09-28 16:50] pecko commented on #940
I'm wrong. These failures are new:

[code]

[2015-09-28 17:41] yegor256 commented on #722
@micdenny see #869

[2015-09-28 17:41] #722 closed

[2015-09-28 17:43] yegor256 commented on #791
@alevohin we should use "rultor deploy" for this. The deployment operation is supposed to be **frequently** executed without any harm to the overall process. In other words, you should be able to "deploy" your product as many times per day as possible. Thus, no need to introduce a new "test" command

[2015-09-28 17:43] #791 closed

[2015-09-28 17:43] yegor256 commented on #806
@alex-palevsky assign someone else pls

[2015-09-28 17:43] yegor256 commented on #816
@alex-palevsky assign someone else pls

[2015-09-28 17:43] yegor256 commented on #818
@alex-palevsky assign someone else pls

[2015-09-28 17:44] #858 closed

[2015-09-28 17:44] yegor256 commented on #898
@alex-palevsky assign someone else here pls

[2015-09-28 17:45] yegor256 commented on #912
@alex-palevsky assign someone else here pls

[2015-09-28 17:45] yegor256 commented on #936
@alex-palevsky assign someone else here pls

[2015-09-28 21:11] #931 closed

[2015-09-29 12:08] alex-palevsky commented on #806
@yegor256 -30 points to your rating :(

[2015-09-29 12:08] alex-palevsky commented on #806
@yegor256 no problem, I will try to find somebody else

[2015-09-29 12:09] alex-palevsky commented on #816
@yegor256 -30 points to your rating

[2015-09-29 12:09] alex-palevsky commented on #816
@yegor256 OK, I will try to assign someone else

[2015-09-29 12:09] alex-palevsky commented on #818
@yegor256 -30 points to your rating :(

[2015-09-29 12:09] alex-palevsky commented on #818
@yegor256 right, I will find someone else, no problem

[2015-09-29 12:09] alex-palevsky commented on #898
@yegor256 -30 points to your rating

[2015-09-29 12:09] alex-palevsky commented on #898
@yegor256 I will ask somebody else to pick this up

[2015-09-29 12:09] alex-palevsky commented on #912
@yegor256 -30 points to your rating

[2015-09-29 12:09] alex-palevsky commented on #912
@yegor256 no problem, I will try to find somebody else

[2015-09-29 12:09] alex-palevsky commented on #936
@yegor256 -30 points to your rating :(

[2015-09-29 12:09] alex-palevsky commented on #936
@yegor256 all right, we'll find someone else for this task

[2015-09-29 13:34] sils1297 commented on #935
The commit was reverted so this bug is up and open again, right?

[2015-09-29 15:11] alex-palevsky commented on #935
@sils1297 there is no milestone yet, so I set it to `2.0`

[2015-09-29 15:14] alex-palevsky commented on #935
@yegor256 it is your task now

[2015-09-29 15:53] pecko opened #941 "How to start rultor to run/use .rultor.xml from some project"
I would like to start rultor locally and build the jcabi-github project.
I have tried the following:

[code]

However, this build doesn't run integration tests as remote rultor do it.
How to can I tell rultor to run script defined in .rultor.xml when running rultor locally?

See https://github.com/jcabi/jcabi-github/issues/1170

[2015-09-29 16:02] yegor256 commented on #941
@pecko it's a duplicate of #549

[2015-09-29 16:02] #941 closed

[2015-09-29 16:18] pecko commented on #549
I have to build rultor and call this command from OS prompt in the project's (jcabi-github, for instance) directory. (there isn't this command in docker image yegor256/rultor). Right?

Should we add this in rultor's README or doc.rultor.com?

[2015-09-29 16:20] yegor256 commented on #549
@pecko who are you talking to? Keep in mind that it's important to address your messages, if you want them to be answered :)

[2015-09-29 16:20] yegor256 commented on #549
@pecko this tool is not yet implemented, it's just a suggestion to create it

[2015-09-29 16:28] pecko commented on #549
@yegor256

I'm sorry, but I'm not learn to address each comment yet :(

It means that currently we can simulate rultor's merge command locally. Right?

If so, could you, please, answer on my question in https://github.com/jcabi/jcabi-github/issues/1172 or tell me where is 'yegor256/home#assets/jcabi/settings.xml' mentioned in https://github.com/jcabi/jcabi-github/blob/master/.rultor.yml?

I just w

[2015-09-30 12:44] pavanputhra commented on #915
@yegor256 Got to work on this project after a long time. I am glad that I could able to figure out last issue.

Now build is successful and seems like it has uploaded to repository

[code]

But, instead of success message I get "failure" with following messge.

[code]

Seeing above log, I figured out that rultor needs write permission to my repo, if am not wrong. With this assumption I have invite

[2015-09-30 16:13] yegor256 commented on #915
@pavanputhra yes, you're right, you have to invite rultor to your repo. We accept such invitations manually. I believe it was accepted a few hours ago... Please verify

[2015-09-30 17:51] pavanputhra commented on #915
@yegor256 Yes, it was verified and rultor ran successfully. Thanks for building rultor. :)

As first time maven dev I would like to know, what is average time it takes for published jar to appear on maven central? Is there any immediate way to confirm jar is published to sonotype?

[2015-10-01 04:31] yegor256 commented on #549
@pecko the tool does NOT exist yet. You can't use it. You can't simulate rultor locally.

[2015-10-01 04:31] yegor256 commented on #549
@pecko read more about Rultor configuration here: http://doc.rultor.com/reference.html

[2015-10-01 04:50] yegor256 commented on #915
@pavanputhra it takes up to 15 minutes, according to my experience... welcome to Rultor :)

[2015-10-01 10:20] pecko commented on #549
@yegor256

OK. Thanks. As I understand, we can write rultor commands in some git repository, but can't simulate that.

My real issue/question is related to jcabi-github: https://github.com/jcabi/jcabi-github/issues/1172

[2015-10-02 08:34] pavanputhra commented on #915
@yegor256 Thanks :)

I feel some is not right in my configuration. Rultor ran successfully but i couldn't find my jar in http://search.maven.org/

As in the blog I had following settings in .rultor.yml for release. It ran successfully, but not released.

[code]

So I logged in to https://oss.sonatype.org/ and checked staging repo. I found following errors

1. javadocs wasn't uploaded
2. source was

[2015-10-03 16:10] yegor256 commented on #915
@pavanputhra your `pom.xml` must generate all sonatype-required artifacts. I would recommend just use [jcabi-parent](http://parent.jcabi.com) as a parent POM and you will be fine

[2015-10-03 16:55] pavanputhra commented on #915
@yegor256 yes i have included it as parent I tested with version 37

[2015-10-03 17:02] yegor256 commented on #915
@pavanputhra than you need help with your Maven POM configuration, not with rultor. Rultor is just doing what you tell: `mvn clean install`. How your POM works - it's a different story :)

[2015-10-03 23:13] pavanputhra commented on #915
@yegor256 Yes, you are right. I know rultor executes cmd given at it. In fact error output shown above are by running maven in local machine - no rultor involved.

 I think this error is due to jcabi-parent parent POM. So, I thought you would be able to help me better as you are the author of jcabi-parent. (Or should I create issue in that repo?)

Brief about my POM. It contains only artifact coor

[2015-10-04 23:11] yegor256 commented on #915
@pavanputhra yes, indeed, if you think that the problem is in jcabi-parent, submit an issue there. But keep in mind that there are many projects that use jcabi-parent and have no issues with releasing to Maven Central. for example this one: https://github.com/jcabi/jcabi-http

[2015-10-04 23:11] #915 closed

[2015-10-07 04:12] Suseika opened #942 "Rultor sometimes fails to use the newly downloaded Docker image"
When you setup a custom Docker image in your `.rultor.yml`, rultor is going to download it. Often it results in this weird log.

See the last two lines: it says that it downloaded the new image, and then it immediately says that there is no such image.

I get this error probably once every couple of weeks when I'm working with a repo that has a custom Docker image for Rultor:

https://github.com/S

[2015-10-07 22:51] yegor256 commented on #942
@Suseika hm.. this smells like a bug, caused by this change: 8083b9620457463b225fc07576b4c3dc61492ccc

[2015-10-07 22:52] yegor256 commented on #942
@Suseika in a nutshell, we delete too old images (over than a month) from the server, in order to save space. Maybe (I'm guessing) this deletion is happening first, than you start a build, the image is downloaded and then rultor (in another process) immediately deletes it again. Sort of concurrency issue.

[2015-10-07 23:03] yegor256 commented on #942
@Suseika this may be related: https://github.com/docker/docker/issues/10708

[2015-10-07 23:32] yegor256 commented on #942
@rultor release, tag is `1.57.6`

[2015-10-07 23:33] rultor commented on #942
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5387-146366827)

[2015-10-08 01:44] rultor commented on #942
@suseika @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5387-146366827) (spent 2hr)

[code]

[2015-10-08 02:35] yegor256 commented on #942
@rultor release, tag is `1.57.6`

[2015-10-08 02:50] pinaf opened #943 "System outage"
Rultor down 4130sec

[2015-10-08 02:50] pinaf commented on #943
@yegor256 ping

[2015-10-08 04:07] rultor commented on #942
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5387-146399899)

[2015-10-08 05:00] rultor commented on #942
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5387-146399899) (took me 53min)

[2015-10-08 18:35] #943 closed

[2015-10-09 05:40] sils1297 commented on #942
@yegor256 we're also experiencing this (and it's blocking our workflow). See https://github.com/coala-analyzer/coala/pull/943

[2015-10-09 06:29] yegor256 commented on #942
@sils1297 are you seeing it every single build cycle or occasionally?

[2015-10-09 06:33] sils1297 commented on #942
as you can see in the PR it appeared 3 times in a row now
On 9 Oct 2015 8:29 am, "Yegor Bugayenko" <notifications@github.com> wrote:

[2015-10-10 08:05] sils1297 commented on #942
@yegor256 any news or possible workaround? Rultor remains unusable for us and we rely on it for our workflow.

[2015-10-11 02:22] yegor256 commented on #942
@Suseika @sils1297 I confirm that there is a problem with Docker. I'm doing this manually on the server:

[code]

It downloads images, but then there is no image... I'm trying to understand what's going on

[2015-10-11 02:27] yegor256 commented on #942
@rultor release, tag is `1.57.7`

[2015-10-11 02:28] rultor commented on #942
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5387-147146749)

[2015-10-11 03:12] rultor commented on #942
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5387-147146749) (took me 44min)

[2015-10-11 04:58] yegor256 commented on #942
@Suseika @sils1297 try now please, should be fine

[2015-10-11 09:42] sils1297 commented on #942
@yegor256 after the occasional [network error I already know from rultor](http://www.rultor.com/t/5397-147174176) the merge worked with your workaround applied.

[2015-10-14 18:07] alex-palevsky commented on #942
@suseika I will find a developer for the task soon...

[2015-10-14 18:08] alex-palevsky commented on #942
@suseika I set milestone here to `2.0`, let me know if it is wrong

[2015-10-14 18:10] alex-palevsky commented on #942
@suseika thanks for tis bug, I topped your account for 15 mins, transaction `AP-99A41156V2653612L`

[2015-10-15 17:14] yegor256 commented on #869
@alex-palevsky assign someone else pls

[2015-10-15 17:15] yegor256 commented on #935
@sils1297 that's right, it's still a bug

[2015-10-15 17:15] yegor256 commented on #935
@alex-palevsky assign someone else pls

[2015-10-16 13:07] alex-palevsky commented on #869
@yegor256 I deducted 30 points from your rating

[2015-10-16 13:07] alex-palevsky commented on #869
@yegor256 I will try to find someone else

[2015-10-16 13:07] alex-palevsky commented on #935
@yegor256 deducted 30 from your rating :(

[2015-10-16 13:07] alex-palevsky commented on #935
@yegor256 someone else will help in this task, no problem at all

[2015-10-16 23:23] yegor256 opened #944 "doc site front page is broken"

[2015-10-16 23:24] yegor256 commented on #944
@rultor release, tag is `1.57.8`

[2015-10-16 23:24] rultor commented on #944
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5485-148864468)

[2015-10-17 00:22] rultor commented on #944
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5485-148864468) (took me 57min)

[2015-10-17 01:46] yegor256 commented on #944
@rultor release, tag is `1.57.9`

[2015-10-17 01:48] rultor commented on #944
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5485-148875481)

[2015-10-17 02:36] rultor commented on #944
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5485-148875481) (took me 48min)

[2015-10-17 02:57] yegor256 commented on #944
@rultor release, tag is `1.57.10`

[2015-10-17 02:57] rultor commented on #944
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5485-148879990)

[2015-10-17 03:09] rultor commented on #944
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5485-148879990) (spent 12min)

[code]

[2015-10-17 03:10] yegor256 commented on #944
@rultor release, tag is `1.57.10`

[2015-10-17 03:11] rultor commented on #944
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5485-148881193)

[2015-10-17 03:27] rultor commented on #944
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5485-148881193) (took me 15min)

[2015-10-17 05:22] yegor256 commented on #944
@rultor release, tag is `1.57.11`

[2015-10-17 05:23] rultor commented on #944
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5485-148886797)

[2015-10-17 06:12] rultor commented on #944
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5485-148886797) (took me 49min)

[2015-10-18 17:57] #944 closed

[2015-10-18 21:47] caarlos0 opened #945 "Google search is showing rultor title wrong"
This doesn't seem right:

<img width="767" alt="screen shot 2015-10-18 at 7 46 29 pm" src="https://cloud.githubusercontent.com/assets/245435/10566858/ff742f5c-75d0-11e5-9240-7d2746d4dffd.png">

Should't it show something like "Rultor: DevOps Team Assistant"?

[2015-10-22 13:01] alex-palevsky commented on #945
@yegor256 please do something about this issue

[2015-10-23 05:09] yegor256 commented on #945
@caarlos0 definitely a bug, caused by https://github.com/yegor256/takes/issues/414

[2015-10-23 15:01] yegor256 commented on #945
@rultor release, tag is `1.57.12`

[2015-10-23 15:02] rultor commented on #945
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5555-150600008)

[2015-10-23 15:56] rultor commented on #945
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5555-150600008) (took me 53min)

[2015-10-23 20:28] yegor256 commented on #945
@caarlos0 it'll be fixed soon, thanks for reporting

[2015-10-23 20:28] #945 closed

[2015-10-26 17:36] yegor256 opened #946 "dependencies are out of date"
Too many deps are out of date, let's fix that, see https://www.versioneye.com/user/projects/561a9d87a193340f28000fd3

[2015-10-26 18:31] alex-palevsky commented on #946
@yegor256 added "bug" tag to this issue

[2015-10-27 16:18] alex-palevsky commented on #946
@yegor256 milestone set to `2.0` (correct me if I am wrong)

[2015-10-27 19:43] alex-palevsky commented on #946
@yegor256 thank you for reporting this, I added 15 mins to your acc, transaction `000-edc0637a`

[2015-10-29 09:10] dmzaytsev opened #947 "rultor rejects deploy request from commander"
rultor rejects my request to deploy although I'm in commander's list in [.rultor.yml](https://github.com/yegor256/netbout/blob/master/.rultor.yml#L72)
see https://github.com/yegor256/netbout/pull/821#issuecomment-152118718

[2015-10-30 03:48] yegor256 commented on #947
@dmzaytsev it's a different problem. you're in commanders list, but for `release`, not for `deploy`. see that `.rultor.yml` you mentioned. the problem is that rultor thinks that every command must be approved by one of architects. we should make it possible to define architects per command, as this ticket suggests: #806

[2015-10-30 03:48] #947 closed

[2015-10-30 04:01] dmzaytsev commented on #947
@yegor256 yep, I hadn't saw the commit https://github.com/yegor256/netbout/commit/e9c56b155be3560fb823d82cfe16ec45b7418ad7
why @karato did it?

[2015-10-30 04:03] yegor256 commented on #947
@dmzaytsev the idea is that everybody should be able to deploy, not just architects. That will be more logical, right? Deployment should be an easy and frequently repeated procedure. Anyone should be able to do this. That's why @karato removed "commanders" in all projects. But now we have a bug in rultor. Not a bug, but lack of functionality. Maybe you can fix #806? I can assign it to you.

[2015-10-30 04:08] dmzaytsev commented on #806
@yegor256 sorry, I can't right now
I don't know the details of the project, it will take too much time

[2015-11-02 20:00] niinat opened #948 "README file: description for What Is Rultor? missing"
Problem: Description for What Is Rultor? on the product specification is missing.
https://github.com/niinat/rultor/blob/master/README.md

[2015-11-02 20:11] niinat commented on #948
@rultor hello

[2015-11-02 20:11] rultor commented on #948
@niinat Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-11-02 20:40] niinat commented on #948
Suggested solution: Add description "Rultor is a solution that helps DevOps teams automate merge, deploy and release routine operations."
Comment: I might find a better term for "solution" after learning more about Rultor, but would use it for now.

[2015-11-02 20:53] niinat opened #949 "README file: Description for What Problem Does Rultor Solve? is missing"
Problem: Description for the section "What Problem Does Rultor Solve?" on the product specification is missing.
https://github.com/niinat/rultor/blob/master/README.md
Solution: in progress

[2015-11-02 21:00] niinat opened #950 "README file: Description for How Rultor Works? is missing"
Problem: Description for the section "How Rultor Works?" on the product specification is missing.
https://github.com/niinat/rultor/blob/master/README.md
Solution: in progress

[2015-11-02 21:16] niinat commented on #950
Solution: in progress

[2015-11-02 23:09] yegor256 commented on #949
@alex-palevsky role is SA here

[2015-11-02 23:09] yegor256 commented on #948
@alex-palevsky role is SA here

[2015-11-03 13:40] alex-palevsky commented on #948
@niinat I am aware of the task, give me some time to find a developer...

[2015-11-03 13:40] alex-palevsky commented on #949
@niinat we will find someone to do this task, soon

[2015-11-03 13:40] alex-palevsky commented on #948
@niinat I added milestone `2.0` to this issue, let me know if there has to be something else

[2015-11-03 13:40] alex-palevsky commented on #949
@niinat I added milestone `2.0` to this issue, let me know if there has to be something else

[2015-11-04 21:47] niinat opened #951 "README file: Description for What Is Rultor SLA? is missing"
Issue: SLA is currently missing from Rultor product specification and it should be added.
https://github.com/niinat/rultor/blob/master/README.md

[2015-11-04 21:51] niinat opened #952 "README file: Add Glossary"
Issue: Glossary is missing from Rultor product specification, it needs to be added at the end.
https://github.com/niinat/rultor/blob/master/README.md

[2015-11-04 22:00] yegor256 commented on #952
@alex-palevsky role is SA here

[2015-11-04 22:00] yegor256 commented on #952
@alex-palevsky and it's a bug

[2015-11-04 22:00] yegor256 commented on #951
@alex-palevsky it's a valid bug

[2015-11-04 22:01] yegor256 commented on #951
@alex-palevsky and the role here is SA

[2015-11-04 22:18] niinat commented on #948
Not being fully familiar with the process yet, may I double check the next step here. Since this ticket has been labeled as SA, next point of action is for me to suggest a solution (see the suggested text/description in an earlier comment above), which then goes to DEV to be reviewed?

[2015-11-05 03:53] yegor256 commented on #948
@niinat nope, your job is done here. You reported a problem and another SA will fix it and will present a fix to you. You will close the ticket, if you like the solution. That's it. Implementation is a different story and you won't be involved there.

[2015-11-05 08:27] niinat commented on #948
Got it! Thanks!

[2015-11-05 12:56] alex-palevsky commented on #948
@yegor256 OK, role is set to SA

[2015-11-05 12:56] alex-palevsky commented on #949
@yegor256 OK, role is set to SA

[2015-11-05 12:56] alex-palevsky commented on #952
@yegor256 I tagged this as "bug"

[2015-11-05 12:56] alex-palevsky commented on #951
@yegor256 tag bug added to this issue

[2015-11-05 12:57] alex-palevsky commented on #949
@niinat many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `AP-49L914754P872613D`

[2015-11-05 15:08] alex-palevsky commented on #951
@niinat there is no milestone yet, so I set it to `2.0`

[2015-11-05 15:08] alex-palevsky commented on #952
@niinat attached this issue to milestone "2.0" (let me know if this is wrong)

[2015-11-05 15:10] alex-palevsky commented on #948
@niinat thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-5XT95471GC427790F`

[2015-11-05 18:13] alex-palevsky commented on #952
@yegor256 thanks, the role is SA here

[2015-11-05 18:13] alex-palevsky commented on #951
@yegor256 roles is set to SA here, thanks

[2015-11-05 18:15] alex-palevsky commented on #952
@niinat thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-656649754B348300W`

[2015-11-05 19:37] alex-palevsky commented on #951
@niinat thanks for the ticket, your account was topped for 15 mins, payment AP-17H11910MU251252L

[2015-11-06 14:32] alex-palevsky commented on #950
@yegor256 dispatch this issue please, see [par.21](http://www.teamed.io/policy.html#21)

[2015-11-06 19:55] yegor256 commented on #950
@alex-palevsky this is a valid bug

[2015-11-06 19:55] yegor256 commented on #950
@alex-palevsky and the role is SA

[2015-11-06 19:57] alex-palevsky commented on #950
@yegor256 I added `bug` tag to this ticket

[2015-11-08 17:31] alex-palevsky commented on #950
@niinat attached this issue to milestone "2.0" (let me know if this is wrong)

[2015-11-08 17:33] alex-palevsky commented on #950
@niinat thanks for the ticket, your account was topped for 15 mins, payment AP-9ND23810D3693773C

[2015-11-08 17:37] yegor256 opened #953 "publish releases to Hacker News"

[2015-11-08 17:37] #953 closed

[2015-11-08 18:51] yegor256 commented on #953
@rultor release, tag is `1.58`

[2015-11-08 18:51] rultor commented on #953
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5673-154857236)

[2015-11-08 18:58] rultor commented on #953
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5673-154857236) (took me 6min)

[2015-11-09 07:34] ekondrashev opened #954 "Run rultor build/merge locally"
It would be really helpful to have a possibility to easily run container locally.
It appears that some of the issues are relevant only during rultor `merge` procedure and can't be debugged easily.

See
* [xockets-hadoop-transport - 945](https://github.com/teamed/xockets-hadoop-transport/issues/945)
* [xockets-xjm - 138](https://github.com/teamed/xockets-xjm/issues/138)

[Here](https://github.com/t

[2015-11-09 07:36] ekondrashev commented on #954
@yegor256 could you please comment if that is achievable in some workaround form?

[2015-11-09 18:24] alex-palevsky commented on #950
@yegor256 OK, it is SA here

[2015-11-10 07:08] yegor256 commented on #954
@ekondrashev it's a duplicate of https://github.com/yegor256/rultor/issues/549 (see my answer there)

[2015-11-10 07:08] #954 closed

[2015-11-10 07:09] yegor256 commented on #549
@pecko to run rultor locally, you can just do something like this:

[code]

I assume here that `yegor256/rultor` is Docker image you're using (it's the default one) and `mvn clean install` is basically what you have in `.rultor.yml`

[2015-11-11 17:34] alex-palevsky commented on #948
@sargisbudaghyan can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-11-11 17:34] alex-palevsky commented on #949
@sfarley85 please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-11-11 18:39] sargisbudaghyan commented on #948
@alex-palevsky I have done the task and please review it. Also I guess I was right that I have used the following URL in order to come up with "What is Rultor" section of README.md file.

If I need to write something in more details please let me know I will handle it.

Thanks.

[2015-11-12 05:55] sfarley85 commented on #949
@alex-palevsky @niinat I have created a pull-request with proposed changes. I used the existing documentation and blog posts regarding Rultor to inform the section. Please let me know if anything is incorrect or not in the desired format.

[2015-11-13 06:16] yegor256 commented on #951
@alex-palevsky role is SA here

[2015-11-13 06:18] yegor256 commented on #952
@alex-palevsky roles is SA here

[2015-11-13 06:18] yegor256 commented on #950
@alex-palevsky roles is SA here

[2015-11-13 12:41] alex-palevsky commented on #949
@sfarley85 yes, everything is correct so far, thanks

[2015-11-13 12:41] alex-palevsky commented on #951
@yegor256 OK, it is SA here

[2015-11-14 19:29] yegor256 opened #956 "repository not found"
bug in production:

[code]

[2015-11-14 19:52] #956 closed

[2015-11-15 07:11] yegor256 commented on #956
@rultor release, tag is `1.58.1`

[2015-11-15 07:12] rultor commented on #956
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5718-156787944)

[2015-11-15 07:23] rultor commented on #956
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5718-156787944) (took me 11min)

[2015-11-15 13:28] alex-palevsky commented on #952
@yegor256 OK, it is SA here

[2015-11-15 13:28] alex-palevsky commented on #950
@yegor256 right, role is set to SA here

[2015-11-16 20:37] benjwarner opened #957 "Maven Release: Sonatype errors: "Missing: no sources jar found" & "Missing: no javadoc jar found" & "Missing Signature: '*.pom.asc' does not exist""
Hi there!
Thanks for the service you are providing.
Am trying to get my github project released to maven central.
Am getting these three errors when I try and "close" the release in sonatype.

1. Missing: no sources jar found in folder '/org/fix4j/fix4j-assert-core/1.0'
2. Missing: no javadoc jar found in folder '/org/fix4j/fix4j-assert-testcommon/1.0'
3. Missing Signature: '/org/fix4j/fix4j-asser

[2015-11-16 21:46] yegor256 commented on #957
@benjwarner run your Maven build with this option: `-Psonatype`. That should solve the problem. See how it's done in this project, for example: https://github.com/jcabi/jcabi-http (pay attention to `.rultor.yml`)

[2015-11-17 06:33] benjwarner commented on #957
Hi Yegor,
Thanks for your reply.

That definitely got me closer!

Am now getting this error when the release is closed:

Missing Signature: '/org/fix4j/fix4j-assert/1.1/fix4j-assert-1.1.pom.asc'
does not exist for 'fix4j-assert-1.1.pom'.

(repeated for each pom)

Full build log is here: http://www.rultor.com/t/5720-157282393

yml file content is:

decrypt:
  settings.xml: "repo/settings.xml.asc"

[2015-11-18 12:31] sfarley85 commented on #949
@alex-palevsky @yegor256 Anything else I need to do here with this task?

[2015-11-19 12:34] alex-palevsky commented on #949
@sfarley85 in order to close the ticket (and get paid) you have to make sure the ticket is closed by its author, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-11-19 14:19] sfarley85 commented on #949
@alex-palevsky Sure I understand that. Just wanted to make sure no one was waiting on me for something. @niinat Please review the changes and close the ticket or let me know if something further is needed. Thanks!

[2015-11-20 09:56] niinat commented on #949
@sfarley85 Based on the following documents the suggested changes look correct.
- http://www.yegor256.com/2014/07/24/rultor-automated-merging.html
- http://www.yegor256.com/2014/09/11/deployment-script-vs-rultor.html
- http://www.yegor256.com/2015/03/29/rultor-with-appveyor.html
- http://www.yegor256.com/2014/10/08/continuous-integration-is-dead.html
 I close the ticket.

[2015-11-20 09:56] #949 closed

[2015-11-21 10:38] benjwarner opened #958 "Missing Signature: '....pom.asc' does not exist for 'fix4j-assert-1.1.pom'. (asc files not being uploaded for poms and jars)"
Hi Yegor,
am getting closer to a sonatype release working.

Am now getting this error when the release is closed:

[code]

Full build log is here: http://www.rultor.com/t/5720-157282393
yml file content is:

[code]

Any suggestions would be appreciated.
Cheers,
Ben

[2015-11-22 13:28] alex-palevsky commented on #949
@sfarley85 sure, thanks

[2015-11-23 16:07] alex-palevsky commented on #949
@sfarley85 **30 mins** added to your account (payment number `AP-9NP34890DU6165912`), many thanks for your contribution! 259 hours and 55 mins spent here.

+30 added to your rating, at the moment it is: [+30](http://www.netbout.com/b/35863?open=rating)

[2015-11-24 15:06] alex-palevsky commented on #958
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2015-11-25 12:44] yegor256 commented on #958
@benjwarner it seems the required `pom.asc` file is not created. Try to run `mvn clean install -Psonatype` locally (on your computer) and see what you have in `target` directory. I bet `pom.asc` won't be there, and that is the problem

[2015-11-26 20:02] alex-palevsky commented on #948
@sargisbudaghyan the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... added -30 to your rating, now it is eq

[2015-11-27 07:12] sargisbudaghyan commented on #948
@alex-palevsky I will finish it today.

[2015-11-27 08:09] sargisbudaghyan commented on #948
@alex-palevsky I have finished it. @yegor256 Could you please review it once more? https://github.com/sargisbudaghyan/rultor/commit/8b868623545fa805c0b3c7b60527e0b4f5f283fc

[2015-11-27 17:33] benjwarner commented on #958
Thanks @yegor256 that lead me to a solution.

My settings.xml had the wrong profile name.

[2015-11-27 17:33] #958 closed

[2015-11-27 17:33] benjwarner commented on #957
Solved in https://github.com/yegor256/rultor/issues/958

[2015-11-27 17:33] #957 closed

[2015-11-28 19:00] yegor256 commented on #948
@sargisbudaghyan such a message should be posted to the pull request. Here it doesn't make sense. There is nothing to review here.

[2015-11-29 13:03] alex-palevsky commented on #948
@sargisbudaghyan ok thanks

[2015-11-29 13:03] alex-palevsky commented on #948
@sargisbudaghyan address your comments to the reviewer, he will work with you to close the ticket

[2015-12-01 18:38] sargisbudaghyan commented on #948
@alex-palevsky But I have finished the task. I am waiting it to be reviewed? What else I can do?

[2015-12-01 18:42] sargisbudaghyan commented on #948
@alex-palevsky However, you can reassign the task. For the rest of tasks I will be more careful and will do everything on time. And this time I guess I have messed up some branches.

[2015-12-02 17:05] alex-palevsky commented on #948
@sfarley85 the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [th

[2015-12-03 07:37] sfarley85 commented on #948
@niinat @alex-palevsky I have submitted a pull request to the forked niinat branch with proposed changes. Please review and let me know if anything additional is needed, or close the ticket if the changes are correct. Thanks!

[2015-12-03 17:44] niinat commented on #948
I have reviewed and approved the latest version and happy to close the ticket. @alex-palevsky, please confirm you're happy too before I do so. Thanks!

[2015-12-06 17:25] niinat commented on #948
Since there is no additional comments I approve and close the ticket.

[2015-12-06 17:25] #948 closed

[2015-12-07 08:02] longtimeago opened #959 "Build pipeline is broken"
[code]
http://www.rultor.com/t/5841-162441455

Looks like an issue with docker.
Would be nice to see docker version in rultor build logs

[2015-12-07 08:13] yegor256 commented on #959
@longtimeago should be fine now, I upgraded Docker on the machine

[2015-12-07 08:13] #959 closed

[2015-12-07 08:18] longtimeago commented on #959
@yegor256 yep, now it's good. Thanks!

[2015-12-07 08:23] longtimeago commented on #959
@yegor256 oops, not yet http://www.rultor.com/t/5841-162445450
[code]

[2015-12-07 09:07] yegor256 commented on #959
@longtimeago this is the problem: https://github.com/docker/docker/issues/6325

I did this on the server: `rm -rf /var/lib/docker`

Looks like it solved the problem, let's try again

[2015-12-07 18:57] dmzaytsev opened #960 "check for release versions that are lower than already existing ones"
At the moment Rultor doesn't make any check for the release version.
It is possible to release versions that are lower than already existing ones.
It would better if Rultor will  prevent such releases.

[2015-12-08 14:16] alex-palevsky commented on #960
@dmzaytsev this task will get someone's attention soon

[2015-12-08 14:16] alex-palevsky commented on #960
@dmzaytsev since the ticket has no milestone I set it to 2.0

[2015-12-08 14:19] alex-palevsky commented on #960
@dmzaytsev thanks for the ticket, your account was topped for 15 mins, payment 71681605

[2015-12-08 17:06] alex-palevsky commented on #948
@sfarley85 I just added **30 mins** to your account, many thanks for your contribution (AP-45X3296310437900E).. 118 hours and 38 mins spent here

+30 added to your rating, current score is: [+60](http://www.netbout.com/b/35863?open=rating)

[2015-12-09 13:29] yegor256 opened #961 "STOP command doesn't really stop anything"
It simply doesn't work (

[2015-12-09 13:29] #961 closed

[2015-12-09 13:31] yegor256 commented on #961
@rultor release, tag is `1.58.2`

[2015-12-09 13:32] rultor commented on #961
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5889-163233021)

[2015-12-09 13:42] rultor commented on #961
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5889-163233021) (took me 9min)

[2015-12-09 20:53] yegor256 commented on #961
@rultor release, tag is `1.58.3`

[2015-12-09 20:54] rultor commented on #961
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5889-163388823)

[2015-12-09 21:04] rultor commented on #961
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5889-163388823) (took me 9min)

[2015-12-12 15:44] jottr opened #962 "rultor support for gogs (self-hosted git service)"
Please consider supporting [gogs](https://gogs.io), a promising and lightweight self hosted git service.

[2015-12-16 13:35] alex-palevsky commented on #962
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-16 19:35] yegor256 commented on #962
@jottr it's a good idea, thanks. we'll think about it!

[2015-12-16 20:38] yegor256 opened #963 "EndDaemon doesn't stop when Docker container is dead"

[2015-12-16 20:38] #963 closed

[2015-12-16 21:17] yegor256 commented on #963
@rultor release, tag is `1.58.4`

[2015-12-16 21:17] sils1297 opened #964 "Rultor not responding"
Are you having a downtime currently? Rultor currently does not respond to our requests:

https://github.com/coala-analyzer/coala/pull/1139

[2015-12-16 21:18] pinaf commented on #963
@yegor256 is this what's causing the hangs?

[2015-12-16 21:19] yegor256 commented on #963
@pinaf this is why hangs are not detected immediately

[2015-12-16 21:20] yegor256 commented on #963
@pinaf should be fine now

[2015-12-16 21:20] pinaf commented on #963
@yegor256 Excellent. But we have to wait for the release, right?

[2015-12-16 21:43] rultor commented on #963
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5980-165249438)

[2015-12-16 21:59] sils1297 commented on #964
Ok, everything got done after a 30 minute delay, was there any problems on your side or is this a potential bug?

[2015-12-16 23:12] pinaf commented on #963
@yegor256 looks like it is monitoring just fine but the docker image cannot be downloaded.

[2015-12-16 23:44] rultor commented on #963
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5980-165249438) (spent 2hr)

[code]

[2015-12-17 06:14] yegor256 commented on #964
@sils1297 it's a bug on our side, should be fixed soon

[2015-12-17 06:15] yegor256 commented on #964
@sils1297 dup of #963

[2015-12-17 06:15] #964 closed

[2015-12-17 06:37] yegor256 commented on #963
@rultor release, tag is `1.58.4`

[2015-12-17 06:38] rultor commented on #963
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5980-165356889)

[2015-12-17 06:48] rultor commented on #963
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5980-165356889) (took me 10min)

[2015-12-18 12:41] alex-palevsky commented on #549
@rfqu this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-18 14:31] alex-palevsky commented on #704
@rfqu this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions

Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-12-18 22:23] rfqu opened #966 "test com.rultor.agents.daemons.StartsDaemonITCase fails"
(test can be excuded with @Ignore annotation, restore it first)

diagnostics:

[code]

[2015-12-19 06:32] rfqu commented on #704
The build fails because of a failing test. Pull request #965 created which excludes this test. Bug #966 created to fix this test. I believe I am done with this issue.

[2015-12-21 19:46] sils1297 commented on #963
@yegor256 it seems to hang again. Is it related to this issue? https://github.com/coala-analyzer/coala/pull/1151

[2015-12-21 19:56] sils1297 commented on #963
seems to hang here: http://www.rultor.com/t/6025-166382612 , same as https://github.com/yegor256/rultor/issues/963#issuecomment-165289739 it seems

[2015-12-22 13:02] alex-palevsky commented on #966
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-22 18:43] yegor256 commented on #966
@rfqu what should I do to reproduce it? When I run `mvn clean install` I don't see anything like this...

[2015-12-23 06:44] yegor256 opened #967 "show link to Github issue in web log"

[2015-12-23 06:44] #967 closed

[2015-12-23 07:16] yegor256 commented on #967
@rultor release, tag is `1.59`

[2015-12-23 07:16] rultor commented on #967
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6046-166819449)

[2015-12-23 07:28] rultor commented on #967
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6046-166819449) (took me 11min)

[2015-12-23 08:03] yegor256 opened #968 "STOP doesn't really stop fast"

[2015-12-23 08:03] #968 closed

[2015-12-23 08:03] yegor256 commented on #963
@sils1297 I will try to make it more transparent here: #968

[2015-12-23 08:28] yegor256 commented on #968
@rultor release, tag is `1.59.1`

[2015-12-23 08:28] rultor commented on #968
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6047-166832870)

[2015-12-23 08:39] rultor commented on #968
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6047-166832870) (took me 11min)

[2015-12-23 10:37] yegor256 commented on #968
@rultor deploy

[2015-12-23 10:38] rultor commented on #968
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/6047-166860009)

[2015-12-23 10:38] yegor256 commented on #968
@rultor stop

[2015-12-23 10:39] rultor commented on #968
@yegor256 OK, I'll try to stop current task.

[2015-12-23 10:43] rultor commented on #968
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6047-166860172) (spent 5min)

[code]

[2015-12-23 10:55] yegor256 commented on #968
@rultor release, tag is `1.59.2`

[2015-12-23 10:56] rultor commented on #968
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6047-166862372)

[2015-12-23 11:08] rultor commented on #968
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6047-166862372) (took me 11min)

[2015-12-23 11:09] yegor256 commented on #968
@rultor deploy

[2015-12-23 11:10] rultor commented on #968
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/6047-166864299)

[2015-12-23 11:10] rultor commented on #968
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6047-166864299) (spent 20s)

[code]

[2015-12-23 11:12] yegor256 commented on #968
@rultor deploy

[2015-12-23 11:13] rultor commented on #968
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/6047-166864710)

[2015-12-23 11:13] rultor commented on #968
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6047-166864710) (spent 20s)

[code]

[2015-12-23 11:17] yegor256 commented on #968
@rultor release, tag is `1.59.3`

[2015-12-23 11:17] rultor commented on #968
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6047-166865357)

[2015-12-23 11:30] rultor commented on #968
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6047-166865357) (took me 12min)

[2015-12-23 11:33] yegor256 commented on #968
@rultor deploy

[2015-12-23 11:33] rultor commented on #968
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/6047-166869023)

[2015-12-23 11:44] rultor commented on #968
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6047-166869023) (took me 10min)

[2015-12-23 11:49] yegor256 commented on #968
@rultor deploy

[2015-12-23 11:49] rultor commented on #968
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/6047-166871394)

[2015-12-23 11:52] yegor256 commented on #968
@rultor stop

[2015-12-23 11:52] rultor commented on #968
@yegor256 OK, I'll try to stop current task.

[2015-12-23 11:57] rultor commented on #968
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6047-166872148) (spent 7min)

[code]

[2015-12-24 09:44] yegor256 opened #969 "disallow duplicate requests vs logs"

[2015-12-24 09:44] #969 closed

[2015-12-24 09:44] yegor256 commented on #969
@rultor release, tag is `1.59.4`

[2015-12-24 09:44] rultor commented on #969
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6058-167078737)

[2015-12-24 09:52] rultor commented on #969
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6058-167078737) (took me 7min)

[2015-12-24 17:21] yegor256 commented on #862
@rultor release, tag is `1.59.5`

[2015-12-24 17:21] rultor commented on #862
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6063-167139409)

[2015-12-24 17:21] yegor256 commented on #862
@rultor stop

[2015-12-24 17:22] rultor commented on #862
@yegor256 OK, I'll try to stop current task.

[2015-12-24 17:24] rultor commented on #862
@cvrebert @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6063-167139459) (spent 3min)

[code]

[2015-12-24 17:25] yegor256 commented on #862
@rultor release, tag is `1.59.5`

[2015-12-24 17:26] rultor commented on #862
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6063-167139697)

[2015-12-24 17:37] rultor commented on #862
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6063-167139697) (took me 11min)

[2015-12-24 17:38] yegor256 commented on #862
@cvrebert it's fixed, please take a look and close this ticket if everything is OK

[2015-12-25 01:49] #862 closed

[2015-12-27 11:52] hovancik opened #970 "not working after exit 1 (?)"
so I forked https://github.com/yegor256/jekyll-github-deploy to https://github.com/hovancik/middleman-github-deploy and wanted to release the functionality for middleman app but seems that I broke rultor

https://github.com/hovancik/middleman-github-deploy/pull/1
I followed http://www.yegor256.com/2014/08/26/publish-to-rubygems.html

so then I released gem by myself.

then I tried https://github.c

[2015-12-27 13:48] hovancik commented on #970
ah, so it just took long time to figure out it failed.

but anyway now it fails with `./test.sh: line 6: middleman: command not found`

not sure why is that. how should I figure out what is the problem? I am not familiar with rultor internals.

[2015-12-30 14:16] alex-palevsky commented on #970
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2015-12-30 15:22] rfqu commented on #704
Version tagged 1.59.5 (dated 12/24/2015) builds successfully.
I suggest to close this issue as not reproducible.

[2015-12-30 15:26] rfqu commented on #966
it fails on Windows 8.1 and passes on Ubuntu 15.10.
If Windows is not important, this issue can be closed as not reproducible.

[2015-12-30 21:32] yegor256 commented on #966
@rfqu if you run `mvn clean install`, the build will fail on Windows. it's not supposed to work on this platform

[2015-12-30 21:32] #966 closed

[2015-12-30 21:34] yegor256 commented on #704
@rfqu keep in mind that it's a good practice to address your messages to those who must read them. Just posting messages into tickets/discussions is not personal and in most cases nobody will answer you.

[2015-12-30 21:36] yegor256 commented on #970
@hovancik `middleman` is, I believe, a Linux software. You should install it first, via `apt-get`. Something like this in your `.rultor.yml`:

[code]

Make sense?

[2015-12-30 22:30] sils1297 opened #971 "Rultor not responding"
We're trying to get a release done since 30 minutes on https://github.com/coala-analyzer/coala/issues/1176 , the first attempt seemed to fail (IMO the parameters for commands aren't that intuitive btw.) and since then it didn't react.

[2015-12-31 10:06] hovancik commented on #970
@yegor256 I understand how `.rultor.yml` works.

What I wanted to know, thought,  is how would I test it. Middleman is ruby gem, and as I am not familiar with rultor internals (eg. not at all with docker), I am not sure how to test how to put it in `yml`. Putting in what I manage to google about docker and then trying to call `rultor release` seems at least wrong way.

[2016-01-03 13:24] alex-palevsky commented on #971
@yegor256 please do something about this issue

[2016-01-03 13:29] sils1297 commented on #971
FWIW after two hours or so rultor did the stuff, still the delay is an issue.

[2016-01-03 22:39] yegor256 commented on #971
@sils1297 looks like it worked, right? or you are still having this problem?

[2016-01-03 23:08] sils1297 commented on #971
@yegor256 my problem is the huge delay. (Yes it worked)

[2016-01-04 12:09] yegor256 commented on #971
@sils1297 then I need a more detailed description of the problem... so that I can reproduce it. can you explain the steps I should follow?

[2016-01-04 19:41] yegor256 commented on #970
@hovancik what do you have in `.rultor.yml` now? Post it here please

[2016-01-04 19:41] yegor256 opened #972 "Reports must be safe"

[2016-01-04 19:41] #972 closed

[2016-01-04 19:48] yegor256 commented on #972
@rultor release, tag is `1.59.6`

[2016-01-04 19:55] rultor commented on #972
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6167-168782501)

[2016-01-04 19:58] hovancik commented on #970
[code]

unfortunately  I screwed my repo a bit and I had to start again, so my previous PRs not there anymore.

[2016-01-04 20:10] rultor commented on #972
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6167-168782501) (took me 14min)

[2016-01-04 20:11] yegor256 commented on #970
@hovancik I assume, you're using `middleman` somewhere in `./test.sh`. right? you have to install it first. add this line to your `.rultor.yml`:

[code]

[2016-01-04 20:16] hovancik commented on #970
I'll try once I have new release, thanks for help

[2016-01-04 20:17] #970 closed

[2016-01-04 21:34] sils1297 commented on #971
Sorry, I currently have no time for this, though I can't say more than explain when we left which comment and how rultor responded/how long it took it.

[2016-01-04 21:34] #971 closed

[2016-01-06 18:00] rfqu commented on #549
@yegor256 @alex-palevsky I do not understand what to do with this issue. Please give me another task.

[2016-01-06 18:02] rfqu commented on #704
@yegor256 Version tagged 1.59.5 (dated 12/24/2015) builds successfully.
I suggest to close this issue as not reproducible.

[2016-01-07 07:55] yegor256 opened #973 "destroy talk if Github issue is gone"

[2016-01-07 07:55] #973 closed

[2016-01-07 13:14] yegor256 commented on #973
@rultor release, tag `1.59.7`

[2016-01-07 13:15] rultor commented on #973
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6214-169660363)

[2016-01-07 13:43] rultor commented on #973
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6214-169660363) (took me 9min)

[2016-01-07 13:43] yegor256 commented on #973
@rultor release, tag is `1.59.8`

[2016-01-07 13:46] rultor commented on #973
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6214-169667394)

[2016-01-07 13:56] rultor commented on #973
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6214-169667394) (took me 10min)

[2016-01-07 14:44] krzyk opened #974 "Disallow usage of commits that close issues"
Right now rultor will merge any commit builds successfully, but some commits are special for github and will automatically close issue mentioned in the message.
This [page](https://help.github.com/articles/closing-issues-via-commit-messages/) gives a list of such commit messages, an example of such case is here: https://github.com/teamed/qulice/issues/544#event-507433326

Rultor should not merge a

[2016-01-07 14:54] yegor256 commented on #704
@rfqu let's ask @oruam85 to close it, he is the reporter (see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html)

[2016-01-07 14:56] yegor256 commented on #549
@alex-palevsky please assign someone else

[2016-01-07 14:59] rfqu commented on #704
@oruam85 Version tagged 1.59.5 (dated 12/24/2015) builds successfully.
I suggest to close this issue as not reproducible.

[2016-01-07 18:02] alex-palevsky commented on #549
@yegor256 I will assign somebody else to this issue

[2016-01-08 10:36] jloisel opened #975 "Rultor is stuck on GPG Key"
Hi,

Rultor is somehow stuck in a previous build and didn't stop it. Can you please check? Thanks. :)

https://github.com/jloisel/elastic-crud/issues/3

[2016-01-08 11:34] #975 closed

[2016-01-08 12:53] dmzaytsev opened #976 "Rultor accepts a command and reports about an error"
Rultor accepts `merge` command and reports about an error in the same time

it looks like a bug

https://github.com/jcabi/jcabi-w3c/pull/30#issuecomment-169990320
https://github.com/teamed/xockets-xjm/pull/265#issuecomment-170002607
https://github.com/yegor256/takes/pull/500#issuecomment-170004296

![image](https://cloud.githubusercontent.com/assets/9972909/12198245/01fc44fe-b630-11e5-96b9-70db436

[2016-01-08 18:41] alex-palevsky commented on #549
@xupyprmv this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-08 19:08] yegor256 opened #977 "better line for HN"

[2016-01-08 19:08] #977 closed

[2016-01-08 19:18] yegor256 commented on #977
@rultor release tag is `1.59.9`

[2016-01-08 19:19] rultor commented on #977
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6247-170097611)

[2016-01-08 19:25] yegor256 commented on #976
@dmzaytsev thanks, it's fixed in 2ea2fea

[2016-01-08 19:25] #976 closed

[2016-01-08 19:30] rultor commented on #977
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6247-170097611) (took me 10min)

[2016-01-08 19:56] dmzaytsev opened #978 "rultor doesn't ignore a text in back-ticks"
I think Rultor should ignore if someone mention him in back-ticks

https://github.com/yegor256/netbout/issues/889#issuecomment-170103496

![image](https://cloud.githubusercontent.com/assets/9972909/12207987/cd4af250-b66b-11e5-9c5f-bfd6c9b0da4e.png)

[2016-01-08 20:01] longtimeago opened #979 "Rultor responds to 'merge' command twise"
![screenshot from 2016-01-08 22 01 21](https://cloud.githubusercontent.com/assets/1388994/12208121/646fe1a4-b653-11e5-917b-3e23d91ae89f.png)

[2016-01-08 22:13] yegor256 commented on #979
@longtimeago duplicate of #976

[2016-01-08 22:13] #979 closed

[2016-01-08 22:14] yegor256 commented on #978
@dmzaytsev it was discussed somewhere already (can't find it). we can't do it, technically. we will have to parse Markdown to implement this. that's too much of a hassle for a such a small feature

[2016-01-08 22:14] #978 closed

[2016-01-08 22:18] longtimeago commented on #979
@yegor256 oops, sorry

[2016-01-09 09:35] xupyprmv commented on #549
@yegor256 I have some questions about Command Line Tools (CLT) mentioned in description of current ticket:

1. Is CLT a separate application or just a script?
2. OS support. Linux + Windows + MacOS or only some of them?
3. After I installed tool and typed `rultor [command]` I want to use next logic:
1) Check that current folder contains file `.rultor.yml`
2) Set options that mentioned in `env` sec

[2016-01-09 12:45] dmzaytsev commented on #976
@yegor256 It seems the issue not fixed yet https://github.com/yegor256/takes/pull/503#issuecomment-170236470

[2016-01-10 11:11] krzyk opened #980 "Rultor says it doesn't understand commands"
If commander issues a rultor command, rultor replies with:

but it performs the command (by asking architect for confirmation).

Rultor shouldn't complain about wrong command if the command is correctly asked by a commander.

[2016-01-10 15:30] alex-palevsky commented on #974
@yegor256 please dispatch this issue

[2016-01-11 10:39] yegor256 commented on #980
@krzyk duplicate of #979

[2016-01-11 10:39] #980 closed

[2016-01-11 10:48] yegor256 commented on #976
@dmzaytsev fixed in c5260a9

[2016-01-11 10:48] yegor256 commented on #976
@rultor release, tag is `1.59.10`

[2016-01-11 10:48] rultor commented on #976
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6288-170506811)

[2016-01-11 10:52] yegor256 commented on #974
@krzyk good idea, but, I believe, it's outside of scope of rultor. not every project may need this. if you want this functionality, just add something like this to your `.rultor.yml`:

[code]

Not sure about the syntax, but you got the idea

[2016-01-11 10:59] rultor commented on #976
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6288-170506811) (took me 10min)

[2016-01-11 11:00] #974 closed

[2016-01-11 11:02] yegor256 commented on #549
@xupyprmv I think this ticket is not correct. all this should be implemented here: https://github.com/yegor256/rultor-remote (in Ruby). Sorry. I'm closing.

[2016-01-11 11:02] #549 closed

[2016-01-11 11:10] ekondrashev commented on #549
@yegor256 Could you please clarify how exactly to use rultor-remote to simulate the server?

[2016-01-11 13:19] yegor256 commented on #549
@ekondrashev it's not possible at the moment, but we have to implement it, in rultor-remote

[2016-01-12 04:51] oruam85 commented on #704
@rfqu i can not find the tag 1.59.5 of this project.

[2016-01-12 04:56] oruam85 opened #981 "Update the Copyright year"
In some files like as license.txt the Copyright year should be 2016

[2016-01-12 10:09] rfqu commented on #704
@oruam85 Strange, I just checked out repository "rultor" and see tag 1.59.5 is present. The last commit is "SHA 61970f30 by alex-palevsky, 01/12/2016 12:11 AM - updated merge/commanders list", and this commit also passed the build command "mvn clean install -Pqulice".

[2016-01-12 10:26] dmzaytsev commented on #976
@yegor256

https://github.com/yegor256/netbout/pull/907#issuecomment-170864310
![image](https://cloud.githubusercontent.com/assets/9972909/12261056/9b561176-b940-11e5-97ca-ab0cec488315.png)

[2016-01-13 07:14] dmzaytsev opened #982 "rultor rejects deploy command"
I have no idea why rultor accepts `deploy` command from the architect on [Qulice](https://github.com/teamed/qulice/blob/master/.rultor.yml) and rejects the same on [Netbout](https://github.com/yegor256/netbout/blob/master/.rultor.yml)
Please assist

Update of snaphot.netbout.com is possible only after the deployment.
Right now I need wait several days while PM make `deploy`
actually it's real issu

[2016-01-14 22:21] yegor256 opened #983 "show date at the end of the log"

[2016-01-14 22:21] #983 closed

[2016-01-14 22:32] yegor256 commented on #983
@rultor deploy

[2016-01-14 22:37] rultor commented on #983
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/6364-171803091)

[2016-01-14 22:44] rultor commented on #983
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6364-171803091) (spent 7min)

[code]

[2016-01-14 22:51] yegor256 commented on #983
@rultor release, tag is `1.60`

[2016-01-14 22:52] rultor commented on #983
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6364-171807137)

[2016-01-14 23:04] rultor commented on #983
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6364-171807137) (took me 11min)

[2016-01-15 00:56] yegor256 commented on #704
@oruam85 @rfqu here is the list of all recent tags/releases: https://github.com/yegor256/rultor/releases

[2016-01-15 04:15] rfqu commented on #704
@oruam85 @yegor256 this is the list of releases, here are tags: https://github.com/yegor256/rultor/tags
tag 1.59.5 is present.

[2016-01-15 04:54] yegor256 opened #984 "EndDaemon doesn't output correctly"

[2016-01-15 04:55] #984 closed

[2016-01-15 05:21] yegor256 commented on #984
@rultor release, tag is `1.60.1`

[2016-01-15 05:22] rultor commented on #984
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6366-171874246)

[2016-01-15 07:24] rultor commented on #984
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6366-171874246) (spent 2hr)

[code]

[2016-01-15 09:18] sils1297 opened #985 "'cid' file is absent, container wasn't started correctly"
Hi, seems rultor currently can't start any container prohibiting us from doing any merges :/

It happened here twice: https://github.com/coala-analyzer/coala/pull/1214

[2016-01-15 09:23] sils1297 commented on #985
ah the second time the error differed:

[code]

[2016-01-15 17:03] yegor256 commented on #985
@sils1297 working on it, thanks for reporting...

[2016-01-15 18:53] yegor256 commented on #984
@rultor release, tag is `1.60.1`

[2016-01-15 18:54] rultor commented on #984
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6366-172052124)

[2016-01-15 18:58] yegor256 commented on #985
@sils1297 I believe it works now, please check

[2016-01-15 19:02] rultor commented on #984
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6366-172052124) (took me 7min)

[2016-01-15 19:03] sils1297 commented on #985
will try it at the next occasion, thanks

2016-01-15 19:58 GMT+01:00 Yegor Bugayenko <notifications@github.com>:

[2016-01-15 19:04] #985 closed

[2016-01-15 19:25] sils1297 commented on #985
I'm getting internal server errors now: https://github.com/coala-analyzer/coala/pull/1218

Why is this marked `invalid` anyway?

[2016-01-15 19:39] alex-palevsky commented on #733
@skirpichenok it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-15 19:39] alex-palevsky commented on #981
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-15 22:14] yegor256 commented on #985
@sils1297 to avoid full processing of it via our management workflow. Looks like that "internal server error" is related to the content of your project, not to rultor. no?

[2016-01-15 22:15] yegor256 commented on #981
@oruam85 we'll fix it right after this one is solved https://github.com/teamed/qulice/issues/583 (we'll copy their solution here)

[2016-01-16 10:32] sils1297 commented on #985
Actually it feels like the HTTP 500 occurs when rultor is processing high loads or something, on my PC the scripts always work and I never get a 500. I think it's rultor related but can't prove it. It happens *sometimes* on rultor and only on rultor. (Though this is not the bug where we started from, that one is fixed indeed.)

[2016-01-17 13:05] alex-palevsky commented on #754
@xupyprmv help us, the task is yours

[2016-01-17 13:05] alex-palevsky commented on #773
@skirpichenok This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-17 13:05] alex-palevsky commented on #982
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-17 13:08] skirpichenok commented on #773
ok will work on it...

[2016-01-17 13:23] skirpichenok commented on #733
@alex-palevsky I've prepared invironment:

 - Ubuntu 15.10
 - maven 3.3.9
 - JDK 1.7.0_80
 - git
 - IDEA 15 (I've imported http://img.teamed.io/settings.jar)

is that enough to continue with bug fixing? Or I am missaed something?

[2016-01-17 14:13] alex-palevsky commented on #781
@skirpichenok could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-01-17 14:51] skirpichenok commented on #733
But I see the following output for command **mvn clean install -Pqulice**

    Results :

    Tests in error:
      StartsDaemonITCase.startsDaemon:84 » IO Cannot run program "/usr/sbin/sshd": e...
      ArchivesDaemonITCase.archivesDaemon:70 » IO Cannot run program "/usr/sbin/sshd...
      EndsDaemonITCase.parsesHighlightedStdout:69->start:115 » IO Cannot run program...
      EndsDaemonITCase.rea

[2016-01-18 10:06] skirpichenok commented on #773
@alex-palevsky should I run it locally to fix it or should I fix it using the tests?

[2016-01-18 13:37] alex-palevsky commented on #786
@kujtimiihoxha could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.htm

[2016-01-18 13:45] kujtimiihoxha commented on #786
@yegor256 I could not find details on how to run rultor locally, please update the documentation because I need to be able to test the solution.

[2016-01-18 14:22] kujtimiihoxha opened #986 "Documentation not available"
There is no documentation available on how to run rultor locally  to perform tests.

[2016-01-18 14:23] kujtimiihoxha commented on #786
@alex-palevsky waiting for #986

[2016-01-18 15:02] alex-palevsky commented on #802
@kujtimiihoxha could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2016-01-18 15:16] kujtimiihoxha commented on #802
@alex-palevsky  waiting for #986

[2016-01-18 15:38] skirpichenok commented on #733
@alex-palevsky issue has gone or do I do something wrong?

[2016-01-18 16:15] alex-palevsky commented on #773
@skirpichenok I can't help you with technical questions. address them to the author of the ticket or project architect (@yegor256)

[2016-01-18 16:15] alex-palevsky commented on #786
@kujtimiihoxha yes, of course, we'll wait for #986

[2016-01-18 16:16] skirpichenok commented on #773
@yegor256 should I run it locally to fix it or should I fix it using the tests?

[2016-01-18 17:42] alex-palevsky commented on #733
@skirpichenok address all technical questions to the author of the ticket, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2016-01-18 17:42] alex-palevsky commented on #802
@kujtimiihoxha yes, waiting for #986

[2016-01-18 17:44] alex-palevsky commented on #806
@kujtimiihoxha it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-18 17:44] skirpichenok commented on #733
@yegor256 I could not reproduce this issue. The IndexesRequestsTest passes on my local PC.
This is output for command **mvn -Dtest=\*\*\IndexesRequestsTest test**

    Results :

    Tests run: 4, Failures: 0, Errors: 0, Skipped: 0

    [INFO] ------------------------------------------------------------------------
    [INFO] BUILD SUCCESS
    [INFO] -----------------------------------------------

[2016-01-18 17:45] skirpichenok commented on #733
@yegor256 But I see the following output for command **mvn clean install -Pqulice**

    Results :

    Tests in error:
      StartsDaemonITCase.startsDaemon:84 » IO Cannot run program "/usr/sbin/sshd": e...
      ArchivesDaemonITCase.archivesDaemon:70 » IO Cannot run program "/usr/sbin/sshd...
      EndsDaemonITCase.parsesHighlightedStdout:69->start:115 » IO Cannot run program...
      EndsDaemon

[2016-01-18 17:48] longtimeago commented on #802
@yegor256 we are really waiting for this feature!

[2016-01-18 18:21] kujtimiihoxha commented on #806
@yegor256 please give further information about the issue, also see  #986

[2016-01-18 18:21] kujtimiihoxha commented on #806
@alex-palevsky waiting for #986

[2016-01-18 19:54] alex-palevsky commented on #806
@kujtimiihoxha right, let's wait for #986

[2016-01-18 20:13] alex-palevsky commented on #816
@kujtimiihoxha can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-18 20:17] kujtimiihoxha commented on #816
@yegor256 how can I reproduce this issue?

[2016-01-18 21:22] yegor256 commented on #816
@kujtimiihoxha I don't think it's fixable (or reproducible). I'm closing, thanks.

[2016-01-18 21:22] #816 closed

[2016-01-18 21:24] yegor256 commented on #986
@kujtimiihoxha `mvn clean install -Pqulice` (as README suggests) should be fine. All tests will be executed, including integration ones. Or I didn't understand your question?

[2016-01-18 21:38] yegor256 commented on #806
@kujtimiihoxha I updated the description of the ticket, let me know if that's enough

[2016-01-18 21:42] yegor256 commented on #802
@longtimeago I don't think we should implement this, due to security concerns expressed above. I'm closing it.

[2016-01-18 21:42] #802 closed

[2016-01-18 21:55] yegor256 commented on #733
@skirpichenok that's a separate problem (your errors), feel free to report them in a new ticket. I'm closing this, since it's not reproducible.

[2016-01-18 21:55] #733 closed

[2016-01-18 22:14] yegor256 commented on #773
@skirpichenok no need to run anything (it's a bad practice). each bug should first be reproduced in a unit/integration test and then fixed. "running locally" is debugging, which is a bad practice.

[2016-01-18 22:29] kujtimiihoxha commented on #986
After using ```mvn clean install -Pqulice ``` i got this error:
[code]

[2016-01-18 22:42] yegor256 commented on #986
@kujtimiihoxha how this is related to the question about documentation?

[2016-01-18 22:49] kujtimiihoxha commented on #986
@yegor256 I was referring to your answer, If I try to use ```mvn clean install -Pqulice```  (without making any change to the master branch), it results in that error, so i can not test the changes.

[2016-01-18 22:59] yegor256 commented on #986
@kujtimiihoxha but that's another problem, irrelevant to the absence of documentation. should be reported in a new ticket. keep in mind that tickets are not chats. they are here to resolve problems, one by one. please, read this: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2016-01-18 23:00] #986 closed

[2016-01-18 23:02] kujtimiihoxha opened #987 "Build fail from master branch"
I am trying to run ``` mvn clean install -Pqulice ```, but I get this error message.
[code]

[2016-01-18 23:16] yegor256 commented on #987
@kujtimiihoxha need more information, since the build is clean on Travis now: https://travis-ci.org/yegor256/rultor

[2016-01-18 23:26] kujtimiihoxha commented on #987
Here is a log file of the full output  [log.txt](https://github.com/yegor256/rultor/files/95123/log.txt)

[2016-01-18 23:29] yegor256 commented on #987
@kujtimiihoxha you need `/usr/sbin/sshd` to be installed. It seems to be the default location of `sshd`... what is your Linux version? is it Linux?

[2016-01-18 23:40] kujtimiihoxha commented on #987
I installed sshd but now I get different error [log.txt](https://github.com/yegor256/rultor/files/95133/log.txt)

[2016-01-18 23:56] yegor256 commented on #987
@kujtimiihoxha there is no error now, the build is successful

[2016-01-19 00:13] yegor256 commented on #985
@sils1297 could be the problem of performance, of course. try to run your project inside Docker, on your machine. that will help you reproduce rultor environment better.

[2016-01-19 13:42] alex-palevsky commented on #786
@yegor256 #986 is closed, it was an impediment

[2016-01-19 13:42] alex-palevsky commented on #806
@yegor256 FYI, the issue we were waiting for (#986) is fixed

[2016-01-19 13:42] alex-palevsky commented on #818
@kujtimiihoxha please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-19 17:26] alex-palevsky commented on #821
@kujtimiihoxha it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-19 17:26] alex-palevsky commented on #836
@skirpichenok this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-01-19 17:42] yegor256 commented on #982
@dmzaytsev it's happening because the owner of netbout is a personal account, while qulice belongs to the organization. I'm on it...

[2016-01-20 10:22] skirpichenok commented on #733
@yegor256 after installing the ssh I do not get any errors

[2016-01-20 10:35] skirpichenok commented on #773
@yegor256  I guess that you are talking about TDD. correct?

[2016-01-20 16:25] skirpichenok commented on #773
@carlosmiranda This takes much more than 30 mins....

 I've found this method in the TkHome:

    private Directives recent() throws IOException {
        final Directives dirs = new Directives().add("recent");
        final PrettyTime pretty = new PrettyTime();
        for (final Talk talk : Iterables.limit(this.talks.recent(), Tv.FIVE)) {
            dirs.add("talk").set(talk.name())

[2016-01-22 14:54] caarlos0 opened #988 "Better badge quality"
http://shields.io/ aims to make badges Pixel-perfect, Retina-ready, Fast, Consistent, Hackable and with No tracking.

Currently, rultor badge has a different size from other badges:

![image](https://cloud.githubusercontent.com/assets/245435/12513835/23acabde-c107-11e5-8f22-c18ef5af487f.png)

Maybe we could use the shields.io service to generate rultor badges, or just make it the same size as othe

[2016-01-22 16:40] kujtimiihoxha commented on #786
@yegor256 could you please assist in where I should tackle this task, i do not quite understand rulton structure.

[2016-01-22 17:45] xupyprmv commented on #754
@alex-palevsky Please assign to someone else. I cannot do this task with acceptable quality.

[2016-01-22 20:44] maurezen commented on #754
@alex-palevsky shouldn't this be still assigned to @yegor256 ?

[2016-01-23 03:40] yegor256 commented on #754
@alex-palevsky this one is postponed

[2016-01-23 03:48] yegor256 commented on #786
@alex-palevsky this is postponed

[2016-01-23 03:50] yegor256 commented on #988
@caarlos0 I can make another one, with 25px height (this is what Travis and others are using).

[2016-01-23 11:01] caarlos0 commented on #988
@yegor256 yeah, I think it will look nicer on the readmes to have them all the same height :D

[2016-01-24 12:08] alex-palevsky commented on #754
@xupyprmv -30 points to your rating :(

[2016-01-24 12:08] alex-palevsky commented on #754
@xupyprmv someone else will help in this task, no problem at all

[2016-01-24 12:08] alex-palevsky commented on #754
@yegor256 got it, "postponed" label here

[2016-01-24 12:08] alex-palevsky commented on #754
@yegor256 no problem, I will try to find somebody else

[2016-01-24 12:08] alex-palevsky commented on #786
@yegor256 sure, thanks, I added "postponed" label to it

[2016-01-24 12:08] alex-palevsky commented on #786
@yegor256 no problem, I will try to find somebody else

[2016-01-24 12:10] alex-palevsky commented on #952
@gumbelmj This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here

The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-24 12:10] alex-palevsky commented on #960
@jimdeanspivey please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-24 12:49] JimDeanSpivey commented on #960
Here is my understanding of the problem:

[code]

And that the problem is that I should not be able to release version `0.3` since the current version is `0.8` ?

[2016-01-24 13:40] alex-palevsky commented on #950
@gumbelmj please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-01-24 13:40] alex-palevsky commented on #951
@jimdeanspivey please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-24 13:43] dmzaytsev commented on #960
@JimDeanSpivey yep, Rultor shouldn't allow release `0.3` in this case

[2016-01-24 13:45] gumbelmj commented on #952
@alex-palevsky having read many of @yegor256's blog entries, if I understand the process correctly, this task should just be to add a "Glossary" section to the Readme.md with a TBD.  Since I don't actually know what terms belong in the glossary or the definition of those terms, as I supposed to then create a puzzle to populate the glossary?

[2016-01-24 13:46] dmzaytsev commented on #960
@yegor256 on the other note it would be nice to be able to force any release
so if i say `rultor release, tag='0.3' force`
rultor will release it in any case

what do you think?

[2016-01-24 13:54] JimDeanSpivey commented on #951
Where can I read about "Rultor SLA" ? I am not able to find anything [in the docs](http://doc.rultor.com/) and google searching "Rultor SLA" doesn't show anything helpful.

[2016-01-24 15:05] alex-palevsky commented on #936
@xupyprmv the task is yours please go ahead

[2016-01-24 15:05] alex-palevsky commented on #942
@gumbelmj this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-24 15:05] alex-palevsky commented on #946
@jimdeanspivey please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-24 15:17] JimDeanSpivey commented on #960
Not sure if Rultor enforces version **numbers**. So I want to mentioned that version numbers in git releases can be any string, which means that is not always possible to validate that they must be *high enough*.

* `1.2.3` - most common and valid. This can be validated to make sure that `1.2.3.` is not lower than the current version.
* `my-tagged-release` - obviously there is no way to apply vers

[2016-01-24 16:21] xupyprmv commented on #936
@xeboc

[code]
release:
  pre: false

[2016-01-24 16:22] xupyprmv commented on #936
@xeboc So, I have to add description of `pre` parameter in `release` command. Am I right?

[2016-01-24 19:56] JimDeanSpivey commented on #960
Currently have it rejecting if the version number is too low via this PR: #989  But still waiting for input regarding the `force` functionality.

Also, I have some questions/concerns about qulice's enforcement. Because I cannot use the `new` keyword in a for loop, I had to use Guava's transformation utils to convert a list from one object type to another. I think the code looks much cleaner withou

[2016-01-25 03:48] yegor256 commented on #960
@JimDeanSpivey make sure you address your comments to someone, by adding the name in front of it. otherwise, who are you talking to? :)

[2016-01-25 03:49] yegor256 commented on #960
@dmzaytsev I think that "force" is not required now. maybe, in the future, if someone will ask for that, we'll implement it

[2016-01-25 07:45] JimDeanSpivey commented on #951
@niinat @yegor256 ping regarding the question for what exactly is "Rultor SLA" ?

[2016-01-25 07:46] JimDeanSpivey commented on #960
@alex-palevsky code-review needed for #989

[2016-01-25 08:39] JimDeanSpivey commented on #946
@yegor256

1. xembly has changed from `0.21.4` to `0.22`. This dependency is needed in jcabi-github so it has to be changed in both projects at the same time in order for rultor to compile. **Should I leave it in the older version or update both/all projects that use xembly?** For reference, the API docs are here, [0.21.4](http://www.xembly.org/apidocs-0.21.4/org/xembly/class-use/Directives.html)

[2016-01-25 16:42] xeboc commented on #936
@xupyprmv That's correct.  My other questions were published between then and now.  It appears that `pre` in the `release` command is still missing.  Thank you.

[2016-01-25 19:21] alex-palevsky commented on #960
@jimdeanspivey OK

[2016-01-26 03:43] yegor256 commented on #946
@JimDeanSpivey you should submit tickets to other projects and wait until they are resolved

[2016-01-26 03:43] yegor256 commented on #946
@JimDeanSpivey this should help: http://www.yegor256.com/2015/01/15/how-to-cut-corners.html

[2016-01-26 03:55] yegor256 commented on #951
@alex-palevsky this ticket is postponed

[2016-01-26 04:55] yegor256 commented on #988
@rultor release tag is `1.61`

[2016-01-26 04:55] rultor commented on #988
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6591-174825886)

[2016-01-26 05:02] rultor commented on #988
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6591-174825886) (took me 6min)

[2016-01-26 05:29] yegor256 commented on #988
@caarlos0 try

[code]

[2016-01-26 05:29] #988 closed

[2016-01-26 09:14] JimDeanSpivey commented on #946
@yegor256 There is already a ticket in jacbi-github, I am asking to work on it here: https://github.com/jcabi/jcabi-github/issues/1188

[2016-01-26 11:50] caarlos0 commented on #988
@yegor256 neat, thanks!

[2016-01-26 12:14] caarlos0 opened #992 "Rultor won't build on AppVeyor"
[code]

Example build: https://ci.appveyor.com/project/yegor256/rultor/build/625

I think we should either fix this or remove the appveyor integration...

[2016-01-26 12:16] caarlos0 opened #993 "Won't build on Vexor, can't see logs"
Build always fail on Vexor: https://ci.vexor.io/ui/builds/a4344420-391e-4ab9-9e81-50758ea41ab5

Seems like I don't have permission to see the logs, so I don't know what's going on.

[2016-01-26 14:12] alex-palevsky commented on #951
@yegor256 sure, thanks, I added "postponed" label to it

[2016-01-26 14:12] alex-palevsky commented on #951
@yegor256 I will try to find someone else

[2016-01-27 15:19] kujtimiihoxha commented on #806
@alex-palevsky assign someone else

[2016-01-27 15:20] kujtimiihoxha commented on #818
@alex-palevsky assign someone else

[2016-01-27 15:20] kujtimiihoxha commented on #821
@alex-palevsky assign someone else

[2016-01-27 17:50] alex-palevsky commented on #806
@kujtimiihoxha 30 points deducted from your rating

[2016-01-27 17:50] alex-palevsky commented on #806
@kujtimiihoxha right, I'll try to find someone else for this task

[2016-01-27 17:50] alex-palevsky commented on #818
@kujtimiihoxha deducted 30 from your rating :(

[2016-01-27 17:50] alex-palevsky commented on #818
@kujtimiihoxha OK, I will try to assign someone else

[2016-01-27 17:50] alex-palevsky commented on #821
@kujtimiihoxha -30 points to your rating

[2016-01-27 17:50] alex-palevsky commented on #821
@kujtimiihoxha I will ask somebody else to pick this up

[2016-01-28 12:28] alex-palevsky commented on #952
@gumbelmj @yegor256 please help us here

[2016-01-28 18:39] JimDeanSpivey opened #994 "Rultor is unable to merge itself"
In this PR: https://github.com/yegor256/rultor/pull/990 Yegor issued command for rultor to merge. Despite that `maven clean install -Pqulice` running fine in my local (and the fact that the PR is very small), it should have merged. It appears that the Ruby environment that Rultor depends on, wherever that is, has issues. See the logs from PR 990: http://www.rultor.com/t/6581-174764783

Also, other

[2016-01-29 01:02] yegor256 commented on #952
@alex-palevsky this one should be postponed

[2016-01-29 12:48] gumbelmj commented on #942
@alex-palevsky Is there a design document for Rultor somewhere?  I'm having trouble even finding where a new Docker image is pulled down.

[2016-01-29 14:10] alex-palevsky commented on #952
@yegor256 OK, I put "postponed" label here

[2016-01-29 14:10] alex-palevsky commented on #952
@yegor256 all right, we'll find someone else for this task

[2016-01-29 14:12] alex-palevsky commented on #993
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-29 14:12] alex-palevsky commented on #992
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-30 06:54] xupyprmv commented on #936
@xeboc  Looks like `pre` parameter was never used in `rultor`:

I tried to search whole git history of project and found nothing:

`git rev-list --all | GIT_PAGER=cat xargs git grep 'pre' | grep -v '\<pre' | grep -v 'pre\>' | grep -v 'press' | grep -v '.png' | grep -v 'eprecated' | grep -v 'presents' | grep -v 'apprec' | grep -v 'repres' | grep -v 'prevent' | grep -v 'repreh'`

[2016-01-31 12:15] alex-palevsky commented on #942
@gumbelmj everything is in README.md, that's the only place for documentation

[2016-01-31 12:58] xupyprmv commented on #936
@xeboc Can you close this ticket?

[2016-01-31 19:01] alex-palevsky commented on #994
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-31 21:08] xeboc commented on #936
@xupyprmv Of course.  Thank you for your help with this ticket.

[2016-01-31 21:08] #936 closed

[2016-02-01 13:21] alex-palevsky commented on #773
@skirpichenok you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 added to your rating, current score is: [-30

[2016-02-01 13:26] skirpichenok commented on #773
@alex-palevsky I closed my conract. Try to find somebody else.

[2016-02-01 15:13] alex-palevsky commented on #773
@skirpichenok 30 points was deducted from your rating

[2016-02-01 15:13] alex-palevsky commented on #773
@skirpichenok right, I will find someone else, no problem

[2016-02-01 15:16] alex-palevsky commented on #781
@skirpichenok the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 added to your rating, at the moment it

[2016-02-01 21:37] velo commented on #781
gamification level: I like it!

[2016-02-01 21:58] caarlos0 commented on #781
@velo hahaha

[2016-02-01 23:28] yegor256 opened #995 "more memory for docker"

[2016-02-01 23:28] #995 closed

[2016-02-01 23:31] yegor256 commented on #995
@rultor release, tag is `1.61.1`

[2016-02-01 23:32] rultor commented on #995
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6707-178254127)

[2016-02-01 23:37] rultor commented on #995
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6707-178254127) (spent 5min)

[code]

[2016-02-01 23:42] yegor256 commented on #995
@rultor release, tag is `1.61.1`

[2016-02-01 23:43] rultor commented on #995
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6707-178258912)

[2016-02-01 23:50] rultor commented on #995
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6707-178258912) (took me 7min)

[2016-02-02 05:01] xupyprmv commented on #936
@alex-palevsky Ticket was closed. Nothing to do here.

[2016-02-02 17:24] yegor256 commented on #995
@rultor release, tag is `1.61.2`

[2016-02-02 17:25] rultor commented on #995
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6707-178699774)

[2016-02-02 17:33] rultor commented on #995
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6707-178699774) (took me 7min)

[2016-02-02 17:39] yegor256 commented on #995
@caarlos0 @longtimeago please try again in other projects, should be fine now

[2016-02-02 22:27] pinaf commented on #995
@yegor256 this is fixed? I believe builds are still failing.

[2016-02-03 00:08] yegor256 commented on #995
@pinaf seems to be fixed. we have 6gb RAM, which is exactly how much we had before. everything should be good now

[2016-02-03 01:04] pinaf commented on #995
@yegor256 great, thank you.

[2016-02-03 05:50] longtimeago commented on #995
@yegor256 looks good, thank you!

[2016-02-03 11:44] caarlos0 commented on #995
@yegor256 thanks!

[2016-02-03 18:27] alex-palevsky commented on #936
@xupyprmv done, I added **30 mins** in payment `AP-9KA59613HG033233U`, 190 hours and 13 mins spent to complete this

+30 added to your rating, at the moment it is: [+90](http://www.netbout.com/b/35999?open=rating)

[2016-02-03 22:55] yegor256 commented on #994
@rultor deploy

[2016-02-03 22:56] rultor commented on #994
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/6758-179516740)

[2016-02-03 23:10] rultor commented on #994
@jimdeanspivey @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6758-179516740) (spent 14min)

[code]

[2016-02-04 01:09] yegor256 opened #996 "can't create Docker container when repo name has capital letters"
[code]

[2016-02-04 01:25] yegor256 commented on #996
@rultor release, tag is `1.61.3`

[2016-02-04 01:25] rultor commented on #996
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6764-179563511)

[2016-02-04 01:41] rultor commented on #996
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6764-179563511) (took me 15min)

[2016-02-04 01:41] #996 closed

[2016-02-04 15:47] mafagafogigante opened #997 "README does not explain why someone should use Rultor"
Which is on of the main reasons to have a readme.

[2016-02-04 17:21] alex-palevsky commented on #936
@xupyprmv OK

[2016-02-07 14:15] longtimeago opened #999 "Attach VM core dump in case of JVM crash during the build"
Sometimes JVM crashes during the build of client code (it happens more frequent in case of JNI code).
It would be really helpful to attach core dump and error report to the build (have a link on them in build logs).

Error report usually stored on Rultor's container filesystem like this `/home/r/repo/hs_err_pid19753.log`.
Same for core dump `/home/r/repo/core`

[2016-02-07 17:55] alex-palevsky commented on #997
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-07 18:30] mafagafogigante commented on #997
@alex-palevsky I created this issue so that the PR and commit would be contextualized and documented in the tracker. I hope this (that seems to be considered a good practice in several projects) is well accepted in this repository.

[2016-02-08 14:42] alex-palevsky commented on #950
@gumbelmj you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck); -30 added to your rating, at the moment it is:

[2016-02-08 15:34] gumbelmj commented on #950
@alex-palevsky I have been working on this ticket from shortly after it was assigned.  I have been trying to get this reviewed and merged.  There is some problem with the merging, unrelated to this ticket.

[2016-02-08 15:53] alex-palevsky commented on #942
@gumbelmj the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, at the moment it is: [-60](http://ww

[2016-02-08 18:13] alex-palevsky commented on #946
@jimdeanspivey the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, at the moment it is: [+38](http

[2016-02-09 04:08] yegor256 commented on #997
@mafagafogigante yeah, right, thanks for making this issue

[2016-02-09 04:22] yegor256 commented on #999
@longtimeago good idea, but we can't do it at the level if rultor. We simply don't know what exactly are you executing - JVM or Ruby or C++ compiler or whatever...  you should do it in your `.rultor.yml` script. Something like this:

[code]

It's pseuo-code, but you got the idea.

[2016-02-09 04:24] #999 closed

[2016-02-09 06:51] longtimeago commented on #999
@yegor256 cool, thanks!

[2016-02-09 06:58] longtimeago commented on #999
@yegor256 question - suppose, `deploy` section contains several scripts and first script fails. What would be with subsequent scripts? Will they be executed?

[2016-02-09 12:16] alex-palevsky commented on #960
@jimdeanspivey the task is your hands for the last 16 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, current score

[2016-02-09 12:32] original-brownbear opened #1001 "Site Target Does not Execute Jekyll in Bundle Context Causes Jekyll-Sass to not Properly Load"
It's in the title, the current site target executes Jekyll outright.
Not running Jekyll in the bundle context leads to Jekyll-Sass not loading and the site target failing.
Like for example in my PR here: #1000 where it throws:
[code]

This can be fixed by running Jekyll in the bundle context.

[2016-02-10 15:18] alex-palevsky commented on #950
@gumbelmj keep this in mind: http://at.teamed.io/policy.html#10

[2016-02-10 15:51] gumbelmj commented on #950
@alex-palevsky more time

[2016-02-10 19:24] alex-palevsky commented on #950
@gumbelmj agreed, take your time

[2016-02-11 20:13] sils1297 commented on #942
FWIW we're getting this

[code]

error a lot which seems to be related to this issue. It's really getting annoying. :/

[2016-02-12 15:04] alex-palevsky commented on #1001
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-12 17:50] reiz commented on #942
I have the same issue on some Kubernetes Minions! Any workaround?

[2016-02-12 19:36] yegor256 commented on #942
@sils1297 this happens when docker deamon is down. This may happen right after the server is rebooted. Can you please submit a separate ticket about this, I'll try to fix it right.

[2016-02-12 20:07] yegor256 commented on #1001
@original-brownbear valid problem. I guess it's already fixed in #1002, right?

[2016-02-12 20:09] original-brownbear commented on #1001
@yegor256 yes #1002 should fix this

[2016-02-13 11:32] sils1297 opened #1003 "`'cid' file is absent, container wasn't started correctly`"
In 2 of 3 cases nowadays I get this error `'cid' file is absent, container wasn't started correctly` which is really bad because I *always* have to retry the merge.

Created as per https://github.com/yegor256/rultor/issues/942#issuecomment-183460504

[2016-02-13 12:41] original-brownbear commented on #934
Suggested refactoring here #1004 :)

[2016-02-13 15:18] mkordas commented on #997
@mafagafogigante you need to refer to PR here

[2016-02-13 15:21] mafagafogigante commented on #997
@mkordas Mention #998 Done

[2016-02-14 12:35] original-brownbear commented on #1001
@alex-palevsky I think this can just be closed right? It's evidently working again with #1002 :)

[2016-02-14 13:11] alex-palevsky commented on #997
@rultor @mafagafogigante please look at this issue, rultor closed it automatically

[2016-02-14 13:11] alex-palevsky commented on #1001
@original-brownbear attached this issue to milestone "2.0" (let me know if this is wrong)

[2016-02-14 13:11] rultor commented on #997
@alex-palevsky I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-02-14 13:16] alex-palevsky commented on #942
@gumbelmj it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 added to your rating, current score is: [-90](http://www.netbout.com/b/36306?open=rating)

[2016-02-14 13:16] alex-palevsky commented on #1001
@yegor256 it is your task now

[2016-02-14 16:02] mkordas commented on #997
@mafagafogigante please close

[2016-02-14 17:17] mafagafogigante commented on #997
@mkordas OK.

[2016-02-14 17:17] #997 closed

[2016-02-14 18:48] alex-palevsky commented on #946
@jimdeanspivey the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html). -60 to your rating, your total score is [-52](http://www.netbout.com/b/36321?open=rating)

[2016-02-14 21:34] original-brownbear commented on #946
#1005 should do it here.

[2016-02-15 01:10] agungsantoso opened #1006 "@rultor hello"

[2016-02-15 01:12] #1006 closed

[2016-02-15 13:50] alex-palevsky commented on #960
@jimdeanspivey this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 to your rating, your total score is [-112](http://www.netbout.com/b/36321?open=rating)

[2016-02-15 17:45] alex-palevsky commented on #960
@gumbelmj please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2016-02-15 20:41] aistomin opened #1007 "Two Rultor messages on merge closed pull request"
I've made some mistakes when was talking to Rultor and noticed a behaviour that is not clear to me. Maybe it's an expected behaviour, would be nice if somebody could clarify it to me.

Pull request where problem occurred: https://github.com/aistomin/jenkins-sdk/pull/182

Questions:
1. I sent Rultor two consiquent merge messages by mistake, why didn't Rultor just ignore the second message?
2. Ok, R

[2016-02-16 03:50] yegor256 commented on #1001
@original-brownbear let's close it?

[2016-02-16 03:53] original-brownbear commented on #1001
Jup, all done here :)

[2016-02-16 03:53] #1001 closed

[2016-02-16 05:22] yegor256 commented on #1003
@sils1297 can you give a few links to most recent logs please?

[2016-02-16 08:59] AbdealiJK commented on #1003
[here](https://github.com/coala-analyzer/coala/pulls?q=is%3Apr+file+is+absent%2C+container+wasn%27t+is%3Aclosed) is a list of all of them

Here's a list of the PR links:
https://github.com/coala-analyzer/coala/pull/1459
https://github.com/coala-analyzer/coala/pull/1290
https://github.com/coala-analyzer/coala/pull/1321
https://github.com/coala-analyzer/coala/pull/1214

[2016-02-16 15:14] dmzaytsev opened #1009 "Rultor can't pull the image, 'pid' file is absent"
Rulto failed with the error message

'pid' file is absent, something was broken

see logs http://www.rultor.com/t/7069-184660714

I expect more clear error message if it is a temporary issue
otherwise please fix the problem

[2016-02-16 15:33] original-brownbear commented on #1009
@dmzaytsev I already mentioned this here https://github.com/yegor256/rultor/pull/1008 , this should in 99% of cases be resolvable by restarting the Docker daemon instantly.

Generally fixing this:
The log does not give away the Docker daemon version, but it looks to me that this is most likely this issue https://github.com/docker/docker/issues/15603 and updating to Docker 1.9.0+ should resolve it,

[2016-02-16 15:57] #987 closed

[2016-02-17 16:07] alex-palevsky commented on #1001
@yegor256 thank you, added **45 mins** to your acc, payment num is `000-8b89fcac`, 47 hours and 50 mins spent in total to complete. m=2870, that's why a bonus here for fast delivery. +45 added to your rating, at the moment it is: [+1600](http://www.netbout.com/b/35008?open=rating)

[2016-02-17 19:34] original-brownbear commented on #1009
@yegor256 forgot to ping you here, is Rultor in fact running on older than Docker 1.9 and this not an issue outside of having to update Docker maybe ?

[2016-02-17 19:47] original-brownbear commented on #994
@alex-palevsky The fix to this broke https://github.com/yegor256/rultor/issues/1001.
Evidently this works again and the other ticket is closed already, I think this can also be closed.

[2016-02-17 21:20] original-brownbear opened #1010 "APT usage in Dockerfile violates best practices ( apt-get upgrade used, not pairing apt-get update and install )"
The current Dockerfile violates best practices for apt use, documented [here](https://docs.docker.com/engine/userguide/eng-image/dockerfile_best-practices/#apt-get), in two ways that need to be fixed together.
# apt-get upgrade use

At the end of the Dockerfile it contains the snippet
[code]

The Docker documentation states:

Given the removal of the --privileged flag in the Rultor Docker run in h

[2016-02-19 17:46] alex-palevsky commented on #1007
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-02-19 22:49] #946 closed

[2016-02-19 23:17] yegor256 commented on #1009
@original-brownbear this is what we have:

[code]

will try to upgrade now

[2016-02-20 02:27] yegor256 commented on #1009
@original-brownbear I upgraded Docker:

[code]

[2016-02-20 02:31] original-brownbear commented on #1009
@yegor256 alright :) I think this can simply be closed then, it was just a know bug in the old Docker version.

[2016-02-20 03:23] dmzaytsev commented on #1009
@original-brownbear @yegor256 thanks

[2016-02-20 03:23] #1009 closed

[2016-02-20 12:23] longtimeago commented on #999
@yegor256 please, take a look at my comment above. Thanks!

[2016-02-20 15:01] Ardesco opened #1011 "sudo command not found"
Looks like I can't install a required package as part of my build, see here for more info:

https://github.com/Ardesco/selenium-standalone-server-plugin/issues/33

Snippet from the response showing the failure:

    + HOME=/home/r
    + cd /home/r/repo
    + sudo apt-get install gsettings-desktop-schemas
    /home/r/script.sh: line 7: sudo: command not found
    container 52de0bc16770d816682b5558b

[2016-02-20 15:14] Ardesco commented on #1011
Ignore this, it's me being stupid and having the wrong docker image set up in my config.

[2016-02-20 15:14] #1011 closed

[2016-02-20 21:46] original-brownbear commented on #704
@oruam85  is this still an issue for you ? Keep in mind that since the original creation of this ticket the minimum Maven version required has moved up to 3.2.5.

[2016-02-21 16:16] original-brownbear commented on #994
@JimDeanSpivey can you close this please, this is evidently not an issue anymore :)

[2016-02-21 17:51] alex-palevsky commented on #1007
@aistomin since there is no milestone yet I set it to "2.0"

[2016-02-21 17:52] alex-palevsky commented on #1010
@original-brownbear tag "bug" added

[2016-02-21 17:52] alex-palevsky opened #1013 "1.58"
Please, publish a new release **1.58** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2016-02-21 17:54] alex-palevsky commented on #934
@original-brownbear The issue should be closed..

[2016-02-21 17:54] #934 closed

[2016-02-21 17:54] alex-palevsky commented on #935
@jimdeanspivey this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-02-21 17:54] alex-palevsky commented on #942
@guiandmag could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-02-21 18:08] original-brownbear commented on #994
@alex-palevsky actually could you please close this? #1001 contains a detailed analysis that includes how the above error came about and the fix for it. No need to wait here I think.

[2016-02-21 18:30] original-brownbear commented on #938
@sils1297 as far as I can tell this ticket is being handled in two existing tickets now and the "investigation" part of things is finished as far as I can tell :)

https://github.com/yegor256/rultor/issues/942 deals with the first issue I can see in your ticket [here](https://github.com/coala-analyzer/coala/pull/966).

https://github.com/yegor256/rultor/issues/935 deals with the git (detached head

[2016-02-21 18:33] sils1297 commented on #938
That is correct, sorry for raising that here.

About what issues are behind this I don't know , assuming you've got this covered I'm just closing this.

[2016-02-21 18:33] #938 closed

[2016-02-21 18:49] original-brownbear commented on #704
@alex-palevsky this is invalid now, @oruam85 was asked for feedback more than a month ago, I tried again and the build setup he used when initially reporting this is not supported anymore.
That and the fact that the dependency versions were changed too meanwhile make reproducing this issue logically impossible anyways.

[2016-02-21 18:51] original-brownbear commented on #905
@alex-palevsky this is a duplicate of https://github.com/yegor256/rultor/issues/935

[2016-02-21 19:55] original-brownbear commented on #1003
@sils1297 Went through the list  provided by @AbdealiJK

The first three:
https://github.com/coala-analyzer/coala/pull/1459
https://github.com/coala-analyzer/coala/pull/1290
https://github.com/coala-analyzer/coala/pull/1321
throw this error:
[code]
This is not Rultor,  but an issue with the key server you're trying to call here.
As far as I can see you're using your own docker image for this,
why

[2016-02-21 20:08] gumbelmj commented on #950
@niinat the changes have been merged into master.  Can you please close this?

[2016-02-21 20:35] original-brownbear commented on #904
@yegor256 pinging you here since you initially tagged this as a bug.

I think we should close this to be honest:
1. The author of the issue does not have the issue anymore.
2. More importantly, this is not something that Rultor should do in my opinion. The official Docker images `python:2.7.11` as well as `python:3.5.1` provide pip/pip3 just fine and in a clearly defined environment and authors ca

[2016-02-21 20:38] original-brownbear commented on #669
@yegor256 can you close this?, to me it looks like this is long obsolete given we're on docker 1.9.x now.

[2016-02-21 20:42] original-brownbear commented on #981
@alex-palevsky valid bug.

https://github.com/teamed/qulice/issues/583 is closed and we can go ahead here.

[2016-02-21 21:01] sils1297 commented on #1003
I have no idea what's going on here but why should we care about keyservers when we just want to use a public docker image? Are we doing something wrong?

[2016-02-21 21:29] sils1297 commented on #1003
Ah sorry that is our code? Rultor logs always confuse me.

[2016-02-21 21:30] original-brownbear commented on #1003
@sils1297 sorry, this was my bad, it appeared the gpg call came from your setup script this was not the case! There is a separate issue on our end causing this, no worries you're not doing anything wrong. I will create a separate issue for this now and link it here, 2 min :)

[2016-02-21 21:30] sils1297 commented on #1003
Ah cool, then I can close https://github.com/coala-analyzer/rultor-python/issues/5 :D

[2016-02-21 21:49] original-brownbear opened #1015 "Rultor Reloads GPG Keys on every Build when Decrypting, Failing to Communicate with the Keyserver Fails Builds Needlessly"
This is coming from https://github.com/yegor256/rultor/issues/1003:

Currently we have this code in Rultor:
[code]

Part of the issues reported in https://github.com/yegor256/rultor/issues/1003 are a result of the kall to the keyserver sporadically failing. Failing to contact the keyserver needs to be handled in a more reasonable and stable manner. Rultor needs to reload the key from a different s

[2016-02-21 21:52] original-brownbear commented on #1003
@sils1297 Opened #1015 for the remaining issue around the gpg keyserver communication error.

Given that this ticket mixes issues I think it's best to close it and continue there unless you feel I missed any of the here reported issues ? :)

[2016-02-21 21:53] original-brownbear commented on #1015
@alex-palevsky this is urgent.

[2016-02-21 22:17] sils1297 commented on #1003
think you got it covered pretty well, thanks @original-brownbear !

[2016-02-21 23:08] oruam85 commented on #704
@original-brownbear is not an issue now. i will close this bug. Thanks

[2016-02-21 23:08] #704 closed

[2016-02-21 23:11] original-brownbear commented on #704
@oruam85 thanks :)

[2016-02-21 23:47] original-brownbear opened #1016 "Rultor Should not Remove Empty Commits When Rebasing"
This is coming from https://github.com/yegor256/rultor/issues/877.

When using the rebase functionality built into Rultor, Rultor runs the following shell command on the repo:
[code]

This removes empty commits from the history and causes Rultor to not push anything to the target branch after merging the rebase result into it.
Rultor should not ignore empty commits when rebasing.

Currently this h

[2016-02-21 23:48] original-brownbear commented on #877
@sils1297 Created the empty commit issue here https://github.com/yegor256/rultor/issues/1016, can you close this unless there is anything left here ? :)

Thanks!

[2016-02-21 23:49] original-brownbear commented on #1016
@alex-palevsky it is a valid bug :)

[2016-02-22 00:02] original-brownbear commented on #992
@alex-palevsky this falls under http://at.teamed.io/policy.html#13 this is cosmetic only and trivial to find given that the maven file contains:

[code]

[2016-02-22 00:03] caarlos0 commented on #992
@original-brownbear than I think we can just remove appveyor integration, right?

[2016-02-22 00:05] original-brownbear commented on #992
@caarlos0 Jup, that's the plan in the #1017 :)

[2016-02-22 00:13] original-brownbear commented on #992
@yegor256 I think we need you here, removing the Appveyor config file caused Travis and Semaphore  not to run on that PR. This seems to come from the repo settings in Github and the now missing Appveyor file, I think you need to remove Appveyor from those before we can merge #1017.

[2016-02-22 00:14] original-brownbear commented on #993
@yegor256 pinging you here, I can't see the logs either :)

[2016-02-22 00:16] original-brownbear commented on #982
@alex-palevsky valid bug

[2016-02-22 00:16] original-brownbear commented on #982
@alex-palevsky this is urgent

[2016-02-22 00:18] original-brownbear commented on #962
@alex-palevsky this is postponed.

[2016-02-22 00:19] original-brownbear commented on #836
@alex-palevsky this is postponed.

[2016-02-22 00:24] original-brownbear commented on #897
@alex-palevsky invalid issue.

[2016-02-22 00:43] original-brownbear commented on #897
@sils1297 as explained by @yegor256 , this is not something CI platforms like Travis offer either.
I think the best advice I can give you here for the time being is to have your devs give a glance over https://github.com/yegor256/rultor/blob/master/src/main/resources/com/rultor/agents/req/_head.sh

This script sets up the folder structure in the container and creates the entry.sh script that is to

[2016-02-22 00:52] original-brownbear commented on #912
@alex-palevsky this is postponed.

[2016-02-22 00:55] caarlos0 commented on #992
@original-brownbear so this is a valid bug, right?

[2016-02-22 01:02] original-brownbear commented on #992
@caarlos0 please keep in mind that this is the first time I ever have to make this call in this setting, but honestly:

I mean this bug fits all excluded categories at once, the fact that I need to ping @yegor256 is immaterial imo, given that the only productive outcome of this removing an ugly icon from the readme and PRs (cosmetic) and literally took me 30s to fix (easy-to-fix).

Sorry.

[2016-02-22 02:21] caarlos0 commented on #992
@original-brownbear ok

[2016-02-22 09:10] #877 closed

[2016-02-22 12:32] original-brownbear opened #1018 "Deprecate Using the yegor256/rultor Docker Image for Other Projects"
Currently we have many of our own and I suspect also other projects running on the [default Docker image](https://hub.docker.com/r/yegor256/rultor/) for Rultor.

**This is a significant risk to the stability of their builds.**

# Problem

Now what these projects have is this for their install section in the config file (or similar) this is from [Netbout](https://github.com/yegor256/netbout/blob/ma

[2016-02-22 12:33] original-brownbear commented on #1018
@alex-palevsky this is urgent.

[2016-02-22 13:08] original-brownbear commented on #821
@yegor256 the fix for this has been merged, can you please close this ? :)

[2016-02-22 13:09] original-brownbear commented on #781
@alex-palevsky this is postponed

[2016-02-22 13:22] alex-palevsky commented on #1010
@original-brownbear milestone set to `2.0` (correct me if I am wrong)

[2016-02-22 13:22] alex-palevsky commented on #1013
@original-brownbear milestone set to `2.0` (correct me if I am wrong)

[2016-02-22 13:22] alex-palevsky commented on #704
@original-brownbear got it, "invalid" label here

[2016-02-22 13:22] alex-palevsky commented on #836
@original-brownbear right, I added "postponed" label

[2016-02-22 13:22] alex-palevsky commented on #836
@original-brownbear got it, someone else will be assigned soon

[2016-02-22 13:22] alex-palevsky commented on #912
@original-brownbear right, I added "postponed" label

[2016-02-22 13:22] alex-palevsky commented on #912
@original-brownbear I will try to find someone else

[2016-02-22 13:22] alex-palevsky commented on #905
@original-brownbear sure, thanks, I added "invalid", "duplicate" labels to it

[2016-02-22 13:22] alex-palevsky commented on #1016
@original-brownbear I added `bug` tag to this ticket

[2016-02-22 13:22] alex-palevsky commented on #982
@original-brownbear I tagged this as "bug"

[2016-02-22 13:22] alex-palevsky commented on #981
@original-brownbear added "bug" tag to this issue

[2016-02-22 13:23] alex-palevsky opened #1019 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2016-02-22 13:26] alex-palevsky commented on #1019
@dalifreire this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) f

[2016-02-22 13:26] alex-palevsky commented on #1010
@original-brownbear thanks for this report, I added 30 mins to your account, in transaction `AP-9HD17243DB712122L`

[2016-02-22 13:58] original-brownbear commented on #993
@alex-palevsky this is invalid.

Same reasoning as for #992 sorry.

[2016-02-22 14:16] original-brownbear commented on #919
@alex-palevsky this is postponed

[2016-02-22 14:29] original-brownbear commented on #918
@dmzaytsev this was now discussed in #1001, but to properly summarize it here for the person dealing with it eventually:

* This hapens when the merge involves a rebase and it would have not been possible for the merge to be fast forwarded without that rebase.
 * Put differently, this happens when the commit hashes on the branch change due to the rebase.

# Fix must include:
The agree upon solutio

[2016-02-22 15:59] original-brownbear commented on #1013
@yegor256 before writing up the report here, anything you'd like to see handled with priority?

[2016-02-22 16:05] original-brownbear commented on #916
@sils1297 still interested in this ? :)

[2016-02-22 16:07] sils1297 commented on #916
Would be neat. We're unable to use rultor for releases though since we always need two version numbers (the one of the release and the one after as we're doing development releases). Thus we wouldn't use this feature indeed with our current setup.

[2016-02-22 16:09] original-brownbear commented on #916
@sils1297 thanks, lets not dismiss it then but prioritize it realistically :)

[2016-02-22 16:09] original-brownbear commented on #916
@alex-palevsky valid bug.

[2016-02-22 16:09] original-brownbear commented on #916
@alex-palevsky this is postponed.

[2016-02-22 16:13] original-brownbear commented on #906
@alex-palevsky this is postponed.

, as his depends on #942

[2016-02-22 16:17] original-brownbear commented on #904
@alex-palevsky this is postponed

[2016-02-22 19:13] original-brownbear commented on #901
@yegor256 since you asked, this is a result of output buffering occurring, since the containers are not ran in line buffered mode.
=> Output is dumped in 4096byte chunks.

Likely this can simply be fixed by running the container with the -t ( tty => line buffering) flag, but this needs to be investigated. Could be we have multiple spots where buffering can occur in the execution.

Pushed a small d

[2016-02-22 19:33] original-brownbear commented on #896
@alex-palevsky this is postponed

[2016-02-22 19:35] original-brownbear commented on #895
@alex-palevsky this is invalid.

[2016-02-22 19:37] original-brownbear commented on #885
@alex-palevsky this is postponed.

[2016-02-22 19:53] original-brownbear commented on #884
@yegor256 this is happening because we're piping output to `col` for example here and have the locale set to UTF-8:
[code]

If the output contains invalid utf-8 chars this error is hard to avoided unless we generally pipe Stderr to /dev/null or something ( and we really shouldn't suppress errors here imo :) ).
This should not be resolved in isolation but by a more stable interface to the Docker da

[2016-02-22 19:53] original-brownbear commented on #884
@alex-palevsky this is postponed.

[2016-02-22 21:21] original-brownbear commented on #876
@sils1297 I have reviewed this ticket and maybe this will help :)

Not really :) Think about it, all you really care about is what happens to your master branch. What changes would need to be applied to the feature branch to be merged in ... who cares ? :)
This is also what Github shows you. Easy example:
* Have a repo with many files and commits constantly coming in
* Ask someone to edit one file

[2016-02-22 21:21] original-brownbear commented on #876
@alex-palevsky this is invalid.

[2016-02-22 21:27] original-brownbear commented on #870
@sils1297 the rebase command is implemented in Rultor, as far as I can see #1016 and #918 describe all things currently considered problematic with the rebase command.
Unless you think there is something those two tickets leave out, could you please close this ? :)

[2016-02-22 21:27] sils1297 commented on #876
I currently have no time to do a discussion like this. We can keep it like this: rultor is not able to do the full CI integration which might e.g. include builds running on windows for technical reasons. If it would be able to do that it'd be able to replace the CI right?

This is not affecting the assessement and resolution of the bug though.

[2016-02-22 21:31] sils1297 commented on #870
I'd love this feature, if you don't want it you (or the maintainer?) should close it IMO.

[2016-02-22 21:33] sils1297 commented on #870
the rebase thing is actually more about https://github.com/yegor256/rultor/issues/877 , i.e. using rultor during PR review before merge

[2016-02-22 22:22] yegor256 commented on #884
@original-brownbear well, I thought that there are some tools in Linux, which can simply remove that invalid UTF characters from the stream. something like:

[code]

You think it's impossible to find such tools?

[2016-02-22 22:34] yegor256 commented on #901
@original-brownbear interesting catch! well, let's try the `-t` flag?

[2016-02-22 22:38] original-brownbear commented on #884
@yegor256 no actually that would just be [iconv](https://en.wikipedia.org/wiki/Iconv) :)
Sorry, this was somewhat pointless, converting to UTF-8 should be fine in all cases actually.
Forget I pinged you, yea I think for the time being implementing this with iconv is fine for sure.

[2016-02-22 22:40] #950 closed

[2016-02-22 22:40] yegor256 commented on #884
@original-brownbear yes, exactly, `iconv`. Let's do it.

[2016-02-22 22:41] original-brownbear commented on #901
@yegor256 yes, lets go for it :)

[2016-02-22 22:55] yegor256 commented on #1013
@original-brownbear nope, I don't have any priorities. maybe that problem with `col` is rather annoying (I see it in logs every day): #884 all the rest is not urgent

[2016-02-23 00:18] original-brownbear opened #1020 "Expose Docker API over HTTPS"
@yegor256 this one can only be handled/answered by you I fear.

Looking at the current open issues in Rultor, the Docker interaction is what is causing the bulk of serious stability issues. Also it appears Rultor is receiving very few PR's while many developers fail to complete tasks related to Docker. I think the solution to this is somewhat straight forward :)

We should if in any way possible (

[2016-02-23 00:19] original-brownbear commented on #1020
@alex-palevsky assign @yegor256 please.

[2016-02-23 01:38] original-brownbear opened #1021 "Clarify Plans For EC2 Tickets Given ECS GA"
@yegor256 I need some clarification on the product you want here :)

What I'd like to get out of this ticket is:
* Clarification of whether or not dynamically provisioning EC2 instances is a requirement still given that ECS is out.
* If it's not a requirement anymore and those tickets can be closed, clarification on whether or not ECS can be made a requirement instead.

# Background

Currently I s

[2016-02-23 01:38] original-brownbear commented on #1021
@alex-palevsky assign @yegor256 please :)

[2016-02-23 02:00] original-brownbear commented on #755
@alex-palevsky this is postponed

[2016-02-23 02:00] original-brownbear commented on #824
@alex-palevsky this is postponed

[2016-02-23 02:01] original-brownbear commented on #825
@alex-palevsky this is postponed

[2016-02-23 02:01] original-brownbear commented on #826
@alex-palevsky this is postponed

[2016-02-23 02:02] original-brownbear commented on #827
@alex-palevsky this is postponed

[2016-02-23 02:06] original-brownbear commented on #739
@yegor256 can you close this or is Rultor still experiencing this with the above fix?

[2016-02-23 04:01] original-brownbear commented on #1013
@yegor256 @alex-palevsky given that the last release was 1.57 on Aug 23, 2015 and the latest
pre-release is 1.61.3 already:
I would  go for 1.62 here, closing #884, #982, #960 and #901, in order to get back to release discipline asap.

# Report
I will provide scope status in a few hours, I thought the below should be reported asap though.
Especially risk 1. (given it introduces risk into all other

[2016-02-23 05:16] yegor256 commented on #1013
@original-brownbear looks perfect, many thanks!

[2016-02-23 05:19] yegor256 commented on #739
@original-brownbear haven't seen this for months... closing.

[2016-02-23 05:19] #739 closed

[2016-02-23 12:41] original-brownbear commented on #1015
@alex-palevsky this is a bug.

[2016-02-23 12:41] original-brownbear commented on #1018
@alex-palevsky this is valid.

[2016-02-23 12:43] original-brownbear commented on #884
@alex-palevsky assign me please.

[2016-02-23 12:43] original-brownbear commented on #901
@alex-palevsky assign me please.

[2016-02-23 12:56] original-brownbear commented on #870
@alex-palevsky this is invalid.

[2016-02-23 17:15] alex-palevsky commented on #981
@oruam85 there is no milestone yet, so I set it to `2.0`

[2016-02-23 17:15] alex-palevsky commented on #982
@dmzaytsev since the ticket has no milestone I set it to 2.0

[2016-02-23 17:15] alex-palevsky commented on #1016
@original-brownbear there is no milestone yet, so I set it to `2.0`

[2016-02-23 17:15] alex-palevsky commented on #1019
@original-brownbear since the ticket has no milestone I set it to 2.0

[2016-02-23 17:15] alex-palevsky commented on #755
@original-brownbear sure, thanks, I added "postponed" label to it

[2016-02-23 17:15] alex-palevsky commented on #755
@original-brownbear right, I'll try to find someone else for this task

[2016-02-23 17:15] alex-palevsky commented on #824
@original-brownbear thanks, I added "postponed" label

[2016-02-23 17:15] alex-palevsky commented on #824
@original-brownbear no problem, I will try to find somebody else

[2016-02-23 17:15] alex-palevsky commented on #825
@original-brownbear thanks, I added "postponed" label

[2016-02-23 17:15] alex-palevsky commented on #825
@original-brownbear someone else will help in this task, no problem at all

[2016-02-23 17:15] alex-palevsky commented on #826
@original-brownbear right, I added "postponed" label

[2016-02-23 17:15] alex-palevsky commented on #826
@original-brownbear I will try to find someone else

[2016-02-23 17:15] alex-palevsky commented on #827
@original-brownbear OK, I put "postponed" label here

[2016-02-23 17:15] alex-palevsky commented on #827
@original-brownbear right, I will find someone else, no problem

[2016-02-23 17:15] alex-palevsky commented on #781
@original-brownbear thanks, I added "postponed" label

[2016-02-23 17:15] alex-palevsky commented on #781
@original-brownbear OK, I will try to assign someone else

[2016-02-23 17:15] alex-palevsky commented on #884
@original-brownbear yep, it is yours, go ahead

[2016-02-23 17:15] alex-palevsky commented on #885
@original-brownbear OK, I put "postponed" label here

[2016-02-23 17:15] alex-palevsky commented on #885
@original-brownbear got it, someone else will be assigned soon

[2016-02-23 17:15] alex-palevsky commented on #896
@original-brownbear got it, "postponed" label here

[2016-02-23 17:15] alex-palevsky commented on #896
@original-brownbear someone else will help in this task, no problem at all

[2016-02-23 17:15] alex-palevsky commented on #906
@original-brownbear yep, got it, let's wait for #942 being solved

[2016-02-23 17:15] alex-palevsky commented on #919
@original-brownbear right, I added "postponed" label

[2016-02-23 17:15] alex-palevsky commented on #919
@original-brownbear no problem, I will try to find somebody else

[2016-02-23 17:15] alex-palevsky commented on #904
@original-brownbear sure, thanks, I added "postponed" label to it

[2016-02-23 17:15] alex-palevsky commented on #904
@original-brownbear I will ask somebody else to pick this up

[2016-02-23 17:15] alex-palevsky commented on #901
@original-brownbear yep, it is yours, go ahead

[2016-02-23 17:15] alex-palevsky commented on #1015
@original-brownbear tag bug added to this issue

[2016-02-23 17:15] alex-palevsky commented on #916
@original-brownbear added "bug" tag to this issue

[2016-02-23 17:23] alex-palevsky commented on #1013
@original-brownbear could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-02-23 17:25] original-brownbear commented on #1013
@alex-palevsky on it already :)

[2016-02-23 17:28] alex-palevsky commented on #982
@dmzaytsev thanks for the report, I topped your acc for 15 mins, payment ID `78370348`

[2016-02-23 22:44] original-brownbear commented on #884
Fix using iconv + integration test that reproduces the issue added in the PR.

[2016-02-23 22:45] original-brownbear commented on #1018
@alex-palevsky this is a bug.

[2016-02-23 23:39] original-brownbear commented on #897
@alex-palevsky this is invalid.

[2016-02-24 02:41] original-brownbear commented on #982
@alex-palevsky please assign me.

[2016-02-24 02:43] original-brownbear commented on #901
@yegor256 could you run the deploy on this one (#1023) ? :) , #982 still prevents me from doing that.

[2016-02-24 03:06] original-brownbear commented on #699
@alex-palevsky this is postponed.

[2016-02-24 03:09] original-brownbear commented on #993
@alex-palevsky this is invalid.

[2016-02-24 03:09] original-brownbear commented on #992
@alex-palevsky this is invalid.

[2016-02-24 03:11] original-brownbear commented on #821
@yegor256 ping :)

[2016-02-24 03:20] original-brownbear commented on #994
@alex-palevsky this is duplicate.

[2016-02-24 04:27] yegor256 commented on #821
@original-brownbear thanks!

[2016-02-24 05:03] yegor256 commented on #901
@rultor deploy

[2016-02-24 05:03] #993 closed

[2016-02-24 05:04] #992 closed

[2016-02-24 05:04] rultor commented on #901
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7248-188072764)

[2016-02-24 05:11] #994 closed

[2016-02-24 05:11] rultor commented on #901
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7248-188072764) (took me 7min)

[2016-02-24 05:12] #897 closed

[2016-02-24 05:18] #870 closed

[2016-02-24 10:28] dalifreire commented on #1019
@alex-palevsky Could you better explain what must be done?
I don't see any "planned features" list (I shouldn't just invent them myself, right?). The readme for est utility just assume that a developer knows what needs to be implemented.
Should I push the .est file to the project repository root directory?

[2016-02-24 10:50] original-brownbear commented on #901
@sils1297 can you try again ? This issue should be resolved now :)

[2016-02-24 10:53] sils1297 commented on #901
Hey, I don't have time to try it out, sorry.

[2016-02-24 11:00] original-brownbear commented on #901
@sils1297 no problem :), maybe you could still close this given #1023 has been merged and I think clearly lays out ( and has a screenshot :) ) how and why this fixes this issue ?

[2016-02-24 11:04] #901 closed

[2016-02-24 12:45] original-brownbear commented on #1018
@alex-palevsky this is a bug.

[2016-02-24 17:38] alex-palevsky commented on #916
@sils1297 I set the milestone to 2.0 since there is nothing set yet

[2016-02-24 17:38] alex-palevsky commented on #1015
@original-brownbear I set milestone here to `2.0`, let me know if it is wrong

[2016-02-24 17:38] alex-palevsky commented on #699
@original-brownbear thanks, I added "postponed" label

[2016-02-24 17:38] alex-palevsky commented on #699
@original-brownbear got it, someone else will be assigned soon

[2016-02-24 17:38] alex-palevsky commented on #1018
@original-brownbear tag "bug" added

[2016-02-24 18:07] original-brownbear commented on #982
@alex-palevsky assign me please :)

[2016-02-24 19:38] alex-palevsky commented on #1018
@original-brownbear I set milestone here to `2.0`, let me know if it is wrong

[2016-02-24 19:38] alex-palevsky commented on #982
@original-brownbear got it, "urgent" label here

[2016-02-24 19:38] alex-palevsky commented on #982
@original-brownbear done, the task is yours, go ahead

[2016-02-24 19:38] alex-palevsky commented on #982
@original-brownbear sure, it was yours before, go ahead

[2016-02-24 19:38] alex-palevsky commented on #916
@original-brownbear sure, thanks, I added "postponed" label to it

[2016-02-24 19:38] alex-palevsky commented on #916
@original-brownbear I will assign somebody else to this issue

[2016-02-24 19:43] original-brownbear commented on #982
Ok PR in for this one too :)

[2016-02-24 20:29] original-brownbear commented on #962
@alex-palevsky it is a valid bug.

[2016-02-24 20:29] original-brownbear commented on #962
@alex-palevsky this is postponed.

[2016-02-24 21:42] original-brownbear commented on #1013
@rultor release tag is `1.61.4`

[2016-02-24 21:43] rultor commented on #1013
@original-brownbear OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7275-188464578)

[2016-02-24 21:55] rultor commented on #1013
@alex-palevsky @original-brownbear Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7275-188464578) (spent 11min)

[code]

[2016-02-24 22:24] original-brownbear commented on #1013
@rultor release tag is 1.61.4

[2016-02-24 22:24] original-brownbear commented on #1013
@rultor release tag is `1.61.4`

[2016-02-24 22:27] rultor commented on #1013
@original-brownbear OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7275-188482176)

[2016-02-24 23:26] rultor commented on #1013
@original-brownbear Done! FYI, the full log is [here](http://www.rultor.com/t/7275-188482176) (took me 59min)

[2016-02-25 16:43] alex-palevsky commented on #1013
@original-brownbear thanks

[2016-02-25 16:43] alex-palevsky commented on #1019
@dalifreire Please, address these questions to the project architect: @original-brownbear  He should be able to help

[2016-02-25 16:43] alex-palevsky commented on #962
@original-brownbear tagged this issue with "bug"

[2016-02-25 16:47] dalifreire commented on #1019
@alex-palevsky Thanks!
@original-brownbear Could you help me with my above questions?

[2016-02-25 16:48] alex-palevsky commented on #905
@abdealijk I am closing it

[2016-02-25 16:48] #905 closed

[2016-02-25 16:50] alex-palevsky commented on #950
@gumbelmj I added **30 mins** to your account, many thanks for working with the project (AP-3KE69228FM386912K)! The completion time here was 723 hours and 35 mins.. added +30 to your rating, now it is equal to [-60](http://www.netbout.com/b/36306?open=rating)

[2016-02-25 16:50] alex-palevsky commented on #981
@vkuchyn can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [t

[2016-02-25 16:51] alex-palevsky commented on #981
@oruam85 thanks for this report, I added 15 mins to your account, in transaction `78545196`

[2016-02-25 17:46] alex-palevsky commented on #962
@jottr there is no milestone yet, so I set it to `2.0`

[2016-02-25 17:53] alex-palevsky commented on #901
@original-brownbear **45 mins** sent to your balance (ID `AP-1YD48006MS2809915`), many thanks! It took 24 hours and 22 mins.; there is a bonus for fast delivery (m=1462); +45 added to your rating, current score is: [+208](http://www.netbout.com/b/36646?open=rating)

[2016-02-25 17:53] alex-palevsky commented on #1016
@original-brownbear thanks for tis bug, I topped your account for 30 mins, transaction `AP-72795875FR219131U`

[2016-02-25 18:50] jottr commented on #962
If you'd be interested in a pull request, let me know, and I'll try and look into it, when I find the time.

[2016-02-25 18:51] original-brownbear commented on #962
@alex-palevsky this is postponed.

[2016-02-25 18:52] original-brownbear commented on #962
@jottr sure, why wouldn't we be ? :)

[2016-02-25 19:29] original-brownbear commented on #884
@yegor256 for this is merged, can you close this ? :)

[2016-02-25 20:17] original-brownbear commented on #960
@gumbelmj I'm sorry but this task has been with you for more than 10 days now.
Given that you did not address the criticism in the PR today and this is the last task missing for the next release, this cannot wait any longer.

[2016-02-25 20:17] original-brownbear commented on #960
@alex-palevsky assign me please.

[2016-02-25 21:06] original-brownbear commented on #1019
@dalifreire alright let me try to give you some input here :)

Easy part first, currently the estimates in other projects see [Qulice](https://github.com/teamed/qulice/tree/master/est) or [Takes](https://github.com/yegor256/takes/tree/master/est)  are placed in the etc sub-directory directly under the project root, same should be done here.

As for the content, pay attention to these points and es

[2016-02-25 21:08] gumbelmj commented on #960
@original-brownbear  I did not know this was holding up a release.  I will address the comments.

[2016-02-25 21:21] original-brownbear commented on #921
@alex-palevsky this is postponed

[2016-02-25 21:21] original-brownbear commented on #899
@alex-palevsky this is postponed

[2016-02-25 22:37] original-brownbear commented on #960
@gumbelmj as per [#16](http://at.teamed.io/policy.html#16) you had 10 days to complete this task, more than 10 days have passed now.
As per [#26](http://at.teamed.io/policy.html#26) it is my obligation to ensure no task becoming stuck.
In accordance with [#29](http://at.teamed.io/policy.html#29) my tool towards achieving this is asking to reassign issues.

You were given repeated advice in the PR

[2016-02-25 22:47] gumbelmj commented on #960
@original-brownbear I understand that it is within policy to reassign the issue.  At this moment I believe I have addressed all concerns.  I didn't realize how much time had elapsed.  I apologize.  In the future, I will pay more attention to that.

[2016-02-26 07:54] vkuchyn commented on #981
@original-brownbear Just to clarify scope of task. Correct me if I am wrong:
1. Create years.sh test file to ensure that all years are correct.
2. Add it to travis build
3. Change all licenses headers in project to current year 2016.
Can I just copy-paste years.sh, seems it should work for rultor

[2016-02-26 10:24] original-brownbear commented on #960
@gumbelmj I have addressed your PR, it is not acceptable for a wide number of reasons, see my comments there.

[2016-02-26 10:30] original-brownbear commented on #981
@vkuchyn sure as pointed out by @yegor256 above we are going for copying that solution,
so your plan is just fine.
Please make sure that it not only seems to, but actually does work though :)

[2016-02-26 10:59] yegor256 commented on #884
@original-brownbear thanks!

[2016-02-26 10:59] #884 closed

[2016-02-27 00:04] alxn commented on #999
@longtimeago @yegor256 and no wait to attach the core file, unless perhaps we uuencode it and send it to the log file, could be a **lot** of lines though, which may get truncated by the system iirc?

[2016-02-27 04:06] yegor256 commented on #999
@longtimeago that's why you need this:

[code]

This `||` will make sure the failure of `mvn` doesn't stop the script

[2016-02-27 11:30] original-brownbear commented on #1013
@alex-palevsky I need your help here :) , the only thing open and without a proper PR is #960 requiring action on your end.

[2016-02-27 14:09] original-brownbear commented on #982
@dmzaytsev fix for this was merged, can you close this please ? :)

[2016-02-27 14:22] longtimeago commented on #999
@yegor256 thanks, will try

[2016-02-27 14:27] dmzaytsev commented on #982
@original-brownbear sure

[2016-02-27 14:27] dmzaytsev commented on #982
@original-brownbear please release the fix

[2016-02-27 14:38] original-brownbear commented on #982
@rultor release tag is `1.61.5`

[2016-02-27 14:38] rultor commented on #982
@original-brownbear OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7335-189654039)

[2016-02-27 15:38] rultor commented on #982
@original-brownbear Done! FYI, the full log is [here](http://www.rultor.com/t/7335-189654039) (took me 59min)

[2016-02-27 15:42] original-brownbear commented on #982
@dmzaytsev damn not working, appears we also have some issue reading the architects from the .yml not only using that result, I fear you have to reopen here :/

[2016-02-27 15:43] dmzaytsev commented on #982
@original-brownbear no problem

[2016-02-27 16:51] vkuchyn commented on #981
@original-brownbear is there are some rule what files should contain copyright?
Qulice solution contains lots of exclusion. In rultor the same approach makes script too big and terrible.
I have an idea - check all files that contains line starts with `Copyright (c) 2009-*` and check last year. What do you think?

[2016-02-27 16:57] original-brownbear commented on #982
@rultor release tag is `1.61.6`

[2016-02-27 16:59] rultor commented on #982
@original-brownbear OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7335-189681894)

[2016-02-27 17:00] original-brownbear commented on #982
@dmzaytsev fixed trivial issue here with test + production code :/, should be good now though.

[2016-02-27 17:02] dmzaytsev commented on #982
@original-brownbear thanks,
it seems the test didn't test :)

[2016-02-27 17:12] original-brownbear commented on #981
@vkuchyn I think that's ok just be careful with white-space maybe.
You could also grep for lines that also contain rultor.com for example to lower the risk for that.
But I'm fully on board with constraining the result-set of this a little if you run into false positives, nothing else you can do :)

[2016-02-27 17:47] rultor commented on #982
@original-brownbear Done! FYI, the full log is [here](http://www.rultor.com/t/7335-189681894) (took me 48min)

[2016-02-27 17:51] original-brownbear commented on #982
@dmzaytsev check it out #1027 works fine now, tests have a more general issue here. Will add a ticket asap :)

[2016-02-27 17:56] krzyk commented on #981
@vkuchyn what exclusions do you have to do here? I see only base64, key, jekyl folder, and maybe svg files, Procfile. But the rest probably should have copyrights (*.sh, *.vm, *.txt, *.properties), unless I missed something.

[2016-02-27 17:59] dmzaytsev commented on #982
@original-brownbear it works now
thank you!

[2016-02-27 17:59] #982 closed

[2016-02-27 18:00] krzyk commented on #981
@vkuchyn also, I'm not sure if that's the responsibility of years.sh, but the one in qulice, will also find files that don't have copyright, but should have (like *.sh files, which don't have it in rultor)

[2016-02-27 18:11] vkuchyn commented on #981
@krzyk jekyl folder contains css/layout.css that have Copyright. As far as grep doesn't support negative lookahead - I need to exclude each folder except css. Will be something `egrep -v "(src/jekyl/_layout|src/jekyl/_plugins)"` and so on. The same situation with src/main/resources/com/rultor/agents. All files except github/qtn/status.xsl doesn't contains copyright

Probably that's good point, but

[2016-02-27 18:39] original-brownbear opened #1028 "com.rultor.agents.github.qtn.QnByArchitect Classname is misleading, its Test Cases are Meaningless"
This I learnt from #982.

# Problem

The constructor of `com.rultor.agents.github.qtn.QnByArchitect` looks like this:
[code]

It allows arbitrary input for the xpath to the architect login list read from the `.rultor.yml`.
This is not in tune with the name or description of the class, the xpath to the architect list in in the `Profile` is clearly given by `"/p/entry[@key='architect']/item/text()"`

[2016-02-27 18:39] original-brownbear commented on #1028
@alex-palevsky this is a bug.

[2016-02-28 03:47] vkuchyn commented on #981
@original-brownbear After year fixed, I got violation `/src/test/java/com/rultor/web/TkTicksTest.java[2]: Line does not match expected header line of ' * Copyright (c) 2009-2014, rultor.com'. (HeaderCheck)` How to fix it?

[2016-02-28 04:46] vkuchyn commented on #981
@original-brownbear I found it by myself - thanks.

[2016-02-28 05:19] vkuchyn commented on #981
@alex-palevsky fixed in #1029 need review

[2016-02-28 12:30] original-brownbear commented on #942
@guiandmag how's it going with this? Are you working/planning to work on this issue?
It's been 7 days since you were assigned to it and an issue of some importance and stuck for some time now as you can see.
I don't think it would benefit anyone if this timed out needlessly again.

[2016-02-28 12:34] original-brownbear commented on #1013
@alex-palevsky another thing:

We need to move the milestone 2.0. It has been overdue for months now. Extrapolating from the number of tickets being resolved lately and the number of open tickets, I suggest to move it 2 months into the future starting from today.

[2016-02-28 12:36] original-brownbear commented on #935
@jimdeanspivey  how's it going with this? Are you working/planning to work on this issue?
It's been 7 days since you were assigned to it and an issue of some importance and stuck for some time now as you can see.
I don't think it would benefit anyone if this timed out needlessly again.

[2016-02-28 12:51] alex-palevsky commented on #899
@original-brownbear right, I added "postponed" label

[2016-02-28 12:51] alex-palevsky commented on #899
@original-brownbear got it, someone else will be assigned soon

[2016-02-28 12:51] alex-palevsky commented on #921
@original-brownbear thanks, I added "postponed" label

[2016-02-28 12:51] alex-palevsky commented on #921
@original-brownbear I will ask somebody else to pick this up

[2016-02-28 12:51] alex-palevsky commented on #960
@original-brownbear OK, it is yours, please proceed

[2016-02-28 12:51] alex-palevsky commented on #981
@vkuchyn thanks

[2016-02-28 12:51] alex-palevsky commented on #962
@original-brownbear sure, thanks, I added "postponed" label to it

[2016-02-28 12:51] alex-palevsky commented on #962
@original-brownbear I will try to find someone else

[2016-02-28 12:51] alex-palevsky commented on #962
@original-brownbear "postponed" label already at this ticket

[2016-02-28 12:51] alex-palevsky commented on #962
@original-brownbear right, I'll try to find someone else for this task

[2016-02-28 12:52] alex-palevsky commented on #1028
@original-brownbear I added `bug` tag to this ticket

[2016-02-28 12:59] alex-palevsky commented on #1015
@original-brownbear thanks a lot for reporting, **30 mins** added to your acc, pmt ID `AP-7UH92031H0578253S`

[2016-02-28 14:25] alex-palevsky commented on #1028
@original-brownbear since there is no milestone yet I set it to "2.0"

[2016-02-28 14:30] alex-palevsky commented on #1018
@original-brownbear many thanks for the report, I topped your account for 30 mins, transaction AP-3E950352BE375454W

[2016-02-28 15:17] dalifreire commented on #1019
@original-brownbear Thanks!
@alex-palevsky Please, see PR #1030.

[2016-02-28 16:35] alex-palevsky commented on #1028
@original-brownbear thanks for tis bug, I topped your account for 30 mins, transaction `AP-93J43762NH546591Y`

[2016-02-28 22:35] original-brownbear commented on #876
@sils1297 sorry for taking so long to reply here.

Agreed, Rultor cannot replace CI for Windows, though [this](http://www.yegor256.com/2015/03/29/rultor-with-appveyor.html) offers a suggestion on how to combine CI + Rultor in this case.

But yes that's a different topic. Still I I think creating PRs is outside of the scope of the intentionally simple design of Rultor sorry. The above link though c

[2016-02-29 00:58] original-brownbear commented on #884
@alex-palevsky can you handle payment here please and close this for good :) ?

[2016-02-29 00:59] original-brownbear commented on #982
@alex-palevsky can you handle payment here please and close this for good :) ?

[2016-02-29 01:04] original-brownbear commented on #895
@sils1297 can you close this or is there anything left here ? :)

[2016-02-29 01:41] original-brownbear commented on #1018
@alex-palevsky this is urgent.

[2016-02-29 01:41] original-brownbear commented on #1013
@yegor256 @alex-palevsky
Release 1.62:
* ~~#884 closed and released~~
* ~~#982 closed and released~~
* #960 PR waiting for CR
* ~~#901 closed and released~~

## Issues
1.  Missing documentation #1018 is starting to cause first issues https://github.com/jcabi/jcabi-aether/issues/82, see risk 1. Will be addressed asap.
2. Developers fail tasks
3. Unstable Docker interaction due to ssh/bash/cli imple

[2016-02-29 09:01] sils1297 commented on #895
if you say it's invalid you should close it

[2016-02-29 09:01] #895 closed

[2016-02-29 09:56] original-brownbear opened #1032 "Implement .rultor.yml Validation, Remove Invalid Puzzle"
# Problem

We currently do not really validate the `.rultor.yml` file. This was a feature desired in #570 and led to the addition of the validation snippet in this code ( and some now ignored tests ) in [this PR](https://github.com/yegor256/rultor/pull/691/files):

[code]

There are a few problems here now:
* We still don't have YAML validation :)
* Using the Kwalify library is not a valid approac

[2016-02-29 09:56] original-brownbear commented on #1032
@alex-palevsky this is a bug.

[2016-02-29 09:57] original-brownbear commented on #699
@alex-palevsky this depends on #1032

[2016-02-29 13:15] original-brownbear commented on #669
@yegor256 ping :)

[2016-02-29 14:17] alex-palevsky commented on #699
@original-brownbear right, let's wait for #1032

[2016-02-29 14:17] alex-palevsky commented on #1018
@original-brownbear right, I added "urgent" label

[2016-02-29 14:18] alex-palevsky commented on #1032
@original-brownbear tag bug added to this issue

[2016-02-29 14:39] alex-palevsky commented on #884
@original-brownbear I added **30 mins** to your account, many thanks for working with the project (AP-3JC31476WM1809223)! The completion time here was 115 hours and 35 mins.... added +30 to your rating, now it is equal to [+368](http://www.netbout.com/b/36646?open=rating)

[2016-02-29 14:39] alex-palevsky commented on #982
@original-brownbear **30 mins** added to your account (payment number `AP-3AT32702HB2006512`), many thanks for your contribution! 89 hours and 11 mins spent here.; +30 to your rating, your total score is [+398](http://www.netbout.com/b/36646?open=rating)

[2016-02-29 14:56] dalifreire commented on #1019
@alex-palevsky PR was merged. Could you close this issue?

[2016-02-29 15:47] original-brownbear commented on #1020
@yegor256 nevermind, figured out a more portable and more secure way of handling https here!,
will link a ticket for that to associated bugs :)

[2016-02-29 15:47] #1020 closed

[2016-02-29 15:54] alex-palevsky commented on #1032
@original-brownbear since there is no milestone yet I set it to "2.0"

[2016-02-29 16:02] alex-palevsky commented on #1018
@gumbelmj this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-02-29 16:02] alex-palevsky commented on #1032
@original-brownbear thanks for the report, I topped your acc for 30 mins, payment ID `AP-0UT81441V1306624N`

[2016-02-29 16:48] yegor256 commented on #1013
@original-brownbear thanks for the update!

[2016-02-29 16:54] yegor256 commented on #669
@original-brownbear but it's not fixed, right? we don't have 20Gb storage quota now.

[2016-02-29 17:42] original-brownbear opened #1033 "Rultor Should Tag Docker Images on every Release"
This is coming from here:
https://github.com/jcabi/jcabi-aether/issues/82#issuecomment-190294161

Rultor should push tagged versions of its Dockerfile when pushing it's release tags to Github, so that stability for projects using Rultor's own Docker image is ensured.

I'm afraid this is a job for you @yegor256, as this requires a setting in Dockerhub, not coding in Rultor.
You need to add a build

[2016-02-29 17:42] original-brownbear commented on #1033
@alex-palevsky this is a bug.

[2016-02-29 17:42] original-brownbear commented on #1033
@alex-palevsky assign @yegor256 please.

[2016-02-29 18:51] alex-palevsky commented on #935
@original-brownbear done, the task is yours, go ahead

[2016-02-29 18:51] alex-palevsky commented on #1033
@original-brownbear tagged this issue with "bug"

[2016-02-29 19:31] alex-palevsky commented on #1033
@original-brownbear milestone set to `2.0` (correct me if I am wrong)

[2016-02-29 19:36] alex-palevsky commented on #1013
@original-brownbear there are a few issues by [par.33](http://at.teamed.io/policy.html#33):

 * some tasks are stuck: #828 (326 days), #829 (326 days), #830 (325 days), #832 (325 days), #773 (381 days), #806 (339 days), #818 (333 days), #864 (259 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * so

[2016-02-29 19:36] alex-palevsky commented on #1033
@original-brownbear thank you for reporting this, I added 30 mins to your acc, transaction `AP-7V504626V1926542G`

[2016-02-29 19:45] original-brownbear commented on #669
@yegor256 soory I fear I've misinterpreted this.

My understanding was that Docker 1.3.x broke the setting of a non-default `dm.basesize=20G` here.

This should be resolved in 1.9+ as far as I could research this.
But thinking about it now, likely you long gave up on setting this setting for the daemon right ? ...
Still I think simply setting this option now and restarting the Docker daemon should

[2016-02-29 20:02] original-brownbear commented on #1013
@alex-palevsky sorry, I feel the need to defend myself here :)

I asked you to move the milestone https://github.com/yegor256/rultor/issues/1013#issuecomment-189860019, I think this is the best I can do given that the milestone was already missed when I started as an architect here.

Not dispatched issues:
#669 asked to close this, now it may turn out this is still a valid issue but either way I t

[2016-02-29 21:53] original-brownbear commented on #935
@sils1297 fix for this has been merge in #1034, can we close here ? :)

[2016-02-29 22:21] sils1297 commented on #935
if you have a confirmed fix why not?

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-29 22:53 GMT+01:00 Armin Braun <notifications@github.com>:

[2016-02-29 22:42] original-brownbear commented on #935
@sils1297 I see no reason why not, it's simply policy to ask the person who created the issue to close it :)

[2016-02-29 22:56] sils1297 commented on #935
/me dislikes the policy as this'll keep him from filing potentially helpful bugs for you because at the end he actually has to invest time again.

[2016-02-29 22:56] #935 closed

[2016-03-01 03:04] yegor256 commented on #669
@original-brownbear I didn't understand what do you want me to do

[2016-03-01 09:20] original-brownbear commented on #669
@yegor256 sorry, just wanted you to try running the Docker daemon with the `--storage-opt dm.basesize=20G` flag :)

[2016-03-01 12:41] alex-palevsky commented on #1019
@dalifreire sure

[2016-03-01 12:41] alex-palevsky commented on #1033
@original-brownbear too many tasks (10) are active in the project already, can't assign new ones

[2016-03-01 13:23] original-brownbear commented on #935
@alex-palevsky can you close this one in my agenda please :) ?

[2016-03-01 17:01] alex-palevsky commented on #1019
@original-brownbear Closed, thanks all

[2016-03-01 17:01] #1019 closed

[2016-03-01 18:19] mkordas opened #1035 "Improve TravisCI configuration"
Current [`.travis.yml`](https://github.com/yegor256/rultor/blob/master/.travis.yml) is very basic and not efficient one.
I see the following issues:
- it should have `sudo: false` in order to make cache working
- installation phase (`install:`) should be explicitly empty, as we don't have any modules to be prepared
- estimates and puzzles should be checked by Travis
- there is no need to invoke `c

[2016-03-01 18:39] original-brownbear commented on #1035
@alex-palevsky this is a bug.

[2016-03-01 19:22] alex-palevsky commented on #1035
@original-brownbear added "bug" tag to this issue

[2016-03-02 05:00] yegor256 commented on #1033
@original-brownbear done:

<img width="1271" alt="screen shot 2016-03-01 at 8 59 49 pm" src="https://cloud.githubusercontent.com/assets/526301/13451086/9543263a-dff0-11e5-8174-a0bf14533187.png">

[2016-03-02 05:00] yegor256 commented on #1033
@original-brownbear let's test?

[2016-03-02 05:01] yegor256 commented on #669
@original-brownbear well, I run it like this:

[code]

I think it's better to provide all flag/params from rultor, instead of configuring Docker on the server. Since there are other project, which are using Docker. They may not need these settings.

[2016-03-02 05:01] original-brownbear commented on #1033
@yegor256 Sure :)

[2016-03-02 05:01] original-brownbear commented on #1033
@rultor release tag is `1.61.7`

[2016-03-02 05:03] rultor commented on #1033
@original-brownbear OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7415-191062678)

[2016-03-02 05:07] original-brownbear commented on #669
@yegor256 bad news then I fear, storage quote can only be set globally for the Docker daemon at this point. Per container settings are being implemented here https://github.com/docker/docker/issues/3804. If we only want this for some containers coming from Rultor we'll have to wait I fear.

[2016-03-02 06:01] rultor commented on #1033
@original-brownbear Done! FYI, the full log is [here](http://www.rultor.com/t/7415-191062678) (took me 58min)

[2016-03-02 06:03] original-brownbear commented on #1033
@yegor256 works :) https://hub.docker.com/r/yegor256/rultor/builds/ now builds by tag :)

[2016-03-02 06:04] #1033 closed

[2016-03-02 06:30] yegor256 commented on #669
@original-brownbear let's wait

[2016-03-02 06:30] original-brownbear commented on #669
@alex-palevsky this is a bug.

[2016-03-02 06:30] original-brownbear commented on #669
@alex-palevsky this is postponed.

[2016-03-02 06:30] yegor256 commented on #1033
@original-brownbear perfect!

[2016-03-02 13:16] alex-palevsky commented on #1035
@mkordas attached this issue to milestone "2.0" (let me know if this is wrong)

[2016-03-02 13:16] alex-palevsky commented on #669
@original-brownbear tag bug added to this issue

[2016-03-02 13:21] alex-palevsky commented on #935
@original-brownbear **1 hour** added to your account (payment number `AP-6EV75314K3469290X`), many thanks for your contribution! 17 hours and 49 mins spent here.; the bonus for fast delivery (m=1069); +60 to your rating, your total score is [+534](http://www.netbout.com/b/36646?open=rating)

[2016-03-02 13:21] alex-palevsky commented on #1035
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `56d6e8d43c541050b300042e`

[2016-03-02 13:54] original-brownbear commented on #942
@alex-palevsky assign me please.

[2016-03-02 14:37] alex-palevsky commented on #669
@yegor256 attached this issue to milestone "2.0" (let me know if this is wrong)

[2016-03-02 14:42] alex-palevsky commented on #669
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-59cec294

[2016-03-02 16:05] alex-palevsky commented on #942
@original-brownbear sure, the ticket is yours, go ahead

[2016-03-02 16:05] alex-palevsky commented on #669
@original-brownbear OK, I put "postponed" label here

[2016-03-02 16:06] alex-palevsky commented on #669
@original-brownbear I will assign somebody else to this issue

[2016-03-02 16:48] vkuchyn commented on #981
@oruam85 merged #1029, please close issue

[2016-03-02 22:42] oruam85 commented on #981
Closed

[2016-03-02 22:42] #981 closed

[2016-03-03 08:12] mkordas opened #1037 "Gemfile became outdated"
All dependency versions should be locked in and explicitly specified.

The issue currently blocking merges.

Log:
[code]

[2016-03-03 08:12] original-brownbear commented on #1037
@alex-palevsky this is a bug.

[2016-03-03 08:13] original-brownbear commented on #1037
@alex-palevsky this is urgent.

[2016-03-03 08:13] original-brownbear commented on #1037
@alex-palevsky assign me please.

[2016-03-03 08:50] original-brownbear opened #1039 "Rultor Uses the Target Branch's .rultor.yml on Merges"
Currently we have a situation where pull requests like e.g. #1038 can get stuck in a manner Rultor users cannot resolve without manually intervening in their master branch.

# The problem is this:
We are currently reading the `.rultor.yml` from the master branch, not the fork branch.
This means that whatever changes a user makes to the `.rultor.yml` will not affect the run to merge those changes,

[2016-03-03 08:51] original-brownbear commented on #1039
@alex-palevsky this is a bug.

[2016-03-03 10:10] sils1297 commented on #1003
FWIW we're trying to merge a PR desperately since a day about... https://github.com/coala-analyzer/coala-quickstart/pull/1 we tried merging like ten times and always get the CID error.

[2016-03-03 10:11] sils1297 commented on #1003
oh sorry that one is our problem

[2016-03-03 10:11] #1003 closed

[2016-03-03 10:11] sils1297 commented on #1003
though the error messae below our error message is confusing

[2016-03-03 14:07] alex-palevsky commented on #1039
@original-brownbear I tagged this as "bug"

[2016-03-03 14:07] alex-palevsky commented on #1037
@original-brownbear tag bug added to this issue

[2016-03-03 16:17] alex-palevsky commented on #1037
@mkordas attached this issue to milestone "2.0" (let me know if this is wrong)

[2016-03-03 16:17] alex-palevsky commented on #1039
@original-brownbear since the ticket has no milestone I set it to 2.0

[2016-03-03 16:22] alex-palevsky commented on #1039
@original-brownbear many thanks, **30 mins** added to your acc for reporting this bug, pmt ID `AP-6YF16319TE2785433`

[2016-03-03 17:19] original-brownbear commented on #942
@Suseika am I right to assume that this is not happening anymore for you with the workaround turning off image deleting applied in here 7c874cb7cd06360fcab58c8c23ecff4e27657676 back in October?
If so could you please close this ? :)

We can simply continue with #906 then and handle the disk space issue from not deleting images there.

[2016-03-03 17:41] #942 closed

[2016-03-03 19:02] alex-palevsky commented on #1037
@original-brownbear thanks, I added "urgent" label

[2016-03-03 19:02] alex-palevsky commented on #1037
@original-brownbear yep, it is yours, go ahead

[2016-03-03 19:05] alex-palevsky commented on #906
@dmzaytsev impediment in issue #942 is closed, we can probably try to continue here

[2016-03-03 19:05] alex-palevsky commented on #1037
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `56d88b05ae4b9833310003c7`

[2016-03-03 21:44] original-brownbear commented on #898
@alex-palevsky this is postponed.

[2016-03-04 00:16] gumbelmj commented on #1018
@alex-palevsky  please assign to someone else

[2016-03-04 10:22] original-brownbear commented on #1037
@mkordas can you close this?, evidently fixed now :)

[2016-03-04 11:19] #1037 closed

[2016-03-04 11:37] original-brownbear commented on #960
@dmzaytsev alright, merged at last after a million delays :) Could you close here please ?

[2016-03-04 11:41] original-brownbear commented on #1013
@rultor release tag is `1.61.8`

[2016-03-04 11:42] rultor commented on #1013
@original-brownbear OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7275-192247442)

[2016-03-04 11:49] rultor commented on #1013
@alex-palevsky @original-brownbear Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7275-192247442) (spent 7min)

[code]

[2016-03-04 12:02] original-brownbear commented on #1039
@alex-palevsky this is urgent.

[2016-03-04 12:21] original-brownbear commented on #1013
@rultor release tag is `1.61.8`

[2016-03-04 12:21] rultor commented on #1013
@original-brownbear OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7275-192259232)

[2016-03-04 12:29] alex-palevsky commented on #898
@original-brownbear thanks, I added "postponed" label

[2016-03-04 12:29] alex-palevsky commented on #898
@original-brownbear right, I will find someone else, no problem

[2016-03-04 12:30] alex-palevsky commented on #1018
@gumbelmj I deducted 30 points from your rating

[2016-03-04 12:30] alex-palevsky commented on #1018
@gumbelmj no problem, I will try to find somebody else

[2016-03-04 12:35] alex-palevsky commented on #917
@dskalenko could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-03-04 12:35] alex-palevsky commented on #918
@vkuchyn This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [

[2016-03-04 12:38] dskalenko commented on #917
@alex-palevsky Yes, I am on it

[2016-03-04 13:15] rultor commented on #1013
@original-brownbear Done! FYI, the full log is [here](http://www.rultor.com/t/7275-192259232) (took me 53min)

[2016-03-04 13:36] original-brownbear commented on #876
@alex-palevsky please close this one.

[2016-03-04 13:37] original-brownbear commented on #829
@alex-palevsky this is postponed

[2016-03-04 13:37] original-brownbear commented on #828
@alex-palevsky this is postponed.

[2016-03-04 13:37] original-brownbear commented on #832
@alex-palevsky this is postponed.

[2016-03-04 13:53] original-brownbear commented on #1010
@alex-palevsky this depends on #1039

[2016-03-04 14:40] alex-palevsky commented on #828
@original-brownbear sure, thanks, I added "postponed" label to it

[2016-03-04 14:40] alex-palevsky commented on #828
@original-brownbear no problem, I will try to find somebody else

[2016-03-04 14:40] alex-palevsky commented on #829
@original-brownbear got it, "postponed" label here

[2016-03-04 14:40] alex-palevsky commented on #829
@original-brownbear all right, we'll find someone else for this task

[2016-03-04 14:40] alex-palevsky commented on #832
@original-brownbear right, I added "postponed" label

[2016-03-04 14:40] alex-palevsky commented on #832
@original-brownbear OK, I will try to assign someone else

[2016-03-04 14:40] alex-palevsky commented on #1039
@original-brownbear right, I added "urgent" label

[2016-03-04 14:46] alex-palevsky commented on #981
@vkuchyn Much obliged! I have added **30 mins** to your account in payment "79299991", 165 hours and 18 mins spent

+30 added to your rating, current score is: [+150](http://www.netbout.com/b/36353?open=rating)

[2016-03-04 14:46] alex-palevsky commented on #1018
@sebing help us, the task is yours

[2016-03-04 16:38] sebing commented on #1018
@original-brownbear Can you give some clarity in the work to be done?
- What to make multiline?
- Should I modify com.rultor.agents.docker.DockerExec to throw an exception if it is the default image(i have to figure it out what the mean myself)?

[2016-03-04 16:48] alex-palevsky commented on #1010
@original-brownbear right, let's wait for #1039

[2016-03-04 16:54] alex-palevsky commented on #1039
@vkuchyn you may proceed, it's yours

[2016-03-04 16:59] original-brownbear commented on #1018
@sebing sure, let my try to give a proper answer here :)

**What to make multiline?**
Just the notice at the bottom of a Rultor build, like say we look at this example log:
[code]
and assume the user had either no image or the `yegor256/rultor` image specified for his build in the `.rultor.yml`. Then the log should get a multi-line note appended, telling him that this is a "deprecated thing" to do

[2016-03-04 17:53] original-brownbear commented on #1037
@alex-palevsky can you close this in my agenda please ? :)

[2016-03-04 17:56] dmzaytsev commented on #960
@original-brownbear sure :)
thank you

[2016-03-04 17:56] #960 closed

[2016-03-04 17:58] original-brownbear commented on #1013
@yegor256 Release `1.61.8` contains all agreed upon issue's fixed and the issues are closed.
I think we're done here right ?

[2016-03-04 19:52] alex-palevsky commented on #942
@original-brownbear Thanks for your contribution, **45 mins** was added to your account, payment ID is `AP-1DK486132C746364R`, 26 hours and 55 mins spent total. m=1615, that's why a bonus here for fast delivery. added +45 to your rating, now it is equal to [+619](http://www.netbout.com/b/36646?open=rating)

[2016-03-04 20:56] sebing commented on #1018
@original-brownbear
Thank you for the help. I think, I have a better understanding now.

- For the Deprecation Notice
Should I hardcode the details in `com/rulto/agents/daemons/end.sh`? And assuming `{image}` variable is set?

-Deprecating the default image.
`com/rultor/agents/req/_head.sh` If the `{image}` variable is `yegor256/rultor` i will echo a waring message?

[2016-03-04 21:00] original-brownbear commented on #1018
@sebing I think it would be best to put the logic for adding the notice into the Java code and just using and actually printing it from there. If we put it in bash it's a lot trickier to add a proper test for this.

[2016-03-04 22:25] sebing commented on #1018
@original-brownbear I don't understand. The logger output is not in the output of rultor log

[2016-03-04 22:29] original-brownbear commented on #1018
@sebing true, but sorry if this was unclear I did not refer to the logger :)
I think it's best of you give this a look too https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/daemons/Tail.java, this is the code that produces the output that Rultor always links to :)

[2016-03-05 06:18] yegor256 commented on #1013
@original-brownbear yes, we're good

[2016-03-05 06:18] yegor256 commented on #1013
@alex-palevsky mark release  1.61.8 as final

[2016-03-05 08:48] AbdealiJK opened #1041 "Cannot connect to the Docker daemon"
I'm trying to run rultor on a new repo I created. I was using it fine a while back some bare bones settings. I then added a custom docker container (The one we use for coala) and I keep getting an error.

I seem to be getting the following error continuously:
[code]

You can see the full log at http://www.rultor.com/t/7510-192608320
The PR with the issue https://github.com/AbdealiJK/pycolorname/pu

[2016-03-05 10:13] AbdealiJK commented on #1041
Seems to be happening in coala too https://github.com/coala-analyzer/coala-bears/pull/152#issuecomment-192614910

[2016-03-05 10:38] sebing commented on #1018
@original-brownbear hmm... It is pretty confusing.
- In Tail.java the read method is returning an InputStream, is this stream is what we get in the output?(how is it possible for an inputstream in the output) may be I am not understanding the design at all.

- I see, `EndsDaemon` is responsible for the tail part of the message. It execute the `end.sh` so I felt the logic should somewhere here :)

[2016-03-05 11:07] original-brownbear commented on #1041
@AbdealiJK it looks like this has nothing to do with the use of a custom image. The Docker daemon on Rultor seems to be down, I'm on it.

[2016-03-05 11:09] original-brownbear commented on #1041
@yegor256 Docker is down on the Rultor server, please restart the Daemon as soon as you can.

[2016-03-05 11:25] yegor256 commented on #1041
@original-brownbear restarted. would be great to create a mechanism of automatic restarting...

[2016-03-05 11:27] original-brownbear commented on #1018
@sebing well you got it exactly right :)

* Tail gives us the stream that is then html formatted and all that up the stack.
*  `com.rultor.agents.daemons.EndsDaemon#end` eventually produces the output, we're looking to hook into => go right ahead and handle it there :)

[2016-03-05 11:33] original-brownbear commented on #1041
@yegor256 agreed, I'm on it.

[2016-03-05 11:33] original-brownbear commented on #1041
@alex-palevsky this is a bug.

[2016-03-05 11:33] original-brownbear commented on #1041
@alex-palevsky assign me please.

[2016-03-05 11:42] sebing commented on #1018
@original-brownbear Thanks again for the direction.

Still I have not understood how or who holds the output in Java :(

[2016-03-05 12:16] original-brownbear commented on #1018
@sebing first off :) read this: http://www.yegor256.com/2015/01/15/how-to-cut-corners.html ,
as you can see this discussion has turned way too long and is not in line with the way we work.
In fact it hurts you the most, asking me for advice on the details of the implementation is not something that is rewarded, providing a clear and productive request for documentation on the other hand is clearly

[2016-03-05 13:45] AbdealiJK opened #1042 "rultor not timing out"
Hey,

I was testing some functionality on rultor and forgot to add the `-y` flag in apt-get. Because of this, apt-get inside rultor asked for a prompt and got stuck.
Logs: http://www.rultor.com/t/7510-192639053
PR: https://github.com/AbdealiJK/pycolorname/pull/15#issuecomment-192639066

I tried aborting it with the rultor commands, but it didnt seem to work. I then manually pushed the changs to ma

[2016-03-05 14:16] original-brownbear commented on #1042
@AbdealiJK there actually is a timeout of 2h imposed.
But I agree, we should have a timeout in case of no output for 15 minutes.
Another issue here is that the stop command appears broken, we already have a ticket for this here #864.

Whoever handles this, please implement a **15 minute timeout** killing a build **when not output is received for 15 minutes**. Travis in fact does the exact same as

[2016-03-05 14:16] original-brownbear commented on #1042
@alex-palevsky this is a bug.

[2016-03-05 14:17] original-brownbear commented on #864
@alex-palevsky this is urgent.

[2016-03-05 14:27] original-brownbear commented on #960
@alex-palevsky can you close ? This is still open in my agenda, thanks :)

[2016-03-05 20:08] original-brownbear commented on #1041
@yegor256 made a restarter, but on second thought, maybe we can do this in a significantly more stable way ...
As far as I can see the current EC2 instance runs Docker via Systemd, so can't we just do this?
............
Put the line:
[code]
inside of `[service]` section of `/etc/systemd/system/docker.service`.
............
=> if this is possible, I think it's a lot more stable and easier to mainta

[2016-03-06 12:18] alex-palevsky commented on #864
@original-brownbear right, I added "urgent" label

[2016-03-06 12:18] alex-palevsky commented on #1013
@yegor256 right, release 1.61.8 is set to "final"

[2016-03-06 12:18] alex-palevsky commented on #1042
@original-brownbear I added `bug` tag to this ticket

[2016-03-06 12:18] alex-palevsky commented on #1041
@original-brownbear tag "bug" added

[2016-03-06 12:25] alex-palevsky commented on #960
@original-brownbear **30 mins** sent to your balance (ID `AP-43453076WK620521H`), many thanks! It took 126 hours and 55 mins.. +30 added to your rating, at the moment it is: [+812](http://www.netbout.com/b/36646?open=rating)

[2016-03-06 12:25] alex-palevsky commented on #1013
@original-brownbear please, pay attention to this ([par.33](http://at.teamed.io/policy.html#33)):

 * some tasks are stuck: #830 (330 days), #773 (385 days), #806 (343 days), #818 (337 days), #864 (263 days), #869 (261 days), #906 (225 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * these issues

[2016-03-06 12:25] alex-palevsky commented on #1037
@original-brownbear **1 hour** added to your account (payment number `AP-9CV61555ET713041W`), many thanks for your contribution! 17 hours and 27 mins spent here.

m=1047, that's why a bonus here for fast delivery

+60 added to your rating, at the moment it is: [+872](http://www.netbout.com/b/36646?open=rating)

[2016-03-06 12:39] original-brownbear commented on #1013
@alex-palevsky please move milestone 2.0 to April 28th.

[2016-03-06 13:42] original-brownbear commented on #876
@alex-palevsky please close this issue.

[2016-03-06 14:01] alex-palevsky commented on #1041
@abdealijk since there is no milestone yet I set it to "2.0"

[2016-03-06 14:01] alex-palevsky commented on #1042
@abdealijk attached this issue to milestone "2.0" (let me know if this is wrong)

[2016-03-06 14:01] alex-palevsky commented on #1013
@original-brownbear sure, milestone set to 2.0

[2016-03-06 14:02] alex-palevsky opened #1043 "1.62"
Please, publish a new release **1.62** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2016-03-06 14:05] alex-palevsky commented on #1043
@original-brownbear the task is yuors

[2016-03-06 14:17] vkuchyn opened #1044 "Test case TailITCase failure"
After cloning project, running build script get next error
[code]
Do you have any suggestions?
Run on environment:
Java version: 1.8.0_60, vendor: Oracle Corporation
OS name: "mac os x", version: "10.10.5", arch: "x86_64", family: "mac"
Apache Maven 3.2.5 (12a6b3acb947671f09b81f49094c53f426d8cea1; 2014-12-14T22:59:23+05:30)

[2016-03-06 14:25] original-brownbear commented on #1044
@vkuchyn this is coming from the fact that this test is using http://ssh.jcabi.com/apidocs-1.5.2/index.html , which unfortunately only works on Linux as documented under that link.
I think your best bet for building this on a Mac is to simply install docker toolbox and run the build in via Docker or use Virtualbox + a Linux guest install.

[2016-03-06 14:34] vkuchyn commented on #1044
@original-brownbear thanks

[2016-03-06 14:34] #1044 closed

[2016-03-06 14:53] vkuchyn commented on #1039
@original-brownbear I have a question:
**authentication purposes** listed in section assets. Am I correct?

[2016-03-06 15:15] original-brownbear commented on #1039
@vkuchyn no, check last line in the issue description, made it clearer :)

[2016-03-06 16:10] alex-palevsky commented on #1043
@original-brownbear I set the milestone to 2.0 since there is nothing set yet

[2016-03-06 16:10] alex-palevsky commented on #1041
@original-brownbear the task is yours, please proceed

[2016-03-06 16:20] alex-palevsky commented on #864
@xupyprmv you may proceed, it's yours

[2016-03-06 17:12] original-brownbear commented on #1013
@alex-palevsky please close this, it's still open in my agenda :)

[2016-03-06 18:16] vkuchyn commented on #1039
@original-brownbear thanks. I have another questions about implementation.
As I understood design - class Routine triggers active talks (I suggest, this is comments to rultor collaborator in PR), creates profile based on it and run chain of agents to implement rultor logic. Correct me if I am wrong.
On the step of profile creation ([see source file](https://github.com/vkuchyn/rultor/blob/464f29126

[2016-03-06 18:43] original-brownbear commented on #1039
@vkuchyn phew :) tricky questions, but actually I think you got pretty far with this already, let me say this:
**we create profile based on fork. If it is so - first clause of issue is already done.**

=> Take a good look at the linked PR here: https://github.com/yegor256/rultor/pull/1038/files
... evidently this is not working :), seems to me this is likely a very trivial and easy to reproduce vi

[2016-03-06 18:47] alex-palevsky commented on #1013
@original-brownbear I will close it when there is a new release published

[2016-03-06 18:56] original-brownbear commented on #1013
@alex-palevsky Sorry I don't understand `1.61.8` was marked as final and I already have #1043 open for the next release.
What action do I need to take here?

[2016-03-06 19:29] yegor256 commented on #1041
@original-brownbear yes, we can add that line there. but imagine a situation where a new EC2 instance is created. it won't have that line. and we will have this issue again. we need some check to be built-in into rultor, which will, for example, fail the build if that line is absent. in that case, we will discover the problem right after we start a new EC2 machine.

[2016-03-06 22:38] original-brownbear commented on #1041
@yegor256 I agree that Rultor should handle setting up and checking the health of the EC2 instance,
but one issue with the current is that it requires a very stable EC2 instance environment.
What if the next EC2 instance you set up for Rultor has a slight change to the systemd setup and we'll end up in the same spot regardless?

I think talking about the next EC2 instance we actually have two bett

[2016-03-07 11:33] sebing commented on #1018
@alex-palevsky The rultor project needs some documentation for the new guys jump into the project. At least a high level flow diagram.

[2016-03-07 11:44] sebing commented on #1018
@alex-palevsky I am trying to find a way to get the image in the `com.rultor.agents.daemons.EndsDaemon` and I cannot find any documentation for it. And I cannot understand the flow too. So can we create a task for creating documentation for this project?

[2016-03-07 11:48] original-brownbear commented on #1018
@sebing making tickets is not @alex-palevsky 's job, that's on me and you :)
I think #754 is what you're looking for here in general, obviously this one is a very general task and hence postponed for the time being.

I suggest creating a more specific issue asking for documentation on a certain area of Rultor, this is something that can be provided in a reasonable timeframe and everyone wins :)
In

[2016-03-07 11:48] #1021 closed

[2016-03-07 11:49] original-brownbear commented on #876
@alex-palevsky please close here :)

[2016-03-07 11:50] original-brownbear commented on #1043
@alex-palevsky please set the due date for milestone 2.0 to April 28th 2016.

[2016-03-07 11:53] original-brownbear commented on #830
@alex-palevsky this is postponed.

[2016-03-07 11:54] original-brownbear commented on #906
@alex-palevsky this is postponed.

[2016-03-07 11:55] original-brownbear commented on #869
@alex-palevsky this is postponed.

[2016-03-07 12:22] alex-palevsky commented on #917
@dskalenko thanks

[2016-03-07 13:24] alex-palevsky commented on #830
@original-brownbear OK, I put "postponed" label here

[2016-03-07 13:24] alex-palevsky commented on #830
@original-brownbear I will try to find someone else

[2016-03-07 13:24] alex-palevsky commented on #869
@original-brownbear OK, I put "postponed" label here

[2016-03-07 13:24] alex-palevsky commented on #869
@original-brownbear got it, someone else will be assigned soon

[2016-03-07 13:24] alex-palevsky commented on #906
@original-brownbear got it, "postponed" label here

[2016-03-07 13:24] alex-palevsky commented on #906
@original-brownbear all right, we'll find someone else for this task

[2016-03-07 13:25] alex-palevsky commented on #1043
@original-brownbear I set the milestone here to 2.0

[2016-03-07 14:55] sebing commented on #1018
@original-brownbear Thanks for the information, I will keep them in mind.

[2016-03-07 14:56] sebing commented on #1018
@alex-palevsky  I have made a PR(https://github.com/yegor256/rultor/pull/1045)

[2016-03-07 15:23] alex-palevsky commented on #1013
@original-brownbear Closing..

[2016-03-07 15:23] #1013 closed

[2016-03-07 15:26] alex-palevsky commented on #1013
@original-brownbear **31 mins** was added to your account, many thanks for your contribution (payment AP-33L476332W905053B)! The task took 284 hours and 43 mins.. here is how the bonus is calculated: t=4604, c=228, h=3833, diff=1.57..master. +31 added to your rating, at the moment it is: [+903](http://www.netbout.com/b/36646?open=rating)