[2018-05-28 10:13] 0crat commented on #1261
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-28 12:45] yegor256 commented on #1261
@nikialeksey this is a valid concern, but we can't really do anything with this. It's just a bash script. You should find a way to prevent this from happening somehow, inside your script. Any ideas?

[2018-05-28 13:31] nikialeksey commented on #1261
May be add some replace processing like logback [replacing](https://logback.qos.ch/manual/layouts.html#replace) on stdout?

[2018-05-30 02:06] StuporHero opened #1262 "Rultor is confused after repository rename"
I have a private repository which I set up with rultor. I was working on my .rultor.yml config and noticed that I misspelled a word in the name of my repository, so I changed the name of the repository itself to match the correct spelling. This seems to have trapped rultor. Checkout [issue #1](https://github.com/sunsofterp/enterprise-appliance-cookbook/issues/1) to see what I mean (I've already ad

[2018-05-30 07:08] 0crat commented on #1262
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-30 07:37] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-05-30 20:19] yegor256 commented on #1262
@StuporHero it seems that this problem is caused by that, but I'm not sure:

[code]

[2018-05-30 20:33] StuporHero commented on #1262
@yegor256 I did notice that every response that I was getting from rultor in that ticket I linked had that same value, but I'm not sure what caused that or what to do about it. I did try talking to him from another ticket, but he did not respond at all.

[2018-05-30 20:42] yegor256 commented on #1262
@StuporHero he is dead now. I'm fixing it... can't understand what's going on, some data duplication.

[2018-05-30 20:57] yegor256 commented on #1262
@rultor release, tag is `1.67.4`

[2018-05-30 20:58] rultor commented on #1262
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14708-393316746)

[2018-05-30 21:01] yegor256 commented on #1262
@StuporHero I think it's fixed, can you please check?

[2018-05-30 21:58] rultor commented on #1262
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14708-393316746) (took me 57min)

[2018-05-31 02:26] StuporHero commented on #1262
@yegor256 Looks good to me!

[2018-05-31 02:26] #1262 closed

[2018-05-31 02:42] 0crat commented on #1262
The job is not in WBS, won't close the order

[2018-06-02 14:29] g4s8 opened #1263 "Rultor "commanders" section is not working"
I'm specified in `commanders` section in [.rultor.yml](https://github.com/zerocracy/farm/blob/master/.rultor.yml#L41) in `release` command, but Rultor doesn't listen me: https://github.com/zerocracy/farm/pull/1065#issuecomment-394090991 when I ask to release.

[2018-06-02 14:29] 0crat commented on #1263
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-02 14:29] 0crat commented on #1263
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-04 10:36] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-04 20:11] yegor256 commented on #1263
@g4s8 still an issue?

[2018-06-05 18:48] g4s8 commented on #1263
@yegor256 it's not an issue for me now, but I think this bug still exist.

[2018-06-09 11:36] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-14 12:36] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-19 18:38] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-24 23:37] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-07-09 09:21] krzyk opened #1264 "PR by architect merge shouldn't require confirmation by architect"
Situation:
* architect makes a PR
* reviewer reviews and accepts it by issuing a command `@rultor merge`
* rultor asks architect for confirmation.

Example: https://github.com/zerocracy/farm/pull/1369#issuecomment-403413369

In such case rultor should NOT ask architect to confirm his own PR, as it adds needles work on both architect and rultor.

[2018-07-09 09:21] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-09 09:21] 0crat commented on #1264
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-09 14:52] yegor256 opened #1265 "announce releases in Telegram"
Just like we do it on Twitter, let's announce them in Telegram chats/groups. Repo owner should be able to configure the name of the group in `.rultor.yml`.

[2018-07-09 16:35] emilianodellacasa opened #1266 "Rultor fails with odd error message"
After trying to merge a PR https://github.com/zold-io/zold/pull/336, Rultor fails with following error message:

"Your Ruby version is 2.3.3, but your Gemfile specified >= 2.3.3"

just after a _bundle install_ command

I don't understand whether this is a Rultor bug, on my machine the same command works fine and the error message is quite odd.

This is the full log http://www.rultor.com/t/15277-40

[2018-07-09 16:35] 0crat commented on #1266
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-09 16:35] 0crat commented on #1266
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-09 17:11] yegor256 commented on #1266
@emilianodellacasa definitely not a problem with Rultor. You can try to run the build in Docker container that is used by Rultor and the problem will be reproduced.

[2018-07-09 17:11] #1266 closed

[2018-07-09 17:30] 0crat commented on #1266
The job is not in WBS, won't close the order

[2018-07-09 17:30] 0crat commented on #1266
Job `gh:yegor256/rultor#1266` is not assigned, can't get performer

[2018-07-10 07:12] 0crat commented on #1264
Job [#1264](https://github.com/yegor256/rultor/issues/1264) is now in scope, role is `DEV`

[2018-07-10 07:13] 0crat commented on #1265
Job [#1265](https://github.com/yegor256/rultor/issues/1265) is now in scope, role is `DEV`

[2018-07-10 07:13] 0crat commented on #1264
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-10 07:15] 0crat commented on #1265
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-11 15:34] emilianodellacasa opened #1267 "Rultor fails merging when Gemfile has an operator"
In the pull request https://github.com/zold-io/zold/pull/336 an operator is used inside Gemfile to specify that ruby versions >= 2.3.3 are accepted.

I have tried both the ">=" and the "~>" operators, both should be accepted like shown in this article: https://www.devalot.com/articles/2012/04/gem-versions.html

However, as it can be seen in the PR, both are not accepted by rultor that fails with f

[2018-07-11 15:34] 0crat commented on #1267
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-11 15:34] 0crat commented on #1267
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-12 07:47] emilianodellacasa commented on #1267
@yegor256 Unfortunately, my knowledge on Docker is quite limited, but what I see here is that Travis can understand operators in Gemfile and Rultor (on Docker) cannot.

This is what I would do:
1) check bundler version on Docker and updating if necessary;
2) try another version of ruby on Docker;

[2018-07-13 20:06] 0crat commented on #1264
The job [#1264](https://github.com/yegor256/rultor/issues/1264) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C3SAYRPH9/1942005001); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not c

[2018-07-13 20:59] 0crat commented on #1265
The job [#1265](https://github.com/yegor256/rultor/issues/1265) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C3SAYRPH9/1942058003); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not c

[2018-07-18 06:45] yegor256 commented on #1267
@emilianodellacasa you are right, but all of that is outside of Rultor scope. Rultor just starts a Docker container we tell it to start. What happens inside the container -- Rultor can't affect.

[2018-07-18 06:45] #1267 closed

[2018-07-18 07:01] 0crat commented on #1267
Job `gh:yegor256/rultor#1267` is not assigned, can't get performer

[2018-07-18 07:01] 0crat commented on #1267
The job is not in WBS, won't close the order

[2018-07-18 21:44] 0crat commented on #1264
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-18 21:44] 0crat commented on #1265
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-21 17:16] driver733 opened #1268 "Variables in rultor script"
I am unable to use variable that are resolved (using inner statements) in rultor script. It is hard to write commands without variables at all.

[Log](https://github.com/driver733/VKUploader/pull/290#issuecomment-406810162)

.rultor.yml
[code]
Error log.
[code]

[2018-07-21 17:16] 0crat commented on #1268
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-21 17:16] 0crat commented on #1268
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-21 17:57] driver733 opened #1269 "merge conflict - false positive"
rultor raises a merge conflict, although there are none (github allows to auto merge using web interface)

[Log](https://github.com/driver733/VKUploader/pull/292#issuecomment-406812310)

[2018-07-21 17:57] 0crat commented on #1269
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-21 17:57] 0crat commented on #1269
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-22 09:49] g4s8 opened #1270 "Rultor is failing in run.sh"
Rultor started to fail to merge pull requests unexpectedly. It merged all previous PRs successfully, but now it can't do it. I didn't change `.rultor.yml` or docker image since last PRs (which were merged by rultor).

Error:
[code]

config `.rultor.yml`:
[code]

[2018-07-22 09:49] 0crat commented on #1270
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-22 09:49] 0crat commented on #1270
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-23 20:12] 0crat commented on #1264
The user @filfreire[/z](https://www.0crat.com/u/filfreire) resigned from [#1264](https://github.com/yegor256/rultor/issues/1264), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-23 20:12] 0crat commented on #1264
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2018-07-23 21:06] 0crat commented on #1265
The user @filfreire[/z](https://www.0crat.com/u/filfreire) resigned from [#1265](https://github.com/yegor256/rultor/issues/1265), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-23 21:06] 0crat commented on #1265
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2018-07-23 22:41] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-07-23 22:41] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-07-24 06:16] yegor256 commented on #1270
@g4s8 dup of #1253

[2018-07-24 06:16] #1270 closed

[2018-07-24 06:17] yegor256 commented on #1269
@driver733 it's not a Rultor bug. Just try to reproduce the same steps on your local machine and you will get the same merge conflict.

[2018-07-24 06:17] #1269 closed

[2018-07-24 06:19] yegor256 commented on #1268
@driver733 this is weird. Try this:

[code]

[2018-07-24 06:31] 0crat commented on #1270
Job `gh:yegor256/rultor#1270` is not assigned, can't get performer

[2018-07-24 06:31] 0crat commented on #1270
The job is not in WBS, won't close the order

[2018-07-24 06:33] 0crat commented on #1269
Job `gh:yegor256/rultor#1269` is not assigned, can't get performer

[2018-07-24 06:33] 0crat commented on #1269
The job is not in WBS, won't close the order

[2018-07-28 23:41] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-07-28 23:42] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-08-03 00:27] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-08-03 00:39] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-08-08 00:38] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-08-13 01:38] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-08-22 04:49] yegor256 opened #1271 "sensitive data for RELEASE"
Let's make it possible to specify a list of sensitive file names for the `release` command. The release should NOT push the branch if those files are present. For example:

[code]

[2018-08-22 05:16] yegor256 commented on #1271
@rultor release, tag is `1.68`

[2018-08-22 05:17] rultor commented on #1271
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15741-414914331)

[2018-08-22 06:09] 0crat commented on #1271
Job [#1271](https://github.com/yegor256/rultor/issues/1271) is now in scope, role is `DEV`

[2018-08-22 06:15] 0crat commented on #1271
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-22 06:41] 0crat commented on #1271
Job `gh:yegor256/rultor#1271` is not assigned, can't get performer

[2018-08-22 06:42] 0crat commented on #1271
The job [#1271](https://github.com/yegor256/rultor/issues/1271) is now out of scope

[2018-10-13 21:17] proshin-roman opened #1272 "Rultor doesn't delete a source branch after merging its pull request"
**How it works currently**
I'm using both Rultor and 0pdd on my project. So, I have many tickets which are managed by 0pdd.
It means I don't close these tickets manually, I just submit a new commit that deletes `todo` tag related to the ticket, and 0pdd closes the ticket. I usually merge pull requests using Rultor (submit `@rultor merge` which is great!). So, as soon as Rultor merged the pull requ

[2018-10-13 21:17] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-13 21:17] 0crat commented on #1272
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-15 07:42] yegor256 commented on #1272
@proshin-roman well, it sounds like a good idea, but Rultor in most cases doesn't have enough permissions for that. Most of those branches are in forked repositories, where Rultor mostly have read-only access.

[2018-10-15 07:43] yegor256 opened #1273 ".rultor.lock conflict"
[code]

[2018-10-15 07:50] proshin-roman commented on #1272
@yegor256 yeah, you're right, so this feature makes sense only if you're working in your own repository - and it doesn't look like the most popular use case of Rultor. However, this option can be implemented as configurable - and then some teams might enable it (when they all are working in the same repo).

[2018-10-15 07:58] yegor256 commented on #1273
@rultor release, tag is `1.68.1`

[2018-10-15 07:59] rultor commented on #1273
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16213-429744851)

[2018-10-15 08:57] rultor commented on #1273
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16213-429744851) (took me 57min)

[2018-10-15 11:53] #1273 closed

[2018-10-16 12:53] g4s8 opened #1274 "Can't reference env variable in `env` section"
It's not possible to reference environment variables in `env` section in `.rultor.yml`, rultor treats them as plain strings. E.g. I tried to change `PATH` variable:
[code]
I expected to see this variable as a result:
[code]
but actual result was:
[code]
rultor just export `PATH` references (`GOPATH` and `PATH`) as plain strings.

[2018-10-16 12:53] 0crat commented on #1274
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-23 08:10] sentry-io[bot] opened #1275 "IllegalStateException: [GET http://www.rultor.com/ticks?1540241400084] failed in 268ms: null"
Sentry Issue: [RULTOR-H1-3](https://sentry.io/zerocracy/rultor-h1/issues/490184477/)

[code]

[2018-10-23 08:10] 0crat commented on #1275
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-23 08:10] 0crat commented on #1275
@sentry-io[/z](https://www.0crat.com/u/sentry-io)[bot] this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-23 11:02] smallcreep opened #1276 "Rultor didn't send answers for messages on PR. And didn't start tasks."
I send rultor messages in this [PR](https://github.com/smallcreep/cucumber-seeds/pull/79) and this [PR](https://github.com/smallcreep/cucumber-seeds/pull/77), but rultor didn't send answers. Before github down 22.10.2018 it's work (ex. [PR](https://github.com/smallcreep/cucumber-seeds/pull/69)). In issue rultor sent answer (ex. [ISSUE-62](https://github.com/smallcreep/cucumber-seeds/issues/62#issu

[2018-10-23 11:02] 0crat commented on #1276
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-24 15:31] smallcreep commented on #1276
I get error from [page project on rultor](http://www.rultor.com/p/smallcreep/cucumber-seeds)

[code]

[2018-10-25 16:13] smallcreep commented on #1276
@alex-palevsky @yegor256 Please, help me with this problem.

[2018-10-26 06:50] smallcreep commented on #1276
I find workaround with renaming repository.

[2018-10-30 16:01] dgroup opened #1277 "Error response from daemon: Get https://registry-1.docker.io/v2/yegor256/rultor/manifests/latest: received unexpected HTTP status: 503 Service Unavailable 'cid' file is absent, container wasn't started correctly"
http://www.rultor.com/t/16402-434352568
[code]

[2018-10-30 16:01] 0crat commented on #1277
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-30 16:01] 0crat commented on #1277
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-11 17:54] #1146 closed

[2018-11-11 18:11] 0crat commented on #1146
Job `gh:yegor256/rultor#1146` is not assigned, can't get performer

[2018-11-11 18:12] 0crat commented on #1146
This job is not in scope

[2018-11-13 16:03] smallcreep opened #1278 "Rultor doesn't run docker image for merge command"
I try run `merge` rultor command.
You can view [pull request 127](https://github.com/smallcreep/seeds-cucumber/pull/127) with this error.
This command fails. See [logs](http://www.rultor.com/t/16535-438316001):
[code]

[2018-11-13 16:03] 0crat commented on #1278
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-13 16:03] 0crat commented on #1278
@smallcreep[/z](https://www.0crat.com/u/smallcreep) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-14 12:16] g4s8 opened #1279 "Rultor is not working"
Rultor unable to start new docker on merge with error:
[code]

Started to reproduce: 14 Nov 2018

[2018-11-14 12:16] 0crat commented on #1279
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-14 12:16] 0crat commented on #1279
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-28 13:57] Serranya opened #1280 "Misleading error message"
I got the following error when trying to release my project with rultor (http://www.rultor.com/t/16679-442443941)
[code]

The error message indicates that the .rultor.yml file is missing. This however was not the case. The error message was triggered because rultor had no permission to access my private repository.

I think the error message should reflect that. Ideally rultor would be able to rec

[2018-11-28 13:57] 0crat commented on #1280
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-28 13:57] 0crat commented on #1280
@serranya[/z](https://www.0crat.com/u/serranya) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-11 08:48] eivinhb opened #1281 "Rultor does not accept my invitation for collaborate"
The github-repo is bekkopen/NoCommons

The release has worked but rultor failed while tagging the release.

[2018-12-11 08:48] 0crat commented on #1281
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-11 08:48] 0crat commented on #1281
@eivinhb[/z](https://www.0crat.com/u/eivinhb) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-15 02:54] paulodamaso opened #1282 "Rultor is out"
Rultor did not responded to my message in https://github.com/yegor256/takes/pull/896#issuecomment-447528253 . [Status page](http://www.rultor.com/status) shows the following error:
[code]

[2018-12-15 02:55] 0crat commented on #1282
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-15 02:55] 0crat commented on #1282
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-19 12:40] jonashackt opened #1283 "Maven Test Error: Could not find or load main class org.apache.maven.surefire.booter.ForkedBooter"
I'am using rultor to release my Open Source project https://github.com/codecentric/cxf-spring-boot-starter to Maven Central, which workes great most of the time. Only today I'am facing this error in rultor, popping up after a successful Maven compile phase ([full log here](http://www.rultor.com/t/16953-448572525)):

[code]

The tests won´t start up and [so seams to already have described the reaso

[2018-12-19 12:40] 0crat commented on #1283
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-19 12:40] 0crat commented on #1283
@jonashackt[/z](https://www.0crat.com/u/jonashackt) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-20 02:05] paulodamaso commented on #1282
@yegor256 Looked like a temporary failure, rultor is up again

[2018-12-20 02:05] #1282 closed

[2018-12-20 02:10] paulodamaso opened #1284 "Rultor fails on fetching gpg keys"
Sometimes rultor is in a bad mood and fails due to pgp key retrieval failure, as seen on:
https://github.com/yegor256/takes/pull/903#issuecomment-448830201
https://github.com/yegor256/takes/pull/903#issuecomment-448830980
https://github.com/yegor256/takes/pull/883#issuecomment-446524796
https://github.com/yegor256/takes/pull/700#issuecomment-236999272

Maybe rultor should retry a few times when it

[2018-12-20 02:10] 0crat commented on #1284
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-20 02:10] 0crat commented on #1284
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-20 02:22] 0crat commented on #1282
Job `gh:yegor256/rultor#1282` is not assigned, can't get performer

[2018-12-20 02:22] 0crat commented on #1282
This job is not in scope

[2018-12-25 15:59] yegor256 commented on #1281
@eivinhb this may take a few minutes. Still not accepted?

[2018-12-25 16:00] yegor256 commented on #1279
@g4s8 This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-25 16:00] #1279 closed

[2018-12-25 16:01] yegor256 commented on #1283
@jonashackt you can submit a pull request with the changes to our [Dockerfile](https://github.com/yegor256/rultor/blob/master/src/docker/Dockerfile)

[2018-12-25 16:04] yegor256 commented on #1277
@dgroup you just have to run again, it's a temporary network problem

[2018-12-25 16:04] #1277 closed

[2018-12-25 16:05] yegor256 commented on #1278
@smallcreep it was a temporary problem, just run again.

[2018-12-25 16:05] #1278 closed

[2018-12-25 16:21] 0crat commented on #1279
Job `gh:yegor256/rultor#1279` is not assigned, can't get performer

[2018-12-25 16:21] yegor256 commented on #1276
@smallcreep This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-25 16:21] #1276 closed

[2018-12-25 16:21] 0crat commented on #1279
This job is not in scope

[2018-12-25 16:21] 0crat commented on #1277
Job `gh:yegor256/rultor#1277` is not assigned, can't get performer

[2018-12-25 16:33] yegor256 commented on #1284
@paulodamaso that's a temporary problem, we can't do anything about it

[2018-12-25 16:33] #1284 closed

[2018-12-25 16:39] 0crat commented on #1272
Job [#1272](https://github.com/yegor256/rultor/issues/1272) is now in scope, role is `DEV`

[2018-12-25 16:41] 0crat commented on #1275
Job [#1275](https://github.com/yegor256/rultor/issues/1275) is now in scope, role is `DEV`

[2018-12-25 16:45] 0crat commented on #1276
Job `gh:yegor256/rultor#1276` is not assigned, can't get performer

[2018-12-25 16:48] 0crat commented on #1275
Thanks for your contribution, @sentry-io[/z](https://www.0crat.com/u/sentry-io)[bot]! If you would be a member of [the project](https://www.0crat.com/p/C3SAYRPH9), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-12-25 16:48] 0crat commented on #1275
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.39.7](https://github.com/zerocracy/farm): CID: [21fc4662-609a-45b0-bb9f-74a0f90c660f](https://www.0crat.com/footprint/C3SAYRPH9/21fc4662-609a-45b0-bb9f-74a0f90c660f), Type: "Job was added to WBS"

[2018-12-25 16:49] 0crat commented on #1276
This job is not in scope

[2018-12-25 16:50] 0crat commented on #1272
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-12-25 16:50] 0crat commented on #1272
The job [#1272](https://github.com/yegor256/rultor/issues/1272) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C3SAYRPH9/f39eb08c-cf3d-416e-9876-85266b5f41c5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2018-12-25 16:50] 0crat commented on #1284
Job `gh:yegor256/rultor#1284` is not assigned, can't get performer

[2018-12-25 16:50] 0crat commented on #1284
This job is not in scope

[2018-12-25 16:51] 0crat commented on #1275
The job [#1275](https://github.com/yegor256/rultor/issues/1275) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C3SAYRPH9/fa65c16b-e8bd-42db-b5c5-e29a1518f358); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2018-12-29 22:05] eivinhb commented on #1281
Still not accepted.

[2018-12-30 17:37] 0crat commented on #1272
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-30 17:37] 0crat commented on #1275
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-02 13:39] paulodamaso commented on #1193
@rultor status

[2019-01-02 13:41] rultor commented on #1193
@paulodamaso This is what's going on here:

 * no new requests registered
 * build is not running
[]

More information about Rultor commands you can get [here](http://doc.rultor.com/commands.html).

[2019-01-02 13:52] paulodamaso commented on #1193
@0crat status

[2019-01-02 13:52] 0crat commented on #1193
@paulodamaso This is what I know about this job in [C3SAYRPH9](https://www.0crat.com/p/C3SAYRPH9), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1193](https://github.com/yegor256/rultor/issues/1193) is [in scope](http://www.zerocracy.com/policy.html#14) for 14mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [5days

[2019-01-02 14:38] 0crat commented on #1193
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-02 19:59] paulodamaso commented on #1202
@0crat status

[2019-01-02 19:59] 0crat commented on #1202
@paulodamaso This is what I know about this job in [C3SAYRPH9](https://www.0crat.com/p/C3SAYRPH9), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1202](https://github.com/yegor256/rultor/issues/1202) is [in scope](http://www.zerocracy.com/policy.html#14) for 17mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [1hr](

[2019-01-03 12:09] paulodamaso commented on #1202
@g4s8 I'm afraid that I can't tinker with these configurations

[2019-01-03 12:10] paulodamaso commented on #1191
@0crat status

[2019-01-03 12:11] 0crat commented on #1191
@paulodamaso This is what I know about this job in [C3SAYRPH9](https://www.0crat.com/p/C3SAYRPH9), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1191](https://github.com/yegor256/rultor/issues/1191) is [in scope](http://www.zerocracy.com/policy.html#14) for 14mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [2hr](

[2019-01-03 12:35] g4s8 commented on #1202
@paulodamaso it seems this bug is for rultor.com hosting owner, I suppose for @yegor256

[2019-01-03 12:46] paulodamaso commented on #1202
@yegor256 I agree with @g4s8 , please take a look at this

[2019-01-04 03:24] dgroup opened #1285 "Rultor doesn't support the multi-lines environment variables"
1. The .rultor.yml
[code]
2. The error
[code]

[2019-01-04 11:10] paulodamaso commented on #1164
@0crat status

[2019-01-04 11:10] 0crat commented on #1164
@paulodamaso This is what I know about this job in [C3SAYRPH9](https://www.0crat.com/p/C3SAYRPH9), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1164](https://github.com/yegor256/rultor/issues/1164) is [in scope](http://www.zerocracy.com/policy.html#14) for 14mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [15hr]

[2019-01-05 03:12] paulodamaso commented on #1193
@0crat wait for https://github.com/yegor256/rultor/pull/1286 review

[2019-01-05 03:13] 0crat commented on #1193
@paulodamaso The impediment for [#1193](https://github.com/yegor256/rultor/issues/1193) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-05 14:22] g4s8 opened #1287 "Redundant message on version duplicate"
When I'm truing to make a release with version which already exists, rultor respond with two messages:

and

The second message looks redundant here, it's enough to say that tag is invalid.

![scrot-2019-01-05-17 17 38](https://user-images.githubusercontent.com/1524988/50725422-6b5d4600-110e-11e9-8f43-b875e24d27f1.png)

[2019-01-06 16:50] 0crat commented on #1272
The user @filfreire[/z](https://www.0crat.com/u/filfreire) resigned from [#1272](https://github.com/yegor256/rultor/issues/1272), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-06 16:50] 0crat commented on #1272
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-01-06 17:00] 0crat commented on #1275
The user @filfreire[/z](https://www.0crat.com/u/filfreire) resigned from [#1275](https://github.com/yegor256/rultor/issues/1275), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-06 17:00] 0crat commented on #1275
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-01-07 11:31] 0crat commented on #1287
Job [#1287](https://github.com/yegor256/rultor/issues/1287) is now in scope, role is `DEV`

[2019-01-07 11:32] 0crat commented on #1287
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-07 11:46] 0crat commented on #1287
The job [#1287](https://github.com/yegor256/rultor/issues/1287) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C3SAYRPH9/871b623f-f4cc-4e90-a9cb-9eea5d9362b6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-01-07 11:46] 0crat commented on #1287
Job `gh:yegor256/rultor#1287` already assigned to @filfreire, can't assign to @filfreire

[2019-01-07 19:41] 0crat commented on #1202
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-08 10:37] 0crat commented on #1191
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-08 20:44] 0crat commented on #1164
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-11 17:34] paulodamaso commented on #1202
@0crat refuse

[2019-01-11 17:35] 0crat commented on #1202
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1202](https://github.com/yegor256/rultor/issues/1202), please stop working. Reason for job resignation: Order was cancelled

[2019-01-11 17:35] 0crat commented on #1202
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-11 17:38] 0crat commented on #1202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1202](https://github.com/yegor256/rultor/issues/1202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-12 12:43] 0crat commented on #1287
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-15 16:31] paulodamaso commented on #1191
@0crat refuse

[2019-01-15 16:34] paulodamaso commented on #1164
@0crat refuse

[2019-01-15 16:34] 0crat commented on #1191
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1191](https://github.com/yegor256/rultor/issues/1191), please stop working. Reason for job resignation: Order was cancelled

[2019-01-15 16:34] paulodamaso commented on #1121
@0crat status

[2019-01-15 16:35] 0crat commented on #1164
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1164](https://github.com/yegor256/rultor/issues/1164), please stop working. Reason for job resignation: Order was cancelled

[2019-01-15 16:35] 0crat commented on #1191
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-15 16:36] 0crat commented on #1121
@paulodamaso This is what I know about this job in [C3SAYRPH9](https://www.0crat.com/p/C3SAYRPH9), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1121](https://github.com/yegor256/rultor/issues/1121) is [in scope](http://www.zerocracy.com/policy.html#14) for 15mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [6days

[2019-01-15 16:38] paulodamaso commented on #1121
@0crat refuse

[2019-01-15 16:39] 0crat commented on #1191
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1191](https://github.com/yegor256/rultor/issues/1191); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-15 16:41] 0crat commented on #1164
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1164](https://github.com/yegor256/rultor/issues/1164); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-15 16:42] 0crat commented on #1121
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1121](https://github.com/yegor256/rultor/issues/1121), please stop working. Reason for job resignation: Order was cancelled

[2019-01-15 16:43] 0crat commented on #1121
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-15 17:41] 0crat commented on #1121
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1121](https://github.com/yegor256/rultor/issues/1121); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-16 18:49] 0crat commented on #1202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1202](https://github.com/yegor256/rultor/issues/1202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-17 12:55] 0crat commented on #1272
The job [#1272](https://github.com/yegor256/rultor/issues/1272) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3SAYRPH9/59ebc717-45b6-4b86-94cf-8dfee6f798e8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-01-18 12:16] paulodamaso commented on #1259
@0crat refuse

[2019-01-18 12:33] 0crat commented on #1259
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1259](https://github.com/yegor256/rultor/issues/1259), please stop working. Reason for job resignation: Order was cancelled

[2019-01-18 12:46] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-18 12:54] 0crat commented on #1259
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-19 02:41] paulodamaso opened #1289 "Travis build is failing"
Travis build is failing, I'm getting the following log: https://api.travis-ci.org/v3/job/481625846/log.txt
The message is:
`{"message":"API rate limit exceeded for 35.188.1.99. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)","documentation_url":"https://developer.github.com/v3/#rate-limiting"}`

[2019-01-19 02:41] 0crat commented on #1289
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-19 12:06] 0crat commented on #1287
The user @filfreire[/z](https://www.0crat.com/u/filfreire) resigned from [#1287](https://github.com/yegor256/rultor/issues/1287), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-19 12:06] 0crat commented on #1287
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-01-19 12:06] 0crat commented on #1287
The job [#1287](https://github.com/yegor256/rultor/issues/1287) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C3SAYRPH9/f4ad5980-7f85-45e4-8336-8b747852f1e7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-01-19 12:07] 0crat commented on #1287
Job `gh:yegor256/rultor#1287` already assigned to @filfreire, can't assign to @filfreire

[2019-01-19 15:04] 0crat commented on #1275
The job [#1275](https://github.com/yegor256/rultor/issues/1275) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3SAYRPH9/31e66d01-87f0-4f66-a557-f59c6adc9075); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-01-20 17:39] 0crat commented on #1191
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1191](https://github.com/yegor256/rultor/issues/1191); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-20 17:39] 0crat commented on #1164
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1164](https://github.com/yegor256/rultor/issues/1164); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-20 18:40] 0crat commented on #1121
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1121](https://github.com/yegor256/rultor/issues/1121); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-20 23:05] filfreire opened #1290 "Local build is failing"
@yegor256 and @alex-palevsky, when building Rultor locally with `mvn clean install -Pqulice` we're getting a couple of error messages and a **build failure**.

There's also a different issue https://github.com/yegor256/rultor/issues/1289 happening, where it seems to be failing on Travis CI, for slightly different reasons. But again, the build itself is failing locally.

More log details here (erro

[2019-01-20 23:05] 0crat commented on #1290
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-20 23:10] filfreire opened #1291 "Missing information on how to build project locally"
@yegor256 and @alex-palevsky, the information on how to build/run tests of rultor locally (for example, mentioned [here](https://github.com/yegor256/rultor/issues/986#issuecomment-172657848)) seems to be missing from README.md or any other document in the repository.

Also note the [CONTRIBUTING.md](https://github.com/yegor256/rultor/blob/master/CONTRIBUTING.md) file was deleted in commit https://

[2019-01-20 23:10] 0crat commented on #1291
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-21 12:01] paulodamaso commented on #1275
@yegor256 please take a look at this, the problem is not happening anymore

[2019-01-21 17:14] paulodamaso commented on #1272
@yegor256 I'd like the option to allow rultor to remove the branch for my repo too, even if it's a forked branch

[2019-01-21 17:55] paulodamaso commented on #1265
@yegor256 Behavior is broken on twitter, should I continue with telegram implementation?

[2019-01-21 19:38] 0crat commented on #1202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1202](https://github.com/yegor256/rultor/issues/1202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-22 12:39] 0crat commented on #1265
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-22 12:39] 0crat commented on #1272
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-22 20:24] paulodamaso commented on #1275
@0crat refuse

[2019-01-22 20:33] 0crat commented on #1275
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1275](https://github.com/yegor256/rultor/issues/1275), please stop working. Reason for job resignation: Order was cancelled

[2019-01-22 20:38] 0crat commented on #1275
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-22 20:49] 0crat commented on #1275
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1275](https://github.com/yegor256/rultor/issues/1275); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-23 13:39] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-25 18:40] 0crat commented on #1191
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1191](https://github.com/yegor256/rultor/issues/1191); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-25 18:40] 0crat commented on #1164
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1164](https://github.com/yegor256/rultor/issues/1164); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-25 19:37] 0crat commented on #1121
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1121](https://github.com/yegor256/rultor/issues/1121); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-26 20:41] 0crat commented on #1202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1202](https://github.com/yegor256/rultor/issues/1202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-27 02:15] paulodamaso commented on #1265
@0crat refuse

[2019-01-27 02:16] 0crat commented on #1265
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1265](https://github.com/yegor256/rultor/issues/1265), please stop working. Reason for job resignation: Order was cancelled

[2019-01-27 02:17] paulodamaso commented on #1272
@0crat refuse

[2019-01-27 02:17] 0crat commented on #1265
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-27 02:19] 0crat commented on #1272
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1272](https://github.com/yegor256/rultor/issues/1272), please stop working. Reason for job resignation: Order was cancelled

[2019-01-27 02:37] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-27 02:38] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-27 21:56] 0crat commented on #1275
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1275](https://github.com/yegor256/rultor/issues/1275); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-28 14:43] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-28 17:03] yegor256 commented on #1285
@rultor release, tag is `1.68.2`

[2019-01-28 17:05] rultor commented on #1285
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17576-458215025)

[2019-01-28 18:06] rultor commented on #1285
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17576-458215025) (took me 59min)

[2019-01-28 18:46] dgroup opened #1293 "Non-parseable settings /home/r/repo/../settings.xml: only whitespace content allowed before start tag and not - (position: START_DOCUMENT seen -... @1:1)"
http://www.rultor.com/t/17579-458246862
[code]
The `settings.xml` were encrypted using command `rultor encrypt -p dgroup/xxx settings.xml` in accordance with  https://www.yegor256.com/2014/08/19/how-to-release-to-maven-central.html
[code]

[2019-01-28 18:47] 0crat commented on #1293
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-28 18:47] 0crat commented on #1293
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-28 19:44] dgroup commented on #1293
Similar #899.
The `decrypt` seems is working only with your main repo and can't be used from the external repo.

[2019-01-28 20:50] yegor256 commented on #1285
@dgroup should be OK now, please try.

[2019-01-29 08:58] dgroup commented on #1285
@yegor256 thanks, will try soon.

[2019-01-30 19:46] yegor256 commented on #1293
@dgroup this is weird. It works in a few other projects. Are you sure you are using the right file?

[2019-01-30 19:59] 0crat commented on #1191
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1191](https://github.com/yegor256/rultor/issues/1191); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-30 19:59] 0crat commented on #1164
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1164](https://github.com/yegor256/rultor/issues/1164); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-30 20:50] 0crat commented on #1121
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1121](https://github.com/yegor256/rultor/issues/1121); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-01-31 15:06] dgroup commented on #1285
@yegor256 the same issues
[code]
[code]

[2019-01-31 21:49] 0crat commented on #1202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1202](https://github.com/yegor256/rultor/issues/1202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-01 03:45] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-01 03:45] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-01 22:40] 0crat commented on #1275
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1275](https://github.com/yegor256/rultor/issues/1275); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-02 15:43] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-02 23:16] paulodamaso commented on #1264
@0crat status

[2019-02-02 23:19] 0crat commented on #1264
@paulodamaso This is what I know about this job in [C3SAYRPH9](https://www.0crat.com/p/C3SAYRPH9), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1264](https://github.com/yegor256/rultor/issues/1264) is [in scope](http://www.zerocracy.com/policy.html#14) for 7mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#

[2019-02-04 20:39] 0crat commented on #1191
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1191](https://github.com/yegor256/rultor/issues/1191); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-04 20:39] 0crat commented on #1164
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1164](https://github.com/yegor256/rultor/issues/1164); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-04 21:41] 0crat commented on #1121
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1121](https://github.com/yegor256/rultor/issues/1121); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-05 22:40] 0crat commented on #1202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1202](https://github.com/yegor256/rultor/issues/1202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-06 03:38] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-06 04:38] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-06 04:38] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-07 13:25] 0crat commented on #1275
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1275](https://github.com/yegor256/rultor/issues/1275); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-07 16:37] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-07 18:39] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-09 21:39] 0crat commented on #1191
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1191](https://github.com/yegor256/rultor/issues/1191); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-09 21:39] 0crat commented on #1164
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1164](https://github.com/yegor256/rultor/issues/1164); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-09 22:45] 0crat commented on #1121
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1121](https://github.com/yegor256/rultor/issues/1121); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-10 23:40] 0crat commented on #1202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1202](https://github.com/yegor256/rultor/issues/1202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-11 04:40] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-11 05:37] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-11 05:38] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-12 11:42] 0crat commented on #1275
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1275](https://github.com/yegor256/rultor/issues/1275); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-12 17:39] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-12 19:38] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-14 22:42] 0crat commented on #1191
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1191](https://github.com/yegor256/rultor/issues/1191); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-14 22:44] 0crat commented on #1164
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1164](https://github.com/yegor256/rultor/issues/1164); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-14 23:41] 0crat commented on #1121
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1121](https://github.com/yegor256/rultor/issues/1121); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-16 00:40] 0crat commented on #1202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1202](https://github.com/yegor256/rultor/issues/1202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-16 05:41] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-16 06:37] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-16 06:37] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-17 13:32] 0crat commented on #1275
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1275](https://github.com/yegor256/rultor/issues/1275); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-17 18:41] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-17 20:38] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-18 08:59] emilianodellacasa opened #1295 "Parameters in deploy commands"
It would be very useful to pass some parameters to deploy, just the way it is done for release $tag.

It would be better to find a way that pass an arbitrary number of params, to make it more flexible.

For example: if I want to deploy to a staging environment, I would like to say:

@ rultor deploy, env=staging

[2019-02-18 08:59] 0crat commented on #1295
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-18 08:59] 0crat commented on #1295
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-18 12:49] g4s8 opened #1296 "Bad settings.xml file"
Rultor's `settings.xml` file is using maven-central mirror for all artifacts: https://github.com/yegor256/rultor/blob/master/src/docker/settings.xml so it's not possible to use any other maven repo without overriding `settings.xml`.

For example if I need some maven dependency from another maven repo, I'm adding these lines to `pom.xml`:
[code]
it's working with empty `settings.xml` file or withou

[2019-02-18 12:49] 0crat commented on #1296
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-18 12:49] 0crat commented on #1296
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-20 00:42] 0crat commented on #1164
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1164](https://github.com/yegor256/rultor/issues/1164); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-20 00:42] 0crat commented on #1191
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1191](https://github.com/yegor256/rultor/issues/1191); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-20 00:42] 0crat commented on #1121
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1121](https://github.com/yegor256/rultor/issues/1121); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-21 01:38] 0crat commented on #1202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1202](https://github.com/yegor256/rultor/issues/1202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-21 06:39] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-21 07:39] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-21 07:39] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-22 13:39] 0crat commented on #1275
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1275](https://github.com/yegor256/rultor/issues/1275); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-22 19:43] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-22 21:40] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-24 16:12] ammaratef45 opened #1297 "Rultor failing to initialize the container"
Out of the sudden rultor started to give me that log every time I try to deploy
It was working fine and I did change only a command of the deploy script

[2019-02-24 16:12] 0crat commented on #1297
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-24 16:12] 0crat commented on #1297
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-24 16:38] ammaratef45 commented on #1297
@yegor256 It's working again (without changing anything)

[2019-02-25 01:47] 0crat commented on #1164
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1164](https://github.com/yegor256/rultor/issues/1164); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-25 01:47] 0crat commented on #1191
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1191](https://github.com/yegor256/rultor/issues/1191); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-25 01:47] 0crat commented on #1121
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1121](https://github.com/yegor256/rultor/issues/1121); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-26 07:39] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-26 08:44] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-26 08:44] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-27 14:44] 0crat commented on #1275
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1275](https://github.com/yegor256/rultor/issues/1275); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-27 20:40] 0crat commented on #1259
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1259](https://github.com/yegor256/rultor/issues/1259); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-02-27 22:40] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-01 20:49] wholegroup opened #1298 "rultor docker image is too fat"
Current rultor docker image (1.68.2) is too fat.
[code]

e.g. you can remove ```/usr/share/doc/texlive-doc``` (https://askubuntu.com/questions/129566/remove-documentation-to-save-hard-drive-space)
[code]

and some other unnecessary files (.m2, installers)

[2019-03-01 20:49] 0crat commented on #1298
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-01 20:49] 0crat commented on #1298
@wholegroup[/z](https://www.0crat.com/u/wholegroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-03 08:44] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-03 10:22] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-03 10:34] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-04 15:49] 0crat commented on #1275
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1275](https://github.com/yegor256/rultor/issues/1275); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-05 00:01] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-08 10:26] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-08 10:26] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-08 10:26] 0crat commented on #1265
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1265](https://github.com/yegor256/rultor/issues/1265); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-10 00:38] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-13 10:54] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-14 18:25] paulodamaso opened #1299 "Rultor is not deploying"
I cant' deploy wioth rultor, it can't fetch github rsa fingerprint

Here's the message:
`
The authenticity of host 'github.com (192.30.253.113)' can't be established.
RSA key fingerprint is SHA256:nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8.
Are you sure you want to continue connecting (yes/no)?
`

|'m trying to execute a script to automate a branch copy, from `master` into `staging` into my branc

[2019-03-14 18:25] 0crat commented on #1299
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-14 18:25] 0crat commented on #1299
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-15 01:40] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-18 11:39] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-20 02:39] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-23 12:41] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-25 03:37] 0crat commented on #1264
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1264](https://github.com/yegor256/rultor/issues/1264); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-03-25 13:29] rshankarkony opened #1300 "Steps to upload the single Jar file to the Maven Central Repository"
Hi Team,

we are looking for the steps to upload jar file to the maven central repository. so that we will download it at build time using pom.xml.

I tried to upload from the below url
https://oss.sonatype.org
upload mode: Artifact with GAV

let me know if this correct way of doing.

Thanks,
Naresh.

[2019-03-25 13:30] 0crat commented on #1300
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-25 13:30] 0crat commented on #1300
@rshankarkony[/z](https://www.0crat.com/u/rshankarkony) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-08 12:10] aivinog1 opened #1301 "The link to CONTRIBUTING.md in README.MD is broken"
The link to CONTRIBUTING.md in section https://github.com/yegor256/rultor#how-to-contribute is broken.

[2019-04-08 12:10] 0crat commented on #1301
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-08 12:11] 0crat commented on #1301
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-09 09:36] g4s8 opened #1302 "Rultor can release only from master branch"
It's not possible to specify the branch for release, I'm expecting to be able to release from any branch (e.g. from rc-branch), but `master` branch name is hard-coded in `QnRelease`: https://github.com/yegor256/rultor/blob/1a79ef08ae8fbc31aabfe7b9f54a65ba13cbd827/src/main/java/com/rultor/agents/github/qtn/QnRelease.java#L124
moreover this value (`head_branch`) is never used in release script: http

[2019-04-09 09:37] 0crat commented on #1302
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-09 09:37] 0crat commented on #1302
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-05 07:21] yegor256 commented on #1299
@paulodamaso This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-05-05 07:21] #1299 closed

[2019-05-05 07:38] 0crat commented on #1299
Job `gh:yegor256/rultor#1299` is not assigned, can't get performer

[2019-05-05 07:39] 0crat commented on #1299
This job is not in scope

[2019-05-05 18:06] yegor256 commented on #1301
@aivinog1 thanks, fixed in 711c5daab

[2019-05-05 18:06] #1301 closed

[2019-05-05 18:08] yegor256 commented on #1298
@wholegroup you are right. Would you be interested in submitting a pull request to fix this?

[2019-05-05 18:26] 0crat commented on #1301
Job `gh:yegor256/rultor#1301` is not assigned, can't get performer

[2019-05-05 18:26] 0crat commented on #1301
This job is not in scope

[2019-05-05 18:30] 0pdd opened #1303 "QnByArchitect.java:53-56: PR by ARC merge shouldn't..."
The puzzle `1246-03defb2b` from #1246 has to be resolved:

https://github.com/yegor256/rultor/blob/50c1607f3f4c90855b3fe68be47e1df7716686c0/src/main/java/com/rultor/agents/github/qtn/QnByArchitect.java#L53-L56

The puzzle was created by Paulo Lobo on 19-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and th

[2019-05-05 18:31] 0crat commented on #1303
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-05 18:33] 0crat commented on #1303
Job [#1303](https://github.com/yegor256/rultor/issues/1303) is now in scope, role is `DEV`

[2019-05-11 08:32] wholegroup commented on #1298
@yegor256 I wouldn't. Just want to get my bonus according to https://www.yegor256.com/2014/04/17/how-xdsd-is-different.html#we-pay-for-bugs

[2019-05-12 19:37] yegor256 opened #1304 "build logs must visible to Github repo owners or admins"
Let's make them protected.

[2019-05-12 19:40] #1304 closed

[2019-05-12 19:52] yegor256 commented on #1304
@rultor release, tag is `1.68.3`

[2019-05-12 19:53] rultor commented on #1304
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18875-491623995)

[2019-05-12 19:57] 0crat commented on #1304
Job `gh:yegor256/rultor#1304` is not assigned, can't get performer

[2019-05-12 19:58] 0crat commented on #1304
This job is not in scope

[2019-05-12 20:51] rultor commented on #1304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18875-491623995) (took me 57min)

[2019-05-14 19:09] #1275 closed

[2019-05-14 19:13] yegor256 commented on #1298
@wholegroup you got it)

[2019-05-14 19:17] 0crat commented on #1298
Job [#1298](https://github.com/yegor256/rultor/issues/1298) is now in scope, role is `DEV`

[2019-05-14 19:26] 0crat commented on #1298
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @wholegroup[/z](https://www.0crat.com/u/wholegroup)

[2019-05-14 21:40] paulodamaso opened #1305 "Rultor merge is showing errors"
I'm receiveing this error upon `merge` command:

Strangely looks like rultor contionues to do its job and merges the PRs

[2019-05-14 21:40] 0crat commented on #1305
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-14 21:40] 0crat commented on #1305
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-15 16:10] yegor256 commented on #1305
@paulodamaso where it's happening? Do you have a link?

[2019-05-15 16:23] yegor256 commented on #1305
@rultor release, tag is `1.68.4`

[2019-05-15 16:26] rultor commented on #1305
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18910-492725182)

[2019-05-15 17:30] rultor commented on #1305
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18910-492725182) (took me 1hr)

[2019-05-15 17:36] yegor256 commented on #1305
@paulodamaso I think it's fixed. Try again.

[2019-05-29 16:01] 0crat commented on #1302
Job [#1302](https://github.com/yegor256/rultor/issues/1302) is now in scope, role is `DEV`

[2019-05-29 16:02] 0crat commented on #1302
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-29 16:28] yegor256 commented on #1261
@nikialeksey you can simply make your logs invisible: https://doc.rultor.com/reference.html#readers

[2019-05-29 16:28] #1261 closed

[2019-05-29 16:31] yegor256 commented on #1289
@paulodamaso fixed, thanks!

[2019-05-29 16:31] #1289 closed

[2019-05-29 16:51] 0crat commented on #1261
Job `gh:yegor256/rultor#1261` is not assigned, can't get performer

[2019-05-29 16:53] 0crat commented on #1261
This job is not in scope

[2019-05-29 16:53] 0crat commented on #1289
Job `gh:yegor256/rultor#1289` is not assigned, can't get performer

[2019-05-29 16:54] 0crat commented on #1289
This job is not in scope

[2019-06-30 19:57] extsoft commented on #1184
I have a similar behavior for Rultor. I mean the Rultor follows `master`s `.rultor.yml` and ignores changes from the forked branch (see <https://github.com/bees-hive/elegant-git/pull/136#issuecomment-505442323>; the testing is failed as a new version of docker image is not used). @yegor256 @driver733 do I need to create an additional issue about it (this issue is silent for 2 years)?

[2019-07-04 12:27] yegor256 commented on #1293
@dgroup you can't decrypt files from another repository. Decrypt only works with files located in _this_ repository. You may want to use `assets`.

[2019-07-04 12:27] #1293 closed

[2019-07-04 14:03] 0crat commented on #1293
Job `gh:yegor256/rultor#1293` is not assigned, can't get performer

[2019-07-04 14:09] 0crat commented on #1293
This job is not in scope

[2019-07-08 08:48] agorlov opened #1306 "Issue with rultor installation from github marketplace"
1. I've installed rultor to my account with intent to try it in private repo (agorlov/PSR2Check)
2. After installation, I type command in comment to issue ``@rultor hello``
reult - nothing :/

3. Ive checked again app installation page:

![image](https://user-images.githubusercontent.com/2485728/60795764-f29a7d80-a174-11e9-88f5-8c05600806d1.png)

And found link: **grant this app access to your Git

[2019-07-08 08:48] 0crat commented on #1306
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-08 08:48] 0crat commented on #1306
@agorlov[/z](https://www.0crat.com/u/agorlov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-09 05:22] yegor256 commented on #1306
@agorlov all you need to do is to add `@rultor` to the list of contributors of your repo. We will fix the page, to explain it better.

[2019-07-09 06:28] agorlov commented on #1306
@yegor256 thank you for clarification

[2019-07-17 05:54] aivinog1 opened #1307 "Let's create and publish json schema for .rultor.yml"
It will be very convenient to me checking my `.rultor.yml ` via some schema, for example in my IDE. Intellij IDEA, for example, has the ability of autocompletion if the schema is present, for example.

Or I can even create a test in my project, that verifies that `.rultor.yml` is valid.

I think that this page: https://doc.rultor.com/reference.html should have a link to such schema.

[2019-07-17 05:55] 0crat commented on #1307
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-17 05:55] 0crat commented on #1307
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-30 19:34] agorlov opened #1308 "Deploying to staging server"
If it is possible to configure deploy to production and to **staging**,
please tell how in README or in somewhere in docs.

[2019-08-30 19:34] 0crat commented on #1308
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-30 19:34] 0crat commented on #1308
@agorlov[/z](https://www.0crat.com/u/agorlov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-05 11:47] yegor256 opened #1309 "--entrypoint"
Let's specify it for Docker

[2019-09-05 11:49] yegor256 commented on #1309
@rultor release, tag is `1.68.5`

[2019-09-05 11:49] rultor commented on #1309
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20148-528326555)

[2019-09-05 12:01] rultor commented on #1309
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20148-528326555) (took me 10min)

[2019-09-05 12:01] #1309 closed

[2019-09-05 12:19] 0crat commented on #1309
Job `gh:yegor256/rultor#1309` is not assigned, can't get performer

[2019-09-05 12:19] 0crat commented on #1309
This job is not in scope

[2019-09-13 19:58] longtimeago opened #1310 "Release because maven-gpg-plugin:sign-artifacts failed to sing artifacts"
Good day!

Trying to user Riltor to perform a release of https://github.com/maven-download-plugin/maven-download-plugin

The release procedure has stuck on `maven-gpg-plugin:sign-artifacts` execution
[code]
For more than 2h
See build log http://www.rultor.com/t/20245-531331268

Is it possible to diagnose what is wrong there?

Thanks in advance!

/cc @yegor256

[2019-09-13 19:58] 0crat commented on #1310
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-09-13 19:58] 0crat commented on #1310
@longtimeago[/z](https://www.0crat.com/u/longtimeago) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-13 20:31] longtimeago commented on #1310
upgraded `maven-gpg-plugin` to 1.6 and now there is another problem
[code]
According to logs http://www.rultor.com/t/20245-531372499 my `settings.xml` is fetched by rultor

[2019-09-14 08:00] longtimeago commented on #1310
and the last attempt
[code]
http://www.rultor.com/t/20245-531382861

[2019-09-14 08:27] longtimeago commented on #1310
I used gpg2 (GnuPG) 2.2.4 to generate gpg key

[2019-09-18 16:26] agorlov opened #1311 "Do merge and run checks as soon as the PR appears (improvement)"
@yegor256
How do you feel about the improvement of the rultor, so that it does checks as soon as the PR appears, before the code review?

So as not to waste architects time on what the machine will reveal on its own.

[2019-09-18 16:26] 0crat commented on #1311
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-09-18 16:26] 0crat commented on #1311
@agorlov[/z](https://www.0crat.com/u/agorlov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-01 19:49] longtimeago commented on #1310
tried to sign artifact locally using the same pgp key - signed without any issue

[2019-10-01 20:36] longtimeago commented on #1310
release issue https://github.com/maven-download-plugin/maven-download-plugin/pull/141

@yegor256 would appreciate any help here :)

[2019-10-10 09:40] yegor256 commented on #1310
@longtimeago did you read this? https://www.yegor256.com/2014/08/19/how-to-release-to-maven-central.html You need to have the secret key specified inside your `pom.xml`. It seems that you don't have it there.

[2019-10-10 09:50] longtimeago commented on #1310
@yegor256 yup, read this article back and forth :)
I've created settings.xml according to https://www.yegor256.com/2014/08/19/how-to-release-to-maven-central.html#create-settingsxml, encrypted it with `rultor encrypt` command and put to project root
https://github.com/maven-download-plugin/maven-download-plugin/blob/master/settings.xml.asc
Also 2 more files are nearby:
https://github.com/maven-dow

[2019-10-10 10:10] yegor256 commented on #1311
@agorlov this is what CI is for, like Travis. No need to repeat the same functionality in Rultor.

[2019-10-10 10:10] #1311 closed

[2019-10-10 10:48] 0crat commented on #1311
Job `gh:yegor256/rultor#1311` is not assigned, can't get performer

[2019-10-10 11:11] 0crat commented on #1308
Job `gh:yegor256/rultor#1308` is not assigned, can't get performer

[2019-10-10 11:11] 0crat commented on #1311
This job is not in scope

[2019-10-10 11:11] 0crat commented on #1308
This job is not in scope

[2019-10-11 07:21] yegor256 commented on #1310
@longtimeago my best guess is that the GPG files you have are not acceptable for the plugin. I don't know how you created them... Maybe something is wrong there.

[2019-10-15 15:32] Glusk opened #1312 "Rultor fails to parse a valid yaml"
This is the [`.rultor.yml`](https://github.com/Glusk2/sprouts/blob/881ff0ef2fe83ef8b236581cd325e56ba6ad23b0/.rultor.yml) file I am using:
[code]
The online parser classifies it as a valid `yml` and parses it [successfully](https://yaml-online-parser.appspot.com/?yaml=architect%3A%0A++-+Glusk2%0Adocker%3A%0A++image%3A+%22mingc%2Fandroid-build-box%3A1.12.0%22%0Arelease%3A%0A++script%3A%0A++++-+%22ch

[2019-10-15 15:33] 0crat commented on #1312
@glusk2[/z](https://www.0crat.com/u/glusk2) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-16 12:23] Glusk2 opened #1313 "Travis build is broken"
The travis build is failing (branch `master`, commit 5db4123):
https://travis-ci.org/yegor256/rultor/jobs/598137826

Error message:
[code]

This is a common problem among the Java 8 projects (https://github.com/yegor256/cactoos/issues/1172).

[2019-10-16 12:23] 0crat commented on #1313
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-10-16 12:23] 0crat commented on #1313
@glusk2[/z](https://www.0crat.com/u/glusk2) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-18 22:12] yegor256 opened #1315 "deploy to Dokku"

[2019-10-18 22:15] yegor256 commented on #1315
@rultor release, tag is `1.68.6`

[2019-10-18 22:15] rultor commented on #1315
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20644-543976881)

[2019-10-18 22:37] rultor commented on #1315
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20644-543976881) (spent 22min)

[code]

[2019-10-18 22:38] yegor256 commented on #1315
@rultor release, tag is `1.68.6`

[2019-10-18 22:41] rultor commented on #1315
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20644-543986571)

[2019-10-18 22:46] rultor commented on #1315
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20644-543986571) (spent 5min)

[code]

[2019-10-18 22:49] yegor256 commented on #1315
@rultor release, tag is `1.68.6`

[2019-10-18 22:49] rultor commented on #1315
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20644-543990721)

[2019-10-18 22:55] rultor commented on #1315
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20644-543990721) (spent 6min)

[code]

[2019-10-18 23:07] yegor256 commented on #1315
@rultor release, tag is `1.68.6`

[2019-10-18 23:08] rultor commented on #1315
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20644-543997067)

[2019-10-18 23:19] rultor commented on #1315
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20644-543997067) (took me 8min)

[2019-10-18 23:20] #1315 closed

[2019-10-19 02:19] 0crat commented on #1315
Job `gh:yegor256/rultor#1315` is not assigned, can't get performer

[2019-10-19 02:39] 0crat commented on #1315
This job is not in scope

[2019-10-19 11:08] yegor256 opened #1316 "sttc 0.16.2"
Let's use SSL version

[2019-10-20 01:15] Glusk2 commented on #1312
After viewing the `config`, this issue is in fact a duplicate of #1193.

_Originally posted by @rultor in https://github.com/Glusk2/sprouts/issues/163#issuecomment-544206038_

[2019-10-20 01:32] Glusk2 commented on #1193
The problem is that rultor uses an XML-based data store and has to escape `&`s. For variety, here are the other special characters that [Xembly](https://github.com/yegor256/xembly/) escapes:

https://github.com/yegor256/xembly/blob/aea87929c79d4e968a43b4372fc345a4c051669e/src/main/java/org/xembly/Arg.java#L121

[2019-10-21 08:45] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-10-23 01:29] Glusk2 commented on #1312
This problem seems to be directly related to #625 and #593,

[2019-10-23 02:25] Glusk2 commented on #593
I think this issue was not resolved properly.

The above YAML translates to [this](https://yaml-online-parser.appspot.com/?yaml=deploy%3A%0A++script%3A+%7C%0A++++echo+%22first%22%0A++++%23+some+comment%0A++++echo+%22second%22&type=canonical_yaml) (see *canonical yaml*).

The `script` entry in canonical yaml looks like this:
[code]

When rultor iterates `script` entries it uses [String.trim()](http

[2019-10-25 13:34] Glusk2 opened #1317 "Enable TLSv1.2 on Java 7 builds"
Appveyor and Shippable builds fail.

For example [28311685](https://ci.appveyor.com/project/yegor256/rultor/builds/28311685):

[code]

According to this [SO answer](https://stackoverflow.com/a/50956622) and this [sonatype blog post](https://central.sonatype.org/articles/2018/May/04/discontinued-support-for-tlsv11-and-below/) there are two solutions:
[code]
or
[code]

[2019-10-25 13:34] 0crat commented on #1317
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-10-25 13:34] 0crat commented on #1317
@glusk2[/z](https://www.0crat.com/u/glusk2) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-26 09:28] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-10-26 16:49] Glusk2 commented on #1235
@filfreire I've experienced the same issue. It looks like you have to sign-up with Shippable first in order to have access to the logs. Here is the error message from the build you've linked:

[code]

[2019-10-26 16:59] Glusk2 commented on #1178
The common issue seems to be the fact that the minimum Java version required to build Rultor is Java 8.

[2019-10-26 17:25] Glusk2 commented on #754
@maurezen I find *data flow diagrams* (https://www.google.com/search?q=data+flow+diagram&tbm=isch) to be rather excessive and dificult to make sense out of, but that's only my personal opinion. And correct me if I'm wrong, but aren't *control flow diagrams* (https://www.google.com/search?q=control+flow+diagram&tbm=isch) used to describe algorithms rather than architectural overviews?

That said th

[2019-10-27 18:04] vzurauskas opened #1319 "Can't login to www.rultor.com"
1) Go to https://www.rultor.com/
2) Click "login" at the top of the page.

What happens:
I get redirected to OAuth2 error URL:
`https://www.rultor.com/?error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application.&error_uri=https%3A%2F%2Fdeveloper.github.com%2Fapps%2Fmanaging-oauth-apps%2Ftroubleshooting-authorization-request-errors%2F%

[2019-10-27 18:04] 0crat commented on #1319
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-10-27 18:04] 0crat commented on #1319
@vzurauskas[/z](https://www.0crat.com/u/vzurauskas) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-30 02:11] yegor256 commented on #1319
@vzurauskas fixed

[2019-10-30 02:11] #1319 closed

[2019-10-30 03:37] #1317 closed

[2019-10-30 04:37] 0crat commented on #1317
Job `gh:yegor256/rultor#1317` is not assigned, can't get performer

[2019-10-30 04:48] 0crat commented on #1317
This job is not in scope

[2019-10-31 09:59] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-03 15:25] vzurauskas commented on #1272
@proshin-roman You can configure this from GitHub's side. Go to your repository's settings, scroll down until you see "Merge button" section. Check "Automatically delete head branches". Now Rultor will delete the branch after it's merged.

See one of the PRs in my repository for example: https://github.com/vzurauskas/nereides-jackson/pull/54

"rultor deleted the 53-cleanup branch 20 hours ago"

[2019-11-05 10:44] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-05 10:49] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-10 11:46] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-10 11:46] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-15 10:55] eivinhb commented on #1281
This is working now and we made a release! 🎉

[2019-11-15 10:55] #1281 closed

[2019-11-15 11:12] 0crat commented on #1281
Job `gh:yegor256/rultor#1281` is not assigned, can't get performer

[2019-11-15 11:12] 0crat commented on #1281
This job is not in scope

[2019-11-15 12:46] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-15 12:48] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-20 14:35] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-20 14:42] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-21 20:42] longtimeago commented on #1310
@yegor256 afais, `maven-gpg-plugin` under-the-hood uses `gpg` executable to encrypt artifacts https://github.com/apache/maven-gpg-plugin/blob/master/src/main/java/org/apache/maven/plugin/gpg/GpgSigner.java#L66

Rultor container has
[code]

But I generated gpg keys with gpg2 (which is a default for Ubuntu). Maybe this is the cause ...
Let me check if old keys generated with an old gpg would pass

[2019-11-21 21:40] longtimeago commented on #1310
no luck with gpg1, the same error :(

[2019-11-25 14:43] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-25 14:53] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-30 15:51] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-11-30 15:52] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-12-05 13:40] theruziev opened #1320 "Main page of rultor.com show private repos"
Main page of rultor.com show private repositories name in recent conversation. Is it ok?

![image](https://user-images.githubusercontent.com/32102033/70239997-733dc400-177d-11ea-8bba-72551baeaf55.png)

[2019-12-05 13:41] 0crat commented on #1320
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-12-05 13:41] 0crat commented on #1320
@theruziev[/z](https://www.0crat.com/u/theruziev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-05 16:53] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-12-05 16:57] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-12-10 19:08] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-12-10 19:18] 0crat commented on #1193
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1193](https://github.com/yegor256/rultor/issues/1193); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-12-12 10:49] #1313 closed

[2019-12-12 11:10] 0crat commented on #1313
Job `gh:yegor256/rultor#1313` is not assigned, can't get performer

[2019-12-12 11:11] 0crat commented on #1313
This job is not in scope

[2019-12-13 08:54] yegor256 opened #1322 "move Docker image to another repo"

[2019-12-13 09:55] yegor256 commented on #1322
@rultor release, tag is `1.68.7`

[2019-12-13 09:57] rultor commented on #1322
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21042-565377302)

[2019-12-13 10:13] rultor commented on #1322
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21042-565377302) (spent 15min)

[code]

[2019-12-13 11:30] yegor256 commented on #1322
@rultor release, tag is `1.68.7`

[2019-12-13 11:33] rultor commented on #1322
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21042-565408679)

[2019-12-13 11:50] rultor commented on #1322
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21042-565408679) (took me 13min)

[2019-12-13 14:23] #1322 closed

[2019-12-13 15:55] Glusk2 commented on #1322
@yegor256 Shouldn't the `README.md` be updated as well? Currently it's still:

[2019-12-14 11:59] 0crat commented on #1322
Job `gh:yegor256/rultor#1322` is not assigned, can't get performer

[2019-12-14 12:05] 0crat commented on #1322
This job is not in scope

[2019-12-15 18:50] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-12-16 21:03] yegor256 commented on #1320
@rultor release, tag is `1.68.8`

[2019-12-16 21:05] rultor commented on #1320
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21060-566241929)

[2019-12-16 21:23] rultor commented on #1320
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21060-566241929) (took me 14min)

[2019-12-16 22:00] yegor256 commented on #1320
@rultor release, tag is `1.68.9`

[2019-12-16 22:04] rultor commented on #1320
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21060-566263841)

[2019-12-16 22:23] rultor commented on #1320
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21060-566263841) (took me 16min)

[2019-12-17 10:36] #1320 closed

[2019-12-17 10:37] theruziev commented on #1320
doesn't show private repos thanks

[2019-12-17 10:55] 0crat commented on #1320
Job `gh:yegor256/rultor#1320` is not assigned, can't get performer

[2019-12-17 10:57] 0crat commented on #1320
This job is not in scope

[2019-12-17 15:22] yegor256 commented on #1320
@theruziev thanks!

[2019-12-17 15:23] yegor256 commented on #1312
@Glusk2 the problem still exists?

[2019-12-17 15:47] Glusk2 commented on #1312
@yegor256
I have since migrated the project to another automated release solution.

But the issue is still present in rultor.

[2019-12-18 13:16] Glusk2 commented on #1312
@yegor256
I've also commented on this issue:
- [here](https://github.com/yegor256/rultor/issues/593#issuecomment-545234991)

[2019-12-20 19:56] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2019-12-22 12:28] Glusk2 commented on #773
@yegor256
Was this resolved with #1320? If so, perhaps this issue should be closed as well.

[2019-12-22 19:16] proshin-roman opened #1323 "Rultor doesn't download assets from the linked repository"
I've configured Rultor in [my project](https://github.com/proshin-roman/finapi-java-client/blob/master/.rultor.yml) to use assets from a private repository (as it's explained here - https://doc.rultor.com/reference.html#assets).

But then I've tried to make a release, and it seems like Rultor didn't download those assets. At least I could see anything in the log file about the assetts: https://www

[2019-12-22 19:16] 0crat commented on #1323
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-12-22 19:16] 0crat commented on #1323
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-25 20:57] 0crat commented on #1272
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1272](https://github.com/yegor256/rultor/issues/1272); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2020-01-13 14:38] paulodamaso opened #1324 "Rultor is failing to merge"
I'm having problems to merge pull requests using rultor:
- https://github.com/yegor256/cactoos/pull/1272#issuecomment-573692180

Also, when trying to see the logs, rultor shows me this:
![image](https://user-images.githubusercontent.com/33915433/72264289-404ae380-35f9-11ea-936e-b061a1511027.png)

[2020-01-13 14:39] 0crat commented on #1324
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-13 14:39] 0crat commented on #1324
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-15 18:28] amihaiemil commented on #1324
@paulodamaso same here, right now. However, rultor replied with "Ok, I'll try to merge..."

[2020-01-15 18:29] amihaiemil commented on #1324
@paulodamaso However, I see that rultor replied to your command entirely. This could mean that only the website is having issues, not the chatbot itself.

[2020-01-16 09:12] amihaiemil commented on #1324
@paulodamaso I think it's a bigger problem. Rultor can't even download the Maven plugins and dependencies. See [here](https://github.com/jcabi/jcabi-github/issues/1507#issuecomment-575051164).

[2020-01-16 15:52] amihaiemil opened #1325 "Update Maven in Rultor Image"
We need to update the ``mvn`` version installed in the ``yegor256/rultor`` Docker image!

Maven builds are now failing to download the dependencies with the error: ``Return code is: 501 , ReasonPhrase:HTTPS Required`` (see [log](https://www.rultor.com/t/21188-575207768)).

According to SO, Sonatype started enforcing ``HTTPS`` requests since a few days ago.
https://stackoverflow.com/questions/59763

[2020-01-16 15:52] 0crat commented on #1325
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-16 15:52] 0crat commented on #1325
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-16 15:56] amihaiemil commented on #1325
@yegor256 pls have a look, it's urgent :)

[2020-01-23 14:04] paulodamaso commented on #1324
@amihaiemil I agree with you, looks like something bigger. I'm also having problemin merging [this](https://github.com/yegor256/takes/pull/1020#issuecomment-577477184).

[2020-01-23 14:04] paulodamaso commented on #1324
@yegor256 please take a look at this

[2020-01-23 14:19] amihaiemil commented on #1324
@paulodamaso your problem is most likely related to [this](https://github.com/yegor256/rultor/issues/1325) Issue.

I think we can close the ticket here :)

[2020-01-24 19:47] amihaiemil commented on #1325
Waiting for [this](https://github.com/yegor256/dockers/pull/10) to be merged.

[2020-01-28 00:04] paulodamaso commented on #1324
@amihaiemil Thanks for the info. Lets wait for https://github.com/yegor256/dockers/issues/11 and if things get right I'll close this one

[2020-01-29 14:56] fevzian opened #1326 "Rultor merge command fails due to specific title of Pull Request"
In [Cactoos ](https://github.com/yegor256/cactoo) project, one of the pull request [1272](https://github.com/yegor256/cactoos/pull/1272) was failing when 'rultor merge' command was issued.
We have done some investigations and figured out, that the root cause of the issue was the title of the pull request.
The initial title was: `(#1226) Delete And(Proc, ...) and introduce ForEach(Proc, ...)` and t

[2020-01-29 14:57] 0crat commented on #1326
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-29 14:57] 0crat commented on #1326
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-08 04:08] paulodamaso commented on #1324
@amihaiemil I still having problems to merge:
- https://github.com/yegor256/cactoos/pull/1289#issuecomment-583699858
- https://github.com/yegor256/takes/pull/1028#issuecomment-582913537

[2020-02-10 03:45] yegor256 commented on #1324
@paulodamaso just make sure you use `yegor256/rultor-image` Docker image and the problem will be resolved.

[2020-02-10 03:45] #1324 closed

[2020-02-10 03:52] yegor256 commented on #1325
@amihaiemil fixed already. use the latest `yegor256/rultor-image` image, it works fine

[2020-02-10 03:52] #1325 closed

[2020-02-10 03:52] #1316 closed

[2020-02-10 03:53] yegor256 commented on #1323
@proshin-roman use the lastes `yegor256/rultor-image` and the problem will disappear

[2020-02-10 03:53] #1323 closed

[2020-02-10 03:53] #1305 closed

[2020-02-10 04:03] 0crat commented on #1324
Job `gh:yegor256/rultor#1324` is not assigned, can't get performer

[2020-02-10 04:04] 0crat commented on #1324
This job is not in scope

[2020-02-10 04:11] 0crat commented on #1316
Job `gh:yegor256/rultor#1316` is not assigned, can't get performer

[2020-02-10 04:12] 0crat commented on #1325
Job `gh:yegor256/rultor#1325` is not assigned, can't get performer

[2020-02-10 21:15] amihaiemil opened #1327 "How to get the Issue where the command was given?"
Is there a way to get the Issue Number where the command was given, within rultor's running script? Perhaps something similar to how we have the ${tag} variable.

[2020-02-10 21:15] 0crat commented on #1327
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-10 21:15] 0crat commented on #1327
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-10 21:16] amihaiemil commented on #1327
@yegor256 when you have time, pls have a look here :D

[2020-02-10 22:09] amihaiemil commented on #1327
Nevermind, I just realized we can specify any environment variable in the comments, not just ``tag``.

[2020-02-10 22:09] #1327 closed

[2020-02-10 22:44] 0crat commented on #1327
Job `gh:yegor256/rultor#1327` is not assigned, can't get performer

[2020-02-10 22:48] 0crat commented on #1327
This job is not in scope

[2020-02-28 14:15] FdseLab opened #1328 "There are several CVEs in the project dependencies"
Hi, I found that your project are using some vulnerable dependencies. In order to avoid threats, I recommend updating to a safe version. The details are as follows.
* **Vulnerable Library Version:** org.codehaus.groovy : groovy-all : 2.4.5
  **CVE ID:** [CVE-2016-6814](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-6814)
  **Import Path:** pom.xml
  **Suggested Safe Versions:** 2.4.10, 2.

[2020-02-28 14:15] 0crat commented on #1328
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-28 14:15] 0crat commented on #1328
@fdselab[/z](https://www.0crat.com/u/fdselab) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3SAYRPH9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-02 15:07] yegor256 opened #1329 "remove --entrypoint"
It was added in #1309 (I can't understand why). Let's remove it since it conflicts with `ENTRYPOINT` from `Dockerfile` of the image.

[2020-03-02 15:08] yegor256 commented on #1329
@rultor release, tag is `1.68.10`

[2020-03-02 15:11] rultor commented on #1329
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21452-593448776)

[2020-03-02 15:19] rultor commented on #1329
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21452-593448776) (spent 7min)

[code]

[2020-03-02 15:29] yegor256 commented on #1329
@rultor release, tag is `1.68.10`

[2020-03-02 15:31] rultor commented on #1329
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21452-593459352)

[2020-03-02 17:33] rultor commented on #1329
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21452-593459352) (spent 2hr)

[code]

[2020-03-02 18:09] yegor256 commented on #1329
@rultor release, tag is `1.68.10`

[2020-03-02 18:11] rultor commented on #1329
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21452-593538681)

[2020-03-02 18:14] rultor commented on #1329
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21452-593538681) (spent 2min)

[code]

[2020-03-02 19:51] yegor256 commented on #1329
@rultor release, tag is `1.68.10`

[2020-03-02 19:53] rultor commented on #1329
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21452-593585784)

[2020-03-02 19:55] rultor commented on #1329
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21452-593585784) (spent 2min)

[code]

[2020-03-02 20:00] yegor256 commented on #1329
@rultor release, tag is `1.68.10`

[2020-03-02 20:03] rultor commented on #1329
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21452-593589748)

[2020-03-02 20:07] rultor commented on #1329
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21452-593589748) (spent 4min)

[code]

[2020-03-03 04:13] yegor256 commented on #1329
@rultor release, tag is `1.68.10`

[2020-03-03 04:16] rultor commented on #1329
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21452-593758652)

[2020-03-03 04:19] rultor commented on #1329
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21452-593758652) (spent 2min)

[code]

[2020-03-03 17:19] yegor256 commented on #1329
@rultor release, tag is `1.68.10`

[2020-03-03 17:21] rultor commented on #1329
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21452-594066931)

[2020-03-03 17:34] rultor commented on #1329
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21452-594066931) (took me 9min)

[2020-03-03 18:18] #1329 closed

[2020-03-03 18:52] 0crat commented on #1329
Job `gh:yegor256/rultor#1329` is not assigned, can't get performer

[2020-03-03 18:55] 0crat commented on #1329
This job is not in scope

[2020-03-03 20:06] yegor256 opened #1331 "add R user to RVM group"
Let's add the user `r` to `rvm` group on login

[2020-03-03 20:27] yegor256 commented on #1331
@rultor release, tag is `1.68.11`

[2020-03-03 20:30] rultor commented on #1331
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21459-594151757)

[2020-03-03 20:41] yegor256 commented on #1331
@rultor stop

[2020-03-03 20:41] rultor commented on #1331
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21459-594151757) (took me 8min)

[2020-03-03 20:43] rultor commented on #1331
@yegor256 OK, I'll try to stop current task.

[2020-03-03 20:44] rultor commented on #1331
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21459-594157762) (spent 33s)

[code]

[2020-03-04 05:29] #1331 closed

[2020-03-04 05:29] yegor256 commented on #1331
It doesn't help

[2020-03-04 06:33] 0crat commented on #1331
Job `gh:yegor256/rultor#1331` is not assigned, can't get performer

[2020-03-04 06:47] 0crat commented on #1331
This job is not in scope

[2020-03-04 09:21] yegor256 commented on #1331
@rultor release, tag is `1.68.12`

[2020-03-04 09:24] rultor commented on #1331
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21459-594410657)

[2020-03-04 09:37] rultor commented on #1331
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21459-594410657) (took me 9min)

[2020-03-10 19:30] yegor256 opened #1332 "set BASH as default shell for new user"

[2020-03-10 19:32] yegor256 commented on #1332
@rultor release, tag is `1.68.13`

[2020-03-10 19:35] rultor commented on #1332
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21513-597272542)

[2020-03-10 19:46] rultor commented on #1332
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21513-597272542) (took me 8min)

[2020-03-10 19:47] #1332 closed

[2020-03-10 22:48] 0crat commented on #1332
Job `gh:yegor256/rultor#1332` is not assigned, can't get performer

[2020-03-13 10:01] vzurauskas opened #1333 "Release command fails - "JAVA_HOME is not correctly set""
`release` command is failing with this error:

[code]

Full log: https://www.rultor.com/t/21469-597891597

[2020-03-13 10:02] 0crat commented on #1333
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-13 10:05] vzurauskas opened #1334 "Logs are messed up"
`m` and `1` chars are randomly inserted in Rultor logs, e.g.:

[code]

This log, for example: https://www.rultor.com/t/21469-597891597

[2020-03-13 10:05] 0crat commented on #1334
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-04-22 04:58] yegor256 opened #1335 "back to heroku"

[2020-04-22 04:58] yegor256 commented on #1334
@vzurauskas this is because of the colored output. You can fix this only inside your build. Rultor just prints what it sees.

[2020-04-22 04:58] #1334 closed

[2020-04-22 05:14] yegor256 commented on #1335
@rultor hello

[2020-04-22 05:14] rultor commented on #1335
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2020-04-22 05:15] yegor256 commented on #1335
@rultor release, tag is `1.68.14`

[2020-04-22 05:16] rultor commented on #1335
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21842-617555313)

[2020-04-22 05:22] rultor commented on #1335
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21842-617555313) (spent 6min)

[code]

[2020-04-22 05:26] yegor256 commented on #1335
@rultor release, tag is `1.68.14`

[2020-04-22 05:27] rultor commented on #1335
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21842-617558483)

[2020-04-22 05:33] rultor commented on #1335
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21842-617558483) (spent 6min)

[code]

[2020-04-22 05:56] yegor256 commented on #1335
@rultor release, tag is `1.68.14`

[2020-04-22 05:57] rultor commented on #1335
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21842-617567552)

[2020-04-22 06:03] rultor commented on #1335
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21842-617567552) (spent 6min)

[code]

[2020-04-22 06:17] #1335 closed

[2020-05-02 08:13] RoRoche opened #1336 "Rultor failed cause no changes comparing to previous release"
I made no changes comparing to previous release/master. It seems like a bug in Rultor though.

- https://github.com/RoRoche/elegant-android/issues/3
- https://www.rultor.com/t/21951-622787881

[2020-05-02 08:14] 0crat commented on #1336
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-05-02 08:17] yegor256 commented on #1336
@RoRoche the bug is in your script: https://github.com/RoRoche/elegant-android/blob/master/.rultor.yml#L9 Replace this line with this:

[code]

[2020-05-02 08:17] #1336 closed

[2020-05-02 08:32] RoRoche opened #1337 "Rultor failed: fatal: Paths with -a does not make sense"
Rultor failed with the following message:

[code]

Here is the issue:
- https://github.com/RoRoche/elegant-android/issues/3

Here are the logs:
- https://www.rultor.com/t/21951-622869333

[2020-05-02 08:32] 0crat commented on #1337
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-05-02 08:34] 0crat commented on #1336
Job `gh:yegor256/rultor#1336` is not assigned, can't get performer

[2020-05-02 09:23] RoRoche commented on #1336
Still failing, please see https://github.com/yegor256/rultor/issues/1337

[2020-05-02 12:36] yegor256 commented on #1337
@RoRoche try this:

[code]

[2020-05-02 12:36] #1337 closed

[2020-05-02 12:56] 0crat commented on #1337
Job `gh:yegor256/rultor#1337` is not assigned, can't get performer

[2020-05-02 15:40] RoRoche commented on #1131
Hi @amihaiemil , did you succeed using env var in .rultor.yml?

[2020-05-02 18:45] RoRoche opened #1338 "Does Rultor support env variable in script?"
Here is the Gradle command I want to perform while releasing:

[code]

How to pass these secrets to Rultor? Via `settings.xml`?

[2020-05-02 18:45] 0crat commented on #1338
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-05-02 19:24] RoRoche opened #1339 "Docker image for Android with Build Tools revision 29.0.2"
I reach the following error:

[code]

See https://www.rultor.com/t/21951-622998562

I'm using [g4s8/rultor-android](https://hub.docker.com/r/g4s8/rultor-android) but it seems to not be up-to-date.

Does another Android Docker image exist for Rultor?

[2020-05-02 19:24] 0crat commented on #1339
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-05-02 19:35] amihaiemil commented on #1131
@RoRoche I don't remember exactly, but I think you can specify any variable the way you specify the `tag` when you say "release".

I think he will take any variable when you sat ``X is `val` ``,  but I am not sure. Look over the doc files on Rultor's website, there is an example where the postgre version is specified,  if I remember well.

[2020-05-02 20:08] RoRoche commented on #1131
I need to configure secrets so can't write it clearly in the `.rultor.yml` file.

[2020-05-02 20:39] amihaiemil commented on #1131
@RoRoche you can encrypt a file using the ``rultor`` CLI tool. Write me an email and I will respond to tell you how.

[2020-05-07 16:15] ArtemijRodionov opened #1340 "Github link to revision leads to 404"
<img width="420" alt="изображение" src="https://user-images.githubusercontent.com/13870342/81318153-77586f80-9096-11ea-91d8-701c69881594.png">
<img width="420" alt="изображение" src="https://user-images.githubusercontent.com/13870342/81318175-80494100-9096-11ea-8db3-c4e16c6c70d2.png">

[2020-05-07 16:15] 0crat commented on #1340
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-05-09 07:52] RoRoche opened #1341 "[improvement] possible to customize Twitter post?"
Hi all,
Rultor automatically tweets about successful jobs.
I would have some requirements to:
- customize the image used to tweet, not the owner's avatar but the library icon
- add the owner's Twitter account
- add some hashtags

[2020-05-09 07:52] 0crat commented on #1341
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-05-18 06:38] yegor256 opened #1342 "friends with fine-grained access"
Let's make it possible to define friends like this:

[code]

[2020-05-18 06:42] yegor256 opened #1343 "trustees"
Let's make it possible to specify the list of users we trust in `trustees`. These users must be last committers to `.rultor.yml` file in order let those friend repos get the secrets.

[2020-05-20 05:26] yegor256 commented on #1343
@rultor release, tag is `1.69.0`

[2020-05-20 05:27] rultor commented on #1343
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22113-631244762)

[2020-05-20 05:33] rultor commented on #1343
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22113-631244762) (took me 5min)

[2020-05-20 05:37] #1343 closed

[2020-05-20 05:37] #1342 closed

[2020-05-20 05:37] yegor256 commented on #1342
No need, since we have `trustees`

[2020-05-20 06:00] 0crat commented on #1343
Job `gh:yegor256/rultor#1343` is not assigned, can't get performer

[2020-05-20 06:01] 0crat commented on #1342
Job `gh:yegor256/rultor#1342` is not assigned, can't get performer

[2020-05-20 08:45] yegor256 opened #1344 "No commit found for SHA"
[code]

[2020-05-20 11:14] yegor256 commented on #1344
@rultor release, tag is `1.69.1`

[2020-05-20 11:16] rultor commented on #1344
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22121-631409973)

[2020-05-20 11:22] rultor commented on #1344
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22121-631409973) (took me 4min)

[2020-05-20 11:31] #1344 closed

[2020-05-20 11:49] 0crat commented on #1344
Job `gh:yegor256/rultor#1344` is not assigned, can't get performer

[2020-06-14 08:48] dgroup commented on #1184
@yegor256 there might be security issue here, as someone in pull request may add
[code]
and your variables or assets will be available in logs...

Be very careful with such type of feature requests...

[2020-06-22 15:54] driver733 commented on #1184
@extsoft As pointed out by @dgroup, I think that Rultor should use only the master branch config.

[2020-06-23 08:08] extsoft commented on #1184
@driver733 I understand the security risks and they should be handled as well.

However, from a functional point of view, I update the branch's config with an incompatible change. And the behavior I described should happen only in the branches that have the new changes, but all other branches should behave in the correspondence of their own config - it's like other CI servers work.

Now, If I push

[2020-06-23 13:54] driver733 commented on #1184
@extsoft You're right, it makes sense.

I am using Github Actions and it works the following way:
1. CI uses config in the according branch
2. Repository forks are not permitted to access secrets.

I think this kind of behavior is the most preferable.

[2020-08-23 10:11] andreoss opened #1345 "Troubleshooting locally"
It would be nice to have an abilty to run `rultor` commands locally (in a Docker container), in a manner you can do it with travis
https://stackoverflow.com/questions/21053657/how-to-run-travis-ci-locally/49019950#49019950

[2020-12-08 18:05] amihaiemil opened #1346 "Rultor Cannot Connect to GPG Server"
There is a known bug in Rultor, where it sometimes fails to connect to the GPG Server and the merge/deploy/release operation fails because it cannot decrypt the private assets. See an example [here](https://github.com/self-xdsd/self-storage/pull/195#issuecomment-740802544).

I suppose this is the GPG Server's fault, but this behaviour is more and more frequent in the last period (lately, 2 out of

[2020-12-08 18:19] yegor256 commented on #1346
@amihaiemil do you know how this can be solved?

[2020-12-09 06:19] amihaiemil commented on #1346
@yegor256 not really, but it couldbe at least mitigated: at the moment rultor decrypts the assets at each operation, but for instance I need private assets only on release.

So we could have an option (decrypt: true|false) for each operation.

[2020-12-09 08:27] yegor256 commented on #1346
@amihaiemil that's a good idea. Can you make a PR? Should be easy, I believe.

[2020-12-09 08:36] amihaiemil commented on #1346
@yegor256 I'll look into it this week

[2020-12-13 04:36] andreoss opened #1347 "Testcontaineres / Docker-in-docker support"
Is there an option to start dind or expose hosts docker daemon from the container?
This feature is needed by testcontainers library, which does require docker environment

[2021-06-03 22:01] rocket-3 commented on #1338
@RoRoche try follow these steps
1) Configure your secret file _assets_ from the [.rultor.yml Reference](https://doc.rultor.com/reference.html)
2) Put unix commands setting your $GRADLE_ env variables from file like [suggested here](https://stackoverflow.com/a/2789399) into `install: |-` section of your .rultor.yml

[2021-06-04 14:58] rocket-3 commented on #1131
@amihaiemil, try [this answer](https://github.com/yegor256/rultor/issues/1338#issuecomment-854213711)

You can use **any** variable from message to rultor, not only tag. You configure them in your .rultor.yml file [like that](https://github.com/databasegit/dbgit/blob/master/.rultor.yml) and pass to rultor in message, escaping value with `` chars:

[2021-08-24 03:09] yegor256 opened #1350 "show Git version"
Show it before doing the manipulations

[2021-08-24 03:11] yegor256 commented on #1350
@rultor release, tag is `1.70.0`

[2021-08-24 03:32] rultor commented on #1350
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24954-904287982)

[2021-08-24 03:36] rultor commented on #1350
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24954-904287982) (spent 4min)

[code]

[2021-08-24 03:45] #1350 closed

[2021-08-24 03:47] yegor256 opened #1351 "show "git status" before going to the branch"
Let's show

[2021-08-24 03:48] yegor256 opened #1352 "parent 0.52.1"
Let's upgrade

[2021-08-24 03:50] yegor256 commented on #1351
@rultor release, tag is `1.70.1`

[2021-08-24 03:52] rultor commented on #1351
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24955-904300220)

[2021-08-24 03:57] rultor commented on #1351
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24955-904300220) (took me 4min)

[2021-08-24 03:59] #1351 closed

[2021-08-24 05:30] 0crat commented on #1351
Job `gh:yegor256/rultor#1351` is not assigned, can't get performer

[2021-08-29 14:12] yegor256 opened #1353 "new keyserver"
Let's use the one from openpgp

[2021-08-29 14:15] yegor256 commented on #1353
@rultor release, tag is `1.70.2`

[2021-08-29 14:17] rultor commented on #1353
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24989-907798769)

[2021-08-29 14:22] rultor commented on #1353
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24989-907798769) (took me 4min)

[2021-08-29 14:27] yegor256 commented on #1353
@rultor release, tag is `1.70.3`

[2021-08-29 14:27] #1353 closed

[2021-08-29 14:28] rultor commented on #1353
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24989-907800814)

[2021-08-29 14:34] rultor commented on #1353
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24989-907800814) (took me 4min)

[2021-08-29 15:23] 0crat commented on #1353
Job `gh:yegor256/rultor#1353` is not assigned, can't get performer

[2021-09-01 05:00] yegor256 commented on #1353
@rultor release, tag is `1.70.5`

[2021-09-01 05:08] rultor commented on #1353
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24989-909887358) (took me 5min)

[2021-09-01 12:23] yegor256 commented on #1353
@rultor release, tag is `1.70.6`

[2021-09-01 12:24] rultor commented on #1353
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24989-910233205)

[2021-09-01 12:32] rultor commented on #1353
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24989-910233205) (took me 6min)

[2021-09-17 05:08] yegor256 opened #1355 "-p for SUDO to preserve environment variables"
Let's add it

[2022-01-13 17:43] dgroup opened #1356 "error: pathspec 'master' did not match any file(s) known to git."
By GitHub policies `master` branch is deprecated and now for newly created repositories the mainline branch has the name `main`:
https://www.rultor.com/t/25430-1012352750
[code]
Can you please support both branches `master` or `main`...

[2022-01-25 18:07] #1352 closed

[2022-01-25 18:07] #1355 closed

[2022-02-13 09:55] dgroup opened #1361 "Must specify access token via Authorization header. https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param"
### Test case:
1. Open https://www.rultor.com
2. Press [login]
   **Expected result**: Login successful
   **Actual result**:  Internal Application Error
[code]

Due to this error I can't check the logs for rultor builds related to my projects...

[2022-03-14 02:00] baudoliver7 opened #1363 "Bug when trying to run an echo instruction in multiple line"
When we attempt to run this script :
[code]
We got this error :
[code]
But when we run the same command line on a single line, it works well.

[2022-04-02 15:46] baudoliver7 opened #1364 "Use change log contained in `CHANGELOG.md` file"
Like it is done in Github Actions. You format your change log in `CHANGELOG.md` file specifying in title your version. Rultor will be based on the version to find the changelog.
I suggest to use this command to enable this feature:

[code]

[2022-06-28 04:38] yegor256 opened #1365 "release for Java 17"
Let's release it

[2022-06-28 04:38] 0pdd commented on #1165
The puzzle `629-3b4a7478` has disappeared from the source code, that's why I closed this issue.

[2022-06-28 04:38] #1165 closed

[2022-06-28 04:38] #1166 closed

[2022-06-28 04:38] 0pdd commented on #1166
The puzzle `629-97e18362` has disappeared from the source code, that's why I closed this issue.

[2022-06-28 04:38] 0pdd commented on #1167
The puzzle `629-efc8aa9c` has disappeared from the source code, that's why I closed this issue.

[2022-06-28 04:38] #1167 closed

[2022-06-28 04:38] #1168 closed

[2022-06-28 04:38] 0pdd commented on #1168
The puzzle `629-bb1a14ed` has disappeared from the source code, that's why I closed this issue.

[2022-06-28 04:38] #1232 closed

[2022-06-28 04:39] 0pdd commented on #1232
The puzzle `629-ebd8dabe` has disappeared from the source code, that's why I closed this issue.

[2022-06-28 04:39] 0pdd commented on #629
@yegor256 all 11 puzzles are solved here: [#1165](https://github.com/yegor256/rultor/issues/1165), [#1166](https://github.com/yegor256/rultor/issues/1166), [#1167](https://github.com/yegor256/rultor/issues/1167), [#1168](https://github.com/yegor256/rultor/issues/1168), [#1232](https://github.com/yegor256/rultor/issues/1232), [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#u

[2022-07-11 05:59] 0pdd opened #1368 "Profiles.java:108-115: Add integration test to be sure..."
The puzzle `1039-d8a49c64` from #1039 has to be resolved:

https://github.com/yegor256/rultor/blob//src/main/java/com/rultor/profiles/Profiles.java#L108-L115

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2022-07-11 05:59] 0pdd opened #1369 "GithubProfile.java:331-334: Implement validation using..."
The puzzle `570-b7bcc1c2` from #570 has to be resolved:

https://github.com/yegor256/rultor/blob/c4e1c8e5c92cdd5dca5165fd3790e44812673ef9/src/main/java/com/rultor/profiles/GithubProfile.java#L331-L334

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2022-07-11 05:59] 0pdd opened #1370 "Routine.java:60-69: Routine should be delegate execution..."
The puzzle `1125-c2e86b18` from #1125 has to be resolved:

https://github.com/yegor256/rultor/blob/c4e1c8e5c92cdd5dca5165fd3790e44812673ef9/src/main/java/com/rultor/Routine.java#L60-L69

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2022-07-11 05:59] 0pdd opened #1371 "ReleaseBinaries.java:47-49: Implement attaching artifacts..."
The puzzle `662-8cc0c29a` from #662 has to be resolved:

https://github.com/yegor256/rultor/blob/c4e1c8e5c92cdd5dca5165fd3790e44812673ef9/src/main/java/com/rultor/agents/github/ReleaseBinaries.java#L47-L49

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2022-07-11 05:59] 0pdd opened #1372 "Mails.java:47-53: Implement Mails agent. Similar to what..."
The puzzle `748-9cbe7474` from #748 has to be resolved:

https://github.com/yegor256/rultor/blob/c4e1c8e5c92cdd5dca5165fd3790e44812673ef9/src/main/java/com/rultor/agents/Mails.java#L47-L53

The puzzle was created by @yegor256 on 11-Jul-22.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2022-07-11 05:59] 0pdd opened #1373 "Mails.java:54-56: Describe in file..."
The puzzle `748-bb1cb5c5` from #748 has to be resolved:

https://github.com/yegor256/rultor/blob/c4e1c8e5c92cdd5dca5165fd3790e44812673ef9/src/main/java/com/rultor/agents/Mails.java#L54-L56

The puzzle was created by @yegor256 on 11-Jul-22.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2022-07-11 05:59] 0pdd opened #1374 "EndsDaemon.java:63-65: Reduce the data abstraction..."
The puzzle `1053-dc86a5cc` from #1053 has to be resolved:

https://github.com/yegor256/rultor/blob/c4e1c8e5c92cdd5dca5165fd3790e44812673ef9/src/main/java/com/rultor/agents/daemons/EndsDaemon.java#L63-L65

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2022-07-11 05:59] 0pdd opened #1375 "DockerHealthCheck.java:48-51: Add DockerHealthCheck to..."
The puzzle `1041-7f83dd26` from #1041 has to be resolved:

https://github.com/yegor256/rultor/blob/c4e1c8e5c92cdd5dca5165fd3790e44812673ef9/src/main/java/com/rultor/agents/docker/DockerHealthCheck.java#L48-L51

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2022-07-11 05:59] 0pdd opened #1376 "ClosePullRequestTest.java:60-64: This class should only..."
The puzzle `918-89660440` from #918 has to be resolved:

https://github.com/yegor256/rultor/blob/c4e1c8e5c92cdd5dca5165fd3790e44812673ef9/src/test/java/com/rultor/agents/github/ClosePullRequestTest.java#L60-L64

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2022-07-11 05:59] 0pdd opened #1377 "MailsTest.java:95-96: Implement method sendsToRecipients...."
The puzzle `748-a3bd319f` from #748 has to be resolved:

https://github.com/yegor256/rultor/blob/c4e1c8e5c92cdd5dca5165fd3790e44812673ef9/src/test/java/com/rultor/agents/MailsTest.java#L95-L96

The puzzle was created by Yegor Bugayenko on 11-Jul-22.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2022-07-11 05:59] 0pdd commented on #570
@yegor256 the puzzle [#1369](https://github.com/yegor256/rultor/issues/1369) is still not solved.

[2022-07-11 05:59] 0pdd commented on #1125
@original-brownbear the puzzle [#1370](https://github.com/yegor256/rultor/issues/1370) is still not solved.

[2022-07-11 05:59] 0pdd commented on #662
@yegor256 the puzzle [#1371](https://github.com/yegor256/rultor/issues/1371) is still not solved.

[2022-07-11 05:59] 0pdd commented on #748
@yegor256 3 puzzles [#1372](https://github.com/yegor256/rultor/issues/1372), [#1373](https://github.com/yegor256/rultor/issues/1373), [#1377](https://github.com/yegor256/rultor/issues/1377) are still not solved.

[2022-07-11 05:59] 0pdd commented on #1053
@alex-palevsky the puzzle [#1374](https://github.com/yegor256/rultor/issues/1374) is still not solved.

[2022-07-11 05:59] 0pdd commented on #1041
@AbdealiJK the puzzle [#1375](https://github.com/yegor256/rultor/issues/1375) is still not solved.

[2022-07-11 05:59] 0pdd commented on #918
@dmzaytsev the puzzle [#1376](https://github.com/yegor256/rultor/issues/1376) is still not solved.

[2022-07-11 15:53] rultor commented on #1365
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26197-1180567368) (spent 9min)

[code]

[2022-07-11 16:42] rultor commented on #1365
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26197-1180628054) (spent 3min)

[code]

[2022-07-11 16:48] yegor256 commented on #1365
@rultor release, tag is `1.71.0`

[2022-07-11 16:50] rultor commented on #1365
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26197-1180638724)

[2022-07-11 17:32] rultor commented on #1365
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26197-1180638724) (spent 42min)

[code]

[2022-07-15 12:06] rultor commented on #1365
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26197-1185479167)

[2022-07-15 12:17] rultor commented on #1365
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26197-1185479167) (took me 10min)

[2022-07-15 12:25] yegor256 commented on #1365
@rultor release, tag is `1.71.2`

[2022-07-15 12:26] rultor commented on #1365
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26197-1185494564)

[2022-07-15 12:32] rultor commented on #1365
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26197-1185494564) (took me 5min)

[2022-07-15 12:33] #1365 closed

[2022-07-15 12:38] yegor256 opened #1378 "gzip output doesn't work in home page"
Let's fix or disable

[2022-07-16 20:05] yegor256 commented on #1378
@rultor release, tag is `1.71.3`

[2022-07-16 20:06] rultor commented on #1378
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26252-1186280045)

[2022-07-16 20:12] rultor commented on #1378
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26252-1186280045) (took me 5min)

[2022-07-16 20:17] #1378 closed

[2022-07-17 05:31] yegor256 opened #1379 "fail if 'deploy' section is absent in '.rultor.yml'"
Now we just quietly continue. This is dangerous, since may mislead users. Let's fail.

[2022-07-17 05:40] yegor256 commented on #1379
@rultor release, tag is `1.72.0`

[2022-07-17 05:41] rultor commented on #1379
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26253-1186410393)

[2022-07-17 05:41] rultor commented on #1379
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26253-1186410393) (spent 26s)

[code]

[2022-07-17 05:44] yegor256 commented on #1379
@rultor release, tag is `1.72.0`

[2022-07-17 05:45] rultor commented on #1379
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26253-1186410775)

[2022-07-17 05:54] rultor commented on #1379
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26253-1186410775) (spent 40s)

[code]

[2022-07-17 05:59] yegor256 commented on #1379
@rultor release, tag is `1.73.0`

[2022-07-17 06:00] rultor commented on #1379
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26253-1186412718)

[2022-07-17 06:05] rultor commented on #1379
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26253-1186412718) (spent 40s)

[code]

[2022-07-22 05:49] yegor256 commented on #1379
@rultor release, tag is `1.74.0`

[2022-07-22 05:51] rultor commented on #1379
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26253-1192207597)

[2022-07-22 05:56] #1379 closed

[2022-07-22 08:45] yegor256 commented on #1379
@rultor release, tag is `1.74.1`

[2022-07-22 08:53] rultor commented on #1379
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26253-1192334593) (spent 25s)

[code]

[2022-07-22 09:45] yegor256 commented on #1379
@rultor release, tag is `1.74.1`

[2022-07-22 09:46] rultor commented on #1379
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26253-1192388645)

[2022-07-22 09:47] rultor commented on #1379
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26253-1192388645) (spent 39s)

[code]

[2022-07-22 09:48] yegor256 commented on #1379
@rultor release, tag is `1.74.2`

[2022-07-22 09:50] rultor commented on #1379
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26253-1192391503)

[2022-07-22 09:55] rultor commented on #1379
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26253-1192391503) (spent 25s)

[code]

[2022-07-22 10:05] rultor commented on #1379
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26253-1192406394)

[2022-07-22 10:06] rultor commented on #1379
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26253-1192406394) (spent 49s)

[code]

[2022-07-22 12:10] yegor256 commented on #1379
@rultor release, tag is `1.74.3`

[2022-07-22 12:12] rultor commented on #1379
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26253-1192507578)

[2022-07-22 12:18] rultor commented on #1379
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26253-1192507578) (took me 5min)

[2022-07-22 12:21] yegor256 commented on #1379
@rultor release, tag is `1.74.4`

[2022-07-22 12:23] rultor commented on #1379
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26253-1192516272)

[2022-07-22 12:29] rultor commented on #1379
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26253-1192516272) (took me 5min)

[2022-07-22 14:42] yegor256 opened #1380 "StartDaemon is waiting until Docker finishes, but it shouldn't"
Maybe this is related to this problem: https://github.com/jcabi/jcabi-ssh/issues/94

[2022-07-29 10:30] yegor256 opened #1381 "interrupt after 10 seconds"
StartsDaemon

[2022-07-29 10:30] yegor256 commented on #1381
@rultor release, tag is `1.74.5`

[2022-07-29 10:32] rultor commented on #1381
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26385-1199121887)

[2022-07-29 10:33] rultor commented on #1381
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26385-1199121887) (spent 1min)

[code]

[2022-07-29 10:35] yegor256 commented on #1381
@rultor release, tag is `1.74.5`

[2022-07-29 10:37] rultor commented on #1381
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26385-1199125970)

[2022-07-29 10:39] rultor commented on #1381
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26385-1199125970) (spent 2min)

[code]

[2022-07-29 10:40] #1381 closed

[2022-07-29 12:12] yegor256 opened #1382 "jcabi-ssh 1.8.0"
let's upgrade

[2022-07-29 12:44] #1382 closed

[2022-08-06 05:07] yegor256 opened #1383 "jcabi-ssh 1.8.1"

[2022-08-06 05:13] yegor256 commented on #1383
@rultor release, tag is `1.74.5`

[2022-08-06 05:14] rultor commented on #1383
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26436-1207148805)

[2022-08-06 05:17] rultor commented on #1383
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26436-1207148805) (spent 3min)

[code]

[2022-08-06 05:22] #1383 closed

[2022-08-06 05:45] 0crat commented on #1383
Job `gh:yegor256/rultor#1383` is not assigned, can't get performer

[2022-08-06 07:42] yegor256 opened #1384 "too long timeouts"

[2022-08-06 12:44] #1384 closed

[2022-08-06 13:01] 0crat commented on #1384
Job `gh:yegor256/rultor#1384` is not assigned, can't get performer

[2022-08-16 08:57] #1380 closed

[2022-08-16 08:58] yegor256 commented on #1371
@yasamprom try this one

[2022-08-16 09:14] 0crat commented on #1380
Job `gh:yegor256/rultor#1380` is not assigned, can't get performer

[2022-08-18 14:04] yasamprom commented on #1371
@yegor256 Have I understood correctly that I need to implement putting binaries to assets?

[2022-08-18 14:29] yegor256 commented on #1371
@yasamprom yes, exactly

[2022-08-24 06:58] yegor256 commented on #1364
@baudoliver7 we don't need this file anymore

[2022-08-24 06:58] #1364 closed

[2022-08-24 06:58] yegor256 commented on #1364
@rultor release, tag is `1.74.5`

[2022-08-24 07:00] rultor commented on #1364
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26573-1225281017)

[2022-08-24 07:03] rultor commented on #1364
@baudoliver7 @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26573-1225281017) (spent 3min)

[code]

[2022-08-24 07:12] yegor256 opened #1385 "./run.sh: line 23: syntax error near unexpected token `('"
[code]

the problem is in the next line:

[code]

[2022-08-24 07:15] 0crat commented on #1364
Job `gh:yegor256/rultor#1364` is not assigned, can't get performer

[2022-08-24 09:18] #1385 closed

[2022-08-26 08:54] yegor256 opened #1386 "allow requests only if "write" access to the repo"

[2022-08-29 07:38] #1386 closed

[2022-08-29 07:55] 0crat commented on #1386
Job `gh:yegor256/rultor#1386` is not assigned, can't get performer

[2022-08-31 03:59] yegor256 opened #1387 "DockerExec with rmi.sh waits for too long"

[2022-08-31 04:09] #1387 closed

[2022-08-31 04:26] 0crat commented on #1387
Job `gh:yegor256/rultor#1387` is not assigned, can't get performer

[2022-09-03 06:12] yegor256 opened #1388 "delete images in backgroun"

[2022-09-03 06:16] #1388 closed

[2022-09-03 06:34] 0crat commented on #1388
Job `gh:yegor256/rultor#1388` is not assigned, can't get performer

[2022-09-04 06:13] renovate[bot] opened #1394 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/yegor256/rultor).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Open

The f

[2022-09-06 15:05] EugeneDar opened #1401 "When rultor called, it throws an error message"
You can see the error itself here https://github.com/objectionary/eo-strings/pull/37

[2022-09-06 15:06] EugeneDar commented on #1401
@yegor256 please, have a look

[2022-09-07 07:07] #1401 closed

[2022-09-07 07:24] 0crat commented on #1401
Job `gh:yegor256/rultor#1401` is not assigned, can't get performer

[2022-09-10 03:18] yegor256 opened #1405 "GHA is broken"

[2022-09-10 03:55] #1405 closed

[2022-09-10 04:12] 0crat commented on #1405
Job `gh:yegor256/rultor#1405` is not assigned, can't get performer

[2022-09-10 04:39] #899 closed

[2022-09-10 04:56] 0crat commented on #899
Job `gh:yegor256/rultor#899` is not assigned, can't get performer

[2022-09-10 04:57] 0crat commented on #896
Job `gh:yegor256/rultor#896` is not assigned, can't get performer

[2022-09-11 18:43] yegor256 opened #1406 "load .bashrc on start"

[2022-09-11 18:46] #1406 closed

[2022-09-11 19:03] 0crat commented on #1406
Job `gh:yegor256/rultor#1406` is not assigned, can't get performer

[2022-09-13 05:07] yegor256 opened #1407 "Must have push access to view collaborator permission."
[code]

[2022-09-23 07:45] #1407 closed

[2022-10-04 17:47] Doldrums opened #1437 "rultor ignores owner rights"
In fact rultor only cheks collaborator status of repo neither the owner, while owner is actually collaborator too; so need extend this method to give rultor understanding repo owner as collaborator and not to force users add owners as collaborators.

`perm = repo.collaborators().permission(author); `

https://github.com/yegor256/rultor/blob/c36cd92cf7fe9d6047901897682a5578121ae123/src/main/java/co

[2022-10-25 20:30] Doldrums opened #1457 "Is there any chance that rultor builds with old one scripts in CI?"
what do i mean exactly, suppose we have such kind of situation

1.  general CI scripts (merge, release, etc) on rultor.yaml in master
2. diff in rultor.yaml in PR from fork to master repo
3. Builds from Rultor failed
4.  commit and rerun give us the same stack trace due to the fact that builds running on **old** CI script rather than new one that in PR

what is a solution?

[2022-10-25 20:31] Doldrums commented on #1457
@yegor256 see here pls

[2022-10-26 14:34] yegor256 commented on #1457
@Doldrums rultor uses `.rultor.yml` ONLY from master branch, see #1184

[2022-10-26 14:38] yegor256 opened #1459 "don't merge if rultor.yml is in the pull request"
This would protect the repository against attacks coming from programmers.

[2022-10-26 14:51] 0crat commented on #1457
Job `gh:yegor256/rultor#1457` is not assigned, can't get performer

[2022-10-30 21:13] Doldrums opened #1464 "feature request: parse more suitable patterns"
ex:
not only
@rultor release, tag=`0.1.0`
but also
@rultor release, tag=0.1.0
@rultor release tag=0.1.0
@rultor release, tag 0.1.0
@rultor release 0.1.0
etc....

make rultor more user-friendly !

[2022-11-04 12:01] yegor256 opened #1470 "upgrade qulice to 0.22.0"
Let's upgrade to Qulice 0.22.0

[2022-11-07 08:16] yegor256 commented on #1464
@Doldrums you can use any text you like, if "release" is there and the version number is inside back-quotes

[2022-11-07 08:16] #1464 closed

[2022-11-07 08:21] yegor256 commented on #1259
@g4s8 seems to be fixed

[2022-11-07 08:21] #1259 closed

[2022-11-07 08:21] yegor256 commented on #1263
@g4s8 I think it's fixed already. if not, submit a new one

[2022-11-07 08:21] #1263 closed

[2022-11-07 08:22] yegor256 commented on #1268
@driver733 I think it's not a bug. If it is, please reopen.

[2022-11-07 08:22] #1268 closed

[2022-11-07 08:24] yegor256 commented on #1202
@g4s8 fixed

[2022-11-07 08:24] #1202 closed

[2022-11-07 08:24] yegor256 commented on #1195
@tannakartikey we have it in the container already

[2022-11-07 08:24] #1195 closed

[2022-11-07 08:25] yegor256 commented on #1193
@tannakartikey I believe it's fixed

[2022-11-07 08:25] #1193 closed

[2022-11-07 08:25] yegor256 commented on #1191
@yegor256 it's fixed already, I believe

[2022-11-07 08:25] #1191 closed

[2022-11-07 08:26] yegor256 commented on #1178
@jayvdb fixed

[2022-11-07 08:26] #1178 closed

[2022-11-07 08:28] yegor256 commented on #1035
@mkordas we use GitHub Actions now

[2022-11-07 08:28] #1035 closed

[2022-11-07 08:46] 0crat commented on #1202
Job `gh:yegor256/rultor#1202` is not assigned, can't get performer

[2022-11-07 08:47] 0crat commented on #1195
Job `gh:yegor256/rultor#1195` is not assigned, can't get performer

[2022-11-07 08:47] 0crat commented on #1191
Job `gh:yegor256/rultor#1191` is not assigned, can't get performer

[2022-11-07 08:47] 0crat commented on #1035
Job `gh:yegor256/rultor#1035` is not assigned, can't get performer

[2022-11-07 08:47] 0crat commented on #1263
Job `gh:yegor256/rultor#1263` is not assigned, can't get performer

[2022-11-07 08:47] 0crat commented on #1259
Job `gh:yegor256/rultor#1259` is not assigned, can't get performer

[2022-11-07 08:47] 0crat commented on #1268
Job `gh:yegor256/rultor#1268` is not assigned, can't get performer

[2022-11-07 08:47] 0crat commented on #1178
Job `gh:yegor256/rultor#1178` is not assigned, can't get performer

[2022-11-07 08:47] 0crat commented on #1464
Job `gh:yegor256/rultor#1464` is not assigned, can't get performer

[2022-11-07 08:47] 0crat commented on #1193
Job `gh:yegor256/rultor#1193` is not assigned, can't get performer

[2022-11-21 17:25] h1alexbel opened #1489 "Make only GitHub Release Broken"
Using Rultor I [can't](https://github.com/h1alexbel/alerter-mail/issues/33) release a new version only on GitHub.
My [software](github.com/h1alexbel/alerter-mail) doesn't need to be at maven central, so I want to release a new version only on GitHub.
Maybe this impossible right now to do this, but your [documentation](https://doc.rultor.com/basics.html) has no words about this.

Please fix.

[2022-11-26 03:26] yegor256 opened #1498 "docker system prune"

[2022-11-26 03:47] #1498 closed

[2022-11-26 04:04] 0crat commented on #1498
Job `gh:yegor256/rultor#1498` is not assigned, can't get performer